@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url(../fonts/fonts.css);
@import url(../css/bootstrap.min.css);
@import url(../css/slick.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0; }

a {
  color: inherit;
  text-decoration: none; }

a:hover, a:focus {
  color: inherit; }

img {
  max-width: 100%; }

button, textarea, input {
  font-family: inherit; }

/* VARIABLES */
.bg-white {
  background-color: #fff; }

.i-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 30px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #242D4C;
  color: #fff;
  border-radius: 2px;
  white-space: nowrap;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }
  .i-button:hover {
    background-color: #E9483E; }
  .i-button.w2 {
    padding-left: 75px;
    padding-right: 75px; }
  .i-button.is-bordered {
    border: 1px solid #FF4438;
    border-radius: 4px; }
    .i-button.is-bordered.is-big {
      font-size: 20px;
      line-height: 24px;
      padding: 24px 45px;
      border: 1px solid #FFFFFF;
      border-radius: 4px; }
      .i-button.is-bordered.is-big:hover {
        border-color: transparent; }
    .i-button.is-bordered.is-grey {
      background-color: transparent;
      border: 1px solid #E3E4E6;
      border-radius: 4px;
      color: #010101;
      font-size: 18px; }
  .i-button.is-orange {
    background: #E9483E;
    border: 1px solid #E9483E;
    -webkit-box-shadow: 0px 2px 6px transparent;
            box-shadow: 0px 2px 6px transparent;
    border-radius: 4px;
    font-size: 18px; }
    .i-button.is-orange:hover {
      color: #fff;
      -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25); }
  .i-button img {
    margin-right: 15px; }

.i-toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .i-toggler input {
    height: 0;
    width: 0;
    visibility: hidden; }
  .i-toggler input + i {
    width: 46px;
    height: 26px;
    border-radius: 50px;
    border: 1px solid #D8D9DB;
    position: relative; }
    .i-toggler input + i:after {
      content: "";
      width: 18px;
      height: 18px;
      position: absolute;
      left: 5px;
      top: 3px;
      border-radius: 100%;
      background-color: #242D4C;
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
  .i-toggler input:checked + i:after {
    left: calc(100% - 23px); }

.icon-online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .icon-online:before {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: #82C551;
    margin-right: 15px; }

/* Customizer */
.i-rooms-group label {
  padding: 14px 24px;
  height: 49px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: #E3E4E6;
  color: #242D4C; }
  .i-rooms-group label:hover {
    background-color: #E9483E;
    border-color: transparent; }
  .i-rooms-group label:active, .i-rooms-group label:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important; }
.i-rooms-group input:checked + label {
  background-color: #E9483E !important;
  border-color: transparent !important; }
.i-rooms-group input:focus + label {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

.nav-tabs {
  border-bottom: 1px solid #E3E4E6; }
  .nav-tabs .nav-item + .nav-item {
    margin-left: 25px; }
  .nav-tabs .nav-link {
    border: none;
    font-size: 17px;
    color: #898989;
    padding: 25px 10px 25px 0; }
  .nav-tabs .nav-link.active {
    border-bottom: 3px solid #E9483E;
    color: #010101; }

.form-select {
  height: 49px; }

.form-control {
  height: 49px;
  font-size: 17px; }

.form-control:focus,
.form-control:active,
.form-select:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

.form-check-input {
  width: 20px;
  height: 20px;
  margin-right: 18px;
  margin-top: .2em;
  border-radius: 2px !important; }

.form-check-label {
  color: #4D5256 !important; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #969B9F !important; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #969B9F !important; }

input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #969B9F !important; }

input::placeholder, textarea::placeholder, select::placeholder {
  color: #969B9F !important; }

.form-check-input:checked {
  background-color: #E9483E;
  border-color: #E9483E; }

.sort-button {
  font-size: 17px;
  color: #010101;
  border: none;
  position: relative;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding-left: 20px;
  background: url(../images/icon-sort.svg) left 7px no-repeat;
  margin-left: 23px;
  font-weight: 500; }
  .sort-button span {
    border-bottom: 1px dashed #E2E2E2; }

html, body {
  overflow-x: hidden; }
  html.js-noscroll, body.js-noscroll {
    overflow: hidden; }

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff; }

.container {
  max-width: 1530px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%; }

#hamburger {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url(../images/icon-hamburger.svg) center center no-repeat;
  border: none;
  outline: none;
  display: none;
  margin-left: 15px; }
  #hamburger.is-open {
    background: url(../images/icon-hamburger-close.svg) center center no-repeat; }

#mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  overflow-y: auto;
  background-color: #fff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #010101;
  z-index: 20; }
  #mobile-menu .nav {
    padding-top: 15px; }
    #mobile-menu .nav > ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      height: auto;
      margin-left: 0;
      margin-right: 0; }
      #mobile-menu .nav > ul > li {
        margin-left: 0;
        margin-right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        #mobile-menu .nav > ul > li > a {
          width: 100%;
          padding: 10px 21px;
          font-size: 15px; }
        #mobile-menu .nav > ul > li > span {
          display: block;
          width: 100%;
          padding: 10px 21px; }
        #mobile-menu .nav > ul > li .subnav {
          position: relative;
          top: 0;
          width: 100%;
          -webkit-box-shadow: none;
                  box-shadow: none;
          padding: 10px 40px; }
          #mobile-menu .nav > ul > li .subnav a {
            font-size: 15px; }
        #mobile-menu .nav > ul > li.with-subnav {
          position: relative; }
          #mobile-menu .nav > ul > li.with-subnav > span:after {
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            right: 20px;
            top: 11px;
            background-image: url(../images/icon-subnav.svg);
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-transform: rotate(-180deg);
                    transform: rotate(-180deg);
            z-index: 1; }
        #mobile-menu .nav > ul > li:hover {
          background-color: #FAFAFA; }
          #mobile-menu .nav > ul > li:hover:after {
            display: none; }
          #mobile-menu .nav > ul > li:hover > a, #mobile-menu .nav > ul > li:hover > span {
            background-color: #F2F2F2;
            font-weight: 500; }
          #mobile-menu .nav > ul > li:hover > span:after {
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg); }
          #mobile-menu .nav > ul > li:hover .subnav {
            background-color: transparent; }
  #mobile-menu .contacts,
  #mobile-menu .header__currency,
  #mobile-menu .likes,
  #mobile-menu .i-button, #mobile-menu .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #mobile-menu .currency-item:after {
    background-color: #010101; }
  #mobile-menu .currency-item.is-active:after {
    background-color: #E9483E; }
  #mobile-menu .mob-currency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #mobile-menu .mob-currency .header__currency {
      margin-left: 0; }
    #mobile-menu .mob-currency .likes {
      margin-left: 50px; }
  #mobile-menu .i-button {
    margin-left: 0;
    margin-top: 20px; }
  #mobile-menu .location {
    margin-left: 0;
    margin-top: 35px; }
  #mobile-menu .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin-top: 40px; }
    #mobile-menu .contacts .contacts-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    #mobile-menu .contacts .contacts-row > span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 27px; }
  #mobile-menu .mob-content {
    padding: 47px 20px 0 20px; }
  #mobile-menu .foot {
    padding: 23px 20px;
    background-color: #242D4C;
    color: #fff;
    margin-top: 28px; }
    #mobile-menu .foot .soc-list {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin-top: 16px; }

/* Header */
.header {
  font-size: 15px;
  color: #fff; }
  .header-top {
    background: #242D4C url(../images/header-bg.png) top center no-repeat;
    height: 100px; }
    .header-top__grid {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: 100%; }
  .header .logo {
    margin-bottom: -10px; }
  .header .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 70px; }
  .header .location img,
  .header .contacts a img {
    margin-right: 13px; }
  .header .contacts {
    margin-left: 100px; }
    .header .contacts-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .contacts-row > a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .header .contacts-row span {
        font-size: 12px;
        color: #868895;
        margin-left: 12px; }
    .header .contacts .contacts-row + .contacts-row {
      margin-top: 11px; }
  .header__currency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 90px; }
    .header__currency span {
      margin-right: 13px; }
  .header .likes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 70px; }
    .header .likes img {
      margin-right: 14px; }
  .header .user {
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .i-button {
    margin-left: auto; }
  .header-nav {
    background-color: #242D4C; }
  .header a:hover {
    color: #E9483E; }

.nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  margin-left: -21px;
  margin-right: -21px;
  padding-left: 0;
  width: 100%; }
  .nav > ul > li {
    margin-left: 21px;
    margin-right: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    position: relative; }
    .nav > ul > li > a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .nav > ul > li > .subnav {
      background-color: #fff;
      position: absolute;
      top: 100%;
      left: 0;
      padding: 35px 35px 40px 35px;
      color: #242D4C;
      white-space: nowrap;
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-shadow: 0 0 10px -6px;
              box-shadow: 0 0 10px -6px; }
      .nav > ul > li > .subnav > span {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 25px; }
      .nav > ul > li > .subnav > ul {
        padding-left: 0; }
        .nav > ul > li > .subnav > ul > li + li {
          margin-top: 12px; }
        .nav > ul > li > .subnav > ul > li > a {
          font-size: 18px; }
    .nav > ul > li:hover:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #E9483E; }
    .nav > ul > li:hover > .subnav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
.nav .online {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav .online:before {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: #82C551;
    margin-right: 10px; }
.nav .nav-last {
  margin-left: auto; }

.currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .currency-item {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    cursor: pointer; }
    .currency-item:after {
      content: "";
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff; }
    .currency-item.icon-rub:after {
      -webkit-mask: url(../images/icon-rub.svg) center center no-repeat;
              mask: url(../images/icon-rub.svg) center center no-repeat; }
    .currency-item.icon-dollar:after {
      -webkit-mask: url(../images/icon-dollar.svg) center center no-repeat;
              mask: url(../images/icon-dollar.svg) center center no-repeat; }
    .currency-item.is-active {
      border-color: #E9483E; }
      .currency-item.is-active:after {
        background-color: #E9483E; }

/* Sections */
.section__title, .s-filter__title {
  font-size: 32px;
  line-height: 37px;
  font-family: "Roboto", sans-serif;
  font-weight: 900; }
  .section__title.text-center, .text-center.s-filter__title {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
.section__foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px; }
  .section__foot.is-centered {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .section__foot .dotted-button, .section__foot a {
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
    .section__foot .dotted-button:hover, .section__foot a:hover {
      color: #E9483E; }
.section.is-first {
  padding-top: 57px; }

/* Banner */
.s-banner {
  height: 490px;
  background-color: #E9483E; }
  .s-banner__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
    .s-banner__grid > img:nth-child(1) {
      margin-top: auto;
      margin-bottom: auto; }
    .s-banner__grid > img:nth-child(2) {
      margin-left: 80px;
      margin-top: auto;
      margin-bottom: 85px; }
    .s-banner__grid > img:nth-child(3) {
      margin-top: auto;
      margin-left: 80px; }
  .s-banner .text1 {
    font-family: "Amazing Slab", sans-serif;
    font-size: 30px;
    color: #fff;
    line-height: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    margin-top: auto;
    margin-bottom: 80px;
    margin-left: 80px; }
    .s-banner .text1:before {
      content: "";
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      background: url(../images/banner-skobka.png) center center no-repeat;
      width: 15px;
      min-width: 15px;
      height: 150px; }

/* Filter */
.s-filter {
  padding: 25px 0 60px; }
  .s-filter__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -10px;
    margin-right: -10px; }
    .s-filter__row > .col {
      margin-left: 10px;
      margin-right: 10px; }
  .s-filter .s-filter__row + .s-filter__row {
    margin-top: 16px; }
  .s-filter .toggler + .s-filter__row {
    margin-top: 25px; }
  .s-filter .caption {
    color: #4D5256;
    margin-bottom: 15px; }
  .s-filter__tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .s-filter .more-search {
    margin-left: auto; }
  .s-filter__title {
    font-size: 36px;
    margin-top: 45px; }
  .s-filter__result {
    margin-top: 43px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 17px;
    color: #010101; }
  .s-filter .sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .s-filter.catalog-filter {
    padding-bottom: 30px; }
  .s-filter .dotted-button:hover {
    color: #E9483E; }

.toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px; }
  .toggler .i-toggler {
    margin: 0 20px; }
  .toggler span {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer; }
  .toggler.is-left > .i-toggler + span {
    color: #8C8B90; }
  .toggler.is-right > span:nth-child(1) {
    color: #8C8B90; }

.tags {
  margin-left: -5px;
  margin-right: -5px; }
  .tags__item {
    padding: 11px 38px 11px 16px;
    background: #FAFAFA url(../images/icon-delete.svg) calc(100% - 16px) center no-repeat;
    border-radius: 50px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px; }
  .tags-clear {
    margin-left: 30px; }

.dotted-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .dotted-button img {
    margin-right: 10px; }
  .dotted-button span {
    border-bottom: 1px dashed #E3E4E6;
    line-height: 19px; }
  .dotted-button:hover span {
    border-color: transparent; }

/* CArds */
.s-deals {
  background-color: #FAFAFA;
  padding: 65px 0 80px; }
  .s-deals .product-cards {
    margin-top: 60px; }

.product-cards {
  margin-bottom: -37px; }
  .product-cards .product-card {
    margin-bottom: 37px; }

.product-card {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  .product-card__like {
    position: absolute;
    right: 19px;
    top: 9px;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 1; }
    .product-card__like:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: url(../images/icon-product-like.svg) center center no-repeat;
              mask: url(../images/icon-product-like.svg) center center no-repeat;
      background-color: #fff;
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
    .product-card__like:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
      .product-card__like:hover:after {
        background-color: #E9483E;
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
  .product-card__status {
    position: absolute;
    top: 24px;
    left: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-size: 14px;
    z-index: 1; }
    .product-card__status:before {
      content: "";
      width: 9px;
      height: 9px;
      border-radius: 100%;
      background-color: #82C551;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-right: 10px; }
  .product-card__photo {
    height: 245px;
    width: 100%;
    overflow: hidden;
    position: relative; }
    .product-card__photo:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #C4C4C4;
      z-index: -2; }
    .product-card__photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .product-card__photo-marker {
      position: absolute;
      right: 22px;
      bottom: 16px;
      width: 126px;
      height: 144px;
      background: url(../images/card-photo-marker.svg) center center no-repeat; }
    .product-card__photo-price {
      position: absolute;
      bottom: 12px;
      left: 23px;
      font-size: 20px;
      color: #fff; }
  .product-card__content {
    padding: 20px 22px; }
  .product-card__name {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 26px; }
  .product-card__options {
    margin-top: 16px;
    font-size: 16px; }
    .product-card__options .big {
      font-size: 20px; }
    .product-card__options p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0; }
      .product-card__options p > span:first-child {
        width: 50%; }
    .product-card__options p:nth-child(2) {
      margin-top: 5px;
      color: #969B9F; }
  .product-card__location {
    margin-top: 30px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px; }
    .product-card__location:before {
      content: "";
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 12px;
      height: 16px;
      background: url(../images/icon-location-mini.svg) center center no-repeat;
      margin-right: 12px; }
  .product-card__more {
    margin-top: 30px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #242D4C url(../images/icon-more.svg) 20px center no-repeat;
    font-size: 18px;
    border-radius: 4px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
    .product-card__more:hover {
      background-color: #E9483E;
      color: #fff; }
  .product-card a:not(.product-card__more):hover {
    color: #E9483E; }

#best-products .slick-slide {
  margin: 0 11px; }

/* Services */
.s-services {
  padding: 104px 0 90px; }
  .s-services h2 {
    margin-top: 80px; }

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .services-list .services-item {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #242D4C;
    line-height: 30px; }
    .services-list .services-item:nth-child(1) {
      font-size: 28px;
      line-height: 32px;
      color: #E9483E; }
      .services-list .services-item:nth-child(1) img {
        margin-right: 15px; }

.services-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .services-item img {
    margin-right: 45px; }

.services-items {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .services-items .slick-slide {
    margin: 0 12px; }

.service-card {
  position: relative;
  height: 520px;
  overflow: hidden; }
  .service-card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .service-card a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    position: absolute;
    top: 37px;
    left: 30px;
    color: #fff;
    font-size: 28px;
    line-height: 34px; }

/* Reviews */
.s-reviews {
  background-color: #FAFAFA;
  padding: 55px 0 175px; }
  .s-reviews h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    position: relative; }
    .s-reviews h2 .dotted-button {
      font-size: 16px;
      color: #E9483E;
      font-weight: normal;
      font-family: "Inter", sans-serif;
      position: absolute;
      right: 175px;
      top: 11px; }
  .s-reviews .section__foot a {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px dashed #E2E2E2; }

.reviews-slider {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 60px; }
  .reviews-slider .reviews-item {
    min-height: 410px; }

.reviews-item {
  padding: 40px 45px 57px 195px;
  background: #fff url(../images/icon-reviews-quote.svg) 40px 45px no-repeat;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }
  .reviews-item__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .reviews-item__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px; }
    .reviews-item__rating:after {
      content: "";
      width: 24px;
      height: 23px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      background: url(../images/icon-reviews-star.svg) center center no-repeat;
      margin-left: 19px; }
  .reviews-item__head {
    font-size: 18px;
    margin-top: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .reviews-item__date {
    color: #969B9F;
    margin-left: 15px; }
  .reviews-item__title {
    font-size: 26px;
    font-weight: 900;
    color: #242D4C;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
    max-width: 85%;
    margin-top: 31px;
    height: 120px;
    margin-bottom: auto; }
  .reviews-item__user, .s-single__user {
    margin-top: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .reviews-item__user-ava, .s-single__user-ava {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      overflow: hidden; }
      .reviews-item__user-ava img, .s-single__user-ava img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .reviews-item__user-info {
      margin-left: 31px; }
    .reviews-item__user-name {
      font-size: 18px;
      line-height: 21px; }
    .reviews-item__user-spec {
      margin-top: 15px;
      font-size: 14px;
      line-height: 17px; }
  .reviews-item.is-dark, .reviews-item:hover {
    background-color: #242D4C;
    color: #fff; }
    .reviews-item.is-dark .reviews-item__date, .reviews-item:hover .reviews-item__date {
      color: #fff; }
    .reviews-item.is-dark .reviews-item__title, .reviews-item:hover .reviews-item__title {
      color: #E9483E;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .reviews-item.is-dark .reviews-item__title:before, .reviews-item:hover .reviews-item__title:before {
        content: "";
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 25px;
        height: 120px;
        background: url(../images/icon-skobka.svg) center center no-repeat;
        margin-right: 25px; }

/* Consultation */
.s-consult {
  background: url(../images/consult-bg.png) center center no-repeat;
  background-size: cover;
  min-height: 585px;
  color: #fff; }
  .s-consult__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 67px 50px 67px 0;
    width: 50%; }
  .s-consult .form-box {
    margin-left: 85px; }
  .s-consult .form-name {
    padding-left: 25px; }
  .s-consult form {
    margin-top: 53px; }
    .s-consult form > * + * {
      margin-top: 23px; }
    .s-consult form .form-check-label {
      color: #fff; }
  .s-consult .form-check-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: #fff !important;
    font-size: 14px;
    line-height: 17px;
    margin-top: 34px; }
    .s-consult .form-check-label input {
      min-width: 20px; }
  .s-consult__title {
    color: #E9483E;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .s-consult__title:before {
      content: "";
      width: 11px;
      height: 120px;
      background: url(../images/icon-skobka.svg) center center no-repeat;
      margin-right: 20px; }
  .s-consult .input-group-text {
    background-color: #fff; }
    .s-consult .input-group-text + input {
      border-left: none; }
  .s-consult .js-phone-mask {
    font-size: 24px; }

/* News */
.s-news {
  padding: 118px 0 65px; }
  .s-news .section__foot .dotted-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px; }
    .s-news .section__foot .dotted-button span {
      padding-bottom: 5px; }

.subscribe-form {
  border-radius: 3px;
  background-color: #E9483E;
  height: 100%;
  padding: 75px 29px;
  min-height: 520px;
  overflow: hidden;
  color: #fff; }
  .subscribe-form__title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .subscribe-form__title:before {
      content: "";
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 15px;
      min-width: 15px;
      height: 150px;
      background: url(../images/banner-skobka.png) center center no-repeat; }
  .subscribe-form__input {
    margin-top: 46px;
    border: none; }
  .subscribe-form .form-check {
    margin-top: 33px;
    margin-bottom: auto; }
  .subscribe-form .form-check-label {
    color: #fff !important;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 14px; }
    .subscribe-form .form-check-label input {
      min-width: 20px; }
  .subscribe-form .dotted-button {
    background-color: #242D4C;
    width: calc(100% + 58px);
    margin-left: -29px;
    padding: 60px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 22px;
    line-height: 32px;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: -61px;
    margin-top: -41px; }
    .subscribe-form .dotted-button span {
      padding-bottom: 5px; }
    .subscribe-form .dotted-button:hover {
      color: #E9483E; }
      .subscribe-form .dotted-button:hover span {
        border-color: transparent; }

.news-cards {
  margin-top: 60px; }
  .news-cards .slick-slide {
    margin: 0 9px;
    height: 560px; }
  .news-cards .news-card {
    height: 100%; }

.news-card {
  border: 1px solid #E3E4E6;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .news-card__img {
    height: 275px;
    overflow: hidden; }
    .news-card__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .news-card__content {
    padding: 36px 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .news-card__title {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: auto; }
    .news-card__title:hover {
      color: #E9483E; }
  .news-card__date {
    font-size: 18px;
    color: #969B9F;
    margin-top: 40px; }

/* Text banner */
.s-text-banner {
  background-color: #FAFAFA;
  padding: 92px 0 75px; }
  .s-text-banner .container {
    max-width: 980px; }
  .s-text-banner h2 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: bold;
    margin-bottom: 61px; }
  .s-text-banner p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0; }
  .s-text-banner p + p {
    margin-top: 30px; }

/* Single */
.s-single {
  padding-top: 57px; }
  .s-single .section__title, .s-single .s-filter__title {
    font-size: 36px;
    font-weight: 900;
    margin-top: 65px; }
  .s-single__subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 17px;
    color: #4D5256;
    margin-top: 34px; }
    .s-single__subtitle > * + * {
      margin-left: 100px; }
  .s-single__grid {
    margin-top: 41px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .s-single__grid > .col:nth-child(1) {
      max-width: 780px;
      width: 100%; }
    .s-single__grid > .col:nth-child(2) {
      padding-left: 95px; }
  .s-single__slider-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -10px;
    margin-right: -10px; }
    .s-single__slider-controls > li {
      margin-left: 10px;
      margin-right: 10px; }
    .s-single__slider-controls > li > a {
      border: 1px solid #E3E4E6;
      padding: 11px 24px 11px 50px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-radius: 50px;
      font-size: 17px;
      line-height: 20px;
      height: 45px;
      position: relative; }
      .s-single__slider-controls > li > a:before {
        content: "";
        position: absolute;
        left: 18px;
        -webkit-mask-position: 0 center;
                mask-position: 0 center;
        -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
        background-color: #242D4C;
        width: 20px;
        height: 18px; }
      .s-single__slider-controls > li > a.is-active {
        background-color: #242D4C;
        color: #fff;
        border-color: transparent; }
        .s-single__slider-controls > li > a.is-active:before {
          background-color: #fff; }
      .s-single__slider-controls > li > a.icon-gallery:before {
        -webkit-mask-image: url(../images/icon-gallery.svg);
                mask-image: url(../images/icon-gallery.svg); }
      .s-single__slider-controls > li > a.icon-plan:before {
        -webkit-mask-image: url(../images/icon-plan.svg);
                mask-image: url(../images/icon-plan.svg); }
  .s-single__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -10px;
    margin-right: -10px; }
    .s-single__controls > * {
      margin-left: 10px;
      margin-right: 10px; }
    .s-single__controls .share .is-share:after {
      background-color: #242D4C; }
    .s-single__controls .icon-circle:not(.is-watchers):hover:after {
      background-color: #E9483E; }
  .s-single__info {
    padding-top: 92px; }
  .s-single__types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    color: #4D5256; }
    .s-single__types a {
      color: #3363AA;
      border-bottom: 1px dashed #E2E2E2; }
    .s-single__types ul {
      margin-left: 28px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .s-single__types ul li + li {
        margin-left: 15px;
        position: relative;
        border-left: 1px solid #D6DADD;
        padding-left: 15px; }
  .s-single__location {
    margin-top: 24px;
    color: #4D5256; }
    .s-single__location img {
      margin-right: 20px; }
  .s-single__price {
    padding: 35px;
    background-color: #242D4C;
    color: #fff; }
    .s-single__price p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 18px;
      margin-bottom: 0; }
      .s-single__price p span:nth-child(1) {
        width: 200px; }
      .s-single__price p b {
        font-family: "Roboto", sans-serif;
        font-size: 28px;
        font-weight: bold; }
    .s-single__price p + p {
      margin-top: 15px; }
  .s-single .nav-tabs {
    margin-top: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .s-single .tab-content {
    margin-top: 27px; }
  .s-single__calc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 17px;
    line-height: 21px;
    color: #010101;
    margin-top: 36px; }
    .s-single__calc:hover {
      color: #fc902e; }
    .s-single__calc span {
      border-bottom: 1px dashed #E2E2E2; }
    .s-single__calc .icon-circle {
      margin-right: 20px; }
  .s-single__buttons {
    margin: 46px -14px -14px; }
    .s-single__buttons > * {
      margin-left: 14px;
      margin-right: 14px;
      margin-bottom: 14px; }
  .s-single__problem {
    color: #898989;
    margin-top: 45px; }
    .s-single__problem:hover {
      color: #E9483E; }
  .s-single__desc .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: none; }
    .s-single__desc .nav-tabs .nav-item {
      border-bottom: 3px solid transparent; }
    .s-single__desc .nav-tabs .nav-item:hover {
      border-bottom-color: #E9483E; }
  .s-single__box {
    background-color: #FAFAFA;
    padding: 57px 0 110px; }
  .s-single__panel {
    padding: 64px 45px;
    background-color: #fff; }
    .s-single__panel p {
      font-size: 18px;
      line-height: 30px;
      color: #242D4C; }
  .s-single__panel-title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 16px; }
    .s-single__panel-title.with-line:after {
      content: "";
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 100px;
      height: 1px;
      position: relative;
      margin-left: 40px;
      background-color: #D6DADD; }
  .s-single .s-single__panel + .s-single__panel {
    margin-top: 31px; }
  .s-single__chars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .s-single__chars > div + div {
      padding-left: 34px; }
    .s-single__chars .chars-list {
      margin-top: 10px; }
  .s-single__user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 0; }
    .s-single__user-ava {
      width: 126px;
      height: 126px; }
    .s-single__user-name {
      font-family: "Roboto", sans-serif;
      font-size: 22px;
      line-height: 26px;
      font-weight: 700;
      margin-top: 31px; }
    .s-single__user-spec {
      font-size: 18px;
      color: #898989;
      margin-top: 18px; }
    .s-single__user-phone {
      font-size: 20px;
      color: #010101;
      margin-top: 19px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .s-single__user-phone img {
        margin-right: 13px; }
      .s-single__user-phone:hover {
        color: #E9483E; }
    .s-single__user-panel {
      padding: 34px 30px; }
    .s-single__user .i-button {
      margin-top: 40px;
      width: 100%; }

.chars-list {
  font-size: 20px; }
  .chars-list li {
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-left: 30px; }
    .chars-list li:before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #D6DADD;
      left: 0;
      top: 9px; }
    .chars-list li > * {
      width: 50%; }
    .chars-list li:first-child > span {
      color: #010101; }
    .chars-list li:first-child:before {
      background-color: #E9483E; }
    .chars-list li > span {
      color: #898989; }
    .chars-list li > b {
      color: #010101;
      font-weight: 400; }
  .chars-list li + li {
    margin-top: 23px; }
  .chars-list + .chars-list {
    margin-top: 70px; }

#analog-products .slick-slide {
  margin-left: 10px;
  margin-right: 10px; }

/* Map */
.s-map {
  height: 750px;
  padding: 150px 0 140px;
  position: relative; }
  .s-map__map {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1; }
  .s-map .container {
    position: relative;
    z-index: 2;
    pointer-events: none; }
  .s-map__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .s-map-location {
    padding: 80px 32px 35px 32px;
    background-color: #fff;
    pointer-events: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative; }
    .s-map-location__close {
      width: 43px;
      height: 43px;
      position: absolute;
      top: 21px;
      right: 23px;
      border-radius: 100%;
      background: #F7F7F7 url(../images/icon-delete.svg) center center no-repeat;
      background-size: 12px;
      border: none;
      outline: none;
      cursor: pointer; }
    .s-map-location__title {
      font-size: 24px;
      line-height: 30px; }
    .s-map-location__loc {
      color: #4D5256;
      margin-top: 33px; }
    .s-map-location__prices {
      margin-top: 54px; }
      .s-map-location__prices li {
        color: #969B9F;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .s-map-location__prices li > span {
          width: 50%; }
        .s-map-location__prices li b {
          font-size: 18px;
          font-weight: normal;
          color: #010101; }
      .s-map-location__prices li:first-child {
        color: #4D5256; }
        .s-map-location__prices li:first-child b {
          color: #010101;
          font-size: 20px; }
      .s-map-location__prices li + li {
        margin-top: 5px; }
    .s-map-location .i-button {
      margin-top: 65px; }

#single-slider {
  margin-top: 37px; }
  #single-slider .item {
    position: relative; }
    #single-slider .item:after {
      content: "";
      width: 310px;
      height: 350px;
      background: url(../images/single-slider-marker.svg) center center no-repeat;
      bottom: 34px;
      right: 38px;
      position: absolute; }
  #single-slider .slick-dots, #single-slider .slick-arrow {
    position: absolute; }
  #single-slider .slick-dots {
    left: 30px;
    bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10; }
    #single-slider .slick-dots button {
      width: 12px;
      height: 12px;
      border-radius: 100%;
      border: none;
      background-color: #B6B2AF;
      margin-left: 3px;
      margin-right: 3px;
      font-size: 0; }
    #single-slider .slick-dots .slick-active button {
      background-color: #fff; }

#single-slider-preview {
  margin-top: 32px;
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #single-slider-preview .item {
    width: calc(100% / 4 - 20px);
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    cursor: pointer;
    position: relative; }
    #single-slider-preview .item:not(.last):after {
      content: "";
      width: 67px;
      height: 76px;
      background: url(../images/single-slider-marker.svg) center center no-repeat;
      background-size: contain;
      position: absolute;
      right: 9px;
      bottom: 6px; }
    #single-slider-preview .item img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    #single-slider-preview .item:last-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #3363AA;
      font-family: "Roboto", sans-serif;
      font-size: 38px;
      line-height: 45%;
      font-weight: bold; }

.icon-circle {
  width: 43px;
  height: 43px;
  border-radius: 100%;
  border: 1px solid #D6DADD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  .icon-circle:after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: center center;
            mask-position: center center;
    background-color: #D6DADD;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .icon-circle.is-watchers:after {
    -webkit-mask-image: url(../images/icon-eye.svg);
            mask-image: url(../images/icon-eye.svg); }
  .icon-circle.is-like:after {
    -webkit-mask-image: url(../images/icon-single-like.svg);
            mask-image: url(../images/icon-single-like.svg); }
  .icon-circle.is-share:after {
    -webkit-mask-image: url(../images/icon-share.svg);
            mask-image: url(../images/icon-share.svg); }
  .icon-circle.is-calc:after {
    -webkit-mask: none;
            mask: none;
    background: url(../images/icon-calc.svg) center center no-repeat; }

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 54px; }
  .breadcrumbs li {
    color: #8C8B90; }
  .breadcrumbs li + li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .breadcrumbs li + li:before {
      content: "";
      width: 6px;
      height: 7px;
      background: url(../images/icon-breadcrumbs-icon.svg) center center no-repeat;
      background-size: contain;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin: 0 10px; }
  .breadcrumbs li > a {
    font-size: 15px; }
    .breadcrumbs li > a:hover {
      text-decoration: underline;
      color: #E9483E; }

.watchers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .watchers > .icon-circle {
    margin-right: 15px; }

.default-controls {
  position: relative; }
  .default-controls .slick-arrow {
    position: absolute;
    top: -90px;
    right: 15px;
    width: 52px;
    height: 30px;
    font-size: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10; }
    .default-controls .slick-arrow:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
      -webkit-mask-position: center center;
              mask-position: center center;
      background-color: black;
      left: 0;
      top: 0; }
    .default-controls .slick-arrow.slick-prev {
      -webkit-transform: translateX(calc(-100% - 10px));
              transform: translateX(calc(-100% - 10px)); }
    .default-controls .slick-arrow.slick-next {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .default-controls .slick-arrow.slick-prev:before {
      -webkit-mask-image: url(../images/slider-arrow.svg);
              mask-image: url(../images/slider-arrow.svg); }
    .default-controls .slick-arrow.slick-next:before {
      -webkit-mask-image: url(../images/slider-arrow.svg);
              mask-image: url(../images/slider-arrow.svg);
      -webkit-mask-position: center 10px;
              mask-position: center 10px; }
    .default-controls .slick-arrow:hover:before {
      background-color: #E9483E; }

/* Footer */
.footer {
  background-color: #242D4C;
  padding: 98px 0 50px;
  color: #fff; }
  .footer a {
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
    .footer a:hover {
      color: #E9483E; }
      .footer a:hover span {
        border-color: transparent; }
  .footer .dotted-button {
    margin-top: 80px; }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer__nav li + li {
      margin-top: 15px; }
    .footer__nav a {
      font-size: 18px; }
  .footer__nav-caption {
    margin-bottom: 37px;
    font-size: 18px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer .copy {
    margin-top: 75px;
    font-size: 17px; }
  .footer .nav {
    margin-top: 96px; }
    .footer .nav li:hover:after {
      background-color: transparent; }
  .footer__bottom {
    margin-top: 36px; }
  .footer__img {
    margin-left: auto;
    margin-top: -75px; }

.soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -2.5px;
  margin-right: -2.5px;
  padding-left: 0; }
  .soc-list li {
    margin-left: 2.5px;
    margin-right: 2.5px; }
  .soc-list li > a {
    width: 38px;
    height: 38px;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: center center;
            mask-position: center center;
    background-color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .soc-list li > a:hover {
      background-color: #E9483E; }
  .soc-list .soc-telegram {
    -webkit-mask-image: url(../images/icon-soc-telegram.svg);
            mask-image: url(../images/icon-soc-telegram.svg); }
  .soc-list .soc-fb {
    -webkit-mask-image: url(../images/icon-soc-fb.svg);
            mask-image: url(../images/icon-soc-fb.svg); }
  .soc-list .soc-inst {
    -webkit-mask-image: url(../images/icon-soc-inst.svg);
            mask-image: url(../images/icon-soc-inst.svg); }
  .soc-list .soc-vk {
    -webkit-mask-image: url(../images/icon-soc-vk.svg);
            mask-image: url(../images/icon-soc-vk.svg); }
  .soc-list .soc-ok {
    -webkit-mask-image: url(../images/icon-soc-ok.svg);
            mask-image: url(../images/icon-soc-ok.svg); }

@media screen and (max-height: 900px) and (min-width: 1280px) {
  .s-banner {
    height: calc(40vh - 50px);
    overflow: hidden;
    min-height: 225px; }

  .s-banner__grid > img:nth-child(1) {
    width: 23vh; }

  .s-banner__grid > img:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
    width: 47vh; }

  .s-banner .text1 {
    margin-bottom: auto; } }
@media screen and (max-width: 1440px) {
  .header .contacts,
  .header__currency {
    margin-left: 20px; }

  .header .location {
    margin-left: 40px; }

  .s-single__grid > .col:nth-child(1) {
    width: 50%; }

  .footer .container .row > *:nth-child(1) {
    width: 20%; } }
@media screen and (max-width: 1366px) {
  .reviews-item {
    padding-left: 95px; }

  .footer__img {
    margin-top: -35px;
    width: 108px; }

  .header .contacts-row span {
    display: none; }

  .nav > ul > li > a {
    font-size: 14px; }

  .footer a {
    font-size: 14px; } }
@media screen and (max-width: 1280px) {
  .s-single__grid > .col:nth-child(2) {
    padding-left: 35px; } }
@media screen and (max-width: 1024px) {
  .header .location,
  .header .contacts, .header__currency,
  .header .likes,
  .header .i-button {
    display: none; }

  .header .user {
    margin-left: auto; }

  #hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .header-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50; }

  .header-nav {
    display: none; }

  .s-banner__grid > img:nth-child(1),
  .s-banner__grid > img:nth-child(2) {
    width: 15%; }

  .s-banner__grid > img:nth-child(2) {
    margin-top: 0;
    margin-bottom: 0; }

  .s-banner__grid > img:nth-child(3) {
    width: 54%; }

  .s-banner {
    height: 390px; }

  .s-filter__row > div {
    width: 50%;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-bottom: 20px; }

  .s-filter__tags {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

  .s-filter__tags > div {
    margin-bottom: 15px;
    margin-left: 0; }

  .tags-clear {
    margin-left: 0; }

  .s-filter__row > div {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

  .services-list .services-item,
  .services-list .services-item:nth-child(1) {
    font-size: 19px;
    line-height: 1; }

  #reviews-slider .slick-arrow {
    top: -45px; }

  .reviews-item__title {
    font-size: 19px;
    line-height: 1.3; }

  .reviews-item {
    padding-left: 40px; }

  .s-reviews {
    padding-bottom: 50px; }

  .s-consult__content {
    width: auto; }

  .s-consult {
    background: #242D4C; }

  .s-consult__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    padding-right: 0; }

  .s-consult .form-box,
  .s-consult form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0; }

  .s-consult__title {
    margin-top: 40px; }

  .subscribe-form__title {
    font-size: 24px; }

  .s-single__types {
    font-size: 14px; }

  .nav-tabs .nav-link {
    font-size: 12px; }

  .s-single__panel-title {
    font-size: 18px; }

  .s-single__panel-title.with-line:after {
    width: 15px; }

  .chars-list {
    font-size: 16px;
    line-height: 1.5; }

  .chars-list li + li {
    margin-top: 10px; }

  .s-single__chars {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .s-single__chars > div + div {
    width: 100%;
    padding-left: 0; }

  #desc-1 .row > div:nth-child(1) {
    width: 60%;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%; }
  #desc-1 .row > div:nth-child(2) {
    width: 40%;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%; }

  .catalog-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .catalog-cards > div {
      width: calc(100% / 3); }

  .s-reviews h2 .dotted-button {
    right: 0;
    position: relative;
    top: 0; }

  .footer {
    padding: 50px 0; }

  .footer .container .row > *:not(.footer__bottom):nth-child(2),
  .footer .container .row > *:not(.footer__bottom):nth-child(3),
  .footer .container .row > *:not(.footer__bottom):nth-child(4) {
    display: none; }

  .footer .container .row > * {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }

  .footer .container .row {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .soc-list {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .footer__nav-caption {
    margin-bottom: 25px;
    margin-top: 25px; }

  .footer .dotted-button {
    margin-top: 25px; }

  .footer .nav {
    margin-top: 50px; }

  .footer .nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto; }

  .footer .nav > ul > li > a {
    font-size: 18px; }

  .footer .nav > ul > li + li {
    margin-top: 15px; }

  .footer__bottom > div:nth-child(2) {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px; }

  .footer .nav > ul {
    margin-left: 0; } }
@media screen and (max-width: 910px) {
  #desc-1 .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  #desc-1 .row > div {
    width: 100% !important;
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important; }

  .s-single__user-panel {
    margin-top: 24px; } }
@media screen and (max-width: 768px) {
  .s-banner__grid > img:nth-child(1), .s-banner__grid > img:nth-child(2) {
    display: none; }

  .s-banner__grid > img:nth-child(3) {
    width: 70%;
    margin-left: auto;
    margin-right: auto; }

  .s-banner .text1 {
    display: none; }

  .s-single__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .s-single__grid > .col:nth-child(1) {
    width: 100%; }

  .s-single__info {
    padding-top: 55px; }

  .s-single__grid > .col:nth-child(2) {
    padding-left: 0;
    margin-top: 35px; }

  .s-single .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .catalog-cards > div {
    width: 50%; } }
@media screen and (max-width: 625px) {
  .header-top {
    height: 60px; }

  #mobile-menu {
    height: calc(100vh - 60px); }

  .s-banner {
    height: 310px; }

  .s-filter__row > .col {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-left: 0;
    margin-right: 0; }

  .s-filter__row {
    margin-left: 0;
    margin-right: 0; }

  .s-filter .i-button.w2 {
    width: 100%; }

  .services-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .services-list .services-item + .services-item {
    margin-top: 20px; }

  .services-list .services-item {
    width: 50%; }

  .s-reviews h2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .s-reviews h2 .dotted-button {
    left: 0;
    margin-top: 20px; }

  .s-news {
    padding: 50px 0; }

  .default-controls .slick-arrow {
    top: -45px; }

  .subscribe-form .dotted-button {
    bottom: -155px; } }
@media screen and (max-width: 540px) {
  .catalog-cards > div {
    width: 100%; }

  .s-filter__result {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .s-filter__result > * + * {
    margin-top: 20px; }

  .s-filter .sort {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

  .s-filter .sort-button {
    margin-left: 0; }

  .breadcrumbs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

  .breadcrumbs li + li {
    margin-left: -10px; } }
@media screen and (max-width: 475px) {
  .header .logo {
    max-width: 160px; }

  .i-rooms-group label {
    padding-left: 18px;
    padding-right: 18px; }

  .s-filter__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .s-filter__row > div {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }

  .s-filter {
    padding-bottom: 20px; }

  .s-deals {
    padding-top: 20px;
    padding-bottom: 20px; }

  .s-services {
    padding-top: 20px;
    padding-bottom: 20px; }

  .s-reviews {
    padding-top: 20px; }

  .s-consult__content {
    padding-bottom: 20px; }

  .s-news {
    padding-top: 20px; }

  .s-text-banner {
    padding-top: 20px; }

  .s-consult .form-box, .s-consult form {
    max-width: 90vw; }

  .i-button.is-bordered.is-big {
    padding-left: 11px;
    padding-right: 11px; }

  .services-list .services-item {
    width: 100%; }

  .subscribe-form .dotted-button {
    bottom: -110px; }

  .s-text-banner h2 {
    font-size: 28px;
    line-height: 1.4; }

  .s-banner__grid > img:nth-child(3) {
    width: 100%; }

  .footer .nav > ul > li > a {
    font-size: 15px; } }

/*# sourceMappingURL=style.css.map */