*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {list-style-type: none;margin-bottom: 0;padding-left: 0;}
a {color: inherit;text-decoration: none;}
a:hover, a:focus {color: inherit;}
img {max-width: 100%;}

button, textarea, input {font-family: inherit;}


/* VARIABLES */
$dark: #242D4C;
$red: #E9483E;
$icon-red: #FF4438;
$green: #82C551;


.bg-white {background-color: #fff;}


.i-button {
  display: inline-flex;
  justify-content: center;
  padding: 14px 30px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: $dark;
  color: #fff;
  border-radius: 2px;
  white-space: nowrap;
  transition: all .2s ease;

  &:hover {
    background-color: $red;
  }

  &.w2 {padding-left: 75px;padding-right: 75px;}

  &.is-bordered {
    border: 1px solid #FF4438;
    border-radius: 4px;

    &.is-big {
      font-size: 20px;
      line-height: 24px;
      padding: 24px 45px;
      border: 1px solid #FFFFFF;
      border-radius: 4px;

      &:hover {border-color: transparent;}
    }
    &.is-grey {
      background-color: transparent;
      border: 1px solid #E3E4E6;
      border-radius: 4px;
      color: #010101;
      font-size: 18px;
    }
  }

  &.is-orange {
    background: #E9483E;
    border: 1px solid #E9483E;
    box-shadow: 0px 2px 6px transparent;
    border-radius: 4px;
    font-size: 18px;

    &:hover {
      color: #fff;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    }
  }

  img {margin-right: 15px;}
}
.i-toggler {
  display: flex;
  align-items: center;
  cursor: pointer;

  input {height: 0;width: 0;visibility: hidden;}

  input + i {
    width: 46px;
    height: 26px;
    border-radius: 50px;
    border: 1px solid #D8D9DB;
    position: relative;

    &:after {
      content: "";
      width: 18px;
      height: 18px;
      position: absolute;
      left: 5px;
      top: 3px;
      border-radius: 100%;
      background-color: $dark;
      transition: all .2s ease;
    }
  }

  input:checked + i {
    &:after {
      left: calc(100% - 23px);
    }
  }
}

.icon-online {
  display: flex;
  align-items: center;

  &:before {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: $green;
    margin-right: 15px;
  }
}



/* Customizer */
.i-rooms-group {

  label {
    padding: 14px 24px;
    height: 49px;
    display: inline-flex;
    align-items: center;
    border-color: #E3E4E6;
    color: $dark;

    &:hover {background-color: $red;border-color: transparent;}

    &:active, &:focus {outline: none !important; box-shadow: none !important;}
  }

  input:checked + label {
    background-color: $red !important;
    border-color: transparent !important;
  }
  input:focus + label {
    outline: none !important; box-shadow: none !important;
  }
}

.nav-tabs {
  border-bottom: 1px solid #E3E4E6;

  .nav-item + .nav-item {margin-left: 25px;}

  .nav-link {
    border: none;
    font-size: 17px;
    color: #898989;
    padding: 25px 10px 25px 0;
  }
  .nav-link.active {
    border-bottom: 3px solid $red;
    color: #010101;
  }
}

.form-select {height: 49px;}
.form-control {height: 49px;font-size: 17px;}
.form-control:focus,
.form-control:active,
.form-select:focus{box-shadow: none !important;}
.form-check-input {
  width: 20px;
  height: 20px;
  margin-right: 18px;
  margin-top: .2em;
  border-radius: 2px !important;
}
.form-check-label {color: #4D5256 !important;}
input, textarea, select {
  &::placeholder {
    color: #969B9F !important;
  }
}
.form-check-input:checked {
  background-color: $red;
  border-color: $red;
}

.sort-button {
  font-size: 17px;
  color: #010101;
  border: none;
  position: relative;
  box-shadow: none !important;
  padding-left: 20px;
  background: url(../images/icon-sort.svg) left 7px no-repeat;
  margin-left: 23px;
  font-weight: 500;

  span {
    border-bottom: 1px dashed #E2E2E2;
  }
}