@media screen and (max-height: 900px) and (min-width: 1280px) {
  .s-banner {height: calc(40vh - 50px);overflow: hidden;min-height: 225px;}
  .s-banner__grid > img:nth-child(1) {width: 23vh;}
  .s-banner__grid > img:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
    width: 47vh;
  }
  .s-banner .text1 {margin-bottom: auto;}
}
@media screen and (max-width: 1440px) {
  .header .contacts,
  .header__currency{margin-left: 20px;}
  .header .location{margin-left: 40px;}



  .s-single__grid > .col:nth-child(1) {width: 50%;}


  .footer .container .row > * {

    &:nth-child(1) {
      width: 20%;
    }
  }
}

@media screen and (max-width: 1366px) {
  .reviews-item {padding-left: 95px;}

  .footer__img {
    margin-top: -35px;
    width: 108px;
  }

  .header .contacts-row span {display: none;}

  .nav > ul > li > a {font-size: 14px;}
  .footer a{font-size: 14px;}
}


@media screen and (max-width: 1280px) {

  .s-single__grid > .col:nth-child(2) {padding-left: 35px;}

}

@media screen and (max-width: 1024px) {
  .header .location,
  .header .contacts, .header__currency,
  .header .likes,
  .header .i-button{display: none;}

  .header .user {margin-left: auto;}
  #hamburger{display: flex;}
  .header-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }
  .header-nav{display: none;}


  .s-banner__grid > img:nth-child(1) ,
  .s-banner__grid > img:nth-child(2){width: 15%;}
  .s-banner__grid > img:nth-child(2) {margin-top: 0;margin-bottom: 0;}

  .s-banner__grid > img:nth-child(3) {width: 54%;}
  .s-banner{height: 390px;}

  .s-filter__row > div {
    width: 50%;
    flex-basis: 45%;
    margin-bottom: 20px;
  }

  .s-filter__tags {flex-direction: column;align-items: flex-start;}
  .s-filter__tags > div {margin-bottom: 15px;margin-left: 0;}
  .tags-clear {margin-left: 0;}
  .s-filter__row > div {justify-content: flex-end;}

  .services-list .services-item,
  .services-list .services-item:nth-child(1){
    font-size: 19px;
    line-height: 1;
  }


  #reviews-slider .slick-arrow {top: -45px;}

  .reviews-item__title {font-size: 19px;line-height: 1.3;}
  .reviews-item{padding-left: 40px;}
  .s-reviews{padding-bottom: 50px;}

  .s-consult__content {width: auto;}
  .s-consult{background: $dark;}
  .s-consult__content {flex-direction: column;padding-left: 0;padding-right: 0;}
  .s-consult .form-box,
  .s-consult form{display: flex;flex-direction: column;align-items: center;margin-left: 0;}
  .s-consult__title {margin-top: 40px;}

  .subscribe-form__title {font-size: 24px;}


  .s-single__types{font-size: 14px;}
  .nav-tabs .nav-link {font-size: 12px;}

  .s-single__panel-title {font-size: 18px;}
  .s-single__panel-title.with-line:after{width: 15px;}
  .chars-list{font-size: 16px;line-height: 1.5;}
  .chars-list li + li{margin-top: 10px;}
  .s-single__chars{flex-direction: column;}
  .s-single__chars > div + div{width: 100%;padding-left: 0;}

  #desc-1 .row > div {
    &:nth-child(1) {
      width: 60%;
      flex-basis: 60%;
    }
    &:nth-child(2) {
      width: 40%;
      flex-basis: 40%;
    }
  }



  .catalog-cards {
    flex-wrap: wrap;

    & > div {
      width: calc(100% / 3);
    }
  }

  .s-reviews h2 .dotted-button {right: 0;position: relative;top: 0;}


  .footer {padding: 50px 0;}

  .footer .container .row > *:not(.footer__bottom):nth-child(2),
  .footer .container .row > *:not(.footer__bottom):nth-child(3),
  .footer .container .row > *:not(.footer__bottom):nth-child(4){display: none;}

  .footer .container .row > * {width: 100%;flex-basis: 100%;}

  .footer .container .row {
    text-align: center;
    align-items: center;
  }

  .soc-list {width: 100%;justify-content: center;}
  .footer__nav-caption{margin-bottom: 25px;margin-top: 25px;}
  .footer .dotted-button{margin-top: 25px;}

  .footer .nav {margin-top: 50px;}
  .footer .nav > ul {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .footer .nav > ul > li > a {
    font-size: 18px;
  }

  .footer .nav > ul > li + li {margin-top: 15px;}
  .footer__bottom > div:nth-child(2) {display: flex !important;justify-content: center;margin-top: 10px;}
  .footer .nav > ul {margin-left: 0;}

}

@media screen and (max-width: 910px) {
  #desc-1 .row {flex-direction: column;}
  #desc-1 .row > div{width: 100% !important;flex-basis: 100% !important;}
  .s-single__user-panel{margin-top: 24px;}
}

@media screen and (max-width: 768px) {
  .s-banner__grid > img:nth-child(1), .s-banner__grid > img:nth-child(2) {
    display: none;
  }
  .s-banner__grid > img:nth-child(3) {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .s-banner .text1 {display: none;}


  .s-single__grid {flex-direction: column;}
  .s-single__grid > .col:nth-child(1){width: 100%;}
  .s-single__info{padding-top: 55px;}
  .s-single__grid > .col:nth-child(2){padding-left: 0;margin-top: 35px;}

  .s-single .nav-tabs {display: flex;}


  .catalog-cards > div {
    width: 50%;
  }
}

@media screen and (max-width: 625px) {

  .header-top{height: 60px;}
  #mobile-menu {height: calc(100vh - 60px);}
  .s-banner {height: 310px;}

  .s-filter__row > .col {
    width: 100%;
    flex-basis: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .s-filter__row {margin-left: 0;margin-right: 0;}
  .s-filter .i-button.w2 {width: 100%;}

  .services-list {flex-wrap: wrap;}
  .services-list .services-item + .services-item {margin-top: 20px;}
  .services-list .services-item {width: 50%;}

  .s-reviews h2 {flex-direction: column;align-items: center;}
  .s-reviews h2 .dotted-button{left: 0;margin-top: 20px;}

  .s-news {padding: 50px 0;}

  .default-controls .slick-arrow {top: -45px;}
  .subscribe-form .dotted-button {bottom: -155px;}
}


@media screen and (max-width: 540px) {
  .catalog-cards > div {
    width: 100%;
  }

  .s-filter__result {flex-direction: column;}
  .s-filter__result > * + * {margin-top: 20px;}

  .s-filter .sort {flex-direction: column;align-items: flex-start;}
  .s-filter .sort-button {margin-left: 0;}


  .breadcrumbs {
    flex-direction: column;
    align-items: flex-start;
  }
  .breadcrumbs li + li {margin-left: -10px;}
}

@media screen and (max-width: 475px) {
  .header .logo {max-width: 160px;}

  .i-rooms-group label {padding-left: 18px;padding-right: 18px;}
  .s-filter__row {flex-direction: column;}
  .s-filter__row > div {width: 100%;flex-basis: 100%;}

  .s-filter {padding-bottom: 20px;}
  .s-deals {padding-top: 20px;padding-bottom: 20px;}
  .s-services{padding-top: 20px;padding-bottom: 20px;}
  .s-reviews{padding-top: 20px;}
  .s-consult__content{padding-bottom: 20px;}
  .s-news{padding-top: 20px;}
  .s-text-banner{padding-top: 20px;}


  .s-consult .form-box, .s-consult form{max-width: 90vw;}
  .i-button.is-bordered.is-big{padding-left: 11px;padding-right: 11px;}

  .services-list .services-item {width: 100%;}

  .subscribe-form .dotted-button {bottom: -110px;}

  .s-text-banner h2 {font-size: 28px;line-height: 1.4;}
  .s-banner__grid > img:nth-child(3){width: 100%;}


  .footer .nav > ul > li > a {font-size: 15px;}
}