@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "../fonts/fonts.css";
@import "../css/bootstrap.min.css";
@import "../css/slick.css";
@import "global";


html, body {
  overflow-x: hidden;

  &.js-noscroll {
    overflow: hidden;
  }
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
}
.container {
  max-width: 1530px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}


#hamburger {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url(../images/icon-hamburger.svg) center center no-repeat;
  border: none;
  outline: none;
  display: none;
  margin-left: 15px;

  &.is-open {
    background: url(../images/icon-hamburger-close.svg) center center no-repeat;
  }
}
#mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  overflow-y: auto;
  background-color: #fff;
  display: none;
  flex-direction: column;
  color: #010101;
  z-index: 20;


  .nav {
    padding-top: 15px;

    & > ul {
      flex-direction: column;
      align-items: stretch;
      height: auto;
      margin-left: 0;
      margin-right: 0;

      & > li {
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;

        & > a {
          width: 100%;
          padding: 10px 21px;
          font-size: 15px;
        }

        & > span {
          display: block;
          width: 100%;
          padding: 10px 21px;
        }
        .subnav {
          position: relative;
          top: 0;
          width: 100%;
          box-shadow: none;
          padding: 10px 40px;


          a {
            font-size: 15px;
          }
        }

        &.with-subnav {
          position: relative;

          & > span:after {
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            right: 20px;
            top: 11px;
            background-image: url(../images/icon-subnav.svg);
            background-repeat: no-repeat;
            background-position: center center;
            transform: rotate(-180deg);
            z-index: 1;
          }
        }

        &:hover {
          background-color: #FAFAFA;

          &:after {display: none;}
          & > a,
          & > span {background-color: #F2F2F2;font-weight: 500;}

          & > span:after {transform: rotate(0deg);}
          .subnav {
            background-color: transparent;
          }
        }
      }
    }
  }

  .contacts,
  .header__currency,
  .likes,
  .i-button, .location{
    display: flex;
  }

  .currency-item:after {background-color: #010101;}
  .currency-item.is-active:after {background-color: $red;}

  .mob-currency {
    display: flex;
    align-items: center;

    .header__currency {margin-left: 0;}
    .likes {margin-left: 50px;}
  }

  .i-button {margin-left: 0;margin-top: 20px;}
  .location {margin-left: 0;margin-top: 35px;}
  .contacts {
    flex-direction: column;
    margin-left: 0;
    margin-top: 40px;

    .contacts-row {
      flex-direction: column;
      align-items: flex-start;
    }
    .contacts-row > span {display: flex;margin-left: 27px;}
  }
  .mob-content {
    padding: 47px 20px 0 20px;
  }


  .foot {
    padding: 23px 20px;
    background-color: $dark;
    color: #fff;
    margin-top: 28px;

    .soc-list {
      justify-content: flex-start;
      margin-top: 16px;
    }
  }
}
/* Header */
.header {
  font-size: 15px;
  color: #fff;

  &-top {
    background: $dark url(../images/header-bg.png) top center no-repeat;
    height: 100px;

    &__grid {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }


  .logo {
    margin-bottom: -10px;
  }

  .location {
    display: flex;
    align-items: center;
    margin-left: 70px;
  }

  .location,
  .contacts a{
    img {margin-right: 13px;}
  }

  .contacts {
    margin-left: 100px;

    &-row {
      display: flex;
      align-items: center;

      & > a {
        display: flex;
        align-items: center;
      }

      span {
        font-size: 12px;
        color: #868895;
        margin-left: 12px;
      }
    }

    .contacts-row + .contacts-row {margin-top: 11px;}
  }

  &__currency {
    display: flex;
    align-items: center;
    margin-left: 90px;

    span {margin-right: 13px;}
  }

  .likes {
    display: flex;
    align-items: center;
    margin-left: 70px;

    img {margin-right: 14px;}
  }

  .user {
    margin-left: 30px;
    display: flex;
    align-items: center;
  }

  .i-button {margin-left: auto;}

  &-nav {
    background-color: $dark;
  }

  a {
    &:hover {color: $red;}
  }
}
.nav {

  & > ul {
    display: flex;
    align-items: center;
    height: 64px;
    margin-left: -21px;
    margin-right: -21px;
    padding-left: 0;
    width: 100%;

    & > li {
      margin-left: 21px;
      margin-right: 21px;
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;

      & > a {
        display: flex;
      }

      & > .subnav {
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 35px 35px 40px 35px;
        color: $dark;
        white-space: nowrap;
        display: none;
        flex-direction: column;
        box-shadow: 0 0 10px -6px;

        & > span {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 25px;
        }

        & > ul {
          padding-left: 0;
          & > li {}
          & > li + li {margin-top: 12px;}
          & > li > a {
            font-size: 18px;
          }
        }
      }

      &:hover {
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: $red;
        }
        & > .subnav {
          display: flex;
        }
      }
    }
  }

  .online {
    display: inline-flex;
    align-items: center;

    &:before {
      content: "";
      width: 9px;
      height: 9px;
      border-radius: 100%;
      background-color: #82C551;
      margin-right: 10px;
    }
  }

  .nav-last {
    margin-left: auto;
  }
}
.currency {
  display: flex;
  align-items: center;

  &-item {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    &:after {
      content: "";
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
    }

    &.icon-rub:after {
      mask: url(../images/icon-rub.svg) center center no-repeat;
    }
    &.icon-dollar:after {
      mask: url(../images/icon-dollar.svg) center center no-repeat;
    }

    &.is-active {
      border-color: $red;
      &:after {background-color: $red;}
    }
  }
}


/* Sections */
.section {
  &__title {
    font-size: 32px;
    line-height: 37px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;

    &.text-center {text-align: center;justify-content: center;}
  }

  &__foot {
    display: flex;
    margin-top: 60px;

    &.is-centered {justify-content: center;}


    .dotted-button, a {
      transition: all .2s ease;

      &:hover {
        color: $red;
      }
    }
  }

  &.is-first {padding-top: 57px;}
}

/* Banner */
.s-banner {
  height: 490px;
  background-color: #E9483E;

  &__grid {
    display: flex;
    height: 100%;

    & > img {
      &:nth-child(1){margin-top: auto;margin-bottom: auto;}
      &:nth-child(2){
        margin-left: 80px;
        margin-top: auto;
        margin-bottom: 85px;
      }
      &:nth-child(3){
        margin-top: auto;
        margin-left: 80px;
      }
    }
  }

  .text1 {
    font-family: "Amazing Slab", sans-serif;
    font-size: 30px;
    color: #fff;
    line-height: 1;
    display: flex;
    align-items: center;
    width: 200px;
    margin-top: auto;
    margin-bottom: 80px;
    margin-left: 80px;

    &:before {
      content: "";
      display: inline-flex;
      background: url(../images/banner-skobka.png) center center no-repeat;
      width: 15px;
      min-width: 15px;
      height: 150px;
    }
  }
}


/* Filter */
.s-filter {
  padding: 25px 0 60px;

  &__row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;

    & > .col {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .s-filter__row + .s-filter__row {margin-top: 16px;}
  .toggler + .s-filter__row {margin-top: 25px;}

  .caption {
    color: #4D5256;
    margin-bottom: 15px;
  }

  &__tags {
    display: flex;
    align-items: center;
  }

  .more-search {
    margin-left: auto;
  }

  &__title{
    @extend .section__title;
    font-size: 36px;
    margin-top: 45px;
  }
  &__result {
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: #010101;
  }

  .sort {
    display: flex;
    align-items: center;
  }

  &.catalog-filter {
    padding-bottom: 30px;
  }

  .dotted-button {
    &:hover {color: $red;}
  }
}
.toggler {
  display: flex;
  align-items: center;
  font-size: 17px;

  .i-toggler {margin: 0 20px;}

  span {transition: all .2s ease;cursor: pointer;}

  &.is-left {
    & > .i-toggler + span {color: #8C8B90;}
  }
  &.is-right {
    & > span:nth-child(1) {color: #8C8B90;}
  }
}
.tags {
  margin-left: -5px;
  margin-right: -5px;

  &__item {
    padding: 11px 38px 11px 16px;
    background: #FAFAFA url(../images/icon-delete.svg) calc(100% - 16px) center no-repeat;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
  }

  &-clear {
    margin-left: 30px;
  }
}
.dotted-button {
  display: inline-flex;
  align-items: center;

  img {margin-right: 10px;}

  span {
    border-bottom: 1px dashed #E3E4E6;
    line-height: 19px;
  }

  &:hover {

    span {border-color: transparent;}
  }
}


/* CArds */
.s-deals {
  background-color: #FAFAFA;
  padding: 65px 0 80px;

  .product-cards {margin-top: 60px;}
}
.product-cards{
  margin-bottom: -37px;

  .product-card {
    margin-bottom: 37px;
  }
}
.product-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;

  &__like {
    position: absolute;
    right: 19px;
    top: 9px;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background: rgba(#fff, .3);
    border: none;
    cursor: pointer;
    transition: all .2s ease;
    z-index: 1;
    
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      mask: url(../images/icon-product-like.svg) center center no-repeat;
      background-color: #fff;
      transition: all .2s ease;
    }

    &:hover {
      transform: scale(1.1);
      &:after {background-color: $red;transform: scale(1.1);}
    }
  }

  &__status {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    z-index: 1;

    &:before {
      content: "";
      width: 9px;
      height: 9px;
      border-radius: 100%;
      background-color: #82C551;
      display: inline-flex;
      margin-right: 10px;
    }
  }
  &__photo {
    height: 245px;
    width: 100%;
    overflow: hidden;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #C4C4C4;
      z-index: -2;
    }

    img {width: 100%;height: 100%;object-fit: cover;}

    &-marker {
      position: absolute;
      right: 22px;
      bottom: 16px;
      width: 126px;
      height: 144px;
      background: url(../images/card-photo-marker.svg) center center no-repeat;
    }
    &-price {
      position: absolute;
      bottom: 12px;
      left: 23px;
      font-size: 20px;
      color: #fff;
    }
  }

  &__content {
    padding: 20px 22px;
  }
  &__name {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 26px;
  }

  &__options {
    margin-top: 16px;
    font-size: 16px;

    .big {
      font-size: 20px;
    }

    p {
      display: flex;
      margin-bottom: 0;

      & > span:first-child {
        width: 50%;
      }
    }

    p:nth-child(2) {
      margin-top: 5px;
      color: #969B9F;
    }
  }

  &__location {
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;

    &:before {
      content: "";
      display: inline-flex;
      align-items: center;
      width: 12px;
      height: 16px;
      background: url(../images/icon-location-mini.svg) center center no-repeat;
      margin-right: 12px;
    }
  }

  &__more {
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: $dark url(../images/icon-more.svg) 20px center no-repeat;
    font-size: 18px;
    border-radius: 4px;
    transition: all .2s ease;

    &:hover {
      background-color: $red;
      color: #fff;
    }
  }

  a:not(.product-card__more):hover {color: $red;}
}

#best-products {

  .slick-slide {
    margin: 0 11px;
  }
}

/* Services */
.s-services{
  padding: 104px 0 90px;


  h2 {
    margin-top: 80px;
  }
}
.services-list {
  display: flex;
  justify-content: space-between;

  .services-item {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: $dark;
    line-height: 30px;

    &:nth-child(1) {
      font-size: 28px;
      line-height: 32px;
      color: $red;

      img {margin-right: 15px;}
    }
  }
}
.services-item {
  display: inline-flex;
  align-items: center;

  img {margin-right: 45px;}
}
.services-items {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;

  .slick-slide {
    margin: 0 12px;
  }
}
.service-card {
  position: relative;
  height: 520px;
  overflow: hidden;

  img {width: 100%;height: 100%;object-fit: cover;}

  a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    position: absolute;
    top: 37px;
    left: 30px;
    color: #fff;
    font-size: 28px;
    line-height: 34px;
  }
}


/* Reviews */
.s-reviews {
  background-color: #FAFAFA;
  padding: 55px 0 175px;


  h2 {
    display: flex;
    align-items: baseline;
    position: relative;

    .dotted-button {
      font-size: 16px;
      color: $red;
      font-weight: normal;
      font-family: "Inter", sans-serif;
      position: absolute;
      right: 175px;
      top: 11px;
    }
  }

  .section__foot {

    a {
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 20px;
      border-bottom: 1px dashed #E2E2E2;
    }
  }
}
.reviews-slider {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 60px;

  .reviews-item {
    min-height: 410px;
  }
}
.reviews-item {
  padding: 40px 45px 57px 195px;
  background: #fff url(../images/icon-reviews-quote.svg) 40px 45px no-repeat;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  transition: all .2s ease;

  &__content {
    display: flex;
    flex-direction: column;
  }
  &__rating{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;

    &:after {
      content: "";
      width: 24px;
      height: 23px;
      display: inline-flex;
      background: url(../images/icon-reviews-star.svg) center center no-repeat;
      margin-left: 19px;
    }
  }

  &__head {
    font-size: 18px;
    margin-top: 13px;
    display: flex;
    align-items: baseline;
  }
  &__name{}
  &__date {
    color: #969B9F;
    margin-left: 15px;
  }

  &__title {
    font-size: 26px;
    font-weight: 900;
    color: $dark;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
    max-width: 85%;
    margin-top: 31px;
    height: 120px;
    margin-bottom: auto;
  }

  &__user {
    margin-top: 31px;
    display: flex;
    align-items: center;

    &-ava{
      width: 80px;
      height: 80px;
      border-radius: 100%;
      overflow: hidden;

      img {width: 100%;height: 100%;object-fit: cover;}
    }
    &-info{
      margin-left: 31px;
    }
    &-name{
      font-size: 18px;
      line-height: 21px;
    }
    &-spec{
      margin-top: 15px;
      font-size: 14px;
      line-height: 17px;
    }
  }


  &.is-dark,
  &:hover{
    background-color: $dark;
    color: #fff;

    .reviews-item__date {color: #fff;}
    .reviews-item__title {
      color: $red;
      display: flex;
      align-items: center;

      &:before {
        content: "";
        display: inline-flex;
        width: 25px;
        height: 120px;
        background: url(../images/icon-skobka.svg) center center no-repeat;
        margin-right: 25px;
      }
    }
  }
}


/* Consultation */
.s-consult {
  background: url(../images/consult-bg.png) center center no-repeat;
  background-size: cover;
  min-height: 585px;
  color: #fff;


  &__content {
    display: flex;
    align-items: center;
    padding: 67px 50px 67px 0;
    width: 50%;
  }

  .form-box {
    margin-left: 85px;
  }
  .form-name {
    padding-left: 25px;
  }

  form {
    margin-top: 53px;

    & > * + * {margin-top: 23px;}

    .form-check-label {color: #fff;}
  }
  &__logo {}

  .form-check-label {
    display: flex;
    align-items: flex-start;
    color: #fff !important;
    font-size: 14px;
    line-height: 17px;
    margin-top: 34px;

    input {min-width: 20px;}
  }

  &__title{
    color: $red;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      width: 11px;
      height: 120px;
      background: url(../images/icon-skobka.svg) center center no-repeat;
      margin-right: 20px;
    }
  }




  .input-group-text {
    background-color: #fff;

    & + input {border-left: none;}
  }

  .js-phone-mask {
    font-size: 24px;
  }
}


/* News */
.s-news {
  padding: 118px 0 65px;

  .section__foot {
    .dotted-button {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;

      span {
        padding-bottom: 5px;
      }
    }
  }
}
.subscribe-form {
  border-radius: 3px;
  background-color: $red;
  height: 100%;
  padding: 75px 29px;
  min-height: 520px;
  overflow: hidden;
  color: #fff;

  &__title{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      display: inline-flex;
      width: 15px;
      min-width: 15px;
      height: 150px;
      background: url(../images/banner-skobka.png) center center no-repeat;
    }
  }
  &__input {
    margin-top: 46px;
    border: none;
  }

  .form-check {
    margin-top: 33px;
    margin-bottom: auto;
  }
  .form-check-label {
    color: #fff !important;
    display: inline-flex;
    align-items: flex-start;
    font-size: 14px;

    input {min-width: 20px;}
  }
  .dotted-button {
    background-color: $dark;
    width: calc(100% + 58px);
    margin-left: -29px;
    padding: 60px 0;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 22px;
    line-height: 32px;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: -61px;
    margin-top: -41px;

    span {padding-bottom: 5px;}

    &:hover {
      color: $red;

      span {border-color: transparent;}
    }
  }
}
.news-cards {
  margin-top: 60px;

  .slick-slide {
    margin: 0 9px;
    height: 560px;
  }

  .news-card {
    height: 100%;
  }
}
.news-card {
  border: 1px solid #E3E4E6;
  border-radius: 3px;
  display: flex;
  flex-direction: column;

  &__img{
    height: 275px;
    overflow: hidden;

    img {width: 100%;height: 100%;object-fit: cover;}
  }
  &__content{
    padding: 36px 27px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  &__title{
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: auto;

    &:hover {color: $red;}
  }
  &__date{
    font-size: 18px;
    color: #969B9F;
    margin-top: 40px;
  }
}


/* Text banner */
.s-text-banner {
  background-color: #FAFAFA;
  padding: 92px 0 75px;

  .container{
    max-width: 980px;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: bold;
    margin-bottom: 61px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
  }

  p + p {margin-top: 30px;}
}


/* Single */
.s-single {
  padding-top: 57px;

  .section__title {
    font-size: 36px;
    font-weight: 900;
    margin-top: 65px;
  }

  &__subtitle {
    display: flex;
    font-size: 17px;
    color: #4D5256;
    margin-top: 34px;

    & > * + * {margin-left: 100px;}
  }

  &__grid {
    margin-top: 41px;
    display: flex;

    & > .col {

      &:nth-child(1) {
        max-width: 780px;
        width: 100%;
      }

      &:nth-child(2) {
        padding-left: 95px;
      }
    }
  }

  &__slider-controls {
    display: flex;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;

    & > li {
      margin-left: 10px;
      margin-right: 10px;
    }
    & > li > a{
      border: 1px solid #E3E4E6;
      padding: 11px 24px 11px 50px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      font-size: 17px;
      line-height: 20px;
      height: 45px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 18px;
        mask-position: 0 center;
        mask-repeat: no-repeat;
        background-color: $dark;
        width: 20px;
        height: 18px;
      }


      &.is-active {
        background-color: $dark;
        color: #fff;
        border-color: transparent;

        &:before {background-color: #fff;}
      }


      &.icon-gallery,
      &.icon-plan {}

      &.icon-gallery {
        &:before {
          mask-image: url(../images/icon-gallery.svg);
        }
      }
      &.icon-plan {
        &:before {
          mask-image: url(../images/icon-plan.svg);
        }
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;

    & > * {
      margin-left: 10px;
      margin-right: 10px;
    }

    .share .is-share:after {background-color: $dark;}
    .icon-circle:not(.is-watchers) {
      &:hover:after {background-color: $red;}
    }
  }

  &__info {
    padding-top: 92px;
  }
  &__types {
    display: flex;
    font-size: 18px;
    color: #4D5256;

    a {
      color: #3363AA;
      border-bottom: 1px dashed #E2E2E2;
    }

    ul {
      margin-left: 28px;
      display: flex;

      li + li {
        margin-left: 15px;
        position: relative;
        border-left: 1px solid #D6DADD;
        padding-left: 15px;
      }
    }
  }


  &__location {
    margin-top: 24px;
    color: #4D5256;

    img {margin-right: 20px;}
  }


  &__price {
    padding: 35px;
    background-color: $dark;
    color: #fff;

    p {
      display: flex;
      align-items: center;
      font-size: 18px;
      margin-bottom: 0;

      span:nth-child(1) {
        width: 200px;
      }
      b {
        font-family: "Roboto", sans-serif;
        font-size: 28px;
        font-weight: bold;
      }
    }

    p + p {margin-top: 15px;}
  }

  .nav-tabs {
    margin-top: 40px;
    display: inline-flex;
  }
  .tab-content {margin-top: 27px;}


  &__calc {
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 21px;
    color: #010101;
    margin-top: 36px;

    &:hover {color: #fc902e;}

    span {
      border-bottom: 1px dashed #E2E2E2;
    }


    .icon-circle {margin-right: 20px;}
  }

  &__buttons {
    margin: 46px -14px -14px;

    & > * {
      margin-left: 14px;
      margin-right: 14px;
      margin-bottom: 14px;
    }
  }

  &__problem {
    color: #898989;
    margin-top: 45px;

    &:hover {color: $red;}
  }

  &__desc {

    .nav-tabs {
      display: flex;
      border-bottom: none;

      .nav-item {
        border-bottom: 3px solid transparent;
      }
      .nav-item:hover {
        border-bottom-color: $red;
      }
    }
  }

  &__box {
    background-color: #FAFAFA;
    padding: 57px 0 110px;
  }

  &__panel {
    padding: 64px 45px;
    background-color: #fff;

    p {
      font-size: 18px;
      line-height: 30px;
      color: #242D4C;
    }
  }

  &__panel-title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 16px;

    &.with-line {

      &:after {
        content: "";
        display: inline-flex;
        width: 100px;
        height: 1px;
        position: relative;
        margin-left: 40px;
        background-color: #D6DADD;
      }
    }
  }

  .s-single__panel + .s-single__panel {margin-top: 31px;}

  &__chars {
    display: flex;
    align-items: flex-start;

    & > div {

      & + div {
        padding-left: 34px;
      }
    }

    .chars-list {margin-top: 10px;}
  }

  &__user {
    @extend .reviews-item__user;
    flex-direction: column;
    text-align: center;
    margin-top: 0;

    &-ava {
      @extend .reviews-item__user-ava;
      width: 126px;
      height: 126px;
    }
    &-name {
      font-family: "Roboto", sans-serif;
      font-size: 22px;
      line-height: 26px;
      font-weight: 700;
      margin-top: 31px;
    }
    &-spec {
      font-size: 18px;
      color: #898989;
      margin-top: 18px;
    }
    &-phone {
      font-size: 20px;
      color: #010101;
      margin-top: 19px;
      display: flex;
      align-items: center;

      img {margin-right: 13px;}

      &:hover {color: $red;}
    }
    &-panel {
      padding: 34px 30px;
    }
    .i-button {
      margin-top: 40px;
      width: 100%;
    }
  }
}
.chars-list {
  font-size: 20px;

  li {
    line-height: 24px;
    display: flex;
    position: relative;
    padding-left: 30px;

    &:before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #D6DADD;
      left: 0;
      top: 9px;
    }

    & > * {
      width: 50%;
    }
    &:first-child {
      & > span {color: #010101;}

      &:before {background-color: $red;}
    }
    & > span {
      color: #898989;
    }
    & > b {
      color: #010101;
      font-weight: 400;
    }

  }

  li + li {margin-top: 23px;}

  & + .chars-list {margin-top: 70px;}
}


#analog-products {
  .slick-slide {margin-left: 10px;margin-right: 10px;}
}

/* Map */
.s-map {
  height: 750px;
  padding: 150px 0 140px;
  position: relative;

  &__map {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
    pointer-events: none;
  }
  &__grid {
    display: flex;
    justify-content: flex-end;
  }

  &-location {
    padding: 80px 32px 35px 32px;
    background-color: #fff;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    position: relative;

    &__close {
      width: 43px;
      height: 43px;
      position: absolute;
      top: 21px;
      right: 23px;
      border-radius: 100%;
      background: #F7F7F7 url(../images/icon-delete.svg) center center no-repeat;
      background-size: 12px;
      border: none;
      outline: none;
      cursor: pointer;
    }
    &__title{
      font-size: 24px;
      line-height: 30px;
    }
    &__loc{
      color: #4D5256;
      margin-top: 33px;
    }
    &__prices{
      margin-top: 54px;

      li {
        color: #969B9F;
        display: flex;
        align-items: center;

        & > span {
          width: 50%;
        }
        b {font-size: 18px;font-weight: normal;color: #010101;}
      }

      li:first-child {
        color: #4D5256;

        b {color: #010101;font-size: 20px;}
      }

      li + li {margin-top: 5px;}
    }

    .i-button {
      margin-top: 65px;
    }
  }
}




#single-slider {
  margin-top: 37px;

  .item {
    position: relative;

    &:after {
      content: "";
      width: 310px;
      height: 350px;
      background: url(../images/single-slider-marker.svg) center center no-repeat;
      bottom: 34px;
      right: 38px;
      position: absolute;
    }
  }

  .slick-dots, .slick-arrow {
    position: absolute;
  }

  .slick-dots {
    left: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    z-index: 10;


    button {
      width: 12px;
      height: 12px;
      border-radius: 100%;
      border: none;
      background-color: #B6B2AF;
      margin-left: 3px;
      margin-right: 3px;
      font-size: 0;
    }

    .slick-active button {background-color: #fff;}
  }
}
#single-slider-preview {
  margin-top: 32px;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;

  .item {
    width: calc(100% / 4 - 20px);
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    cursor: pointer;
    position: relative;

    &:not(.last) {
      &:after {
        content: "";
        width: 67px;
        height: 76px;
        background: url(../images/single-slider-marker.svg) center center no-repeat;
        background-size: contain;
        position: absolute;
        right: 9px;
        bottom: 6px;
      }
    }

    img {width: 100%;height: 100%;object-fit: cover;}


    &:last-child {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #3363AA;
      font-family: "Roboto", sans-serif;
      font-size: 38px;
      line-height: 45%;
      font-weight: bold;
    }
  }
}
.icon-circle {
  width: 43px;
  height: 43px;
  border-radius: 100%;
  border: 1px solid #D6DADD;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:after {
    content: "";
    display: inline-flex;
    mask-repeat: no-repeat;
    mask-position: center center;
    background-color: #D6DADD;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.is-watchers {
    &:after {mask-image: url(../images/icon-eye.svg);}

  }
  &.is-like {
    &:after {mask-image: url(../images/icon-single-like.svg);}
  }
  &.is-share {
    &:after {mask-image: url(../images/icon-share.svg);}
  }
  &.is-calc {
    &:after { mask:none; background: url(../images/icon-calc.svg) center center no-repeat;}
  }
}
.breadcrumbs {
  display: flex;
  align-items: flex-end;
  margin-bottom: 54px;

  li {
    color: #8C8B90;
  }
  li + li {
    display: inline-flex;
    align-items: center;

    &:before {
      content: "";
      width: 6px;
      height: 7px;
      background: url(../images/icon-breadcrumbs-icon.svg) center center no-repeat;
      background-size: contain;
      display: inline-flex;
      margin: 0 10px;
    }
  }
  li > a {
    font-size: 15px;

    &:hover {text-decoration: underline;color: $red;}
  }
}
.watchers {
  display: flex;
  align-items: center;

  & > .icon-circle {margin-right: 15px;}
}


.default-controls {
  position: relative;

  .slick-arrow {
    position: absolute;
    top: -90px;
    right: 15px;
    width: 52px;
    height: 30px;
    font-size: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      mask-repeat: no-repeat;
      mask-position: center center;
      background-color: black;
      left: 0;
      top: 0;
    }

    &.slick-prev {
      transform: translateX(calc(-100% - 10px));
    }
    &.slick-next {
      transform: rotate(180deg);
    }

    &.slick-prev:before{
      mask-image: url(../images/slider-arrow.svg);
    }
    &.slick-next:before{
      mask-image: url(../images/slider-arrow.svg);
      mask-position: center 10px;
    }

    &:hover {
      &:before {background-color: $red;}
    }
  }
}


/* Footer */
.footer {
  background-color: $dark;
  padding: 98px 0 50px;
  color: #fff;


  a {
    transition: all .2s ease;

    &:hover {
      color: $red;
      span {border-color: transparent;}
    }
  }

  .dotted-button {margin-top: 80px;}

  &__nav {
    display: flex;
    flex-direction: column;

    li + li {margin-top: 15px;}

    a {
      font-size: 18px;
    }
  }
  &__nav-caption {
    margin-bottom: 37px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
  }

  .copy {
    margin-top: 75px;
    font-size: 17px;
  }

  .nav {
    margin-top: 96px;

    li {
      &:hover:after {background-color: transparent;}
    }
  }


  &__bottom {
    margin-top: 36px;
  }
  &__img {
    margin-left: auto;
    margin-top: -75px;
  }
}
.soc-list {
  display: flex;
  margin-left: -2.5px;
  margin-right: -2.5px;
  padding-left: 0;

  li {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }

  li > a {
    width: 38px;
    height: 38px;
    mask-repeat: no-repeat;
    mask-position: center center;
    background-color: #fff;
    display: inline-flex;

    &:hover {background-color: $red;}
  }

  .soc-telegram{ mask-image: url(../images/icon-soc-telegram.svg);}
  .soc-fb{ mask-image: url(../images/icon-soc-fb.svg);}
  .soc-inst{ mask-image: url(../images/icon-soc-inst.svg);}
  .soc-vk{ mask-image: url(../images/icon-soc-vk.svg);}
  .soc-ok{ mask-image: url(../images/icon-soc-ok.svg);}
}



@import "media";