* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button, textarea {
  font-family: inherit;
}
img{max-width: 100%;}

//////////////////////////////////
$black: #0A1424;
$grey: #303A4A;
$darkRed: #7C1911;
$fGeorgia: "Georgia", sans-serif;

@mixin fz($minFZ: 14px, $maxFZ: 48px, $minViewport: "") {
  font-size: calc(#{$minFZ}px + (#{$maxFZ} - #{$minFZ}) * ((100vw - 320px) / (1920 - 320)));
}


.w60 {
  width: 60%;
}