@import "../fonts/fonts.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');
@import "../css/owl.carousel.min.css";
@import "../css/lightbox.min.css";
@import "global";
@import "../css/old.min.css";
@import "../css/old.adv-style.min.css";

html, body {
  overflow-x: hidden;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: auto;
  padding-top: 138px;
}

.container {
  width: 100%;
  max-width: 1210px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
p {
  line-height: 32px;

  & + p {margin-top: 50px;}
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 102;
  font-size: 14px;

  .search__btn i {background: url(../images/search.svg) center center no-repeat;}


  .header__search {
    * {
      font-family: inherit;
    }
  }

  &.is-fixed {

  }
}
.socialicon-vk {background: url(../images/vk.svg) center center no-repeat;}
.socialicon-inst{background: url(../images/insta.svg) center center no-repeat;}
.socialicon-facebook{background: url(../images/facebook.svg) center center no-repeat;}
.socialicon-tw{background: url(../images/twit.svg) center center no-repeat;}
.socialicon-ok{background: url(../images/ok.svg) center center no-repeat;}
.socialicon-telegram{background: url(../images/telegram.svg) center center no-repeat;}
.age18__icon {background: url(../images/18-min.png) center center no-repeat;}



// Top section
.s-main {
  background-color: #063759;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  z-index: 101 !important;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,
            rgba(41, 51, 69, 0) 0%,
            rgba(6, 55, 89, 0) 0.01%, #063759 100%);
    z-index: 3;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #063759;
    z-index: 1;

    .bg1,
    .bg2,
    .bg3 {
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
      width: calc(100% / 3);
      height: 100%;
      background-size: 1920px auto;
      background: url(../images/main-bg.jpg) no-repeat;
      background-position: 70% 135px !important;
      background-size: 1920px;
      background-attachment: fixed;
      z-index: 0;

    }
    .bg1{
      background-position: top center;
    }
    .bg2{
      left: calc(100% / 3 * 1);
      background-position: top center;
    }
    .bg3{
      left: calc(100% / 3 * 2);
      background-position: top center;
    }
  }

  .container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
  }


  .grid {
    margin-top: auto;
  }
  .first{
    height: calc(100vh - 138px);
  }

  h1 {
    font-weight: 900;
    @include fz(32, 64);
    line-height: 72px;
    color: #fff;
    opacity: 0;
  }

  .users {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(#fff, .2);
    margin: 19px -20px -15px;
    padding: 40px 0;
    opacity: 0;

    & > * {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 15px;
    }
  }

  .desc {
    font-family: $fGeorgia;
    font-size: 24px;
    line-height: 40px;
    margin-top: 36px;
    padding-bottom: 72px;

    p + p {margin-top: 50px;}
  }
}
.user {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-column-gap: 24px;
  align-items: center;

  .img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    overflow: hidden;

    img {width: 100%;height: 100%;object-fit: cover;}
  }
  .info {}
  .name {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  .text {
    font-family: "Georgia", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: rgba(#fff, 0.7);
  }
}

.section {
  padding-top: 63px;

  &__title {
    @include fz(32, 40);
    font-weight: 900;
    line-height: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(#303A4A, .15);
    margin-bottom: 33px;
  }

  &__title-fixed {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
  }

  & + .section {}

  &.last {
    padding-bottom: 55px;
  }

}
.other-sections {
}
.wrapper {
  padding-top: 0;
}
body .wrapper > section {
  width: 100%;
  top: 0;
  left: 0;

  &.is-page {
    width: 100%;
  }

  &:not(:first-child) {
    background-color: #fff;
  }

  &:nth-child(1){z-index: 6;}
  &:nth-child(2){z-index: 5;}
  &:nth-child(3){z-index: 4;}
  &:nth-child(4){z-index: 3;}
  &:nth-child(5){z-index: 2;}
  &:nth-child(6){z-index: 1;}


  & + section {
  }
}

/* Article section */
.article{

  &-info-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    margin-top: 34px;
    margin-bottom: 45px;


    &.is-full {
      grid-template-columns: auto;
    }
  }
  &-info {
    &__caption{
      line-height: 32px;
      font-family: $fGeorgia;
      color: $grey;
    }
    &__numbers{
      @include fz(48, 64);
      line-height: 72px;
      font-weight: 900;
    }
    &__desc{
      font-family: $fGeorgia;
      color: $grey;
      font-size: 14px;
      line-height: 24px;
      margin-top: 17px;
    }
  }

  .comment-block {
    display: flex;
    align-items: flex-start;

    .comment {
      width: 575px;
      position: relative;
      right: -185px;
      margin-top: 20px;
    }
  }

  .comment {
    font-size: 24px;
    line-height: 40px;
    font-family: $fGeorgia;
    padding-top: 40px;
    padding-bottom: 30px;
    position: relative;

    .before {
      height: 4px;
      width: 40%;
      background-color: $darkRed;
      position: absolute;
      top: 0;
      left: 0;
    }
    .after {
      content: '';
      height: 1px;
      position: absolute;
      left: 0;
      width: 40%;
      bottom: 0;
      background-color: rgba(#303A4A, 0.15);
    }


    &.is-center {
      width: 100%;
      max-width: 880px;
      right: 0;
      text-align: center;
      padding-bottom: 50px;
      margin: 48px auto 41px;

      .before {
        left: 50%;
        transform: translateX(-50%);
      }

      .after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.photo-slider,
.photo-block{
  margin-left: 64px;
  width: calc(80vw - 80px);

  .item {
    height: auto;
    overflow: hidden;
    display: block;

    img {
      width: 100%;height: 100%;object-fit: cover;
      transition: all .5s ease;
    }
  }



  &:hover {
    img {transform: scale(1.15);}
  }
}
.slider-grid {
  display: flex;
  margin-top: 42px;
  margin-bottom: 42px;

  .controls {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    padding-right: 64px;
    padding-bottom: 40px;
    padding-left: 32px;
    width: 20vw;
    min-width: 290px;

    .desc {
      margin-top: auto;
      font-size: 14px;
      line-height: 24px;
      font-family: $fGeorgia;
      color: $grey;
      text-align: right;
    }

    .slider-counter, b{
      text-align: right;
      font-weight: 700;
      font-size: 12px;
      margin-top: 5px;
      letter-spacing: 0.5px;
      line-height: 15px;
      color: rgba($black, 0.8);
    }
  }
}
.slider-nav {
  margin-left: auto;

  button {
    width: 40px;
    height: 60px;
    mask: url(../images/slider-arrow.svg);
    mask-repeat: no-repeat;
    mask-size: 57px;
    background-color: $darkRed;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s linear;
    border: none;
    position: relative;

    &:hover {
      width: 57px;
    }
  }
  .prev{
    mask-position: right center;
    transform: rotate(-180deg);
    position: relative;
    &:hover {margin-left: -17px;}
  }
  .next{
    margin-left: 52px;
    mask-position: right center;
    left: 0;
    &:hover {left: 17px;margin-left: calc(52px - 17px);}
  }
}

.full-container {
  margin-top: 72px;
  margin-bottom: -66px;
  overflow: hidden;
  height: auto;

  a {
    display: block;
    width: 100%;
    height: auto;
  }
  img {
    height: auto;
    object-fit: cover;
    margin-bottom: 66px;
    display: block;
  }
}


.user-comment {
  display: flex;
  margin-top: 32px;


  .user {
    display: flex;
    flex-direction: column;
    min-width: 270px;
    align-items: flex-start;

    .info {
      margin-top: 16px;

      .text {color: rgba($grey, .7);}
    }
  }

  &__info {
    margin-left: 32px;
    padding-top: 38px;
    padding-bottom: 47px;
    margin-bottom: 42px;
    position: relative;
    line-height: 32px;

    .before {
      content: '';
      height: 4px;
      width: 30%;
      background-color: $darkRed;
      top: 0;
      left: 0;
      position: absolute;
    }
    .after {
      content: '';
      height: 1px;
      width: 30%;
      background-color: rgba($black, 0.15);
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }
}


.header__usershar {
  position: relative;
  left: 0;
}
.menu {
  display: none;
}



.footer {
  font-size: 14px;
}


@media screen and (max-width: 1440px) {
  .article .comment-block .comment {right: 0;margin-left: 50px;}

  .photo-slider, .photo-block{
    width: 70vw;

    .owl-dots {display: none;}
  }
  .slider-grid .controls {width: 30vw;}
}

@media screen {

}

@media screen and (max-width: 1024px) {

  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .wrapper {
    position: relative;
    overflow: auto;
  }
  section {
    position: relative;
  }
  .article .comment-block .comment {
    margin-left: 50px;
    right: 0;
  }

  .photo-slider .item, .photo-block .item{height: auto;}

  .slider-grid{flex-direction: column;}
  .photo-slider, .photo-block{margin-left: 0;width: 100%;margin-bottom: 20px;}


  .slider-grid .controls{width: 100%;padding-right: 32px;}
  .slider-grid .controls {
    margin-bottom: -32px;

    &:after {
      content: '';
      display: block;
      height: 1px;
      background-color: rgba(#303A4A, 0.15);
      width: 100%;
      margin-top: 16px;
      left: 32px;
    }
  }
  .full-container img{margin-bottom: 0;}
}
@media screen and (max-width: 1023px) {
  body {padding-top: 73px;}
  .s-main{padding-top: 0;}
  .s-main .bg .bg1, .s-main .bg .bg2, .s-main .bg .bg3 {
    background-position: 70% 73px !important;
  }

  .s-main .first {height: calc(100vh - 73px); }
  .s-main{padding-top: 0;}
}

@media screen and (max-width: 768px) {
  .s-main {min-height: initial;}

  .s-main h1{line-height: normal;}


  .article-info-list{grid-template-columns: 1fr;}

  .article .comment-block{
    flex-direction: column;

    & > * {
      width: 100%;
    }
  }

  .article .comment-block .comment {
    margin-left: 0;
    margin-top: 30px;
  }
  .user-comment {
    flex-direction: column;
  }
  .user-comment__info {margin-top: 20px;margin-left: 0;}
}
@media screen and (max-width: 767px) {
  body {padding-top: 48px;}
  .s-main .first {height: calc(100vh - 48px); }
  .s-main .bg .bg1, .s-main .bg .bg2, .s-main .bg .bg3 {
    background-position: 70% 48px !important;
  }
}

@media screen and (max-width: 560px) {

  body {font-size: 16px;}
  p {line-height: 24px;}
  .s-main h1 {font-size: 24px;}

  .s-main .bg2,
  .s-main .bg3 {
    display: none;
  }
  .s-main .bg1 {
    width: 100% !important;
  }

  .user .text {line-height: normal;}

  .s-main .users{flex-direction: column;align-items: flex-start;padding-left: 15px;}
  .s-main .users > * {margin-left: 0;}

  .s-main .desc{font-size: 18px;line-height: 32px;margin-top: 32px;}

  .s-main .desc p + p {margin-top: 20px;}
  p + p {margin-top: 20px;}


  .section__title {font-size: 24px;padding-bottom: 10px;line-height: 32px;}
  .section{padding-top: 20px;}


  .article-info__numbers{font-size: 40px;line-height: 48px;}
  .article-info__desc{margin-top: 0;}

  .article .comment-block .comment{
    font-size: 18px;
    line-height: 24px;
    width: 100%;
  }


  .slider-nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .slider-grid .controls .desc,
  .slider-grid .controls .desc + * {
    text-align: left;
  }


  .user-comment {
    flex-direction: column;

    & > *:nth-child(2) {order: 1;}
    & > *:nth-child(1) {order: 2;}
  }
  .user-comment__info {margin-left: 0;margin-top: 20px;}
  .article .comment{font-size: 18px;line-height: 24px;text-align: left;}
  .article .comment.is-center{text-align: left;}
  .article .comment.is-center .before,
  .article .comment.is-center .after {left: 0;transform: none;}
  .article .comment,
  .article .comment.is-center {
    padding-top: 18px;
    padding-bottom: 24px;
  }

  .s-main .grid {
    margin-left: -32px;
    margin-right: -32px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .s-main .content {
    background-color: #063759;
  }

  .s-main .bg {
    position: relative;
    height: 50vh;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(41, 51, 69, 0)), color-stop(0.01%, rgba(6, 55, 89, 0)), to(#063759));
      background-image: linear-gradient(180deg, rgba(41, 51, 69, 0) 0%, rgba(6, 55, 89, 0) 0.01%, #063759 100%);
      z-index: 3;
    }
  }
  .s-main .first {min-height: 50vh;height: 50vh;}
  .slider-grid .controls:after {width: calc(100% - 32px);}
  .s-main .grid{margin-top: 0;}
  .s-main .bg .bg1, .s-main .bg .bg2, .s-main .bg .bg3 {
    background-size: cover;
    position: relative;
  }

  .slider-grid .controls .slider-nav {margin-top: -16px;}
  .photo-slider, .photo-block {
    height: auto;

    iframe {
      height: 100vw;
    }
  }

  .full-container {margin-top: 24px;margin-bottom: 0;}
  .user-comment__info{line-height: 24px;margin-bottom: 24px;padding-bottom: 24px;}
  .user-comment > *:nth-child(1){margin-bottom: 16px;}

}