@font-face {
  font-family: "CG";
  src: url(./CenturyGothic.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: "CG";
  src: url(./CenturyGothic-Bold.woff) format('woff');
  font-weight: bold;
}


@font-face {
  font-family: 'Dita Sweet';
  src: url('./Ditasweet.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat-Medium.woff) format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat-SemiBold.woff) format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat-ExtraBold.woff) format('woff');
  font-weight: 800;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat-Black.woff) format('woff');
  font-weight: 900;
}

@font-face {
  font-family: "YO";
  src: url(./YesevaOne-Regular.woff) format('woff');
  font-weight: normal;
}