.catalog-box .box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8e8e8e;
    opacity: 0.05;
}
.catalog--slider--slide--img {
    position: relative;
}
.catalog--slider--box.slider-viewed {
    background: #FAFAFA;
}
.catalog--slider--box.slider-viewed .catalog--slider--slide--img {
    position: relative;
}
.catalog--slider--box.slider-viewed .catalog--slider--slide--img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8e8e8e;
    opacity: 0.05;
}

.goods--flex {
    width: 100%;
    max-width: 1306px;
}

.filter {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.catalog.catalog-box {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto 2.31rem;
}

.menuCatalog .firstLvl > a {
    text-transform: uppercase;
}