/* checkboxColor */
.checkboxColor label.disabled {
    /*display: block;*/
}
.checkboxColor label.disabled {
    pointer-events: none;
}
.checkboxColor label  span {
    overflow: hidden;
}
.checkboxColor label.disabled  span:after {
    top: 0;
    bottom: 0;
    height: 2px;
    margin: auto;
    transform: rotate(-45deg) scale(2) translateY(7%);
    background: black;
}
/* checkboxColor END */


.filter--box.filter-sort .sel{
    display: none;
}
.filter-hidd-color {
    padding: 1.75rem 1.563rem 1.75rem;
}

.basketBox .scroll p {
    text-align: center;
}


/* goods */
.goods--info {
    width: 100%;
}
.goods--info-select ul {
    z-index: 1;
}
.goods--info-size {
    position: relative;
}
.goods--slider--swiper-slide {
    width: 99%;
}
.goods--info .description dl dt {
    margin-right: 8px;
}

@media (max-width: 1000px) {
    .goods--info .art {
        display: none;
    }
    .goods--info-select ul {
        width: auto;
    }
    .size_error {
        left: 20px;
    }
}
@media (max-width: 62.5rem) {
    .popup .goods--info-size .little-gray {
        margin-top: 0;
    }
}
@media (max-width: 62.5em) and (min-width: 0) {
    .bell {
        right: 0;
    }
}
@media (max-width: 47.94em) and (min-width: 0) {
    .goods--info-select ul {
        margin: auto;
        text-align: left;
    }
}
@media (max-width: 29.94em) and (min-width: 0) {
    .goods--info-select .goods--info-size ul {
        right: 0;
        left: 0;
        margin: auto;
    }
    .goods--info-select ul {
        right: 0;
    }
}
/* goods END */


/* tableBasket */
.tableBasket {
    /*width: calc(100% - 4.88rem);*/
}
.tableBasket tbody tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.tableBasket td:nth-child(2) {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.tableBasket td:nth-child(3) {
    width: 100px;
}
.tableBasket td:nth-child(3) .price {
    margin-top: 32px;
    text-align: right;
}
.tableBasket .rem {

}
.tableBasket .art {
    height: 20px;
    text-align: left!important;
    overflow: hidden;
}
.basketBox .price {
    padding: 0;
}
.tableBasket .img {
    position: relative;
}
.tableBasket .img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.05;
    background: #858585;
    z-index: 1;
}
.tableBasket tr.remove td .art,
.tableBasket tr.remove td .name,
.tableBasket tr.remove td dl,
.tableBasket tr.remove td .img {
    opacity: 0.2;
}
@media (max-width: 47.94em) {
    .tableBasket {
        margin: 0 1rem;
        width: calc(100% - 2rem);
    }
}
@media (max-width: 29.94em) and (min-width: 0) {
    .tableBasket .rem {

    }
}
/* tableBasket END*/

/* 404 */
.error-404 {
    padding: 0 1.25rem;
    text-align: center;
}
.error-404__title {
    font-size: 200px;
}
@media(max-width: 480px) {
    .error-404__title {
        font-size: 130px;
    }
}
/* 404 END*/


/* seo */
.seo--imgBox .sneaker {
    background-size: contain;
}
/* seo END */


/* catalog-box */
.catalog .img {
    position: relative;
}
.catalog .img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8e8e8e;
    opacity: 0.05;
}
.catalog-box .box .new {
    position: absolute;
    left: 1rem;
    bottom: 10px;
    font-size: 22px;
    color: #ACACAC;
}
@media (max-width: 1000px) and (min-width: 0) {
    .catalog .box .new  {
        bottom: 0.225rem;
        left: 0.56rem;
        font-size: 0.75rem;
    }
}
/* catalog-box END */


/* catalog--slider */
.catalog--slider .catalog--slider--slide p.price {
    position: relative;
    margin-top: 8px;
    text-align: right;
}
.catalog--slider--box-big .catalog--slider--slide {
    /*height: 220px;*/
}
.catalog--slider-big .catalog--slider--slide a {
    position: relative;
    display: block;
    height: 100%;
    z-index: 10;
}
.catalog--slider-big .catalog--slider--slide p.price {
    /*bottom: -12px;*/
}
.catalog--slider--wrapper.swiper-button--hide .swiper-button-prev,
.catalog--slider--wrapper.swiper-button--hide .swiper-button-next {
    display: none;
}
/* catalog--slider END */

.ov-hidd {
    height: 100%;
}


/*.subscription .input-box .input-text {*/
/*    font-size: 15px;*/
/*}*/
/*@media (max-width: 29.94em) and (min-width: 0) {*/
/*    .subscription .input-box .input-text {*/
/*        font-size: 16px;*/
/*        transform: scale(0.875);*/
/*    }*/
/*}*/
@media(max-width: 1368px){
/*    .menuCatalog .secindLvl .bigList .container{
        width: 72%;
        padding: 1.75rem 1.75rem 1rem 0.938rem;
    }*/
    .menuCatalog .secindLvl .bigList a.title,
    .menuCatalog .secindLvl .bigList .column li{
        margin-left: 0;
    }
    .menuCatalog .secindLvl .bigList .img{
        width: 28%;
    }
}