@import url(../css/slick.css);
@import url(../css/nouislider.min.css);
@import url(../css/select2.min.css);
@import url(../fonts/fonts.css);
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul, ol {
  list-style-type: none; }

a {
  color: inherit;
  text-decoration: none; }

input, textarea, button {
  font-family: inherit;
  outline: none; }

input:focus, button:focus, textarea:focus {
  outline: none; }

img {
  max-width: 100%; }

/* Variables */
.ui-button {
  padding: 14px 20px;
  font-size: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }
  .ui-button.bordered {
    border: 1px solid #FF3F52;
    background-color: transparent;
    color: #FF3F52; }
    .ui-button.bordered:hover {
      background-color: #FF3F52;
      color: #fff; }
      .ui-button.bordered:hover svg path {
        fill: #fff; }
  .ui-button > img, .ui-button > svg {
    margin-right: 10px; }
  .ui-button svg path {
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
  .ui-button .counter {
    padding: 3px;
    background-color: #FF3F52;
    color: #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -5px;
    margin-left: -5px; }
  .ui-button.fill {
    background-color: #FF3F52;
    color: #fff;
    font-size: 16px; }

.ui-button-basket {
  background-color: #FF3F52;
  color: #fff;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px; }
  .ui-button-basket:before {
    content: '';
    width: 22px;
    height: 22px;
    -webkit-mask: url(../images/icon-basket.svg) center center no-repeat;
            mask: url(../images/icon-basket.svg) center center no-repeat;
    background-color: #fff;
    margin-right: 10px; }

.ui-count {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1.5px solid #E0E2EA;
  border-radius: 45px;
  height: 60px; }
  .ui-count button {
    border: none;
    padding: 10px 30px;
    outline: none;
    cursor: pointer;
    font-size: 50px; }
  .ui-count input {
    border: none;
    width: 20px;
    background-color: transparent;
    font-size: 16px;
    color: #333;
    outline: none;
    cursor: default;
    text-align: center;
    padding: 0 5px; }
  .ui-count__minus, .ui-count__plus {
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: center center;
            mask-position: center center;
    background-color: #A9A9B6; }
    .ui-count__minus:hover, .ui-count__plus:hover {
      background-color: #FF3F52; }
  .ui-count__minus {
    -webkit-mask-image: url(../images/minus.svg);
            mask-image: url(../images/minus.svg); }
  .ui-count__plus {
    -webkit-mask-image: url(../images/plus.svg);
            mask-image: url(../images/plus.svg); }
  .ui-count.mini {
    height: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-width: 1px; }
    .ui-count.mini button {
      -webkit-mask-size: 16px;
              mask-size: 16px;
      padding-left: 20px;
      padding-right: 20px; }

.ui-slider .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px; }
  .ui-slider .inputs > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .ui-slider .inputs input {
    border: 1px solid #E0E2EA;
    padding: 10px 8px;
    font-size: 14px;
    max-width: 110px; }
  .ui-slider .inputs .hr {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    min-width: 10px;
    width: 10px;
    height: 2px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #E0E2EA; }
.ui-slider .noUi-horizontal .noUi-handle {
  width: 26px;
  height: 26px;
  border-radius: 100%; }
.ui-slider .noUi-horizontal {
  height: 2px; }
.ui-slider .noUi-handle:after, .ui-slider .noUi-handle:before {
  display: none; }
.ui-slider .noUi-handle {
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #E0E0E0; }
.ui-slider .noUi-horizontal .noUi-handle {
  top: -11px;
  outline: none;
  cursor: pointer; }
.ui-slider .noUi-target {
  border: none;
  border-radius: 0;
  background-color: #E0E2EA; }
.ui-slider .noUi-connect {
  height: 2px;
  background-color: #FF3F52; }

.ui-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 16px;
  cursor: pointer; }
  .ui-checkbox input {
    display: none; }
  .ui-checkbox i {
    border: 1px solid #E0E2EA;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    display: inline-block;
    margin-right: 10px; }
  .ui-checkbox input:checked + i {
    background: #FF3F52 url(../images/check.svg) center center no-repeat;
    border-color: #FF3F52; }
  .ui-checkbox span {
    margin-top: 2px; }

/* PLUGINS RESET */
.select2-dropdown {
  border: none; }

.select2-container--default .select2-selection--single {
  border-color: #E0E2EA;
  padding: 15px 20px;
  height: auto;
  border-radius: 40px;
  outline: none; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 20px;
  height: 20px;
  background: url(../images/select-icon.svg) center center no-repeat;
  top: 12px;
  right: 15px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg); }

.select2-container--open .select2-selection--single {
  border-color: #FF3F52 !important; }

.select2-results__option {
  background-color: transparent;
  padding: 15px 20px; }

.select2-results__option + .select2-results__option {
  border-top: 1px solid #E0E2EA; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: initial; }

.select2-container--default .select2-results__option--selected {
  background-color: transparent; }
  .select2-container--default .select2-results__option--selected:after {
    content: '';
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 20px;
    height: 20px;
    -webkit-mask: url(../images/button-check.svg) right center no-repeat;
            mask: url(../images/button-check.svg) right center no-repeat;
    background-color: #FF3F52;
    position: absolute;
    right: 20px; }

.select2-container--open .select2-dropdown {
  -webkit-box-shadow: 0px 0px 10px rgba(77, 52, 52, 0.1);
          box-shadow: 0px 0px 10px rgba(77, 52, 52, 0.1);
  margin-top: 16px; }

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-radius: 40px; }

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #f6f6f6;
  color: #333333; }

.select2-results__option {
  font-size: 14px; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 14px;
  line-height: 1; }

.select2-container {
  width: 260px !important;
  outline: none; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-radius: 40px !important; }

html, body {
  overflow-x: hidden; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #333; }

h2, h3 {
  font-family: "Philosopher", sans-serif;
  font-weight: bold; }
  h2 span, h3 span {
    color: #FF3F52; }

h3 {
  font-size: 34px; }

h2 {
  font-size: 48px; }

.container {
  max-width: 1290px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

/* Header */
.header {
  padding-top: 40px; }
  .header-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-location {
    margin-left: 30px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FF3F52; }
    .header-location img {
      margin-right: 3px; }
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 110px; }
    .header-nav > li {
      margin: 0 29px; }
  .header-call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: -20px;
    margin-left: 20px; }
    .header-call .caption {
      font-size: 14px;
      color: #FF3F52; }
  .header-phone {
    font-size: 19px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 3px; }
  .header-basket {
    margin-left: 40px;
    position: relative; }
    .header-basket .counter {
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
    .header-basket:hover .counter {
      background-color: #fff;
      color: #FF3F52; }

/* Sections */
.section {
  padding: 90px 0; }
  .section__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

/* Main section */
.s-main {
  background: url(../images/s-first-wave.svg) center center no-repeat;
  background-size: 100% auto;
  min-height: 830px;
  padding-top: 60px;
  padding-bottom: 320px;
  position: relative; }
  .s-main .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%; }
    .s-main .item:nth-child(2) {
      left: 100vw; }
  .s-main .container {
    position: relative;
    text-align: center; }
    .s-main .container:after {
      content: 'F.Lovers';
      font-family: "Philosopher", sans-serif;
      font-size: 151px;
      font-weight: bold;
      color: rgba(51, 51, 51, 0.04);
      display: block;
      position: absolute;
      left: 0;
      margin-top: 70px; }
  .s-main h3 {
    margin-left: 140px; }
  .s-main .img1 {
    margin: 70px auto 0 -160px; }
  .s-main .img2 {
    position: absolute;
    left: 0;
    top: 30px; }
  .s-main .img3 {
    position: absolute;
    right: -30px;
    top: 80px; }
  .s-main .img4 {
    position: absolute;
    bottom: -120px;
    right: 20px; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-slide {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
    outline: none; }
  .slick-slider .slick-arrow {
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: 10; }

/* Slider section */
.s-slider {
  background-color: #FFFAFA;
  overflow-x: hidden; }
  .s-slider .slider-wrapper {
    position: relative; }

.product-slider {
  margin-top: 85px;
  padding-left: 90px;
  width: 83vw; }
  .product-slider .image-wrapper {
    position: relative; }
  .product-slider .timer {
    background-color: #FF3F52;
    color: #fff;
    padding: 5px 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -20px;
    margin-left: 20px; }
    .product-slider .timer-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 3px 10px;
      position: relative; }
      .product-slider .timer-item b {
        font-size: 32px;
        font-weight: bold; }
      .product-slider .timer-item span {
        color: rgba(255, 255, 255, 0.5); }
    .product-slider .timer-item + .counter-item:before {
      content: '';
      height: 70%;
      width: 2px;
      display: block;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.5);
      left: 0;
      top: 15%; }
  .product-slider .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    width: 70vw; }
    .product-slider .item .col:nth-child(2) {
      padding-left: 100px;
      padding-top: 70px;
      min-width: 500px; }
    .product-slider .item .name {
      font-family: "Philosopher", sans-serif;
      font-size: 48px;
      font-weight: bold; }
    .product-slider .item p {
      margin-top: 40px;
      line-height: 24px;
      max-width: 380px; }
    .product-slider .item .price {
      margin-top: 40px; }
      .product-slider .item .price .current {
        font-size: 38px;
        font-weight: 700;
        color: #FF3F52; }
      .product-slider .item .price .old {
        font-size: 20px;
        color: #A9A9B6;
        margin-left: 18px;
        text-decoration: line-through; }
    .product-slider .item .form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 40px; }

.slider-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .slider-nav .prev, .slider-nav .next {
    width: 40px;
    height: 40px;
    -webkit-mask: url(../images/arrow-prev.svg) center center no-repeat;
            mask: url(../images/arrow-prev.svg) center center no-repeat;
    background-color: #FF3F52;
    cursor: pointer; }
  .slider-nav .prev {
    margin-right: 160px; }
  .slider-nav .next {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    margin-left: 160px; }
  .slider-nav .count .current {
    font-size: 34px;
    font-weight: 500;
    margin-right: 5px; }
  .slider-nav .count .all {
    font-size: 20px;
    color: #C3C5CE;
    margin-left: 5px; }

/* Products section */
.s-products__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px; }
.s-products .products {
  margin-left: -10px;
  margin-right: -10px; }
.s-products .product {
  margin-left: -20px;
  width: calc(100% / 3 + 20px); }
.s-products .products-wrapper {
  width: 100%; }

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }
  .products-filter {
    min-width: 330px;
    padding-right: 70px; }

.product {
  padding: 24px 20px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  position: relative; }
  .product-name {
    font-size: 20px;
    font-weight: bold;
    font-family: Philosopher, sans-serif;
    margin-top: 9px; }
  .product-desc {
    color: #828282;
    margin-top: 7px; }
  .product-price {
    font-size: 22px;
    margin-top: 16px;
    font-weight: 700; }
    .product-price.new .current {
      color: #FF3F52; }
    .product-price.new .old {
      text-decoration: line-through;
      color: #A9A9B6;
      font-size: 16px;
      margin-left: 16px; }
  .product-labels {
    position: absolute;
    top: 10px;
    left: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -6px; }
    .product-labels .item {
      padding: 10px 16px;
      margin: 0 6px; }
      .product-labels .item.red {
        background-color: #FF3F52;
        color: #fff; }
      .product-labels .item.green {
        background-color: #16A653;
        color: #fff; }
  .product-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -5px;
    margin-top: 20px;
    max-height: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    overflow: hidden; }
    .product-form > * {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      margin: 0 5px; }
    .product-form .ui-button {
      padding-top: 10px;
      padding-bottom: 10px; }
  .product:hover {
    -webkit-box-shadow: 0px 0px 10px rgba(77, 52, 52, 0.1);
            box-shadow: 0px 0px 10px rgba(77, 52, 52, 0.1);
    background-color: #fff; }
    .product:hover .product-form {
      max-height: 10rem; }

.more-products {
  width: 100%;
  border: 1px solid #E0E2EA;
  border-radius: 30px;
  height: 57px;
  color: #FF3F52;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px;
  text-align: center; }

.products-filter .ui-slider .caption {
  margin-bottom: 25px; }
.products-filter .caption {
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 40px; }
.products-filter .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/* Contacts */
.s-contacts .container {
  position: relative; }
.s-contacts .map {
  min-height: 475px;
  width: 100%;
  overflow: hidden;
  background: url(../images/map.jpg) center center no-repeat;
  background-size: cover;
  margin-top: 70px; }
.s-contacts .contacts {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  border: 1px solid #E0E2EA;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px; }
  .s-contacts .contacts .title {
    font-family: Philosopher, sans-serif;
    font-size: 24px;
    font-weight: bold; }
  .s-contacts .contacts .image {
    margin-top: 30px;
    margin-bottom: 20px; }
  .s-contacts .contacts .caption {
    margin-top: 20px;
    color: #A9A9B6; }
  .s-contacts .contacts p {
    margin-top: 5px; }
  .s-contacts .contacts .phone {
    margin-top: 45px; }
  .s-contacts .contacts .phone, .s-contacts .contacts .email {
    font-size: 24px;
    font-weight: bold; }
    .s-contacts .contacts .phone:hover, .s-contacts .contacts .email:hover {
      color: #FF3F52; }
  .s-contacts .contacts .email {
    margin-top: 20px; }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -6px;
  margin-top: 50px; }
  .socials > a {
    width: 38px;
    height: 38px;
    background-color: #FF3F52;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 6px; }

/* Footer */
.footer {
  padding-bottom: 70px;
  margin-top: -20px; }
  .footer__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 350px; }
  .footer__copy {
    margin-left: auto;
    padding-right: 130px;
    color: #A9A9B6; }

.developers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 19px; }
  .developers img {
    margin-left: 25px; }

@media screen and (max-width: 1440px) {
  .product-slider {
    padding-left: 0; } }
@media screen and (max-width: 1152px) {
  .header-nav {
    display: none; }

  .header-call {
    margin-left: auto; }

  .slider-nav {
    bottom: -70px;
    right: 10%; }

  .s-contacts .contacts {
    right: 30px; } }
@media screen and (max-width: 1024px) {
  .product-slider {
    width: 100vw; }

  .product-slider .image-wrapper {
    width: 30%; }

  .product-slider .item .col:nth-child(2) {
    padding-left: 50px;
    padding-top: 0;
    min-width: initial; }

  .footer__grid {
    padding-right: 0;
    padding-top: 70px; }

  .footer__copy {
    padding-right: 30px; }

  .slider-nav {
    right: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
@media screen and (max-width: 800px) {
  .s-products__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .s-products .product {
    margin-left: 0;
    width: calc(100% / 3); }

  .product-slider .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .product-slider .image-wrapper {
    width: 55%; }

  .product-slider .item .name {
    margin-top: 10px; }

  .product-slider {
    width: auto; }

  .s-main img {
    -webkit-transform: scale(0.6);
            transform: scale(0.6); } }
@media screen and (max-width: 576px) {
  .header-basket {
    display: none; }

  .section {
    padding-top: 50px;
    padding-bottom: 50px; }

  .product-slider {
    margin-top: 50px;
    margin-bottom: 50px; }

  h2 {
    font-size: 38px; }

  .s-main {
    min-height: initial;
    padding-bottom: 130%; }

  .s-products .product {
    width: 100%; }

  .s-products .product-img img {
    width: 100%; }

  .s-products .products {
    margin-left: 0;
    margin-right: 0; }

  .s-contacts .contacts {
    margin-top: 30px;
    position: relative;
    right: 0;
    width: auto; }

  .footer__grid {
    padding-right: 0;
    padding-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .product-slider .image-wrapper {
    width: 100%; }

  .slider-nav .prev {
    margin-right: 10vw; }

  .slider-nav .next {
    margin-left: 10vw; }

  .footer__copy {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .developers {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 20px; } }
@media screen and (max-width: 425px) {
  .header-location {
    display: none; } }
@media screen and (max-width: 375px) {
  .header-location {
    display: none; }

  .header {
    padding-top: 10px; }

  .product-slider .image-wrapper {
    width: 100%; }

  .product-slider .item .col:nth-child(2) {
    padding-left: 0; }

  .slider-nav .prev, .slider-nav .next {
    min-width: 40px; }

  .slider-nav .next {
    margin-left: 10%; }

  .slider-nav .prev {
    margin-right: 10%; }

  .section__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

  .products-filter {
    min-width: 100%;
    padding-right: 0; }

  .s-products__grid {
    margin-top: 10px; }

  .products-filter .caption {
    margin-top: 30px; } }
