<footer class="footer">
    <div class="footer--bg">
        <div class="footer--wrapper">
            <div class="footer-logo ainimated"><img src="images/logo.svg" alt=""></div>
            <div class="footer-socialNetwork socialNetwork ainimated">
                <a href="#">
                     <svg 
                       style="width: 1.31rem; height: 0.75rem;"> 
                        <use xlink:href="#vk"></use>
                    </svg>
                 </a>
                <a href="#">
                     <svg 
                       style="width: 0.56rem; height: 1.125rem;"> 
                        <use xlink:href="#fb"></use>
                    </svg>
                 </a>
                <a href="#">
                     <svg 
                       style="width: 1.25rem; height: 1.25rem;"> 
                        <use xlink:href="#insta"></use>
                    </svg>
                 </a>
                <a href="#">
                     <svg 
                       style="width: 1.25rem; height: 1.25rem;"> 
                        <use xlink:href="#telega"></use>
                    </svg>
                 </a>
                <a href="#">
                     <svg 
                       style="width: 1.125rem; height: 1.125rem;"> 
                        <use xlink:href="#pint"></use>
                    </svg>
                 </a>
            </div>
            <p class="footer--copyright ainimated">© MARC CONY — обувь и аксессуары. <a href="#">Политика конфиденциальности</a></p>
            <a class="footer--iarga ainimated"><img src="images/iargaLogo.svg" alt=""></a>
        </div>
    </div>

</footer>