<header>
    <div class="hhead">
        <div class="wrapper">
            <a href="#" class="btMenu">
                <i></i>
            </a>
            <div class="menu">
                <a href="#" class="close js-close"><i></i></a>
                <div class="box">
                    <div class="boxB">
                        <div class="hmenu">
                            <img class="logoMenu" src="images/logo.svg" alt="" width="260px;">

                            <div class="city"><a href="#" class="js-openCity">Краснодар <span>изменить</span></a></div>
                            <div class="phone" style="background-image: url(images/call.svg);">
                                <a href="tel:+78612100206" class="tel">+7 (861) 210-02-06</a>
                                <span>Ежедневно с 9:00 до 21:00</span>
                            </div>
                        </div>
                        <div class="bmenu">
                            <ul class="menuList">
                                <li><a href="#">О Marc cony</a></li>
                                <li><a href="#">Доставка и оплата</a></li>
                                <li><a href="#">Возврат</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="fmenu" style="background-image: url(images/marсony.svg)">
                        <div class="socialNetwork">
                            <a href="#">
                                 <svg 
                                   style="width: 1.31rem; height: 0.75rem;"> 
                                    <use xlink:href="#vk"></use>
                                </svg>
                             </a>
                            <a href="#">
                                 <svg 
                                   style="width: 0.56rem; height: 1.125rem;"> 
                                    <use xlink:href="#fb"></use>
                                </svg>
                             </a>
                            <a href="#">
                                 <svg 
                                   style="width: 1.25rem; height: 1.25rem;"> 
                                    <use xlink:href="#insta"></use>
                                </svg>
                             </a>
                            <a href="#">
                                 <svg 
                                   style="width: 1.25rem; height: 1.25rem;"> 
                                    <use xlink:href="#telega"></use>
                                </svg>
                             </a>
                            <a href="#">
                                 <svg 
                                   style="width: 1.125rem; height: 1.125rem;"> 
                                    <use xlink:href="#pint"></use>
                                </svg>
                             </a>
                        </div>
                    </div>
                </div>
                <div class="menuCity">
                    <a href="#" class="backCity"></a>
                    <div class="citySearch">
                        <form>
                            <input type="text" class="citySearchText" placeholder="Введите название города">
                            <a href="#" class="citySearchBt">
                                <svg 
                                   style="width: 1.38rem; height: 1.38rem;"> 
                                    <use xlink:href="#search"></use>
                                </svg>
                            </a>
                        </form>
                        <ul class="listCity">
                            <li class="is-selected"><a href="#">Краснодар</a></li>
                            <li><a href="#">Анапа</a></li>
                            <li><a href="#">Новороссийск</a></li>
                            <li><a href="#">сочи</a></li>
                            <li><a href="#">Ростов-на-дону</a></li>
                            <li><a href="#">ставрополь</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <i class="bg"></i>
            <div class="logo"><img src="images/logo.svg" alt=""></div>
            <div class="control">
                <div class="search">
                    <a href="#" class="bt_search_open">
                        <svg 
                           style="width: 1.38rem; height: 1.38rem;"> 
                            <use xlink:href="#search"></use>
                        </svg>
                    </a>
                    <div class="hidd">
                        <a href="#" class="close js-close-search"><i></i></a>
                        <form>
                            <input type="text" class="input-search" placeholder="поиск по сайту">
                            <a href="#" class="bt_search">
                                <svg 
                                   style="width: 1.38rem; height: 1.38rem;"> 
                                    <use xlink:href="#search"></use>
                                </svg>
                            </a>
                        </form>
                        <div class="tooltip_open">
                            <div class="container_b">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="#" class="img"><img src="images/content/1.png" alt=""></a>
                                        </td>
                                        <td>
                                            <p class="art">арт: 123456</p>
                                            <a href="#" class="name">открытые Босоножки Macr Cony длинное название</a>
                                        </td>
                                        <td>
                                            <p class="price">
                                                <span class="old_price">11 500 <small>руб.</small></span>
                                                <span>9 990 <small>руб.</small></span>
                                            </p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#" class="img"><img src="images/content/2.png" alt=""></a>
                                        </td>
                                        <td>
                                            <p class="art">арт: 123456</p>
                                            <a href="#" class="name">Босоножки Macr Cony</a>
                                        </td>
                                        <td>
                                            <p class="price">
                                                <span>9 990 <small>руб.</small></span>
                                            </p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#" class="img"><img src="images/content/3.png" alt=""></a>
                                        </td>
                                        <td>
                                            <p class="art">арт: 123456</p>
                                            <a href="#" class="name">черные кожаные Босоножки Macr Cony</a>
                                        </td>
                                        <td>
                                            <p class="price">
                                                <span class="old_price">11 500 <small>руб.</small></span>
                                                <span>9 990 <small>руб.</small></span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="img"><img src="images/content/1.png" alt=""></a>
                                        </td>
                                        <td>
                                            <p class="art">арт: 123456</p>
                                            <a href="#" class="name">открытые Босоножки Macr Cony длинное название</a>
                                        </td>
                                        <td>
                                            <p class="price">
                                                <span class="old_price">11 500 <small>руб.</small></span>
                                                <span>9 990 <small>руб.</small></span>
                                            </p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#" class="img"><img src="images/content/2.png" alt=""></a>
                                        </td>
                                        <td>
                                            <p class="art">арт: 123456</p>
                                            <a href="#" class="name">Босоножки Macr Cony</a>
                                        </td>
                                        <td>
                                            <p class="price">
                                                <span>990 <small>руб.</small></span>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                <a href="#" class="link">
                                    <span>смотреть все результаты</span>
                                    <svg 
                                       style="width: 1.25rem; height: 0.94rem;"> 
                                        <use xlink:href="#arrow-right-left"></use>
                                    </svg>                                    
                                </a>
                            </div>
                        </div>
                        <!--/.tooltip_open-end-->
                    </div>
                    <!--/.tooltip_open-end-->
                </div>
                <a href="#" class="lk">
                    <svg 
                       style="width: 1.188rem; height: 1.38rem;"> 
                        <use xlink:href="#lk"></use>
                    </svg>
                </a>
                <a href="#" class="like">
                    <svg 
                       style="width: 1.44rem; height: 1.38rem;"> 
                        <use xlink:href="#like"></use>
                    </svg>
                </a>
                <div class="basket">
                    <a href="#" class="btBasket">
                        <svg 
                           style="width: 1.56rem; height: 1.88rem;"> 
                            <use xlink:href="#basket"></use>
                        </svg>
                    </a>
                    <div class="basketBox">
                        <div class="scrollCastom">
                            <div class="box">
                                <div class="boxB">
                                    <a href="#" class="close js-close"><i></i></a>
                                    <p class="title">корзина</p>
                                    <div class="price">
                                        <p>1 500 руб. за 3 товара</p>
                                    </div>
                                    <div class="scroll">
                                        <table class="tableBasket">
                                            <tr>
                                                <td>
                                                    <a href="#" class="img"><img src="images/content/4.jpg" alt=""></a>
                                                    <a href="#" class="rem">
                                                        <i></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <p class="art">арт: 123456</p>
                                                    <a href="#" class="name">Босоножки Macr Cony</a>
                                                    <dl>
                                                        <dt>размер:</dt>
                                                        <dd>38</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Цвет:</dt>
                                                        <dd>розовый</dd>
                                                    </dl>
                                                </td>
                                                <td>
                                                    <p class="price">
                                                        <span class="oldPrice">11 500 <small>руб.</small></span>
                                                        <span>9 990 <small>руб.</small></span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="img"><img src="images/content/4.jpg" alt=""></a>
                                                    <a href="#" class="rem">
                                                        <i></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <p class="art">арт: 123456</p>
                                                    <a href="#" class="name">Босоножки Macr Cony</a>
                                                    <dl>
                                                        <dt>размер:</dt>
                                                        <dd>38</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Цвет:</dt>
                                                        <dd>розовый</dd>
                                                    </dl>
                                                </td>
                                                <td>
                                                    <p class="price">
                                                        <span class="oldPrice">11 500 <small>руб.</small></span>
                                                        <span>9 990 <small>руб.</small></span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#" class="img"><img src="images/content/4.jpg" alt=""></a>
                                                    <a href="#" class="rem">
                                                        <i></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <p class="art">арт: 123456</p>
                                                    <a href="#" class="name">Босоножки Macr Cony</a>
                                                    <dl>
                                                        <dt>размер:</dt>
                                                        <dd>38</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt>Цвет:</dt>
                                                        <dd>розовый</dd>
                                                    </dl>
                                                </td>
                                                <td>
                                                    <p class="price">
                                                        <span class="oldPrice">11 500 <small>руб.</small></span>
                                                        <span>9 990 <small>руб.</small></span>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="fbasket" style="background-image: url(images/marсony.svg)">
                                    <div class="basketRegistration">
                                        <div class="sumBox">
                                            1 500 руб. за 3 товара
                                            <span>стоимость доставки не включена</span>
                                            <div class="boxBt">
                                                <a href="#" class="button border js-click">купить в 1 клик</a>
                                                <a href="#" class="button">оформить заказ</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.control-->
        </div>
        <!--/.wrapper-->
    </div>
    <!--/.hhead-->
    <div class="wrapper">
        <nav class="menuCatalog">
            <ul class="list">
                <li class="firstLvl">
                    <a href="#"><img src="images/percent.svg" alt="">SALE</a>
                    <div class="secindLvl">
                        <ul class="littleList">
                            <li class="boxBig" style="background-image: url(images/content/menu/2.jpg)">
                                <a href="#" class="btMenuWh">женщинам</a>
                            </li>
                            <li class="boxBig" style="background-image: url(images/content/menu/3.jpg)">
                                <a href="#" class="btMenuWh">мужчинам</a>
                            </li>                            
                        </ul>
                    </div>
                </li>
                <li class="firstLvl">
                    <a href="#">ЖЕНЩИНАМ</a>
                    <div class="secindLvl">
                        <div class="bigList">
                            <ul class="container">
                                <li class="box">
                                    <a href="#" class="title">обувь</a>
                                    <ul class="column">
                                        <li><a href="#">Балетки</a></li>
                                        <li><a href="#">Босоножки</a></li>
                                        <li><a href="#">Ботинки</a></li>
                                        <li><a href="#">Ботильоны</a></li>
                                        <li><a href="#">Ботфорты</a></li>
                                        <li><a href="#">Кеды</a></li>
                                        <li><a href="#">Кроссовки</a></li>
                                        <li><a href="#">Мокасины</a></li>
                                        <li><a href="#">Сабо</a></li>
                                        <li><a href="#">Сандалии</a></li>
                                        <li><a href="#">Сапоги</a></li>
                                        <li><a href="#">Туфли</a></li>
                                        <li><a href="#">Шлепки</a></li> 
                                    </ul>
                                </li>
                                <li class="box">
                                    <a href="#" class="title">сумки</a>
                                    <ul class="column">
                                        <li><a href="#">Кошелек</a></li>
                                        <li><a href="#">Палантин</a></li>
                                        <li><a href="#">Парео</a></li>
                                        <li><a href="#">Ремень</a></li>
                                        <li><a href="#">Шляпа</a></li>
                                        <li><a href="#">Шарф</a></li>
                                        <li><a href="#">Шапка</a></li>
                                        <li><a href="#">Перчатки</a></li>
                                        <li><a href="#">Платок</a></li>
                                    </ul>
                                </li>
                                <li class="box">
                                    <a href="#" class="title">аксессуары</a>
                                    <ul class="column">
                                        <li><a href="#">Клатч</a></li>
                                        <li><a href="#">Рюкзак</a></li>
                                        <li><a href="#">Сумка</a></li>
                                        <li><a href="#">Сумка поясная</a></li>
                                        <li><a href="#">Шляпа</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="img"><img src="images/content/menu/1.jpg" alt=""></div>
                        </div>
                    </div>
                </li>
                <li class="firstLvl">
                    <a href="#">МУЖЧИНАМ</a>
                    <div class="secindLvl">
                        <div class="bigList">
                            <ul class="container">
                                <li class="box">
                                    <a href="#" class="title">обувь</a>
                                    <ul class="column">
                                        <li><a href="#">Балетки</a></li>
                                        <li><a href="#">Босоножки</a></li>
                                        <li><a href="#">Ботинки</a></li>
                                        <li><a href="#">Ботильоны</a></li>
                                        <li><a href="#">Ботфорты</a></li>
                                        <li><a href="#">Кеды</a></li>
                                        <li><a href="#">Кроссовки</a></li>
                                        <li><a href="#">Мокасины</a></li>
                                        <li><a href="#">Сабо</a></li>
                                        <li><a href="#">Сандалии</a></li>
                                        <li><a href="#">Сапоги</a></li>
                                        <li><a href="#">Туфли</a></li>
                                        <li><a href="#">Шлепки</a></li> 
                                    </ul>
                                </li>
                                <li class="box">
                                    <a href="#" class="title">сумки</a>
                                    <ul class="column">
                                        <li><a href="#">Кошелек</a></li>
                                        <li><a href="#">Палантин</a></li>
                                        <li><a href="#">Парео</a></li>
                                        <li><a href="#">Ремень</a></li>
                                        <li><a href="#">Шляпа</a></li>
                                        <li><a href="#">Шарф</a></li>
                                        <li><a href="#">Шапка</a></li>
                                        <li><a href="#">Перчатки</a></li>
                                        <li><a href="#">Платок</a></li>
                                    </ul>
                                </li>
                                <li class="box">
                                    <a href="#" class="title">аксессуары</a>
                                    <ul class="column">
                                        <li><a href="#">Клатч</a></li>
                                        <li><a href="#">Рюкзак</a></li>
                                        <li><a href="#">Сумка</a></li>
                                        <li><a href="#">Сумка поясная</a></li>
                                        <li><a href="#">Шляпа</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="img"><img src="images/content/menu/1.jpg" alt=""></div>
                        </div>
                    </div>
                </li>
                <li class="firstLvl">
                    <a href="#">NEW</a>
                    <div class="secindLvl">
                        <ul class="littleList">
                            <li class="boxBig" style="background-image: url(images/content/menu/2.jpg)">
                                <a href="#" class="btMenuWh">женщинам</a>
                            </li>
                            <li class="boxBig" style="background-image: url(images/content/menu/3.jpg)">
                                <a href="#" class="btMenuWh">мужчинам</a>
                            </li>                            
                        </ul>
                    </div>
                </li>
                <li class="firstLvl"><a href="#">САЛОНЫ</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="oneClickBox">
    <div class="scrollCastom">
        <div class="box">
            <div class="boxB">
                <a href="#" class="close js-close"><i></i></a>
                <p class="title">купить в 1 клик</p>
                <div class="price">
                    <p>1 500 руб. за 3 товара</p>
                </div>
                <div class="scroll">
                    <div class="formBox">
                        <form class="Valid">
                            <label class="input-box">
                                <input type="text" class="input-text-bot" required data-msg-required="Введите Имя" name="name" placeholder="Имя">
                            </label>
                            <label class="input-box">
                                <input type="text" class="input-text-bot" required data-msg="Неверная почта" data-msg-required="Введите почту" name="telMail" placeholder="Телефон или e-mail">
                            </label>
                            <input type="submit" class="button" value="отправить заказ">
                        </form>
                        <p class="consent">Нажимая кнопку "Отправить" вы даете свое согласие с
                            <a href="#">Политикой конфиденциальности</a></p>
                    </div>
                </div>
            </div>
            <div class="fbasket" style="background-image: url(images/marсony.svg)">
                <div class="basketRegistration">
                    <div class="sumBox">
                        1 500 руб. за 3 товара
                        <span>стоимость доставки не включена</span>
                    </div>
                    <div class="text-center">
                        <a href="#" class="link js-basket">
                            <svg class="ar-l"
                               style="width: 1.63rem; height: 1.19rem;"> 
                                <use xlink:href="#arrow-right-left"></use>
                            </svg>
                            <span>назад в корзину</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>