<script src="js/jquery.js"></script>
<script src="js/modernizr-custom.js"></script>
<script src="js/validate.min.js"></script>
<script src="js/jquery.maskedinput.min"></script>
<script src="js/nospace.js"></script>
<script src="js/mmenu.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/paroller.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/jquery.mlens-1.7.min.js"></script>
<script src="js/svg-sprite.js"></script>
<script src="js/base.js"></script>
<script src="js/base-init.js"></script>