<div class="popup" id="sale">
    <p class="popup--title h1">узнать о снижении цены</p>
    <form class="Valid">
        <label class="input-box">
            <input type="text" class="input-text-bot" required="" data-msg-required="Введите Имя" name="name" placeholder="Ваше имя">
        </label>
        <label class="input-box">
            <input type="text" class="input-text-bot" required="" data-msg="Неверная почта" data-msg-required="Введите почту или телефон" name="telMail" placeholder="Телефон или e-mail">
        </label>
        <input type="submit" class="button" value="Отправить">
        <p class="inf">Нажимая кнопку "Отправить" вы даете свое согласие с <a href="#">Политикой конфиденциальности</a></p>
    </form>        
</div>
<div class="popup" id="size">
    <p class="popup--title h1">сообщим о&nbsp;появлении&nbsp;размера</p>
    <form class="Valid">
        <div class="goods--info-size">
            <p class="title-gray">выберите размер</p>
            <ul>
                <li class="checkbox radioSize">
                    <label>
                        <input type="radio" name="size">
                        <span>36</span>
                    </label>
                </li>
                <li class="checkbox radioSize">
                    <label>
                        <input type="radio" name="size">
                        <span>37</span>
                    </label>
                </li>
                <li class="checkbox radioSize">
                    <label>
                        <input type="radio" name="size">
                        <span>38</span>
                    </label>
                </li>
                <li class="checkbox radioSize">
                    <label>
                        <input type="radio" name="size">
                        <span>39</span>
                    </label>
                </li>
                <li class="checkbox radioSize">
                    <label>
                        <input type="radio" name="size">
                        <span>40</span>
                    </label>
                </li>
                <li class="checkbox radioSize">
                    <label>
                        <input type="radio" name="size">
                        <span>41</span>
                    </label>
                </li>
            </ul>
        </div>
        <label class="input-box">
            <input type="text" class="input-text-bot" required="" data-msg-required="Введите Имя" name="name" placeholder="Ваше имя">
        </label>
        <label class="input-box">
            <input type="text" class="input-text-bot" required="" data-msg="Неверная почта" data-msg-required="Введите почту или телефон" name="telMail" placeholder="Телефон или e-mail">
        </label>
        <input type="submit" class="button" value="Отправить">
        <p class="inf">Нажимая кнопку "Отправить" вы даете свое согласие с <a href="#">Политикой конфиденциальности</a></p>
    </form>        
</div>
<div class="popup" id="presence">
    <p class="popup--title h1">наличие в салонах</p>
    <form class="Valid">
        <div class="salon">
            <select>
                <option value="Краснодар">Краснодар</option>
                <option value="">Анапа</option>
                <option value="Новороссийск">Новороссийск</option>
                <option value="сочи">сочи</option>
                <option value="Ростов-на-дону">Ростов-на-дону</option>
                <option value="ставрополь">ставрополь</option>
            </select>
            <p class="title-gray">выберите салон</p>
            <div class="checkboxCont">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">
                        <span>Красная площадь</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox">
                        <span>Галерея</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox">
                        <span>Oz Молл</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="goods--info-size">
            <p class="title-gray">выберите размер</p>
            <ul>
                <li class="checkbox radioSize">
                    <label>
                        <input type="radio" name="size">
                        <span>36</span>
                    </label>
                </li>
                <li class="checkbox radioSize">
                    <label>
                        <input type="radio" name="size">
                        <span>37</span>
                    </label>
                </li>
                <li class="checkbox radioSize">
                    <label>
                        <input type="radio" name="size">
                        <span>38</span>
                    </label>
                </li>
                <li class="checkbox radioSize">
                    <label>
                        <input type="radio" name="size">
                        <span>39</span>
                    </label>
                </li>
                <li class="checkbox radioSize">
                    <label>
                        <input type="radio" name="size">
                        <span>40</span>
                    </label>
                </li>
                <li class="checkbox radioSize">
                    <label>
                        <input type="radio" name="size">
                        <span>41</span>
                    </label>
                </li>
            </ul>
            <p class="little-gray">Последнее обновление наличия — сегодня, 10:00</p>
            <p class="title-little">забронируйте товар</p>
        </div>
        <label class="input-box">
            <input type="text" class="input-text-bot" required="" data-msg-required="Введите Имя" name="name" placeholder="Ваше имя">
        </label>
        <label class="input-box">
            <input type="text" class="input-text-bot" required="" data-msg="Неверная почта" data-msg-required="Введите почту или телефон" name="telMail" placeholder="Телефон или e-mail">
        </label>
        <input type="submit" class="button" value="Отправить">
        <p class="inf">Нажимая кнопку "Отправить" вы даете свое согласие с <a href="#">Политикой конфиденциальности</a></p>
    </form>        
</div>
<div class="popup popup-big" id="size-info">
    <p class="popup--title h1">таблица размеров</p>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Длина стопы</th>
                    <th>25 см</th>
                    <th>25,5 см</th>
                    <th>26 см</th>
                    <th>26,5 см</th>
                    <th>27 см</th>
                    <th>27,5 см</th>
                    <th>28 см</th>
                    <th>28,5 см</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>rus</td>
                    <td>39</td>
                    <td>40</td>
                    <td>41</td>
                    <td>42</td>
                    <td>43</td>
                    <td>44</td>
                    <td>45</td>
                    <td>46</td>
                </tr>
                <tr>
                    <td>eur</td>
                    <td>40</td>
                    <td>41</td>
                    <td>42</td>
                    <td>43</td>
                    <td>44</td>
                    <td>45</td>
                    <td>46</td>
                    <td>47</td>
                </tr>
                <tr>
                    <td>uk</td>
                    <td>6,5</td>
                    <td>7,5</td>
                    <td>8</td>
                    <td>9</td>
                    <td>9,5</td>
                    <td>10,5</td>
                    <td>11,5</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>us</td>
                    <td>7</td>
                    <td>8</td>
                    <td>8,5</td>
                    <td>9,5</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>12,5</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="title-little">определите ваш размер</p>
    <ul class="size-info">
        <li>
            <div class="text">
                <p>Измерение лучше всего проводить в конце дня, когда размер ноги максимален.</p>
                <p>Поставьте стопу на лист бумаги и обведите по контуру. Желательно проводить измерения обеих ног. Ориентироваться следует на больший результат.</p>
                <div class="img"><img src="images/content/goods/4.jpg" alt=""></div>
            </div>
        </li>
        <li>            
            <div class="text">
                <p>Измерьте расстояние от крайней точки пятки до самого длинного пальца вашей стопы как показано на рисунке.</p>
                <p>Соотнесите полученные данные со значением в таблице размеров.</p>
            </div>
            <div class="img"><img src="images/content/goods/5.jpg" alt=""></div>
        </li>
    </ul>
</div>