<div class="subscription ainimated">
   <div class="subscription--wrapper">
       <p class="subscription-title h1">подписаться на рассылку</p>
       <form class="Valid">
           <label class="input-box">
               <input type="text" class="input-text" placeholder="ваш e-mail" name="email" required data-msg="Неверная почта" data-msg-required="Введите почту">
               <input type="submit" value=" " class="button-arrow">
           </label>
       </form>
       <p class="subscription-textLittle"><span>Нажимая кнопку "Отправить" вы даете свое согласие с <a href="#">Политикой конфиденциальности</a></span></p>
   </div>
</div>