@import url(../css/bootstrap-grid.css);
@import url(../css/animate.css);
@import url(../fonts/fonts.css);
@import url(../css/jquery.mCustomScrollbar.min.css);
@import url(../css/owl.carousel.min.css);
@import url(../css/jquery.datetimepicker.min.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::-moz-selection {
    color: #fff;
    background-color: #E8AEB2; }
  *::selection {
    color: #fff;
    background-color: #E8AEB2; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all .2s ease;
          transition: all .2s ease; }
  a:hover:not(.ui-button) {
    color: #E8AEB2; }

input, button, textarea {
  font-family: inherit; }

.font-dita-sweet {
  font-family: "Dita Sweet"; }

.font-mont {
  font-family: "Montserrat"; }

.title-stroke {
  font-family: "Dita Sweet" !important;
  color: #FEFAFA !important;
  -webkit-text-stroke: 1px #6f646a;
  font-weight: 100 !important;
  text-transform: uppercase; }

.text-line {
  position: relative;
  padding-left: 75px; }
  .text-line.line-center:before {
    top: 50%;
    margin-top: -1px; }
  .text-line.line-top:before {
    top: 13px;
    margin-top: -1px; }
  .text-line:before {
    content: '';
    height: 1px;
    background-color: #413239;
    width: 60px;
    display: block;
    position: absolute;
    left: 0px; }
  .text-line.line-small {
    padding-left: 45px; }
    .text-line.line-small:before {
      width: 30px; }

.text-brown {
  color: #413239; }

.ui-button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 25px 100px;
  border: 1px solid #413239;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
  background-color: transparent;
  -webkit-transition: all .2s ease;
          transition: all .2s ease; }
  .ui-button:hover {
    border-color: transparent;
    background-color: #413239;
    color: #fff; }
  .ui-button.is-small {
    padding: 25px 80px; }
  .ui-button.is--invert {
    background-color: #413239 !important;
    color: #fff !important; }
    .ui-button.is--invert:hover {
      background-color: transparent !important;
      border-color: #413239 !important;
      color: #413239 !important; }
.ui-input, .ui-text {
  padding: 15px 0;
  background-color: transparent;
  outline: none;
  border: none;
  font-weight: bold;
  border-bottom: 1px solid #959595;
  text-transform: uppercase;
  width: 100%;
  margin-top: 10px; }
  .ui-input::-webkit-input-placeholder, .ui-text::-webkit-input-placeholder {
    color: #585858; }
  .ui-input::-moz-placeholder, .ui-text::-moz-placeholder {
    color: #585858; }
  .ui-input:-ms-input-placeholder, .ui-text:-ms-input-placeholder {
    color: #585858; }
  .ui-input::placeholder, .ui-text::placeholder {
    color: #585858; }
  .ui-input-box {
    border: 1px solid #C0C0C0;
    padding: 25px 30px; }
.ui-date {
  background-image: url(../images/icon-select.svg);
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat; }
.ui-text {
  width: 100%;
  border: 1px solid #C0C0C0;
  padding: 30px;
  outline: none;
  font-family: inherit;
  font-weight: normal; }
.ui-checkbox {
  font-size: 11px;
  color: #787878; }
  .ui-checkbox input {
    display: none; }
  .ui-checkbox input + span {
    border: 1px solid #838383;
    border-radius: 2px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    opacity: .7;
    -webkit-transition: all .2s ease;
            transition: all .2s ease;
    background-position: center center;
    background-repeat: no-repeat; }
  .ui-checkbox input:checked + span {
    background-image: url(../images/icon-checkbox.svg); }
  .ui-checkbox input:invalid + span {
    border-color: red; }
  .ui-checkbox.is-lg {
    color: #000;
    font-size: 11px;
    line-height: 145%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: left;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .ui-checkbox.is-lg:hover > span {
      border-color: #413239; }
    .ui-checkbox.is-lg > span {
      border: 1px solid #E9D7D8;
      opacity: 1;
      width: 22px;
      min-width: 22px;
      height: 22px; }
.ui-modal {
  position: fixed;
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 6, 6, 0.4);
  overflow-y: auto;
  z-index: 100; }
  .ui-modal__close {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    top: -20px;
    font-size: 40px;
    font-family: inherit;
    outline: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 1;
    border: none;
    background-color: #fff;
    box-shadow: 0px 1px 6px -3px #413239;
    cursor: pointer; }
    .ui-modal__close:hover {
      color: #E8AEB2; }
  .ui-modal__content {
    max-width: 590px;
    width: 100%;
    background-color: #fff;
    padding: 105px 90px;
    text-align: center;
    position: relative; }
  .ui-modal__title {
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #413239; }
    .ui-modal__title.is-md {
      font-size: 38px; }
  .ui-modal__subtitle {
    margin: 30px 0 25px;
    font-size: 16px;
    line-height: 140%; }
  .ui-modal form input {
    font-weight: normal; }
  .ui-modal form button {
    width: 100%;
    margin-top: 35px; }
  .ui-modal .ui-checkbox {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: left;
    font-size: 11px;
    line-height: 146.28%;
    font-family: "Montserrat";
    letter-spacing: 0; }

.border-5 {
  border: 5px solid #E9D7D8; }

.border-10 {
  border: 10px solid #E9D7D8;
  opacity: .4; }

.image-border {
  position: relative; }
  .image-border:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -150px;
    left: -110px;
    z-index: -1;
    border: 10px solid #E9D7D8;
    opacity: .4; }

.image-layer {
  position: relative; }
  .image-layer:before {
    content: '';
    position: absolute;
    top: -35px;
    left: -45px;
    background-color: #EBEBEB;
    width: 98%;
    height: 98%;
    z-index: -1; }
  .image-layer.is-lb:before {
    left: -50px;
    top: initial;
    bottom: -50px; }

.section__title {
  font-family: "Montserrat";
  font-size: 90px;
  font-weight: 900;
  color: #413239;
  text-transform: uppercase;
  line-height: 1.2; }
  .section__title span {
    display: inline-block; }
  .section__title img {
    margin-bottom: 15px; }
  .section__title.is-md {
    font-size: 80px; }
.section__title-svg {
  margin-bottom: 30px; }
  .section__title-svg span {
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 20px; }
.section__text {
  font-size: 18px;
  text-transform: uppercase; }
.section__subtitle {
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 20px;
  font-family: "CG";
  font-weight: 100; }

html, body {
  overflow-x: hidden; }
  html.js-noscrolling, body.js-noscrolling {
    overflow-y: hidden; }

body {
  font-family: "CG", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.05em;
  background-color: #FEFAFA; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

container {
  display: block;
  max-width: 1170px;
  margin: 0 auto; }

#modal-question .ui-modal__content {
  max-width: 710px;
  padding-left: 130px;
  padding-right: 130px; }

.page-header {
  padding: 25px 50px 60px 50px;
  background-color: #F9F9F9;
  min-height: 790px;
  position: relative; }
  .page-header__content {
    padding-top: 120px; }
  .page-header__title {
    font-family: "Dita Sweet";
    font-size: 65px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 110%;
    color: #413239; }
    .page-header__title .title-stroke {
      color: #F9F9F9 !important; }
  .page-header__nav {
    position: absolute;
    top: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 10; }
    .page-header__nav ul li + li {
      margin-left: 30px; }
    .page-header__nav ul a {
      text-transform: uppercase;
      font-size: 14px;
      color: #000; }
      .page-header__nav ul a:hover {
        color: #E8AEB2; }
  .page-header__phone {
    position: absolute;
    right: 50px;
    top: 40px;
    font-size: 23px;
    letter-spacing: 0.1em;
    z-index: 10; }
  .page-header__social {
    position: absolute;
    bottom: 60px;
    left: 50px;
    z-index: 10; }
    .page-header__social a {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.05em; }
  .page-header__percent {
    position: absolute;
    right: 175px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 10; }
  .page-header__logo {
    position: relative;
    z-index: 10; }
  .page-header__subtitle {
    font-size: 15px; }
  .page-header__call {
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    bottom: 60px;
    right: 50px;
    z-index: 10; }
    .page-header__call svg, .page-header__call svg path {
      -webkit-transition: all .2s ease;
              transition: all .2s ease; }
    .page-header__call:hover svg, .page-header__call:hover svg path {
      fill: #E8AEB2; }

.header-slider {
  padding-top: 100px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .header-slider-item {
    height: 100%; }
  .header-slider .owl-stage-outer,
  .header-slider .owl-stage,
  .header-slider .owl-item {
    height: 100%; }
  .header-slider .owl-nav {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 10px 0;
    left: 0;
    bottom: 50px;
    z-index: 20; }
    .header-slider .owl-nav button + button {
      margin-left: 100px; }
    .header-slider .owl-nav button {
      outline: none;
      -webkit-transition: all .4s ease;
              transition: all .4s ease; }
    .header-slider .owl-nav button:hover {
      -webkit-transform: translateX(5px);
          -ms-transform: translateX(5px);
              transform: translateX(5px); }
    .header-slider .owl-nav button:first-child:hover {
      -webkit-transform: translateX(-5px);
          -ms-transform: translateX(-5px);
              transform: translateX(-5px); }
  .header-slider__count {
    position: absolute;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 47px;
    font-size: 25px;
    color: #413239;
    z-index: 11; }
    .header-slider__count .count {
      font-size: 18px; }

.section-1 {
  padding-top: 230px;
  background: url(../images/section-2-mask.png) top left no-repeat; }
  .section-1 .container {
    position: relative; }
  .section-1__text {
    max-width: 350px;
    margin-top: 35px; }
  .section-1__image {
    margin-left: -112px;
    position: relative;
    z-index: -1; }

.section-about__time {
  padding: 60px 50px 70px;
  max-width: 385px; }
  .section-about__time > span {
    text-transform: uppercase;
    font-size: 18px;
    height: 225px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .section-about__time .years {
    line-height: 1; }
    .section-about__time .years span {
      text-transform: uppercase;
      font-size: 18px; }
    .section-about__time .years .num {
      font-family: "Dita Sweet",sans-serif;
      font-size: 200px;
      color: #413239; }
.section-about__image {
  margin-top: 250px; }
  .section-about__image-text {
    margin-left: 60px;
    max-width: 415px; }
.section-about__title {
  margin-top: 240px; }
.section-about__button {
  padding-left: 75px;
  margin-top: 50px; }

.section-directions {
  padding-top: 130px; }
  .section-directions__content {
    margin-left: 75px;
    position: relative;
    padding: 55px 40px 20px 400px; }
  .section-directions__title {
    position: absolute;
    left: -200px;
    top: 105px;
    padding-left: 75px;
    font-size: 28px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    line-height: 1.4; }
    .section-directions__title .num {
      font-size: 330px;
      font-family: "Dita Sweet", sans-serif;
      line-height: .7;
      margin-right: 15px;
      color: #413239; }
  .section-directions__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .section-directions__item {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 50px; }
  .section-directions__item-icon {
    height: 85px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .section-directions__item-caption {
    margin-top: 13px;
    font-size: 20px;
    font-weight: bold; }
  .section-directions__item-text {
    margin-top: 15px;
    font-size: 18px; }

.section-education {
  padding-top: 130px; }
  .section-education__years {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 95px 40px 70px 75px;
    max-width: 485px;
    margin-top: 50px;
    height: 690px;
    overflow: hidden; }
    .section-education__years-item {
      font-size: 20px; }
      .section-education__years-item + .section-education__years-item {
        margin-top: 40px; }
    .section-education__years-caption {
      font-weight: bold; }
    .section-education__years-text {
      margin-top: 15px;
      font-size: 18px; }
  .section-education__title {
    margin-top: -60px;
    margin-left: -60px; }

.section-effective {
  padding-top: 160px; }
  .section-effective__image:before {
    background-color: #E9D7D8 !important; }
  .section-effective__content {
    padding-top: 50px;
    padding-left: 50px; }
  .section-effective-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px; }
    .section-effective-list__item {
      padding-left: 130px;
      position: relative; }
      .section-effective-list__item + .section-effective-list__item {
        margin-top: 45px; }
      .section-effective-list__item:not(.js-active):before {
        left: 100px;
        width: 0px; }
      .section-effective-list__item:before {
        content: '';
        -webkit-mask-image: url(../images/icon-arrow-left.svg);
                mask-image: url(../images/icon-arrow-left.svg);
        -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
        -webkit-mask-position: 10px 10px;
                mask-position: 10px 10px;
        background-color: #000;
        display: block;
        height: 30px;
        width: 100px;
        opacity: 0;
        position: absolute;
        left: 20px;
        top: 0;
        -webkit-transition: all .2s ease;
                transition: all .2s ease; }
      .section-effective-list__item:after {
        content: attr(data-count);
        position: absolute;
        left: 0px;
        top: 0;
        color: #000;
        font-size: 20px;
        font-weight: bold;
        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg); }
      .section-effective-list__item.js-active:before {
        opacity: 1; }
    .section-effective-list__caption {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer; }
    .section-effective-list__text {
      margin-top: 15px;
      font-size: 18px;
      display: none; }
    .section-effective-list__link {
      display: inline-block;
      margin-top: 15px;
      font-size: 18px;
      letter-spacing: 0.05em;
      border-bottom: 1px solid currentColor; }
  .section-effective__button {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px; }

.section-diagnostic {
  padding-top: 150px; }
  .section-diagnostic .container {
    position: relative; }
  .section-diagnostic__bg {
    position: relative;
    margin-top: 70px;
    left: -190px;
    background: url(../images/section-methods-bg.png) center center no-repeat;
    width: 1000px;
    height: 370px;
    -webkit-filter: grayscale(1);
            filter: grayscale(1); }
  .section-diagnostic__title {
    position: relative; }
  .section-diagnostic__subtitle {
    font-size: 18px;
    position: absolute;
    right: -55px;
    top: 140px;
    line-height: 170%; }
  .section-diagnostic__subtitle2 {
    font-size: 18px;
    line-height: 170%; }
  .section-diagnostic__text {
    max-width: 460px;
    font-size: 16px;
    font-weight: 100;
    font-family: "CG";
    text-transform: none;
    margin-top: 40px;
    padding-left: 75px;
    line-height: 160%; }
  .section-diagnostic__text2 {
    margin-top: 40px;
    font-size: 16px;
    padding-left: 95px; }
    .section-diagnostic__text2 p {
      margin-top: 15px; }
  .section-diagnostic__image {
    margin-left: 50px; }
    .section-diagnostic__image:before {
      background-color: #E9D7D8 !important; }
  .section-diagnostic__row2 {
    margin-top: 100px; }
  .section-diagnostic__button {
    margin-left: 95px;
    margin-top: 40px; }

.section-methods {
  padding-top: 145px; }
  .section-methods__subtitle {
    font-size: 18px;
    margin-top: 30px; }
  .section-methods-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 80px; }
    .section-methods-list:before {
      content: '';
      display: inline-block;
      width: 40px;
      height: 20px;
      background: url(../images/icon-slash.svg) center center no-repeat;
      position: relative;
      margin-right: 20px; }
    .section-methods-list li {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      -webkit-transition: all .2s ease;
              transition: all .2s ease; }
      .section-methods-list li:hover, .section-methods-list li.js-active {
        color: #E8AEB2; }
      .section-methods-list li + li:before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 1px;
        background-color: #000;
        vertical-align: middle;
        margin: 0 15px; }
  .section-methods__slider {
    height: 600px;
    overflow: hidden;
    margin-top: 80px; }
  .section-methods__content {
    display: none;
    margin-bottom: 50px; }
    .section-methods__content-right {
      padding-top: 100px;
      padding-left: 70px; }
  .section-methods__content-text {
    margin-top: 75px;
    position: relative; }
    .section-methods__content-text:before {
      content: '';
      width: 75px;
      height: 1px;
      background-color: #413239;
      position: absolute;
      top: -25px;
      left: 0; }
  .section-methods__content-title {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 50px;
    line-height: 140.04%;
    text-transform: uppercase;
    color: #413239;
    position: relative;
    left: -200px; }
  .section-methods-ready {
    margin-top: 155px; }
    .section-methods-ready__title {
      font-family: Montserrat;
      font-size: 28px;
      font-weight: 600;
      line-height: 140.04%;
      text-transform: uppercase;
      color: #413239; }
    .section-methods-ready__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .section-methods-ready__item {
      width: 50%;
      position: relative;
      padding-left: 150px;
      padding-right: 0px;
      margin-bottom: 70px; }
      .section-methods-ready__item:nth-child(2n) {
        padding-left: 125px; }
        .section-methods-ready__item:nth-child(2n):before {
          margin-left: 45px; }
      .section-methods-ready__item:before {
        content: attr(data-num);
        position: absolute;
        left: 0px;
        top: 0;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 100px;
        line-height: 1;
        margin-top: -10px;
        margin-left: 70px;
        text-transform: uppercase;
        color: #413239;
        text-align: right;
        width: 55px; }
      .section-methods-ready__item-caption {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold; }
      .section-methods-ready__item-text {
        margin-top: 40px;
        font-size: 15px;
        line-height: 172.5%;
        position: relative; }
        .section-methods-ready__item-text:before {
          content: '';
          display: block;
          position: absolute;
          top: -15px;
          left: 0;
          width: 50px;
          height: 1px;
          background-color: #413239; }

.section-reviews {
  padding-top: 100px;
  padding-bottom: 140px; }
  .section-reviews-list {
    margin-top: -75px;
    border-left: 1px solid #d7d7d7;
    padding-left: 29px; }
    .section-reviews-list__item {
      position: relative; }
      .section-reviews-list__item:before, .section-reviews-list__item:after {
        content: '';
        position: absolute;
        top: 0;
        left: -30px; }
      .section-reviews-list__item:after {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid #D7D7D7;
        top: 35px;
        margin-left: -6px;
        background-color: #fefafa; }
      .section-reviews-list__item + .section-reviews-list__item {
        margin-top: 50px; }
      .section-reviews-list__item-date {
        padding-top: 29px;
        color: #8E8E8E;
        font-size: 14px;
        text-transform: uppercase; }
      .section-reviews-list__item-title {
        margin-top: 20px;
        font-family: "YO";
        font-size: 23px;
        letter-spacing: 0.05em;
        text-transform: uppercase; }
      .section-reviews-list__item-info {
        margin-top: 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
      .section-reviews-list__item-photo {
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 20px; }
        .section-reviews-list__item-photo img {
          object-fit: cover;
          width: 100%;
          height: 100%; }
      .section-reviews-list__item-name {
        font-size: 15px; }
      .section-reviews-list__item-direction {
        font-size: 12px;
        color: #E8AEB2; }
      .section-reviews-list__item-text {
        margin-top: 15px;
        font-size: 18px;
        line-height: 170%; }
      .section-reviews-list__item-button {
        margin-top: 20px; }
        .section-reviews-list__item-button a {
          padding: 15px 50px; }
      .section-reviews-list__item-more {
        display: none; }

.page-footer {
  background-color: #E9D7D8;
  padding: 75px 0 0; }
  .page-footer__row {
    margin-top: 50px; }
  .page-footer__title {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 50px;
    color: #413239;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1; }
  .page-footer__caption {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px; }
  .page-footer__phone {
    font-size: 20px;
    font-weight: bold; }
  .page-footer__social {
    margin-top: 20px; }
    .page-footer__social a + a {
      margin-left: 35px; }
  .page-footer__form {
    margin-top: 30px; }
    .page-footer__form-title {
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 40px;
      text-align: center; }
    .page-footer__form-button {
      padding: 20px 80px;
      width: 100%;
      margin-top: 25px; }

#map {
  margin-top: 60px; }
  #map iframe {
    width: 100%;
    height: 500px; }

@media screen and (max-width: 1440px) {
  .header-slider-item {
    background-position: 100% bottom !important;
    background-size: 75% !important; } }
@media screen and (max-width: 1366px) {
  .section__title {
    font-size: 75px; } }
@media screen and (max-width: 1024px) {
  .section__title {
    font-size: 62px; }

  .section__title.is-md {
    font-size: 58px; }

  .section-1 {
    background-image: none;
    padding-top: 100px; }

  .section-1__image {
    margin-left: 0; }

  .section-about__image {
    margin-top: 0; }

  .section-about {
    padding-top: 100px; }

  .section-about__title {
    margin-top: 40px; }

  .section-methods__slider {
    height: auto; }

  .section-directions__title {
    left: -140px; }

  .section-education__years {
    padding: 30px;
    margin-top: 0;
    max-width: 390px;
    height: 490px;
    margin-left: 15px; }

  .section-effective__title {
    font-size: 48px; }

  .section-effective-list__caption {
    font-size: 16px; }

  .section-effective-list__item:before {
    width: 50px; }

  .section-effective-list__item {
    padding-left: 75px; }

  .section-effective-list__text {
    font-size: 14px; }

  .section-diagnostic {
    padding-top: 50px; }

  .section-diagnostic__bg {
    background-size: contain; }

  .section-diagnostic__subtitle {
    right: 0px;
    top: 80px; }

  .section-diagnostic__row2 {
    margin-top: 0; }

  .section-methods {
    padding-top: 100px; }

  .section-methods-list li {
    font-size: 14px; }

  .section-methods__subtitle {
    margin-top: 15px; }

  .section-methods-ready {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px; }

  .section-methods-ready > div {
    max-width: 100%; }

  .section-methods-ready > div + div {
    margin-top: 50px; }

  .section-reviews-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 0;
    border-left: none;
    padding-left: 0;
    margin-left: -20px; }

  .section-reviews-list > div {
    max-width: 50%;
    margin-bottom: 0px;
    padding: 30px; }
    .section-reviews-list > div:after {
      display: none; }

  .section-reviews-list__item + .section-reviews-list__item {
    margin-top: 0; }

  .section-reviews-list__item-title {
    font-size: 20px; }

  .section-reviews-list__item-text {
    font-size: 15px; }

  .page-footer {
    zoom: .8; } }
@media screen and (max-width: 800px) {
  .page-header__nav {
    display: none; }

  .page-header__content {
    padding-top: 50px; }

  .page-header__percent {
    display: none; }

  .page-header {
    min-height: 640px; }

  .page-header__title {
    font-size: 48px; }

  .page-header {
    padding-left: 15px;
    padding-right: 15px; }

  .section-1__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }

  .section-1 .section__content {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

  .section-1 .section__content .section__title {
    font-size: 48px; }

  .section-1 .section__content > div:first-child {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }

  .section-1__image {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }

  .section-about .row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .section-about .row > div:nth-child(2) {
    margin: 100px auto 0; }

  .section-about__image-text {
    margin-left: 0; }

  .section-about__time {
    max-width: auto; }

  .section-about__button {
    padding-left: 0; }

  .section-directions__content {
    padding: 40px;
    margin-left: 0; }

  .section-directions__title {
    position: relative;
    top: 0;
    left: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-left: 0; }
    .section-directions__title .num {
      margin-bottom: 15px; }

  .section-directions__item {
    text-align: center; }

  .section-directions__item-icon {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .section-directions__list {
    margin-top: 40px; }

  .section-education .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

  .section-education .row > div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }

  .section-education__years {
    margin-top: 50px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    max-width: 95vw;
    margin-left: 0; }

  .section-education__image {
    text-align: center; }

  .section-education__title {
    margin-left: 0; }

  .section-effective {
    padding-top: 100px; }

  .section-effective .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .section-effective .row > div:nth-child(2) {
      max-width: 100%; }

  .section-effective .image-layer {
    margin: 0 auto; }

  .section-effective__content {
    padding-left: 15px;
    margin-top: 50px; }

  .section-diagnostic__title .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
    -webkit-align-items: flex-start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; }

  .section-diagnostic__subtitle {
    margin-top: 30px;
    position: relative;
    top: 0; }

  .section-diagnostic__bg {
    margin-top: 0; }

  .section-diagnostic__row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .section-diagnostic__row2 > div {
      max-width: 100%;
      text-align: center;
      margin-left: 0;
      padding-right: 0 !important; }
    .section-diagnostic__row2 > div:nth-child(2) {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .section-diagnostic__row2 > div:nth-child(1) {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }

  .section-about__image {
    text-align: center; }

  .image-layer:before {
    width: 110vw;
    left: -15px; }

  .section-diagnostic__subtitle2 {
    margin-left: 0;
    padding-left: 0; }

  .section-diagnostic__button {
    margin-left: 0; }

  .section-diagnostic__text2 {
    padding-left: 0;
    max-width: 80vw;
    margin: 30px auto; }

  .section-methods-list {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .section-methods-list > li {
      max-width: 50%;
      margin-bottom: 10px; }
    .section-methods-list > li:before {
      display: none !important; }

  .section-methods .section__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

  .section-methods-ready__item:before {
    margin-left: 5px; }

  .section-methods-ready__item {
    padding-left: 80px; }

  .section-methods-ready__item:nth-child(2n):before {
    margin-left: 20px; }

  .section-methods-ready__item:nth-child(2n) {
    padding-left: 100px; }

  .section-reviews {
    padding-top: 0; }

  .page-footer {
    zoom: 1; }

  .page-footer__row > div + div {
    margin-top: 20px; } }
@media screen and (max-width: 640px) {
  .section-1 .section__title {
    margin-top: 30px; }

  .section-directions {
    padding-top: 100px; }

  .section-directions__item {
    width: 100%; }

  .image-layer {
    text-align: center; }

  .section-methods__content-title {
    left: 0;
    font-size: 28px; }

  .section-methods__content-right {
    padding: 0;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px; }

  .section-methods__content-text {
    margin-top: 50px; }

  .section-methods-ready__item {
    width: 100%; }

  .section-methods-ready__item:nth-child(2n) {
    padding-left: 80px; }

  .section-methods-ready__item:nth-child(2n):before {
    margin-left: 0; }

  .section-methods-ready__item {
    margin-bottom: 50px; }

  .section-reviews-list > div {
    max-width: 100%; }

  .section-reviews-list__item-date {
    padding-top: 0; }

  .section-reviews {
    padding-bottom: 50px; }

  .section-methods-list:before {
    display: none; }

  .section-diagnostic__bg {
    display: none; }

  .section-diagnostic__row2 {
    margin-top: 50px; }

  .ui-modal {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }

  .ui-modal__close {
    top: -10px;
    right: -10px; }

  .ui-modal__content {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 90vw;
    padding: 20px; }

  .ui-modal__title {
    font-size: 28px;
    line-height: 1; }

  .ui-modal__subtitle {
    margin: 10px 0;
    font-size: 15px;
    line-height: 1.2; }

  #modal-question .ui-modal__content {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 90vw; } }
@media screen and (max-width: 425px) {
  .ui-button {
    padding: 15px 10px !important;
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .page-header__title {
    font-size: 36px; }

  .page-header__subtitle {
    padding-left: 0; }

  .page-header__subtitle:before {
    display: none; }

  .page-header__social,
  .page-header__call {
    display: none; }

  .header-slider-item {
    background-image: none !important; }

  .page-header__phone {
    display: none; }

  .section-1 {
    padding-top: 50px; }

  .section__title {
    font-size: 43px; }

  .section-1 .section__content .section__title {
    font-size: 34px; }

  .section-effective__button {
    padding: 20px 10px !important;
    width: 100%; }

  .text-line {
    padding-left: 0; }

  .text-line:before {
    display: none; }

  .text-line + * {
    padding-left: 0; }

  .section-diagnostic__subtitle {
    padding-left: 0; }

  .section-diagnostic__row2 > div {
    margin-left: -7.5px; }

  .section-methods__slider {
    margin-top: 30px; }

  .section__title span {
    margin-left: 0; }

  .page-footer .container > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .page-footer .container > .row > div {
      max-width: 100%; }

  .page-footer__form {
    margin-top: 50px; } }
@media screen and (max-width: 375px) {
  .section__title {
    font-size: 37px; } }
