@import url(../fonts/fonts.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
@import url(../css/owl.carousel.min.css);
@import url(../css/lightbox.min.css);
@import url(../css/old.min.css);
@import url(../css/old.adv-style.min.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  color: inherit;
  text-decoration: none; }

input, button, textarea {
  font-family: inherit; }

img {
  max-width: 100%; }

.w60 {
  width: 60%; }

html, body {
  overflow-x: hidden; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: auto;
  padding-top: 138px; }

.container {
  width: 100%;
  max-width: 1210px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 100%; }

p {
  line-height: 32px; }
  p + p {
    margin-top: 50px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 102;
  font-size: 14px; }
  .header .search__btn i {
    background: url(../images/search.svg) center center no-repeat; }
  .header .header__search * {
    font-family: inherit; }

.socialicon-vk {
  background: url(../images/vk.svg) center center no-repeat; }

.socialicon-inst {
  background: url(../images/insta.svg) center center no-repeat; }

.socialicon-facebook {
  background: url(../images/facebook.svg) center center no-repeat; }

.socialicon-tw {
  background: url(../images/twit.svg) center center no-repeat; }

.socialicon-ok {
  background: url(../images/ok.svg) center center no-repeat; }

.socialicon-telegram {
  background: url(../images/telegram.svg) center center no-repeat; }

.age18__icon {
  background: url(../images/18-min.png) center center no-repeat; }

.s-main {
  background-color: #063759;
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  z-index: 101 !important;
  position: relative;
  overflow: hidden; }
  .s-main:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(41, 51, 69, 0)), color-stop(0.01%, rgba(6, 55, 89, 0)), to(#063759));
    background-image: linear-gradient(180deg, rgba(41, 51, 69, 0) 0%, rgba(6, 55, 89, 0) 0.01%, #063759 100%);
    z-index: 3; }
  .s-main .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #063759;
    z-index: 1; }
    .s-main .bg .bg1,
    .s-main .bg .bg2,
    .s-main .bg .bg3 {
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
      width: calc(100% / 3);
      height: 100%;
      background-size: 1920px auto;
      background: url(../images/main-bg.jpg) no-repeat;
      background-position: 70% 135px !important;
      background-size: 1920px;
      background-attachment: fixed;
      z-index: 0; }
    .s-main .bg .bg1 {
      background-position: top center; }
    .s-main .bg .bg2 {
      left: calc(100% / 3 * 1);
      background-position: top center; }
    .s-main .bg .bg3 {
      left: calc(100% / 3 * 2);
      background-position: top center; }
  .s-main .container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    z-index: 5; }
  .s-main .grid {
    margin-top: auto; }
  .s-main .first {
    height: calc(100vh - 138px); }
  .s-main h1 {
    font-weight: 900;
    font-size: calc(32px + (64 - 32) * ((100vw - 320px) / (1920 - 320)));
    line-height: 72px;
    color: #fff;
    opacity: 0; }
  .s-main .users {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 19px -20px -15px;
    padding: 40px 0;
    opacity: 0; }
    .s-main .users > * {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 15px; }
  .s-main .desc {
    font-family: "Georgia", sans-serif;
    font-size: 24px;
    line-height: 40px;
    margin-top: 36px;
    padding-bottom: 72px; }
    .s-main .desc p + p {
      margin-top: 50px; }

.user {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-column-gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .user .img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    overflow: hidden; }
    .user .img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .user .name {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; }
  .user .text {
    font-family: "Georgia", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7); }

.section {
  padding-top: 63px; }
  .section__title {
    font-size: calc(32px + (40 - 32) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 900;
    line-height: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(48, 58, 74, 0.15);
    margin-bottom: 33px; }
  .section__title-fixed {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100; }
  .section.last {
    padding-bottom: 55px; }

.wrapper {
  padding-top: 0; }

body .wrapper > section {
  width: 100%;
  top: 0;
  left: 0; }
  body .wrapper > section.is-page {
    width: 100%; }
  body .wrapper > section:not(:first-child) {
    background-color: #fff; }
  body .wrapper > section:nth-child(1) {
    z-index: 6; }
  body .wrapper > section:nth-child(2) {
    z-index: 5; }
  body .wrapper > section:nth-child(3) {
    z-index: 4; }
  body .wrapper > section:nth-child(4) {
    z-index: 3; }
  body .wrapper > section:nth-child(5) {
    z-index: 2; }
  body .wrapper > section:nth-child(6) {
    z-index: 1; }

/* Article section */
.article-info-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  margin-top: 34px;
  margin-bottom: 45px; }
  .article-info-list.is-full {
    grid-template-columns: auto; }
.article-info__caption {
  line-height: 32px;
  font-family: "Georgia", sans-serif;
  color: #303A4A; }
.article-info__numbers {
  font-size: calc(48px + (64 - 48) * ((100vw - 320px) / (1920 - 320)));
  line-height: 72px;
  font-weight: 900; }
.article-info__desc {
  font-family: "Georgia", sans-serif;
  color: #303A4A;
  font-size: 14px;
  line-height: 24px;
  margin-top: 17px; }
.article .comment-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .article .comment-block .comment {
    width: 575px;
    position: relative;
    right: -185px;
    margin-top: 20px; }
.article .comment {
  font-size: 24px;
  line-height: 40px;
  font-family: "Georgia", sans-serif;
  padding-top: 40px;
  padding-bottom: 30px;
  position: relative; }
  .article .comment .before {
    height: 4px;
    width: 40%;
    background-color: #7C1911;
    position: absolute;
    top: 0;
    left: 0; }
  .article .comment .after {
    content: '';
    height: 1px;
    position: absolute;
    left: 0;
    width: 40%;
    bottom: 0;
    background-color: rgba(48, 58, 74, 0.15); }
  .article .comment.is-center {
    width: 100%;
    max-width: 880px;
    right: 0;
    text-align: center;
    padding-bottom: 50px;
    margin: 48px auto 41px; }
    .article .comment.is-center .before {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .article .comment.is-center .after {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }

.photo-slider,
.photo-block {
  margin-left: 64px;
  width: calc(80vw - 80px); }
  .photo-slider .item,
  .photo-block .item {
    height: auto;
    overflow: hidden;
    display: block; }
    .photo-slider .item img,
    .photo-block .item img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
  .photo-slider:hover img,
  .photo-block:hover img {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }

.slider-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 42px;
  margin-bottom: 42px; }
  .slider-grid .controls {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 64px;
    padding-bottom: 40px;
    padding-left: 32px;
    width: 20vw;
    min-width: 290px; }
    .slider-grid .controls .desc {
      margin-top: auto;
      font-size: 14px;
      line-height: 24px;
      font-family: "Georgia", sans-serif;
      color: #303A4A;
      text-align: right; }
    .slider-grid .controls .slider-counter, .slider-grid .controls b {
      text-align: right;
      font-weight: 700;
      font-size: 12px;
      margin-top: 5px;
      letter-spacing: 0.5px;
      line-height: 15px;
      color: rgba(10, 20, 36, 0.8); }

.slider-nav {
  margin-left: auto; }
  .slider-nav button {
    width: 40px;
    height: 60px;
    -webkit-mask: url(../images/slider-arrow.svg);
            mask: url(../images/slider-arrow.svg);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: 57px;
            mask-size: 57px;
    background-color: #7C1911;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    border: none;
    position: relative; }
    .slider-nav button:hover {
      width: 57px; }
  .slider-nav .prev {
    -webkit-mask-position: right center;
            mask-position: right center;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    position: relative; }
    .slider-nav .prev:hover {
      margin-left: -17px; }
  .slider-nav .next {
    margin-left: 52px;
    -webkit-mask-position: right center;
            mask-position: right center;
    left: 0; }
    .slider-nav .next:hover {
      left: 17px;
      margin-left: calc(52px - 17px); }

.full-container {
  margin-top: 72px;
  margin-bottom: -66px;
  overflow: hidden;
  height: auto; }
  .full-container a {
    display: block;
    width: 100%;
    height: auto; }
  .full-container img {
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 66px;
    display: block; }

.user-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px; }
  .user-comment .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 270px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .user-comment .user .info {
      margin-top: 16px; }
      .user-comment .user .info .text {
        color: rgba(48, 58, 74, 0.7); }
  .user-comment__info {
    margin-left: 32px;
    padding-top: 38px;
    padding-bottom: 47px;
    margin-bottom: 42px;
    position: relative;
    line-height: 32px; }
    .user-comment__info .before {
      content: '';
      height: 4px;
      width: 30%;
      background-color: #7C1911;
      top: 0;
      left: 0;
      position: absolute; }
    .user-comment__info .after {
      content: '';
      height: 1px;
      width: 30%;
      background-color: rgba(10, 20, 36, 0.15);
      bottom: 0;
      left: 0;
      position: absolute; }

.header__usershar {
  position: relative;
  left: 0; }

.menu {
  display: none; }

.footer {
  font-size: 14px; }

@media screen and (max-width: 1440px) {
  .article .comment-block .comment {
    right: 0;
    margin-left: 50px; }

  .photo-slider, .photo-block {
    width: 70vw; }
    .photo-slider .owl-dots, .photo-block .owl-dots {
      display: none; }

  .slider-grid .controls {
    width: 30vw; } }
@media screen and (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px; }

  .wrapper {
    position: relative;
    overflow: auto; }

  section {
    position: relative; }

  .article .comment-block .comment {
    margin-left: 50px;
    right: 0; }

  .photo-slider .item, .photo-block .item {
    height: auto; }

  .slider-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .photo-slider, .photo-block {
    margin-left: 0;
    width: 100%;
    margin-bottom: 20px; }

  .slider-grid .controls {
    width: 100%;
    padding-right: 32px; }

  .slider-grid .controls {
    margin-bottom: -32px; }
    .slider-grid .controls:after {
      content: '';
      display: block;
      height: 1px;
      background-color: rgba(48, 58, 74, 0.15);
      width: 100%;
      margin-top: 16px;
      left: 32px; }

  .full-container img {
    margin-bottom: 0; } }
@media screen and (max-width: 1023px) {
  body {
    padding-top: 73px; }

  .s-main {
    padding-top: 0; }

  .s-main .bg .bg1, .s-main .bg .bg2, .s-main .bg .bg3 {
    background-position: 70% 73px !important; }

  .s-main .first {
    height: calc(100vh - 73px); }

  .s-main {
    padding-top: 0; } }
@media screen and (max-width: 768px) {
  .s-main {
    min-height: initial; }

  .s-main h1 {
    line-height: normal; }

  .article-info-list {
    grid-template-columns: 1fr; }

  .article .comment-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .article .comment-block > * {
      width: 100%; }

  .article .comment-block .comment {
    margin-left: 0;
    margin-top: 30px; }

  .user-comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .user-comment__info {
    margin-top: 20px;
    margin-left: 0; } }
@media screen and (max-width: 767px) {
  body {
    padding-top: 48px; }

  .s-main .first {
    height: calc(100vh - 48px); }

  .s-main .bg .bg1, .s-main .bg .bg2, .s-main .bg .bg3 {
    background-position: 70% 48px !important; } }
@media screen and (max-width: 560px) {
  body {
    font-size: 16px; }

  p {
    line-height: 24px; }

  .s-main h1 {
    font-size: 24px; }

  .s-main .bg2,
  .s-main .bg3 {
    display: none; }

  .s-main .bg1 {
    width: 100% !important; }

  .user .text {
    line-height: normal; }

  .s-main .users {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 15px; }

  .s-main .users > * {
    margin-left: 0; }

  .s-main .desc {
    font-size: 18px;
    line-height: 32px;
    margin-top: 32px; }

  .s-main .desc p + p {
    margin-top: 20px; }

  p + p {
    margin-top: 20px; }

  .section__title {
    font-size: 24px;
    padding-bottom: 10px;
    line-height: 32px; }

  .section {
    padding-top: 20px; }

  .article-info__numbers {
    font-size: 40px;
    line-height: 48px; }

  .article-info__desc {
    margin-top: 0; }

  .article .comment-block .comment {
    font-size: 18px;
    line-height: 24px;
    width: 100%; }

  .slider-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .slider-grid .controls .desc,
  .slider-grid .controls .desc + * {
    text-align: left; }

  .user-comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .user-comment > *:nth-child(2) {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .user-comment > *:nth-child(1) {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }

  .user-comment__info {
    margin-left: 0;
    margin-top: 20px; }

  .article .comment {
    font-size: 18px;
    line-height: 24px;
    text-align: left; }

  .article .comment.is-center {
    text-align: left; }

  .article .comment.is-center .before,
  .article .comment.is-center .after {
    left: 0;
    -webkit-transform: none;
            transform: none; }

  .article .comment,
  .article .comment.is-center {
    padding-top: 18px;
    padding-bottom: 24px; }

  .s-main .grid {
    margin-left: -32px;
    margin-right: -32px;
    padding-left: 32px;
    padding-right: 32px; }

  .s-main .content {
    background-color: #063759; }

  .s-main .bg {
    position: relative;
    height: 50vh; }
    .s-main .bg:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(41, 51, 69, 0)), color-stop(0.01%, rgba(6, 55, 89, 0)), to(#063759));
      background-image: linear-gradient(180deg, rgba(41, 51, 69, 0) 0%, rgba(6, 55, 89, 0) 0.01%, #063759 100%);
      z-index: 3; }

  .s-main .first {
    min-height: 50vh;
    height: 50vh; }

  .slider-grid .controls:after {
    width: calc(100% - 32px); }

  .s-main .grid {
    margin-top: 0; }

  .s-main .bg .bg1, .s-main .bg .bg2, .s-main .bg .bg3 {
    background-size: cover;
    position: relative; }

  .slider-grid .controls .slider-nav {
    margin-top: -16px; }

  .photo-slider, .photo-block {
    height: auto; }
    .photo-slider iframe, .photo-block iframe {
      height: 100vw; }

  .full-container {
    margin-top: 24px;
    margin-bottom: 0; }

  .user-comment__info {
    line-height: 24px;
    margin-bottom: 24px;
    padding-bottom: 24px; }

  .user-comment > *:nth-child(1) {
    margin-bottom: 16px; } }
