h1{font-size: 80px;font-weight: 700;color: $dark-grey;}
h2{font-size: 60px;font-weight: 700;color: $dark-grey;}
h3{font-size: 55px;font-weight: 700;}
h4{font-size: 48px;font-weight: 300;}

h1.is-white,
h2.is-white,
h3.is-white,
h4.is-white{
   color: #fff;
}


.t-center{text-align: center;}
.t-left{text-align: left;}
.t-right{text-align: right;}
.b-centered{margin: 0 auto;}
.t-red{color: $red;}
.t-white{color: #fff;}
.text-columns{
   display: flex;
   & > *{
      padding: 30px 30px 30px 0;
      font-size: 16px;
      line-height: 1.4;
      color: $grey-caption;
   }
   &.columns-2 > *{flex-basis: 50%;}
   img.fl{float: left;margin-right: 30px;}

   & + .text-columns{
      margin-top:40px;
   }
   p{
      display: block;
      margin-top: 30px;
   }
   a{
      color: $red;
      text-decoration: underline;
      &:hover{text-decoration: none;}
   }
}
.t-upper{text-transform:uppercase; }


.p0{padding: 0 !important;}
.py20{padding: 20px 0;}
.px20{padding: 0 20px;}
.py30{padding: 30px 0;}
.px30{padding: 0 30px;}
.py40{padding: 40px 0;}
.px40{padding: 0 40px;}

.mg0{margin: 0;}
.mgy10{margin: 10px 0;}
.mgy20{margin: 20px 0;}
.mgy30{margin: 30px 0;}
.mgy40{margin: 40px 0;}


.fl{float:left;}
.fr{float: right;}


.hidden{display: none !important; }




/* FLEX COLUMNS */
.columns{
   display: flex;
   flex-wrap: wrap;
   & > *{flex: 1;}
}
.flex-column{
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;

   & > .flex-row{
      display: flex;
      padding: 0;
   }
}


/* BUTTONS LINKS */
.ui-button{
   display: inline-block;
   padding: 16px 55px 16px 45px;
   border: 3px solid #fff;
   font-size: 14px;
   text-decoration: none;
   text-transform: uppercase;
   position: relative;
   transition: all .1s linear;
   
   &:after{
      transition: all .1s linear;
   }
   &--white{
      background-color: transparent;
      color: #fff;
      &:after{
         content: '';
         background: url(../images/icon-white-button-arrow.png) no-repeat;
         width: 10px;
         height: 9px;
         position: absolute;
         top: 50%;
         display: block;
         margin-top: -5.5px;
         right: 10%;
      }
      &:hover,&.active{
         background-color: #fff;
         color: #000;
         &:after{
            background: url(../images/icon-black-button-arrow-right.png) no-repeat;
         }
      }
   }
   &--black{
      background-color: transparent;
      color: $grey-caption;
      border: 3px solid $grey-caption;
      &:after{
         content: '';
         background: url(../images/icon-black-button-arrow-right.png) no-repeat;
         width: 10px;
         height: 9px;
         position: absolute;
         top: 50%;
         display: block;
         margin-top: -5px;
         right: 15px;
      }
      &:hover,&.active{
         background-color: $grey-caption;
         color: #fff;
         &:after{
            background: url(../images/icon-white-button-arrow.png) no-repeat;
         }
      }
   }
   &--black-plus{
      background-color: transparent;
      color: $grey-caption;
      border: 3px solid $grey-caption;
      padding: 16px 30px 16px 45px;
      &:after{
         content: '+';
         color: #000;
         font-size: 21px;
         position: absolute;
         line-height: 50px;
         font-weight: bold;
         top: calc(50% - 27px);
         left: 20px;     
      }
      &:hover,&.active{
         background-color: $grey-caption;
         color: #fff;
         &:after{
            color: #fff;
         }
      }
   }
   &--black-down{
      background-color: transparent;
      color: $grey-caption;
      border: 3px solid $grey-caption;
      &:after{
         content: '';
         background: url(../images/icon-black-button-arrow.png) no-repeat;
         width: 10px;
         height: 9px;
         position: absolute;
         top: 50%;
         display: block;
         margin-top: -2.5px;
         right: 10%;
      }
      &:hover,&.active{
         background-color: $grey-caption;
         color: #fff;
         &:after{
            background: url(../images/icon-white-button-arrow.png) no-repeat;
            margin-top: -5px;
         }
      }
   }
   &--red{
      background-color: transparent;
      border-color: $red;
      color: $red;
      padding: 16px 45px;
      &:hover,&.active{
         background-color: $red;
         color: #fff;
         &:after{
            background: url(../images/icon-white-button-arrow.png) no-repeat;
         }
      }
   }
   &--red-right{
      background-color: transparent;
      border-color: $red;
      color: $red;
      padding: 16px 55px 16px 45px;
      &:after,&.active{
         content: '';
         background: url(../images/icon-red-button-arrow-right.png) no-repeat;
         width: 10px;
         height: 9px;
         position: absolute;
         top: 50%;
         display: block;
         margin-top: -5.5px;
         right: 10%;
      }
      &:hover{
         background-color: $red;
         color: #fff;

         &:after{
            background: url(../images/icon-white-button-arrow.png) no-repeat;
         }
      }
   }
   &--link{
      color: $red;
      text-decoration: underline;
      text-transform: none;
      font-size: 18px;
      padding: 0;
      &:after,&.active{
         content: '';
         background: url(../images/icon-red-button-arrow.png) no-repeat;
         width: 10px;
         height: 9px;
         position: absolute;
         top: 50%;
         display: block;
         margin-top: -1.5px;
         right: -17px;
      }
      &:hover:after{
         right: -17px;
         top: calc(50% + 1px);
      }
      &:hover{
         text-decoration: none;
      }
   }
}


.radio-button{
   img{display: inline-block;vertical-align: middle;margin-right: 10px;}
   label{
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      padding-left: 25px;
      cursor: pointer;
      margin: 5px 0;
      user-select: none;
      b{font-weight: 500;}
      &:before{
         content: '';
         background-image: url(../images/radio-button.png);
         background-repeat: no-repeat;
         background-size: contain;
         position: absolute;
         display: block;
         width: 20px;
         height: 21px;
         left: 0;
         top: calc(50% - 10.5px);
      }
   }
   input[type="radio"]{
      display: none;
   }
   input[type="radio"]:checked + label{
      &:before{
         background-image: url(../images/radio-button-active.png);
      }
   }
}
.checkbox-button{
   img{display: inline-block;vertical-align: middle;margin-right: 10px;}
   label{
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      padding-left: 25px;
      cursor: pointer;
      margin: 5px 0;
      user-select: none;
      b{font-weight: 500;}
      &:before{
         content: '';
         box-shadow: inset 0 0 0 1px #bbb;
         position: absolute;
         display: block;
         width: 18px;
         height: 18px;
         left: 0;
         top: 0;
      }
   }
   input[type="checkbox"]{
      display: none;
   }
   input[type="checkbox"]:checked + label{
      &:before{
         background-image: url(../images/checkbox-button.png);
         box-shadow: none;
      }
   }
}
select{
   display: inline-block;
   margin: 20px 0;
   background-image: url(../images/icon-black-button-arrow.png);
   background-position: calc(100% - 20px) center;
   background-repeat: no-repeat;
   background-color: #f2f2f3;
   padding: 20px 150px 20px 40px;
   font-size: 20px;
   font-style: italic;
   border: none;
   -webkit-appearance: none;
   position: relative;
   max-width: 100%;
   
   & + select{margin-left: 20px;}
   &.select--small{ padding: 20px 40px;}
}


/* ICONS */
.link-icon{
   position: relative;

   &.before{
      &:before{
         content: '';
         display: block;
         position: absolute;
         top: 50%;
      }
   }
}