/* IMPORTS */

@import "../fonts/fonts.css";

/* @import "../css/uikit.min.css"; */


/* RESET */

* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

button {
    cursor: pointer;
}


/* VARIABLES */

$red:#c92a2a;
$grey-caption:#1e1e1e;
$dark-grey:#212529;
$grey: #343a41;
$light-grey:#f2f2f3;
$text-grey:#868686;
$blue-grey: #727f8e;
@import "ui";

/* BODY */

html {
    zoom: .9;
    overflow-x: hidden;
}

body {
    font-family: "MyriadPro";
    font-size: 14px;
    font-weight: 400;
    overflow-x: hidden;
}

input,
textarea,
button {
    font-family: "MyriadPro";
}

::-webkit-input-placeholder {
    color: #212529;
    font-style: italic;
    font-family: sans-serif;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
::-moz-placeholder {
    color: #212529;
    font-style: italic;
    font-family: sans-serif;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent;
}


/* Firefox 19+ */

:-moz-placeholder {
    color: #212529;
    font-style: italic;
    font-family: sans-serif;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: transparent;
}

/* Firefox 18- */

:-ms-input-placeholder {
    color: #212529;
    font-style: italic;
    font-family: sans-serif;
}


/* CONTAINERS */

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.flexed {
    display: flex;
}


/* DEFAULT STYLES */

.slider {
    position: relative;
    * {
        outline: none;
    }
    &.slick-slider {
        user-select: auto;
    }
    /* СТРЕЛКИ */
    .slick-arrow {
        background-position: center center;
        border: none;
        background-color: transparent;
        color: transparent;
        font-size: 0;
        outline: none;
        position: absolute;
        top: calc(50% - 15px);
        z-index: 999;
        width: 30px;
        height: 30px;
        &:hover {
            background: url(../images/slider-button-active.png) no-repeat !important;
            background-position: right center !important;
        }
    }
    &.light-arrows {
        .slick-prev,
        .slick-next {
            background: url(../images/slider-button-light.png) no-repeat;
        }
    }
    .slick-prev {
        background: url(../images/slider-button.png) no-repeat;
        transform: rotate(180deg);
        left: -40px;
        &:hover {
            transform: rotate(0deg);
        }
    }
    .slick-next {
        background: url(../images/slider-button.png) no-repeat;
        right: -25px;
        &:hover {
            transform: rotate(180deg);
        }
    }
    /* DOTS */
    .slick-dots {
        display: flex;
        padding: 15px 0;
        background-color: #343a41;
        justify-content: center;
        align-items: center;
        margin-top: -2px;
        position: relative;
        z-index: 999;
        button {
            display: block;
            width: 5px;
            height: 5px;
            background-color: rgba(255, 255, 255, 0.8);
            border: none;
            font-size: 0;
            border-radius: 50%;
            outline: none;
        }
        li {
            margin-right: 20px;
        }
        .slick-active {
            button {
                width: 8px;
                height: 8px;
                background-color: #fff;
            }
        }
    }
    /* MINI SLIDER */
    &.mini-slider {
        display: flex;
        &.col3 {
            .item {
                flex-basis: 32%;
            }
        }
        &.col2 {
            .item {
                flex-basis: 50%;
            }
            .item+.item {
                margin-left: 20px;
            }
        }
        .item {
            &+.item {
                margin-left: 20px;
            }
            &:hover .img-wrapper .hidden-content {
                opacity: 1;
            }
            &:hover .item-caption {
                color: $red;
            }
            .img-wrapper {
                position: relative;
                width: 100%;
                height: 270px;
                overflow: hidden;
                img {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                }
                .hidden-content {
                    background-color: rgba(181, 181, 181, 0.8);
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    opacity: 0;
                    transition: all .1s linear;
                    .text {
                        font-size: 16px;
                        color: $grey-caption;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                    }
                }
            }
            &-caption {
                font-size: 20px;
                color: $grey-caption;
                font-weight: 500;
                text-transform: uppercase;
                margin: 25px 0 15px;
            }
            &-text {
                font-size: 16px;
                color: $grey-caption;
                line-height: 1.3;
            }
        }
    }
}
.gallery {
    margin-top: 30px;
    &.image-gallery {
        display: flex !important;
        justify-content: center;
        padding-bottom: 30px;
        .col {
            display: flex;
            flex-wrap: wrap;
            &.big-hidden {
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: none;
                }
            }
            &.x-1 {
                width: 200px;
                height: 400px;
            }
            &.x-2 {
                width: 400px;
                height: 400px;
            }
            &.x-4 {
                width: 400px;
                height: 400px;
            }
            .img-wrap {
                &.x2 {
                    height: 200px;
                    width: 400px;
                }
                &.x1 {
                    width: 200px;
                    height: 200px;
                    img {
                        width: 205px;
                    }
                }
            }
        }
        .img-wrap {
            position: relative;
            overflow: hidden;
            img {
                height: 100%;
            }
            &:hover:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../images/icon-red-eye.png) no-repeat;
                background-position: center center;
                background-color: rgba(216, 216, 216, 0.8);
                z-index: 999;
                cursor: pointer;
            }
        }
    }
    &-slider {
        margin-bottom: 100px;
        .slick-arrow {
            background-position: center center;
            border: none;
            background-color: transparent;
            color: transparent;
            font-size: 0;
            outline: none;
            position: absolute;
            top: calc(50% - 35px);
            z-index: 999;
            width: 65px;
            height: 65px;
            &:hover {
                background: url(../images/slider-gallery-button-active.png) no-repeat !important;
                background-position: right center !important;
            }
        }
        .slick-prev {
            background: url(../images/slider-gallery-button.png) no-repeat;
            transform: rotate(180deg);
            left: calc(10% + 20px);
            &:hover {
                transform: rotate(0deg);
            }
        }
        .slick-next {
            background: url(../images/slider-gallery-button.png) no-repeat;
            right: calc(10% + 20px);
            &:hover {
                transform: rotate(180deg);
            }
        }
    }
}
.mini-video-gallery {
    display: flex !important;
    .item+.item {
        margin-left: 10px;
    }
    .item {
        position: relative;
        overflow: hidden;
        &:hover:before {
            content: '';
            cursor: pointer;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(../images/icon-red-play.png) no-repeat;
            background-position: center center;
            background-color: rgba(216, 216, 216, 0.8);
        }
    }
}
#toggle-menu {
    position: fixed;
    right: 0px;
    bottom: 50px;
    width: 70px;
    z-index: 99999;
    .item {
        display: block;
        width: 70px;
        height: 70px;
        background-color: $red;
        overflow: hidden;
        white-space: nowrap;
        text-decoration: none;
        transition: all .1s linear;
        &:first-child {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
        &:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        &+.item {
            border-top: 1px solid #c16566;
        }
        &:hover {
            width: 200px;
            background-color: #a02121;
            margin-left: -130px;
        }
        span {
            display: block;
            font-size: 12px;
            color: #fff;
            text-transform: uppercase;
            padding: 30px 20px;
            position: absolute;
            right: 50px;
        }
    }
    .icon {
        position: relative;
        &:after {
            content: '';
            background-position: center center !important;
            display: block;
            width: 40px;
            height: 35px;
            position: absolute;
            top: 50%;
            margin-top: -17.5px;
            right: 15px;
        }
        &-car {
            &:after {
                background: url(../images/icon-white-car.png) no-repeat;
            }
        }
        &-spanner {
            &:after {
                background: url(../images/icon-white-spanner.png) no-repeat;
            }
        }
        &-abacus {
            &:after {
                background: url(../images/icon-white-abacus-big.png) no-repeat;
            }
        }
    }
}
#breadcrumbs,.breadcrumbs {
    display: flex;
    align-items: center;
    padding: 45px 0 0;
    font-size: 14px;
    a {
        color: $grey-caption;
        font-size: 14px;
        text-decoration: none;
        &:after {
            content: '>';
            font-family: monospace;
            font-weight: bold;
            display: inline-block;
            vertical-align: top;
            margin: 0 10px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    span {
        color: #727f8e;
    }
}
#breadcrumbs-buttons,
.breadcrumbs-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    a {
        height: 50px;
        padding: 0 40px;
        display: flex;
        align-items: center;
        &+a {
            margin-left: 20px;
        }
        &:hover {
            background-color: $grey-caption;
            color: #fff;
            &:after {
                background-image: url(../images/icon-white-button-arrow.png);
            }
        }
    }
}
.search-form {
    display: flex;
    &.single-form {
        margin-top: 40px;
    }
    input {
        background-image: url(../images/icon-red-search.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-color: #f2f2f3;
        background-position: 30px center;
        padding: 0 80px;
        font-size: 18px;
        border: none;
        color: #000;
        outline: none;
        font-weight: 300;
        font-style: italic;
    }
}
.page-pagination {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    a {
        padding: 10px 13px;
        color: $grey-caption;
        display: inline-block;
        text-decoration: none;
        &:hover {
            color: $red;
            text-decoration: underline;
        }
    }
    a.buttons {
        font-family: monospace;
        padding: 8px 11px;
        border: 3px solid $grey-caption;
        font-weight: bold;
        font-size: 17px;
        &:hover {
            background-color: $grey-caption;
            color: #fff;
            text-decoration: none;
        }
    }
}
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
    .item {
        width: 25%;
        margin-bottom: 50px;
        &+.item {
            padding-left: 20px;
        }
        &:nth-child(5n) {
            padding-left: 0;
        }
        .img-wrapper {
            position: relative;
            height: 210px;
            overflow: hidden;
            img {
                height: 100%;
            }
            .hidden-content {
                background-color: rgba(181, 181, 181, 0.8);
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .text {
                    margin-bottom: 15px;
                }
            }
        }
        .item-caption {
            font-size: 20px;
            color: $grey-caption;
            text-transform: uppercase;
            font-weight: 500;
            margin-top: 20px;
        }
        .item-text {
            margin-top: 10px;
            line-height: 1.2;
            font-size: 16px;
            color: $grey-caption;
        }
        &:hover .hidden-content {
            opacity: 1;
        }
        &:hover .item-caption {
            color: $red;
        }
    }
}
.form-mini {
    padding: 30px;
    background-color: #f2f2f3;
    p {
        font-size: 16px;
        font-weight: 1.3;
        color: $grey-caption;
    }
    input {
        padding: 20px 0 23px 20px;
        font-size: 17px;
        background-color: #e7e8e9;
        border: none;
        width: 100%;
        &+input {
            margin-top: 30px;
        }
    }
    button {
        margin-top: 30px;
    }
}
.form-recall{
   h2{margin-bottom: 30px;}
   input,textarea{font-size: 18px;}
   input{
      padding: 20px 23px 20px;
      border: none;
      background-color: #f2f2f3;
      width: 60%;
      display: block;
      margin-bottom: 20px;
   }
   textarea{
      width: 100%;
      padding: 20px;
      background-color: #f2f2f3;
      margin-bottom: 20px;
      border: none;
   }
}

/* MODAL WINDOWS */
.img_modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100000;

    .img_wrap{
        display: table;
        img{
            border: 5px solid #fff;
            border-radius: 3px;
            max-width: 100%;
        }
    }
}
.modal{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;top: 0;
    align-items: center;
    justify-content: center;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: scroll;

    &.show{
        display: flex;
    }
    .modal__box{
        background-color: #f2f2f3;
        display: table;
        position: relative;
        padding: 35px;
        width: 580px;
        top:-100px;
        z-index: 100001;
        
        button.modal__close-button{
            background-image: url(../images/modal-close-button.png);
            background-repeat: no-repeat;
            background-color: transparent;
            background-position: left center;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 500;
            position: absolute;
            right: 20px;
            top: 10px;
            height: 40px;
            border: none;
            padding-left: 35px;
            outline: none;
        }
        .modal__content{

            h2,p{color: $grey-caption;}
            p{
                margin: 30px 0 25px;
                font-size: 24px;
                font-weight: 300;
            }

            .form{
                display: flex;
                flex-direction: column;

                input:not([type="radio"]),
                textarea{
                    width: 100%;
                    margin-top: 25px;
                    background-color: #e7e8e9;
                    padding: 20px 20px 20px;
                    font-size: 18px;
                    border: none;
                }
                textarea{
                    max-height: 125px;
                }
                button{
                    align-self: flex-start;
                    margin-top: 25px;
                }
                .inline > *{
                    display: inline-block;
                    vertical-align: middle;
                    & + *{margin-left: 20px;}
                }
            }
        }
    }

}



/* HEADER */

#header {
    box-shadow: 1px 3px 10px 0px #c7c7c7;
    z-index: 1000;
    position: relative;

    &-logo {
        position: absolute;
        font-size: 48px;
        color: rgba(201, 42, 42, 0.3);
        text-align: center;
        padding: 20px 30px;
        top: -42px;
        left: 20px;
        z-index: 9999;
        background-color: #fff;
        letter-spacing: -3px;
        span {
            display: block;
            font-size: 16px;
            color: $dark-grey;
            letter-spacing: -0.7px;
        }
    }
    .top-menu {
        height: 42px;
        background-color: $red;
        .flexed {
            height: 100%;
            align-items: center;
            padding-left: 230px;
            justify-content: space-between;
        }
        .links {
            a {
                color: #fff;
                margin-right: 20px;
                text-decoration: none;
                &:hover {
                    border-bottom: 1px solid #fff;
                }
            }
        }
        
        .group-buttons {
            a {
                text-transform: uppercase;
                text-decoration: none;
                color: #fff;
                position: relative;
                font-size: 12px;
                &+a {
                    margin-left: 40px;
                }
                &:hover {
                    border-bottom: 1px solid currentColor;
                }
                &.icon-spanner,
                &.icon-abacus,
                &.icon-car {
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        position: absolute;
                        left: -28px;
                        top: 50%;
                        margin-top: -11px;
                    }
                }
                &.icon-spanner {
                    color: $dark-grey;
                    font-weight: 600;
                    &:before {
                        background: url(../images/icon-black-spanner.png) no-repeat;
                    }
                }
                &.icon-abacus {
                    &:before {
                        background: url(../images/icon-white-abacus.png) no-repeat;
                    }
                }
                &.icon-car {
                    display: none;
                    &:before {
                        background: url(../images/icon-white-car.png) no-repeat;
                        background-size: contain;
                        width: 25px;
                    }
                }

                &.default{
                    font-size: 17px;
                    text-transform: none;
                    border-bottom: 1px solid;
                    &:hover{border-bottom-color: transparent;}
                }
            }
        }
    }
    .contacts {
        height: 65px;
        &>.flexed {
            position: relative;
            padding-left: 230px;
            height: 100%;
            align-items: center;
        }
        .list {
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            .item {
                line-height: 1.3;
                &:last-child {
                    align-self: center;
                }
                span {
                    font-size: 18px;
                    color: $dark-grey;
                    text-transform: uppercase;
                    line-height: 1.2;
                }
                .small {
                    font-size: 15px;
                    text-transform: none;
                }
                .text-right {
                    text-align: right;
                    display: block;
                }
                .phone_link {
                    display: block;
                    font-size: 18px;
                    color: $blue-grey;
                    text-decoration: none;
                    font-weight: 600;
                    b {
                        font-weight: 500;
                        font-size: 28px;
                        color: $dark-grey;
                    }
                }
                &.icon {
                    position: relative;
                    padding-left: 35px;
                    &:before {
                        content: '';
                        display: block;
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        margin-top: -13.5px;
                    }
                }
                &.icon-clock {
                    &:before {
                        background: url(../images/icon-red-clock.png) no-repeat
                    }
                }
                &.icon-phone {
                    &:before {
                        background: url(../images/icon-red-phone.png) no-repeat;
                        margin-top: -10px;
                    }
                }
            }
            .call-link {
                font-size: 18px;
                color: $red;
                border-bottom: 1px solid;
                text-decoration: none;
                &:hover {
                    border-bottom-color: transparent;
                }
            }
        }
    }
    .navigation {
        position: relative;
        ul {}
        .nav > li {
            flex: 1;
            border-right: 1px solid #ebebeb;
            border-top: 1px solid #ebebeb;
            height: 61px;

            &:first-child {
                border-left: 1px solid #ebebeb;
            }
            &:last-child {
                flex: 0;
                align-self: flex-end;
                position: relative;
                z-index: 1000003;
                border: none;

                a:before {
                    display: none;
                }
            }
            &:hover>a {
                background-color: $light-grey;
            }
            &:hover>a:before {
                display: block;
            }
            &:hover > .dropdown {
                display: table;
            }
        }
        li.mobile-menu{
            display: none;
            margin-right: auto;
            flex: 0;
            z-index: 1000001;
            &:focus > ul,
            &.active > ul,
            &:hover > ul{
                display: flex;
            }

            button{
                background-color: #c92a2a;
                color: #fff;
                display: block;
                border: none;
                height: 61px;
                width: 60px;
                font-family: sans-serif;
                font-size: 33px;
                line-height: 60px;
                text-decoration: none;
            }
            button + ul{
                display: none;
                position: absolute;
                top: 100%;left: 0;
                width: 100%;
                background-color: rgba(52, 58, 65, 0.95);
                flex-direction: column;
                
                li{}
                a{
                    padding: 20px;
                    display: block;
                    width: 100%;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                    text-decoration: none;
                    position: relative;
                    text-indent: 20px;

                    &:before{
                        content: '';
                        position: absolute;
                        background-image: url(../images/icon-white-button-arrow.png);
                        background-repeat: no-repeat;
                        top: calc(50% - 3px);
                        left: 20px;
                        width: 6px;
                        height: 9px;
                    }
                    &:hover{
                        background-color: #343a41;
                    }
                    &:active:before,
                    &:focus:before,
                    &.active:before{
                        transform: rotate(90deg);
                    }

                    &:active + ul,
                    &:focus + ul,
                    &.active + ul{
                        display: flex;
                    }

                    & + ul{
                        display: none;
                        flex-direction: column;
                        li{}
                        a{
                            text-indent: 40px;
                            &:before{
                                display: none;
                            }
                        }
                    }
                }
            }
            button:focus + ul{
                display: flex;
            }
            
        }
        .nav > li>a {
            display: block;
            padding: 21px 35px;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            text-align: right;
            color: #000;
            text-decoration: none;
            position: relative;
            &:before {
                content: '';
                background: url(../images/nav-img.png) no-repeat;
                width: 62px;
                height: 35px;
                display: none;
                position: absolute;
                left: 20px;
                top: 50%;
                margin-top: -17.5px;
            }
            &:hover {
                background-color: $light-grey;
            }
            &:hover+.dropdown {
                height: auto;
            }
        }


        a.other {
            &:before {
                display: none !important;
            }
        }
        #search-button {
            height: 100%;
            width: 100%;
            background: url(../images/icon-red-search.png) no-repeat;
            background-position: center center;
            background-color: $light-grey;
            &:hover {
                background-color: transparent;
            }
            &:before {
                display: none !important;
            }
        }
        .dropdown {
            background-color: #f2f2f3;
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            display: none;
            &-wrapper {
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: -10px;
                    left: 0;
                    width: 100%;
                    height: 10px;
                    box-shadow: 0px 5px 9px -4px #000000;
                    z-index: 999;
                }
                display: flex;
                &>.wrapper-column {
                    width: 50%;
                    position: relative;
                }
                &>.wrapper-column:nth-child(2) {
                    background-color: #fff;
                    padding: 40px 0 0 70px;
                }
                .links {
                    padding: 50px 40px 50px;
                    display: flex;
                    justify-content: flex-end;
                    .col {
                        display: flex;
                        flex-direction: column;
                        &+.col {
                            margin-left: 40px;
                        }
                    }
                    a {
                        color: #1e1e1e;
                        font-size: 17px;
                        text-transform: uppercase;
                        text-decoration: none;
                        padding: 14px 0;
                        &+a {
                            border-top: 1px solid #dedede;
                        }
                        &:hover {
                            color: #c92a2a;
                        }
                    }
                }
                .machines {
                    width: 435px;
                    .item {
                        display: inline-block;
                        width: 180px;
                        margin-bottom: 30px;
                        &:nth-child(2n) {
                            margin-left: 60px;
                        }
                        &:hover img {
                            opacity: 1;
                        }
                        a {
                            color: #1e1e1e;
                            text-decoration: none;
                        }
                        img {
                            opacity: .6;
                            width: 100%;
                        }
                        .name {
                            margin-top: 10px;
                            font-size: 24px;
                            font-weight: 700;
                            text-align: center;
                        }
                    }
                }
                .close-dropdown {
                    background: url(../images/button-x.png) no-repeat;
                    background-position: center center;
                    position: absolute;
                    right: -30px;
                    top: calc(50% - 30px);
                    width: 60px;
                    height: 60px;
                    display: block;
                    z-index: 999;
                }
            }
        }
        .noflex {
            flex: 0 !important;
        }
    }
    .mobile-search{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      display: none;
      align-items: center;
      background-color: #f2f2f3;
      width: 100%;
      z-index: 1000002;

      &.active{display: flex;}
      input{
         height: 100%;
         display: block;
         background-color: transparent;
         border: none;
         padding: 0 100px 0 30px;
         width: 100%;
         font-size: 16px;
      }
    }
    
}

section.error404 {
    background-image: url(../images/error404-bg.png);
    background-repeat: no-repeat;
    background-position: right -100px;
    height: 90vh;
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
    }
    .content {
        max-width: 650px;
        padding-left: 100px;
        margin-top: -60px;
        h2 {}
        h4 {
            margin: 20px 0 10px;
        }
        p {
            font-size: 20px;
            line-height: 1.4;
            color: $grey-caption;
        }
        a {
            color: $red;
            &:hover {
                text-decoration: none;
            }
        }
    }
    form {
        width: 100%;
        padding-left: 100px;
        input {
            flex: 1;
            font-style: normal;
            font-size: 19px;
            font-weight: 400;
        }
        button {
            height: 60px;
        }
    }
}

#top-slider{
   background-color: #18191b;
}
section.top-slider {
    background: url(../images/test-banner.png) no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: calc(100vh - 130px);
    padding: 50px 0;
    color: $dark-grey;
    position: relative;
    
    &>.flexed {
        position: relative;
        height: 100%;
    }
    .text {
        font-size: 20px;
        display: block;
        margin: 20px 0;
    }
    .calculator {
        width: 400px;
        border-radius: 5px;
        overflow: hidden;
        position: absolute;
        right: 20px;
        top: 0;
        .header {
            background-color: $grey;
            font-size: 28px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            height: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 30px;
            }
        }
        .functions-list {
            background-color: rgba(40, 42, 45, 0.8);
            .item {
                padding: 35px 0px 0px;
                text-align: center;
                height: 190px;
                width: 130px;
                position: relative;
                &+.item {
                    border-left: 1px solid #4f5358;
                }
                img {
                    display: block;
                    margin: 0 auto;
                }
                p {
                    font-size: 18px;
                    text-transform: uppercase;
                    color: #fff;
                    opacity: .5;
                    font-weight: 300;
                    position: absolute;
                    top: 120px;
                    width: 100%;
                }
            }
        }
        .footer {
            background-color: $grey;
            height: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

section.single-news {
    h2 {
        padding: 40px 0 50px;
    }
    .background {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 450px;
        .container {
            height: 100%;
        }
        .content {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            width: 60%;
            &.content-end {
                align-items: flex-end;
                padding-bottom: 100px;
            }
            &.fluid {
                width: 100%;
            }
        }
        .cond-36 {
            font-size: 36px;
            font-weight: 300;
            color: $grey-caption;
        }
        p.small {
            font-size: 16px;
            line-height: 1.4;
        }
        .columns {
            padding: 40px;
            display: flex;
            .col-2 {
                width: 50%;
                &+.col-2 {
                    padding-left: 30px;
                }
            }
        }
        h2 {
            color: #fff;
            margin-top: 50px;
        }
        h4 {
            font-size: 36px;
        }
    }
}

section.equipment {
    .background {
        .content {
            width: 100%;
            align-items: flex-end;
            padding-bottom: 100px;
            h4 {
                color: #fff;
                text-transform: uppercase;
            }
        }
    }
}

section.just-text {
    &.bg-silver {
        background-color: #f6f6f6;
        padding: 100px 0 0;
    }
    &.bg-grey {
        background-color: #ededed;
    }
    h2 {
        padding: 30px 0 30px;
        line-height: .9;
    }
    .wrapper {
        .columns-2 {
            display: flex;
            &>* {
                width: 50%;
            }
        }
        .row {
            display: flex;
            padding-bottom: 40px;
            flex-wrap: wrap;
            .column+.column {
                padding-left: 40px;
            }
        }
        p {
            font-size: 16px;
            line-height: 1.4;
            color: $grey-caption;
            margin-bottom: 30px;
        }
        ul {
            padding-left: 20px;
            li {
                position: relative;
                line-height: 1.4;
                font-size: 16px;
                &:before {
                    content: '>';
                    font-size: 16px;
                    color: #1e1e1e;
                    font-weight: bold;
                    display: block;
                    font-family: monospace;
                    position: absolute;
                    left: -20px;
                    top: 0px;
                }
                &+li {
                    margin-top: 15px;
                }
            }
        }
        .caption {
            font-size: 19px;
            font-weight: 500;
            text-transform: uppercase;
            color: $grey-caption;
            margin-bottom: 40px;
        }
        b {
            font-weight: 500;
        }
        span.date {
            flex-basis: 100%;
            color: #9ea0a3;
            font-size: 16px;
            font-style: italic;
        }
        b.italic {
            font-size: 18px;
            font-weight: 500;
            font-style: italic;
        }
    }
    .big-red {
        text-transform: uppercase;
        color: $red;
        font-size: 48px;
        font-weight: 300;
    }
    .gallery {
        margin: 0;
    }
    .list-icons {
        display: flex;
        flex-wrap: wrap;
        .item {
            width: 50%;
            text-align: center;
            &+.item {
                padding-left: 30px;
            }
            &:first-child {
                margin-bottom: 50px;
            }
            p {
                margin-top: 15px;
                font-size: 18px;
                font-weight: 700;
                color: $grey-caption;
                text-transform: uppercase;
            }
        }
    }
    .car-row {
        display: flex;
        &>.col {
            width: 50%;
            &.center {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &.left {
                padding-left: 40px;
            }
        }
    }
}

section.search-result {
    padding-bottom: 50px;
    .wrapper {
        max-width: 75%;
        .search-form {
            margin-bottom: 30px;
            input {
                flex: 1;
                font-style: normal;
                font-weight: 400;
            }
        }
        .result-text {
            font-size: 16px;
            font-style: italic;
            color: #9ea0a3;
            margin-bottom: 30px;
        }
        .result-list {
            .item {
                border-bottom: 1px solid #ebebeb;
                margin-bottom: 50px;
                &:first-child {
                    padding-top: 30px;
                    border-top: 1px solid #ebebeb;
                }
                .name {
                    font-size: 20px;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $grey-caption;
                    font-weight: 500;
                    &:hover {
                        color: $red;
                    }
                }
                .text {
                    font-size: 16px;
                    color: $grey-caption;
                    line-height: 1.4;
                    margin: 20px 0 25px;
                    a {
                        color: $red;
                        font-size: inherit;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

section.works-gallery {
    padding-top: 100px;
    .works-list {
        display: flex;
        align-items: center;
        margin-top: 50px;
        justify-content: space-between;
        flex-wrap: wrap;
        .item {
            width: 25%;
            margin-bottom: 50px;
            .name {
                font-size: 20px;
                font-weight: 500;
                margin: 20px 0 10px;
                text-transform: uppercase;
                color: $grey-caption;
            }
            .text {
                font-size: 16px;
                line-height: 1.4;
                color: $grey-caption;
            }
        }
    }
}

section.banner {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1240px;
    margin: 50px auto;
    &-mini {
        background-image: url(../images/banner-bg.png);
        height: 260px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 50px;
        h3 {
            font-size: 36px;
            color: #fff;
            font-weight: 300;
        }
    }
}

section.car-cards {
    background-color: $grey-caption;
    .cards-box {
        flex-wrap: wrap;
        .item {
            flex-basis: 50%;
            height: 300px;
            position: relative;
            overflow: hidden;
            &:nth-child(2n) {
                border-left: 1px solid #a2a9ac;
            }
            &:nth-child(1n + 1) {
                border-top: 1px solid #a2a9ac;
            }
            &:hover .content {
                height: 100%;
                padding: 60px 40px 40px;
            }
            img.bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                cursor: pointer;
            }
            .content {
                position: absolute;
                z-index: 99;
                height: 70px;
                background-color: rgba(33, 37, 41, 0.8);
                display: flex;
                align-items: center;
                padding: 10px;
                /* padding: 60px 40px 40px; */
                flex-wrap: wrap;
                bottom: 0;
                transition: all .2s linear;
                h3 {
                    color: #fff;
                }
                .links {
                    margin-left: auto;
                    a {
                        font-size: 15px;
                        color: #fff;
                        text-transform: uppercase;
                        display: block;
                        text-decoration: none;
                        &+a {
                            margin-top: 20px;
                        }
                        &:hover {
                            text-decoration: underline;
                        }
                        &.link-icon {
                            &:before {
                                left: -30px;
                                width: 23px;
                                height: 23px;
                                margin-top: -11px;
                            }
                            &-more {
                                font-weight: 500;
                                &:before {
                                    background: url(../images/icon-white-more-link.png) no-repeat;
                                }
                            }
                            &-gear {
                                &:before {
                                    background: url(../images/icon-white-gear-link.png) no-repeat;
                                }
                            }
                        }
                    }
                }
                .text {
                    align-self: flex-start;
                    font-size: 15px;
                    color: #fff;
                    opacity: .7;
                    flex-basis: 65%;
                    line-height: 1.3;
                    position: relative;
                    top: 30px;
                }
            }
        }
    }
    .other-cars {
        background: url(../images/other-cars.png) no-repeat;
        background-size: cover;
        padding: 40px 20px;
        h3 {
            color: #fff;
            margin-bottom: 20px;
        }
    }
}

section.red-form {
    padding: 20px 20px 30px;
    background-color: $red;
    .form {
        display: flex;
        .col-1 {
            flex-basis: 40%;
        }
        .col-2 {
            flex-basis: 60%;
            padding-left: 50px;
        }
        .caption {
            font-size: 24px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            height: 70px;
            p {
                font-size: 20px;
                text-transform: none;
                font-weight: 400;
                margin-top: 15px;
            }
        }
        input {
            padding: 25px 20px;
            border: none;
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            &[type="search"] {
                background-image: url(../images/icon-red-search.png);
                background-repeat: no-repeat;
                background-position: calc(100% - 20px) center;
            }
            &+input {
                margin-left: 20px;
            }
            &.w100 {
                width: 100%;
            }
            &.text-center {
                text-align: center;
            }
        }
        button {
            margin-left: 20px;
            height: 66px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

section.spec-suggestions {
    background-color: #c7c7c7;
    padding: 20px 0 60px;
    h2 {
        display: block;
        text-align: center;
    }
    .title-link {
        text-align: center;
        margin: 20px 0 25px;
        a {
            color: $red;
            font-size: 20px;
            text-transform: uppercase;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .slider {
        .slick-arrow {
            top: 115px;
        }
        .slick-dots {
            position: absolute;
            width: 100%;
            bottom: -70px;
        }
    }
}

section.service-center {
    background: url(../images/service-center-bg.png) no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 230px;
    &>.container {}
    .row {
        padding-top: 20px;
        padding-bottom: 50px;

        .col {
            flex-basis: 600px;
        }
        .col-2 {
            padding-left: 65px;
            padding-top: 55px;
        }
        .text-container {
            background-color: #fff;
            box-shadow: 0px 0px 30px -15px #000;
            width: 650px !important;
            max-height: 600px;
            font-size: 15px;
            color: #1e1e1e;
            padding: 55px 40px;
            height: 570px;
            position: relative;
            top: 10px;

            .text{
                height: 400px;
                overflow-y: scroll;
                overflow-x: hidden;
                line-height: 2;
                color: $grey-caption;
                padding: 0px 40px 0px 0px;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                background: url(../images/service-center-car.png) no-repeat;
                width: 1020px;
                height: 500px;
                bottom: -255px;
                right: -811px;
            }
        }
        .button {
            margin-left: 40px;
            margin-top: 20px;
        }
        .sub-caption {
            font-size: 36px;
            color: #212529;
            font-weight: 300;
            margin-top: 30px;
        }
    }
    .car-wrapper {
        position: absolute;
        background: url(../images/service-car-1.png) no-repeat;
        width: 655px;
        height: 525px;
        display: block;
        left: -80px;
        margin-top: 30px;
        top: 150px;
    }
    &-2 {
        background: #dfdfdf;
        margin-top: -101px;
        padding-bottom: 0px;
        &>.container {
            position: relative;
            top: -125px;
        }
        .row .col-2 {
            padding: 0;
        }
        .slider {
            margin-top: 245px;
            width: 640px;
            .slick-arrow {
                top: 130px;
            }
            .item .img-wrapper img {
                width: auto;
            }
        }
    }
    &.single-service {
        overflow-y: hidden;
        margin-top: -15px;
        .container {
            top: 0;
        }
        .car-wrapper {
            top: 310px;
        }
        .slider {
            padding-bottom: 70px;
        }
    }
}

section.some-articles {
    background: url(../images/articles-bg.png) no-repeat;
    background-size: cover;
    min-height: 600px;
    margin-top: -10px;
    position: relative;
    h2 {
        padding: 25px 0 30px;
        display: block;
        text-align: center;
    }
    .slider {
        flex-wrap: wrap;
        justify-content: space-between;
        .item {
            flex-basis: 32%;
            margin-bottom: 50px;
            &+.item {
                margin-left: 0 !important;
            }
            .img-wrapper {
                height: 180px;
            }
            .item-caption {
                color: #fff;
                height: 45px;
            }
            .item-text {
                color: #fff;
                line-height: 1.4;
                opacity: .7;
            }
            .item-date {
                color: #9ea0a3;
                font-style: italic;
                font-size: 17px;
                position: relative;
                top: 17px;
            }
        }
    }
    .button-wrapper {
        padding: 50px 0 20px;
        text-align: center;
    }
    &.inverse {
        background: none;
        background-color: #fff;
        h2 {
            text-align: left;
        }
        .slider .item .item-caption {
            color: $grey-caption;
        }
        .slider .item .item-text {
            color: $grey-caption;
        }
        .slider .item .item-date {
            color: #9ea0a3;
        }
        .slider .item:hover .item-caption {
            color: $red;
        }
    }
}

section.club-gallery {
    overflow: hidden;
    .header {
        text-align: center;
        padding: 30px 0 25px;
        h2 {}
        .subtitle {
            font-size: 20px;
            margin-top: 10px;
        }
    }
    .button-wrapper {
        text-align: center;
        padding: 0 0 30px;
    }
}

section.video-reviews {
    background: url(../images/video-reviews-bg.png) no-repeat;
    background-size: cover;
    min-height: 570px;
    padding: 70px 0 80px;
    .reviews-caption {
        font-size: 48px;
        font-weight: 700;
        color: #fff;
    }
    .reviews-text {
        font-size: 18px;
        color: #fff;
        line-height: 1.4;
        width: 80%;
        margin: 35px 0 45px;
        a {
            color: #fff;
            text-decoration: none;
            border-bottom: 1px solid;
            &:hover {
                border-bottom-color: transparent;
            }
        }
    }
    .button-wrapper {
        text-align: center;
        padding-top: 40px;
    }
    .columns {
        flex-wrap: nowrap;
    }
    .mini-video-gallery {
        width: 440px;
    }
}

section.map {
    height: 570px;
    position: relative;
    zoom: 1.095;
    &>.container {
        position: relative;
        height: 100%;
    }
    .list {
        background-color: rgba(40, 42, 45, 0.85);
        top: 30px;
        right: 100px;
        position: absolute;
        height: calc(100% - 60px);
        width: 350px;
        border-radius: 5px;
        color: #fff;
        z-index: 1000;

        .scrollbarY {
            height: 380px;
        }
        .overview {
            padding: 5px 50px 0px 0px;
            height: 420px;
        }
        .scrollbar {
            z-index: 9999;
            top: 40px;
            right: 25px;
        }
        &-item {
            padding: 10px 2px 10px 40px;
            position: relative;
            &.active{
                background-color: rgba(144, 144, 144, 0.25);
            }
            a{
                color: #fff;
                text-decoration: none;
            }
            &:hover {
                background-color: rgba(144, 144, 144, 0.25);
            }
            &:not(:last-child):after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 85%;
                margin-left: -36%;
                height: 1px;
                background-color: #6f6f6f;
            }
            .caption {
                font-size: 28px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            .text {
                margin-bottom: 10px;
                font-size: 17px;
                font-weight: 100;
            }
            .number {
                font-size: 24px;
                span {
                    font-size: 18px;
                }
            }
        }
        .button-wrapper {
            margin-top: 25px;
            text-align: center;
        }
    }
    .single{
        position: absolute;
        background-color: rgba(40,42,45,0.85);
        padding: 20px;
        border-radius: 5px;
        z-index: 99999;
        color: #fff;
        top: calc(50% - 75px);
        right: 200px;
        .caption {
            font-size: 28px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .text {
            margin-bottom: 10px;
            font-size: 17px;
            font-weight: 100;
        }
        .number {
            font-size: 24px;
            span {
                font-size: 18px;
            }
        }                
    }
    .red-scroll{
        height: 420px;
        overflow-y: scroll;
    }
    #yandex_map{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
    }
}

section.advantages {
    .advantages-list {
        display: flex;
        justify-content: space-between;
        padding: 30px 0 100px;
        .item {
            width: 20%;
            img {
                display: block;
                margin: 0 auto;
            }
            p {
                margin-top: 20px;
                font-size: 24px;
                font-weight: 700;
                color: $grey-caption;
                display: block;
                text-align: center;
            }
        }
    }
}

section.club-tayota {
    h2 {
        padding-bottom: 0;
    }
    h4 {
        padding-bottom: 100px;
    }
}

.club-text {
    p.caption {
        margin-bottom: 0 !important;
    }
}

section.pagination {
    text-align: center;
    padding-bottom: 100px;
    .page-pagination {
        justify-content: center;
    }
}

section.contacts {
    .time-table {
        display: flex;
        .item {
            font-size: 18px;
            &+.item {
                margin-left: 100px;
            }
            &>* {
                position: relative;
                line-height: 1.2;
                &:before {
                    content: '';
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    left: -40px;
                    top: 5px;
                }
            }
            .time {
                margin-bottom: 20px;
                &:before {
                    background-image: url(../images/icon-red-clock.png);
                }
            }
            .location {
                &:before {
                    background-image: url(../images/icon-red-location.png);
                }
            }
            .phones {
                display: flex;
                &:before {
                    background-image: url(../images/icon-red-phone.png);
                }
                .col+.col {
                    padding-left: 30px;
                }
                p {
                    margin-bottom: 10px;
                }
                a {
                    display: block;
                    font-size: 18px;
                    font-weight: 500;
                    color: #000;
                    text-decoration: none;
                    margin-bottom: 10px;
                }
            }
            .email {
                &:before {
                    background-image: url(../images/icon-red-email.png);
                    top: 0;
                }
                a {
                    color: $red;
                }
            }
        }
    }
    .links {
        display: flex;
        padding: 30px 0 50px;
        a {
            font-size: 18px;
            color: $red;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
            &+a {
                margin-left: 50px;
            }
        }
    }
}

section.write-to-us {
    padding: 40px 0 100px;
    h2 {
        padding-bottom: 30px;
    }
    .form {
        .inline {
            display: flex;
            margin-bottom: 20px;
            &>* {
                flex: 1;
            }
            input+input {
                margin-left: 20px;
            }
        }
        input,
        textarea {
            background-color: #f2f2f3;
            padding: 20px 30px;
            border: none;
            font-size: 18px;
            color: #000;
        }
        textarea {
            width: 100%;
            height: 150px;
            margin-bottom: 20px;
        }
    }
    .radio-inline{
        display: inline-block;
        margin: 20px 0 40px;
        & + .radio-inline{margin-left: 30px;}
    }
}

section.banner-about {
    height: 500px;
    .content {
        height: 100%;
        display: flex;
        .left,
        .right {
            width: 50%;
            display: flex;
        }
        .left {
            background-image: url(../images/about-banner-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right center;
            height: 100%;
        }
        .right {
            flex-direction: column;
            background-color: #f2f2f3;
            justify-content: center;
            padding-left: 70px;
            p {
                line-height: 1.2;
                width: 80%;
                margin-bottom: 100px;
                font-size: 18px;
            }
            b {
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
}

section.grey-car {
    background-image: url(../images/about-grey-car.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 560px;
    padding: 50px 40px;
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .wrapper {
        margin-top: -50px;
    }
    h1 {
        font-size: 120px;
        font-weight: 700;
        color: $grey-caption;
        text-align: center;
    }
    h6 {
        font-size: 20px;
        font-weight: 700;
        color: $grey-caption;
        display: block;
        margin: 0 auto;
        width: 75%;
    }
}

section.personal {
    .personal-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .item {
            width: 25%;
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
            .img-wrap {
                width: 180px;
                height: 180px;
                overflow: hidden;
                img {
                    height: 100%;
                }
            }
            .name {
                font-size: 20px;
                color: $grey-caption;
                font-weight: 500;
                text-transform: uppercase;
                margin-top: 15px;
            }
            .profession {
                font-size: 16px;
                color: rgba(#000, .7);
            }
            .contacts {
                margin-top: 40px;
                a {
                    color: $grey-caption;
                    font-size: 18px;
                    display: block;
                    text-decoration: none;
                    margin-bottom: 20px;
                    padding-left: 30px;
                }
                .email,
                .phone {
                    position: relative;
                    &:before {
                        content: '';
                        background-position: center center;
                        background-repeat: no-repeat;
                        display: block;
                        position: absolute;
                        left: -10px;
                        width: 30px;
                        height: 30px;
                        top: -5px;
                    }
                }
                .email {
                    color: $red;
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                    &:before {
                        background-image: url(../images/icon-red-email.png);
                    }
                }
                .phone {
                    &:before {
                        background-image: url(../images/icon-red-phone.png);
                    }
                }
            }
        }
    }
}

section.suggestions-list {
    .list {
        .item {
            background-color: #f6f6f6;
            padding: 10px;
            display: flex;
            margin-bottom: 40px;
            .img-wrapper {
                max-width: 770px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            .content {
                flex: 1;
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                padding-right: 10px;
                justify-content: center;
            }
            .caption {
                font-size: 20px;
                color: $grey-caption;
                font-weight: 500;
                text-transform: uppercase;
            }
            .text {
                font-size: 16px;
                color: $grey-caption;
                line-height: 1.3;
                margin: 10px 0 30px;
            }
            .button {
                align-self: flex-start;
            }
        }
    }
}

section.e-book {
   padding: 0 0 100px;
    .e-book-wrapper {
        display: flex;
        &>.column {}
        &>.column-1 {
            width: 650px;
            padding-right: 50px;
        }
        &>.column-2 {
           flex: 1;
        }
    }
    .header {
        display: flex;
        .col-1 {
            flex-basis: 380px;
        }
        .col-2 {
            flex-basis: 200px;
        }
        .date {
            font-size: 48px;
            font-weight: 300;
            color: $grey-caption;
        }
        p {
            line-height: 1.3;
        }
        b {
            font-weight: 500;
        }
        a {
            color: $red;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .price-table {
        margin-top: 30px;
        padding-bottom: 40px;

        & + .price-table{
           border-bottom: 1px solid #ebebeb;
        }
        &.single{
           margin-top: 120px;
           p{line-height: 1.3;}

        }
        .row {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            &+.row {
                padding-top: 15px;
            }
            .col {}
            .col-1 {
                flex-basis: 380px;
            }
            .col-2 {}
            .col-3 {
                font-size: 24px;
                font-weight: 300;
                color: $red;
                padding-left: 50px;
            }
        }
        .caption {
            font-weight: 500;
            text-transform: uppercase;
            display: block;
            width: 100%;
            padding-bottom: 10px;
            border-bottom: 1px solid #ebebeb;
            margin-bottom: 20px;
        }
        .name {
            position: relative;
            padding-left: 20px;
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 6px;
                height: 9px;
                background-image: url(../images/icon-black-button-arrow-right.png);
                background-repeat: no-repeat;
                background-position: center center;
                left: 0px;
                top: calc(50% - 4.5px);
            }
        }
    }
    .result-price {
       float: right;
       padding-right: 30px;
       padding-top: 10px;
       text-transform: uppercase;
        span {
            font-size: 60px;
            font-weight: 300;
            color: $red;
            text-transform: none;
        }
    }
    .teh-data{
       background-color: #f2f2f3;
       padding: 30px;
       
       .caption{
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
       }

       .row{
          display: flex;
          .col-1{
             flex-basis: 285px;
          }
          .col-2{
             flex-basis: 230px;
             padding-left: 30px;
          }
       }
       b{
          font-weight: 500;
       }

       .car-info{
          padding: 50px 0 0;

          .name{font-size: 16px;}
          .grid{
             display: flex;
             .col + .col{padding-left: 50px;}

             p{font-size: 14px;}
             p + p{margin-top: 10px;}
          }
       }
       .teh-grid{
         p{margin-bottom: 20px;}
         a{
            color: $red;
            &:hover{text-decoration: none;}
         }
       }
       
    }

    .teh-form{

       input{
          margin-top: 20px;
          width: 100%;
          font-size: 18px;
          padding: 20px 23px 20px;
          border: none;
          background-color: #e7e8e9;
       }
       button{
          margin-top: 20px;
       }
    }

    .link{
       color: $red;
       display: inline-block;
       &:hover{text-decoration: none;}
    }
    
}

section.calculator{
   .calculator-steps{
      display: flex;
      margin-bottom: 40px;
      &.slider{
          display: none;
          margin: 50px auto;
          width: 250px;

          .item:after{display: none;}
      }
      .item{
         
         font-size: 48px;
         font-weight: 300;
         position: relative;
         width: 250px;

         a{
            display: block;
            font-size: 20px;
            color: $red;
            font-weight: 400;
            &:hover{text-decoration: none;}
         }
         &:not(:last-child):after{
            content: '';
            background-image: url(../images/slider-button.png);
            background-repeat: no-repeat;
            width: 20px;
            height: 30px;
            position: absolute;
            right: 40px;
            top: calc(50% - 15px);
         }
      }
      
   }

   .list-machines{
      display: flex;
      flex-wrap: wrap;
      .item{
         width: 20%;
         text-align: center;
         text-transform: uppercase;
         margin-bottom: 50px;
         &:hover .name{color: $red;}
         & > a{text-decoration: none;color: $grey-caption;}
         & + .item{padding-left: 40px;}
         &:nth-child(6n){padding-left: 0;}
         .name{
            margin: 20px 0 5px;
            font-weight: 500;
         }
      }
   }

   .slesar-calc{
      padding: 0 0 50px;
      .car-selected{
         display: flex;
         align-items: center;
         .name{
            text-transform: uppercase;
            padding-left: 30px;
            b{font-weight: 500;margin-bottom: 5px;display: block;}
         }

         a{margin-left: 40px;}
      }
      .type-remont{
         padding: 30px 0;

         .prices{
            display: flex;
            align-items: baseline;
            margin-top: -70px;
            .item{
               text-transform: uppercase;
               &:not(:last-child){width:230px;}

               &:last-child{
                  margin-left: 100px;
                  span{font-size: 60px;}
               }
            }
            .item span{text-transform:none;font-size: 24px;color: $red;font-weight: 300;}
         }
      }
      
   }
   .works-calc{
      .caption{font-size: 20px;margin: 20px 0 30px;}
      .form{
         margin: 30px 0;
         .row{
            display: flex;
            border-bottom: 1px solid #ebebeb;
            padding-bottom: 30px;
            &:first-child{border-top: 1px solid #ebebeb;}
            & + .row{margin-top: 30px;}
            .col{}
            .col-2{
               flex: 1;
               margin-top: 95px;
               padding-left: 100px;
               &.fix{margin-top: 48px;}
            }
            .col-3{
               padding-top: 30px;

               p{
                  margin-top: 10px;
                  text-transform: uppercase;
                  span{
                     font-size: 24px;
                     color: $red;
                     font-weight: 300;
                     text-transform: none;
                  }
               }
            }
         }


         p.label{
            text-transform: uppercase;
            b{font-weight: 500;}
         }
      }

      .price{
         
         & + .price{margin-top: 20px;}

         span{
            font-size: 24px;
            color: $red;
            font-weight: 300;
         }
      }
      .sub-radio{
         margin: 20px 0 20px 40px;
      }

      .map-image{
          .masks{
            position: relative;
              img{position: absolute;top: 0;left: 0;}
          }
      }
   }

   .order{

      .grid{
         display: flex;
         flex-wrap: wrap;
         border-bottom: 1px solid #ebebeb;
         margin-bottom: 50px;
         padding-bottom: 0px;
         .caption{
            text-transform: uppercase;
            font-weight: 500;
            flex-basis: 100%;
            padding: 20px 0;
            margin-bottom: 30px;
            border-bottom: 1px solid #ebebeb;
         }
         p{
            position: relative;
            padding-left: 20px;
            font-size: 16px;
            color: $grey-caption;
            margin-bottom: 25px;
            &:before{
               content: '';
               background-image: url(../images/icon-black-button-arrow-right.png);
               background-repeat: no-repeat;
               width: 10px;
               height: 10px;
               display: block;
               position: absolute;
               top: calc(50% - 5px);
               left: 0;
            }
         }
         
         .price{
            font-size: 24px;
            font-weight: 300;
            color: $red;
            margin-bottom: 15px;
         }
         
         .col{
            width:550px;
         }
      }
      .price-result{
         display: flex;
         align-items: flex-start;
         margin-bottom: 50px;
         label{
            padding-left: 40px;
            line-height: 1.3;
         }

         .price{
            margin-left: 100px;
            text-transform: uppercase;
            span{
               font-size: 60px;
               font-weight: 300;
               text-transform: none;
               color: $red;
            }
         }
      }
   }
   .mg0 a{margin-bottom: 0 !important;}
}


.red-scroll::-webkit-scrollbar{
    width: 15px;
    background-color: #eee;
}
.red-scroll.bg-none::-webkit-scrollbar{
    background-color: transparent;
}
.red-scroll::-webkit-scrollbar-thumb{
    background-color: $red;
    height: 10px;
    border-radius: 10px;
}
.red-scroll::-webkit-scrollbar-thumb:hover{
    background-color: $red;
}
.red-scroll::-webkit-scrollbar-track{
    border-width:0;
}
.red-scroll.bg-none::-webkit-scrollbar-track:hover{
    background-color:transparent;
}
.red-scroll::-webkit-scrollbar-track:hover{
    background-color: #eee;
}



/* FOOTER */

#footer {
    background-color: #343a41;
    padding: 80px 0 40px;
    position: relative;
    a {
        color: #868686;
        text-decoration: none;
        font-size: 14px;
        &:hover {
            color: #fff;
        }
    }
    .text {
        color: #fff;
        line-height: 1.4;
        margin-top: -3px;
        &+.text {
            margin-top: 30px;
        }
    }
    .footer_columns {
        display: flex;
        .col {
            padding: 0 30px 0 20px;
        }
    }
    .logo {
        width: 100%;
        height: 70px;
        background-color: rgba(255, 255, 255, 0.12);
    }
    .social {
        margin-top: 10px;
        a {
            &.icon {
                width: 37px;
                height: 37px;
                display: inline-block;
                opacity: .4;
                &:hover {
                    opacity: 1;
                }
                &+.icon {
                    margin-left: 10px;
                }
            }
            &.icon-fb {
                background: url(../images/icon-white-fb.png) no-repeat;
            }
            &.icon-twitt {
                background: url(../images/icon-white-twitt.png) no-repeat;
            }
            &.icon-p {
                background: url(../images/icon-white-p.png) no-repeat;
            }
            &.icon-inst {
                background: url(../images/icon-white-inst.png) no-repeat;
            }
        }
    }
    .links-column {
        display: flex;
        flex-direction: column;
        a+a {
            margin-top: 10px;
        }
    }
    #copyright {
        text-transform: uppercase;
        font-size: 11px;
        color: #fff;
        text-align: center;
        position: relative;
        margin-top: 30px;
        span {
            display: inline-block;
            background-color: #343a41;
            position: relative;
            z-index: 999;
            padding: 5px 30px;
            font-weight: lighter;
            color: #909090;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            top: calc(50% - 1px);
            background-color: #696969;
        }
    }
    #top-button {
        background: url(../images/button-top.png) no-repeat;
        position: absolute;
        top: -30px;
        width: 60px;
        height: 60px;
        left: calc(50% - 30px);
        z-index: 999;
    }
}