@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
@import url(../css/slick.css);
/* Links */
.link {
  text-decoration: underline;
  color: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

/* Text */
.text-blue {
  color: #1773ce !important; }
.text-red {
  color: #ff5722 !important; }
.text-green {
  color: #339e8b !important; }
.text-white {
  color: #fff !important; }
.text-alp8 {
  opacity: .8 !important; }
.text-center {
  text-align: center; }
.text-black {
  color: #4c4c4c; }

/* Backgrounds*/
.bg-white {
  background-color: #fff !important; }
.bg-blue {
  background-color: #1773ce !important; }
.bg-green {
  background-color: #339e8b !important; }
.bg-red {
  background-color: #ff5722 !important; }

.p30 {
  padding: 30px 0; }

.p50 {
  padding: 50px 0; }

.pb50 {
  padding-bottom: 50px; }

.mt50 {
  margin-top: 50px; }

.mt100 {
  margin-top: 100px; }

.mt200 {
  margin-top: 200px; }

.mb50 {
  margin-bottom: 50px; }

.mb100 {
  margin-bottom: 100px; }

.mb200 {
  margin-bottom: 200px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%; }

ul {
  list-style-type: none; }
  ul.default {
    list-style-type: disc;
    padding-left: 15px; }

a {
  color: inherit;
  text-decoration: none;
  outline: none; }

.ui-button {
  padding: 5px 45px;
  border-radius: 40px;
  background-color: #ff5722;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  height: 45px;
  font-size: 14px;
  font-weight: 500; }
  .ui-button.is-md {
    font-size: 16px;
    padding: 15px 60px;
    height: auto; }
  .ui-button.is-green {
    background-color: #45ac9a;
    color: #fff; }
  .ui-button.is-blue {
    background-color: #1773ce;
    color: #fff; }
  .ui-button > img {
    margin-left: 15px; }
  .ui-button.white-border {
    border: 2px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent; }
    .ui-button.white-border:hover {
      background-color: #fff;
      border-color: #fff;
      color: #1773ce; }
  .ui-button.is-white {
    background-color: rgba(255, 255, 255, 0.8); }
    .ui-button.is-white:hover {
      background-color: #fff;
      color: #4c4c4c !important; }

.ui-input {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 30px;
  font-family: inherit;
  outline: none; }

.ui-button-inner {
  position: relative; }
  .ui-button-inner__content {
    max-width: 0;
    overflow: hidden;
    white-space: nowrap; }
    .ui-button-inner__content > * {
      margin: 0 15px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
    .ui-button-inner__content svg {
      fill: #fff;
      margin-right: 10px;
      width: 17px;
      height: 19px; }
  .ui-button-inner__close {
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -11px;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent url(../images/button-inner-close.png) center center no-repeat;
    z-index: 5; }
  .ui-button-inner.js-open {
    cursor: default;
    padding-left: 20px; }
    .ui-button-inner.js-open .ui-button-inner__close {
      display: block; }
    .ui-button-inner.js-open .ui-button-inner__label {
      display: none; }
    .ui-button-inner.js-open .ui-button-inner__content {
      max-width: 50em; }

.ui-search {
  background: url(../images/icon-search.png) center center no-repeat;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  .ui-search form {
    display: none;
    height: 35px; }
  .ui-search form input {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #e6e6e6;
    padding-left: 20px;
    outline: none;
    font-size: 14px; }
    .ui-search form input::-webkit-input-placeholder {
      color: #808080; }
    .ui-search form input:-ms-input-placeholder {
      color: #808080; }
    .ui-search form input::-ms-input-placeholder {
      color: #808080; }
    .ui-search form input::placeholder {
      color: #808080; }
  .ui-search form button {
    width: 110px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #1773ce url(../images/icon-search-button.png) 20px center no-repeat;
    padding-left: 10px; }
  .ui-search__close {
    display: none;
    width: 40px;
    height: 40px;
    background: transparent url(../images/button-inner-close.png) center center no-repeat;
    position: absolute;
    right: 10px;
    top: -2px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    border: none;
    outline: none; }
  .ui-search.js-open {
    max-width: 455px;
    width: 100%;
    background-image: none;
    -webkit-mask-image: none;
            mask-image: none;
    background-color: transparent; }
    .ui-search.js-open form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

.ui-lang {
  background-color: #f0f6fb;
  border-radius: 40px;
  padding: 12px 20px;
  color: #808080;
  -ms-flex-item-align: center;
      align-self: center; }

.ui-comment {
  background: url(../images/comment-layer.png) top left no-repeat;
  max-width: 640px;
  min-height: 265px;
  position: relative;
  background-size: contain; }
  .ui-comment:after {
    content: '';
    display: block;
    position: absolute;
    top: 30px;
    left: 65px;
    width: 60px;
    height: 50px;
    background: url(../images/quotes.png) center center no-repeat; }
  .ui-comment__content {
    padding: 50px 50px 50px 160px;
    font-size: 14px;
    color: #4c4c4c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .ui-comment__info {
    margin-top: 15px;
    font-style: italic; }

.ui-checklist, .services-slider__item-checklist {
  margin-top: 20px;
  margin-left: 25px; }
  .ui-checklist li, .services-slider__item-checklist li {
    position: relative;
    font-size: 14px;
    color: #4c4c4c; }
    .ui-checklist li:before, .services-slider__item-checklist li:before {
      content: '';
      background-repeat: no-repeat;
      background-position: center center;
      width: 30px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: -2px;
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%); }
    .ui-checklist li + li, .services-slider__item-checklist li + li {
      margin-top: 10px; }
  .ui-checklist.blue-icons li:before, .blue-icons.services-slider__item-checklist li:before {
    background-image: url(../images/icon-checklist-blue.png); }
  .ui-checklist.red-icons li:before, .red-icons.services-slider__item-checklist li:before {
    background-image: url(../images/icon-checklist-red.png); }
  .ui-checklist.green-icons li:before, .green-icons.services-slider__item-checklist li:before {
    background-image: url(../images/icon-checklist-green.png); }

.ui-video {
  position: relative;
  width: 560px;
  max-width: calc(100vw - 30px);
  height: 315px;
  cursor: pointer;
  display: block; }
  .ui-video:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(51, 158, 139, 0.85) url(../images/icon-play.svg) center center no-repeat;
    z-index: 1; }
  .ui-video__text {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 40px;
    z-index: 2; }
  .ui-video img {
    width: 100% !important;
    height: 100%;
    max-width: initial;
    -o-object-fit: cover;
       object-fit: cover;
    right: 0 !important; }

.ui-accordion__item {
  position: relative;
  border-bottom: 1px solid #e5e5e5; }
  .ui-accordion__item:after {
    content: '+';
    position: absolute;
    right: 50px;
    top: 33px;
    width: 36px;
    height: 36px;
    margin-top: -18px;
    background-color: #f0f6fb;
    color: #1773ce;
    pointer-events: none;
    font-size: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-weight: 300;
    border-radius: 50%; }
  .ui-accordion__item.js-open:after {
    content: '—'; }
  .ui-accordion__item-hidden {
    display: none;
    padding-bottom: 25px;
    margin-top: -10px; }
  .ui-accordion__item:first-child {
    border-top: 1px solid #e5e5e5; }
  .ui-accordion__item-caption {
    font-size: 16px;
    color: #1773ce;
    padding: 25px 30% 25px 0;
    cursor: pointer; }
  .ui-accordion__item-text {
    color: #4c4c4c;
    max-width: 70%;
    position: relative;
    z-index: 2; }
  .ui-accordion__item-more {
    margin-top: 20px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .ui-accordion__item-more span {
      text-decoration: underline; }

.ui-sub {
  padding: 10px 10px 10px 20px;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .ui-sub input {
    min-width: 290px; }
  .ui-sub button {
    margin-left: 20px; }

html.js-noscroll,
body.js-noscroll {
  overflow: hidden; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  overflow-x: hidden; }

.container {
  max-width: 1190px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

.container-small {
  max-width: 990px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

/* Header */
.header {
  padding: 25px 0 0; }
  .header__logo {
    width: 198px;
    height: 46px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    background-image: url(../images/logo.svg); }
  .header__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 40px;
    max-width: 230px;
    padding: 0px 20px;
    position: relative;
    height: 57px;
    margin-right: auto; }
    .header__label svg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
    .header__label-year {
      font-size: 33px;
      color: #ff5722;
      font-weight: 900; }
    .header__label-text {
      font-size: 12px;
      color: #808080;
      line-height: 1;
      margin-left: 5px; }
  .header__search {
    margin-right: 20px; }
  .header__login .ui-button-inner__content > * + * {
    position: relative; }
    .header__login .ui-button-inner__content > * + *:before {
      content: '';
      height: 100%;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      left: -15px;
      top: 0; }
  .header__login-mobile {
    display: none;
    background-color: transparent;
    padding: 0;
    width: 30px;
    height: 30px;
    margin-right: 60px;
    font-size: 0; }
    .header__login-mobile svg {
      width: 30px;
      height: 30px;
      fill: #ff5722; }
    .header__login-mobile.js-orange {
      background-color: #ff5722;
      margin-right: 0;
      padding: 10px 30px; }
      .header__login-mobile.js-orange svg {
        fill: #fff; }
    .header__login-mobile.is-open + .hidden-login {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important; }
  .header__login.js-open {
    margin-left: auto; }
  .header .hidden-login {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #ff5722;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    color: #fff;
    padding: 20px;
    z-index: 9999; }
    .header .hidden-login a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: inherit;
      font-size: 14px;
      font-weight: 400; }
    .header .hidden-login a + a {
      margin-top: 20px; }
    .header .hidden-login svg {
      fill: #fff;
      margin-right: 10px;
      width: 20px;
      height: 20px; }
    .header .hidden-login .close {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 10px;
      right: 10px;
      outline: none;
      border: none;
      background: url(../images/button-inner-close.png) center center no-repeat; }
  .header__lang {
    margin-left: 15px; }
  .header-menu {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-menu__link {
      color: #808080;
      margin: 0px 10px;
      padding: 30px 15px; }
    .header-menu > li {
      position: relative; }
      .header-menu > li:hover a, .header-menu > li.active a {
        background-color: #1773ce;
        color: #fff; }
      .header-menu > li:hover .submenu, .header-menu > li.active .submenu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
    .header-menu .submenu {
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: absolute;
      background-color: #1773ce;
      color: #fff;
      padding: 40px;
      z-index: 100;
      white-space: nowrap;
      margin-left: 10px;
      top: 45px; }
      .header-menu .submenu li + li {
        margin-top: 5px; }
      .header-menu .submenu a {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .header-menu .submenu a:before {
          content: '';
          background: url(../images/submenu-item-arrow-light.png) left center no-repeat;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-right: 5px;
          width: 15px;
          height: 10px; }
  .header__nav {
    color: #1773ce;
    font-size: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    margin-top: 25px; }
  .header.js-search-opened .header-menu {
    display: none !important; }
  .header.is-fixed {
    background-color: #f0f6fb;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 105;
    padding: 20px 0; }
    .header.is-fixed .nav {
      display: none; }
    .header.is-fixed .header__lang,
    .header.is-fixed .header__label,
    .header.is-fixed .header-menu {
      display: none !important; }
    .header.is-fixed .header__search {
      margin-left: auto; }
  .header.mob-search-open {
    background-color: #1773ce; }
    .header.mob-search-open .ui-search form button {
      background-color: #114e8a;
      font-size: 0;
      width: 60px; }

#hamburger {
  display: none;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: transparent;
  background-image: url(../images/mobile-hamburger.png);
  position: absolute;
  right: 20px;
  top: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1000; }
  #hamburger.js-open {
    background-image: url(../images/mobile-menu-close.png);
    background-size: auto; }

/*Mobile header*/
.header.js-open {
  background-color: #1773ce;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999; }
  .header.js-open .header__logo {
    background-image: url(../images/logo-white.svg); }
  .header.js-open .header__grid .header__login-mobile {
    display: none !important; }
  .header.js-open .header__search {
    display: none; }
  .header.js-open .mobile-nav .header__search,
  .header.js-open .mobile-nav .nav,
  .header.js-open .mobile-nav .header__lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header.js-open .mobile-nav .nav {
    background-color: transparent;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .header.js-open .header__nav {
    color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header.js-open .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .header.js-open .mobile-nav .header__login-mobile {
      font-size: 14px; }

.mobile-nav {
  display: none;
  padding: 0 15px; }
  .mobile-nav .header__search {
    margin-bottom: 15px;
    margin-right: 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%; }
    .mobile-nav .header__search form {
      height: 40px;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important; }
    .mobile-nav .header__search form button {
      background-color: #0a529b;
      font-size: 0;
      width: 60px;
      height: 40px; }
  .mobile-nav .ui-search__close {
    display: none !important; }
  .mobile-nav .ui-search.js-open {
    padding-right: 0; }
  .mobile-nav .header__login-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ff5722;
    padding: 10px 20px;
    height: 40px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    margin-right: 0;
    margin-left: 0; }
    .mobile-nav .header__login-mobile svg {
      fill: #fff;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 20px; }
  .mobile-nav .header__nav {
    width: 100%;
    padding-left: 30px;
    margin-bottom: 50px; }
    .mobile-nav .header__nav li {
      width: 100%; }
      .mobile-nav .header__nav li:hover .submenu {
        max-height: 150rem; }
    .mobile-nav .header__nav > li > a {
      color: #fff; }
    .mobile-nav .header__nav .submenu__buttons-foot {
      margin-top: 15px !important; }
    .mobile-nav .header__nav > li > a:not(.ui-button) {
      padding: 10px 0;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      font-weight: 400;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .mobile-nav .header__nav > li > a:not(.ui-button):before {
        content: '';
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 15px;
        height: 10px;
        background: url(../images/icon-dropdown.png) left center no-repeat;
        margin-right: 10px; }
    .mobile-nav .header__nav .submenu {
      position: relative;
      left: 0;
      top: 0;
      padding: 0;
      margin-left: -30px;
      max-width: initial;
      width: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .mobile-nav .header__nav .submenu__column {
        padding: 20px !important; }
      .mobile-nav .header__nav .submenu .submenu__column + .submenu__column {
        border-left: none; }
      .mobile-nav .header__nav .submenu .caption {
        font-size: 14px; }
      .mobile-nav .header__nav .submenu a {
        font-size: 12px; }
      .mobile-nav .header__nav .submenu a:not(.ui-button) {
        padding: 5px 20px; }
        .mobile-nav .header__nav .submenu a:not(.ui-button):hover {
          background-color: #ff5722;
          color: #fff; }
          .mobile-nav .header__nav .submenu a:not(.ui-button):hover:before {
            background-image: url(../images/submenu-item-arrow-white.png); }
      .mobile-nav .header__nav .submenu ul {
        margin-left: -20px;
        margin-right: -20px; }

.nav {
  background-color: #f0f6fb; }
  .nav__list {
    position: relative; }
    .nav__list > li > a {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding: 25px 40px; }
    .nav__list > li:hover, .nav__list > li.active {
      background-color: #1773ce; }
      .nav__list > li:hover .submenu, .nav__list > li.active .submenu {
        max-height: 50rem;
        padding: 20px; }
      .nav__list > li:hover > a, .nav__list > li.active > a {
        color: #fff; }
    .nav__list > li > .submenu {
      position: absolute;
      top: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      right: 0;
      max-width: 100vw;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      white-space: nowrap;
      background-color: #1773ce;
      padding: 0;
      z-index: 100;
      -webkit-transition: all .3s linear;
      transition: all .3s linear; }
      .nav__list > li > .submenu .submenu__column:not(:nth-child(3)) {
        background-color: #fff;
        padding: 50px;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
      .nav__list > li > .submenu .submenu__buttons {
        padding: 30px 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 320px; }
        .nav__list > li > .submenu .submenu__buttons-foot {
          margin-top: auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .nav__list > li > .submenu .submenu__buttons-foot a {
            font-size: 15px; }
          .nav__list > li > .submenu .submenu__buttons-foot a + a {
            margin-top: 10px; }
      .nav__list > li > .submenu .submenu__column + .submenu__column {
        border-left: 1px solid #e6e6e6; }
      .nav__list > li > .submenu .caption {
        font-size: 17px;
        font-weight: bold; }
      .nav__list > li > .submenu ul {
        margin-top: 20px; }
        .nav__list > li > .submenu ul.red-icons a:before {
          background-image: url(../images/submenu-item-arrow-red.png); }
        .nav__list > li > .submenu ul li + li {
          margin-top: 5px; }
        .nav__list > li > .submenu ul a {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          color: #4c4c4c;
          font-weight: 400;
          font-size: 14px; }
          .nav__list > li > .submenu ul a:before {
            content: '';
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            min-width: 20px;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url(../images/submenu-item-arrow.png);
            width: 20px;
            height: 20px;
            margin-right: 3px; }

/* Page head */
.page-head {
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative; }
  .page-head__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .page-head__grid.w50 .page-head__column {
      width: 50%; }
    .page-head__grid.w50 .page-head__column:nth-child(2) {
      padding-left: 100px; }
  .page-head__image {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 310px;
    min-width: 310px; }
    .page-head__image img {
      display: block;
      margin-left: auto; }
    .page-head__image.is-big img {
      max-width: initial;
      position: relative;
      z-index: 1;
      top: 180px; }
    .page-head__image.is-big .img2 {
      position: absolute;
      bottom: -20%;
      left: 58%;
      z-index: 0; }
  .page-head__title {
    font-size: 60px;
    color: #1773ce;
    font-weight: 900;
    margin-top: 50px; }
  .page-head__desc {
    font-size: 18px;
    color: #161a1d;
    margin-top: 40px; }
    .page-head__desc .big {
      font-weight: bold;
      font-size: 24px; }
  .page-head__menu {
    background-color: #f0f6fb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -70px; }
    .page-head__menu li {
      padding: 25px 25px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      color: #1773ce;
      font-size: 17px;
      font-weight: 500; }
  .page-head__checklist {
    margin-top: 50px; }
    .page-head__checklist li {
      font-size: 16px; }
  .page-head__button {
    margin-top: 50px;
    margin-left: 30px; }

/* Banner */
.main-banner {
  padding-top: 95px;
  padding-bottom: 140px;
  position: relative; }
  .main-banner__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-banner__image {
    margin-left: -135px; }
    .main-banner__image img {
      max-width: initial; }
  .main-banner__title {
    margin-top: 20px;
    font-size: 55px;
    font-weight: 900;
    line-height: 50px; }
  .main-banner__comment {
    margin-top: 110px;
    margin-left: -90px; }
  .main-banner .paysend {
    position: absolute;
    right: 100px;
    bottom: 100px; }

/* $ SECTIONS GLOBAL */
.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px; }
  .section__title.is-sm {
    font-size: 36px; }
  .section__title.is-fm {
    font-weight: 500; }
.section h3 {
  font-size: 25px;
  color: #4c4c4c;
  margin-bottom: 20px; }
.section h4 {
  margin-bottom: 20px;
  font-size: 20px;
  margin-top: 50px;
  font-style: italic;
  color: #1773ce;
  text-align: center; }
.section__desc {
  font-size: 16px;
  color: #4c4c4c;
  margin-top: 40px;
  max-width: 80%; }
  .section__desc.is-strong {
    font-weight: 500;
    font-size: 18px; }
  .section__desc.is-md {
    font-size: 18px;
    font-weight: 500; }
.section__tel {
  font-weight: bold;
  color: #1773ce;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .section__tel img {
    margin-left: 10px; }
.section__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px; }
  .section__button-wrapper > * {
    margin: 0 5px; }
  .section__button-wrapper.after-slider {
    margin-top: 60px;
    padding-bottom: 50px; }
.section__social {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500; }
.section__padding {
  padding: 100px 0; }
.section.pb {
  padding-bottom: 100px; }
.section.pt {
  padding-top: 100px; }
.section p {
  color: #4c4c4c; }
  .section p + p {
    margin-top: 20px; }
.section__box {
  margin-top: 50px;
  padding: 50px;
  background-color: #fff; }
  .section__box-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -20px;
    margin-right: -20px; }
    .section__box-grid .col {
      margin-left: 20px;
      margin-right: 20px;
      width: calc(50% - 40px); }

.list-with-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  margin-right: -30px; }
  .list-with-icons ._item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 30px;
    text-align: center;
    width: calc(100% / 3 - 30px); }
    .list-with-icons ._item h6 {
      margin-top: 55px;
      font-size: 24px;
      font-weight: bold;
      height: 59px;
      overflow: hidden; }
      .list-with-icons ._item h6.is-auto {
        height: auto; }
    .list-with-icons ._item p {
      color: #4c4c4c;
      margin-top: 20px; }

/* Advantages */
.s-advantages {
  background-color: #f0f6fb;
  height: 285px;
  margin-bottom: 50px; }
  .s-advantages__border {
    border: 1px solid #e6e6e6;
    position: relative;
    top: 15px;
    height: 285px; }
  .s-advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .s-advantages__item {
    position: relative; }
    .s-advantages__item:nth-child(1) {
      margin-top: -128px; }
      .s-advantages__item:nth-child(1) .s-advantages__icon {
        margin-top: 60px; }
      .s-advantages__item:nth-child(1) .s-advantages__desc {
        margin-left: 10px; }
    .s-advantages__item:nth-child(2) {
      margin-left: 130px;
      margin-top: -60px; }
      .s-advantages__item:nth-child(2) .s-advantages__title {
        position: absolute;
        -webkit-transform: rotate(-90deg) translateY(-100%);
                transform: rotate(-90deg) translateY(-100%);
        bottom: -43px;
        left: -45px; }
      .s-advantages__item:nth-child(2) .s-advantages__desc {
        margin-top: 30px; }
    .s-advantages__item:nth-child(3) {
      margin-top: -123px;
      margin-left: 65px; }
      .s-advantages__item:nth-child(3) .s-advantages__desc {
        margin-bottom: 30px; }
    .s-advantages__item:nth-child(4) {
      margin-top: 40px;
      margin-left: 65px; }
      .s-advantages__item:nth-child(4) .s-advantages__desc {
        margin-top: 15px;
        margin-bottom: 15px; }
    .s-advantages__item:nth-child(5) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      text-align: right;
      margin-left: -160px;
      margin-top: -181px; }
  .s-advantages__title {
    font-weight: 900;
    line-height: 1;
    position: relative;
    white-space: nowrap; }
  .s-advantages h2 {
    font-size: 117px; }
  .s-advantages h3 {
    font-size: 98px; }
  .s-advantages h4 {
    font-size: 66px; }
  .s-advantages h5 {
    font-size: 54px; }
  .s-advantages__desc {
    max-width: 160px;
    font-weight: 500;
    font-size: 16px; }

/* Econom */
.s-econom {
  padding-top: 100px;
  padding-bottom: 100px; }
  .s-econom__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 1px;
    margin-top: 1px; }
  .s-econom__item {
    border: 1px solid #e6e6e6;
    width: calc(50% + 1px);
    margin-left: -1px;
    margin-top: -1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 210px;
    padding: 20px; }
  .s-econom__content {
    margin-left: 60px;
    max-width: 230px;
    color: #4c4c4c; }
  .s-econom__image {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .s-econom__image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .s-econom__title {
    font-size: 18px;
    font-weight: bold; }
  .s-econom__text {
    margin-top: 15px;
    font-weight: 500; }

/* Services */
.s-services {
  padding: 90px 0 70px;
  background-color: #1773ce;
  overflow: hidden; }
  .s-services .container {
    position: relative; }
  .s-services__buttons {
    margin-top: 60px; }

.services-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw; }
  .services-slider__item {
    background-color: #fff;
    padding: 50px;
    overflow: hidden;
    height: 390px;
    max-width: 390px; }
    .services-slider__item + .services-slider__item {
      border-left: 1px solid #e6e6e6; }
    .services-slider__item-head {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: -30px; }
    .services-slider__item-icon {
      width: 125px;
      min-width: 125px;
      height: 125px;
      border-radius: 50%;
      background-color: #fff;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: -30px; }
      .services-slider__item-icon.border-blue {
        -webkit-box-shadow: 0 0 0 50px #f0f6fb;
                box-shadow: 0 0 0 50px #f0f6fb; }
      .services-slider__item-icon.border-red {
        -webkit-box-shadow: 0 0 0 50px #fff5f2;
                box-shadow: 0 0 0 50px #fff5f2; }
      .services-slider__item-icon.border-green {
        -webkit-box-shadow: 0 0 0 50px #f0f6fb;
                box-shadow: 0 0 0 50px #f0f6fb; }
    .services-slider__item-title {
      font-size: 22px;
      font-weight: 500;
      margin-left: 35px; }
  .services-slider.full-border .services-slider__item {
    border: 1px solid #e6e6e6; }
  .services-slider.full-border .services-slider__item + .services-slider__item {
    margin-left: -1px; }

/* SLICK DEFAULT STYLES*/
.slick-slider .slick-slide {
  outline: none;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text; }
.slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  border: none;
  background: #1366c9 url(../images/slider-arrow.png) center center no-repeat;
  outline: none;
  cursor: pointer;
  margin-top: -20px;
  z-index: 101; }
  .slick-slider .slick-arrow.slick-prev {
    left: -70px; }
  .slick-slider .slick-arrow.slick-next {
    left: 1200px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
.slick-slider .slick-dots {
  position: absolute;
  width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -30px;
  left: 0; }
  .slick-slider .slick-dots li {
    margin: 0 5px; }
  .slick-slider .slick-dots button {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 0;
    line-height: 0; }
  .slick-slider .slick-dots .slick-active button {
    background-color: #0e53a5; }
.slick-slider.with-hidden:after {
  content: '';
  position: absolute;
  width: calc((100vw - 1174px) / 2);
  background-color: rgba(23, 115, 206, 0.75);
  left: 1171px;
  height: 100%;
  z-index: 100; }
.slick-slider.gren-hidden:after {
  background-color: rgba(51, 158, 139, 0.75); }
.slick-slider.white-hidden:after {
  background-color: rgba(255, 255, 255, 0.75); }
.slick-slider.grey-buttons .slick-arrow {
  background: #f0f6fb url(../images/slider-arrow-blue.png) center center no-repeat; }
.slick-slider.green-buttons .slick-arrow {
  background: #288c79 url(../images/slider-arrow.png) center center no-repeat; }
.slick-slider.light-dots .slick-dots button {
  background-color: #1773ce; }
.slick-slider.light-dots .slick-dots .slick-active button {
  background-color: #ff5722; }
.slick-slider.green-dots .slick-dots button {
  background-color: #fff; }
.slick-slider.green-dots .slick-dots .slick-active button {
  background-color: #1b7b69; }

/* Firms */
.s-firms {
  padding: 100px 0; }
  .s-firms__slider {
    margin-top: 80px; }

.firms-slider .item {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* Clients */
.s-clients {
  background-color: #339e8b;
  padding: 100px 0;
  overflow-x: hidden; }
  .s-clients .clients-slider:after {
    left: 1160px; }

.clients-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw; }
  .clients-slider.full-border {
    margin-left: 1px; }
  .clients-slider.full-border .clients-slider__item {
    border: 1px solid #e6e6e6;
    margin-left: -1px; }
  .clients-slider__item {
    padding: 40px;
    background-color: #fff;
    max-width: 580px; }
    .clients-slider__item + .clients-slider__item {
      border-left: 1px solid #e6e6e6; }
    .clients-slider__item-head {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .clients-slider__item-info {
      padding-left: 15px; }
    .clients-slider__item-ava {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden; }
      .clients-slider__item-ava img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .clients-slider__item-link {
      text-decoration: underline; }
    .clients-slider__item-text {
      margin-top: 15px;
      line-height: 21px;
      color: #4c4c4c;
      position: relative;
      height: 105px;
      overflow: hidden; }
      .clients-slider__item-text:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 25px;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), to(rgba(255, 255, 255, 0.5)));
        background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0.5));
        left: 0;
        width: 100%; }
    .clients-slider__item-more {
      margin-top: 15px;
      border-bottom: 1px dashed currentColor;
      color: #4c4c4c;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding-bottom: 2px; }

/* JOIN STEPS */
.s-join {
  padding: 100px 0; }
  .s-join__buttons {
    margin-top: 60px; }

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px; }
  .join-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(100% / 4 - 20px);
    margin: 0 20px; }
    .join-list__item-icon {
      padding-left: 10px; }
    .join-list__item-caption {
      color: #4c4c4c;
      font-weight: 500;
      font-size: 22px;
      margin-top: 35px;
      height: 55px; }
    .join-list__item-list {
      margin-top: 35px; }
  .join-list.with-padding {
    padding: 50px 30px; }

/* Why join */
.s-whyjoin {
  padding-top: 100px;
  padding-bottom: 50px; }
  .s-whyjoin .why-join-list {
    padding-top: 50px; }

.why-join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -12.5px;
  margin-right: -12.5px; }

.why-join-item {
  margin: 0 12.5px 25px 12.5px;
  width: calc(50% - 25px);
  background-color: #f0f6fb;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 180px;
  min-width: 360px;
  max-width: calc(100vw - 30px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .why-join-item__content {
    padding: 20px; }
  .why-join-item__title {
    font-size: 20px;
    color: #1773ce;
    font-weight: bold; }
  .why-join-item__desc {
    color: #4c4c4c;
    margin-top: 20px; }
  .why-join-item__icon {
    background-color: #1773ce;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 130px; }

.join-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px -10px -30px; }
  .join-options__item {
    width: calc(100% / 4 - 30px);
    min-width: 180px;
    max-width: calc(100vw - 30px);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0 10px 30px; }
    .join-options__item-icon {
      height: 65px; }
    .join-options__item-title {
      font-size: 18px;
      color: #339e8b;
      font-weight: bold;
      display: block;
      margin-top: 10px;
      height: 44px;
      overflow: hidden;
      text-overflow: ellipsis; }
    .join-options__item-text {
      display: block;
      color: #4c4c4c;
      margin-top: 15px; }

/* Questions */
.s-question {
  background-color: #1773ce;
  padding: 80px 0 100px;
  text-align: center; }
  .s-question .section__title {
    margin-bottom: 0; }
  .s-question__desc {
    font-size: 30px;
    font-weight: bold;
    color: #bfd9ef;
    line-height: 48px; }
  .s-question .section__button-wrapper {
    margin-top: 60px; }

/* Whom checks*/
.s-whom-checks {
  padding: 100px 0; }
  .s-whom-checks__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .s-whom-checks__column {
    width: 50%; }
  .s-whom-checks__box {
    background-color: #0d56bf;
    padding: 100px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    line-height: 1.4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .s-whom-checks__box img {
      margin-right: 10px; }
    .s-whom-checks__box p {
      padding-left: 35px;
      margin-top: -30px; }
  .s-whom-checks-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: #fff;
    padding-left: 30px;
    padding-top: 15px; }
    .s-whom-checks-desc ._caption {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      font-size: 16px; }
    .s-whom-checks-desc ._columns {
      width: calc(50% - 20px);
      margin: 40px 10px 0; }
    .s-whom-checks-desc ._text {
      margin-top: 35px; }

/* How work checks*/
.how-work-checks {
  padding: 100px 0; }
  .how-work-checks__view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .how-work-checks__view ._text {
      max-width: 205px; }
    .how-work-checks__view .item:nth-child(2) {
      margin-left: 50px; }
    .how-work-checks__view .item:nth-child(3) {
      margin-left: 30px;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .how-work-checks__view .item:nth-child(3):before {
        content: '';
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 90px;
        height: 1px;
        background-color: #d9d9d9;
        margin-right: 20px; }
      .how-work-checks__view .item:nth-child(3):after {
        content: '';
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        background: url(../images/page-checks/lines.png) top center no-repeat;
        width: 135px;
        height: 240px;
        opacity: .2;
        margin-right: 30px; }
    .how-work-checks__view ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 320px; }
      .how-work-checks__view ul li img {
        margin-right: 30px; }
    .how-work-checks__view ul li + li {
      margin-top: 10px; }

/* Checks advantages */
.checks-advantages {
  padding: 100px 0; }
  .checks-advantages .section__button-wrapper {
    margin-top: 50px; }

.visual-table {
  background-color: #fff;
  padding: 50px 50px; }
  .visual-table__head {
    font-size: 16px;
    font-weight: bold;
    color: #4c4c4c; }
  .visual-table__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #4c4c4c; }
    .visual-table__content .visual-table__row {
      border-top: 1px solid #cce7e2; }
    .visual-table__content p {
      font-weight: bold;
      font-size: 16px;
      color: #1773ce; }
    .visual-table__content small {
      font-size: 12px;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      text-align: center;
      margin-top: 3px; }
    .visual-table__content img {
      margin-right: 5px; }
  .visual-table__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0; }
  .visual-table__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .visual-table__col:not(:nth-child(1)) {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .visual-table__col:nth-child(1) {
      width: 30%; }
    .visual-table__col:nth-child(2) {
      width: calc(70% / 3); }
    .visual-table__col:nth-child(3) {
      width: calc(70% / 3); }
    .visual-table__col:nth-child(4) {
      width: calc(70% / 3); }
  .visual-table.mobile {
    padding: 20px;
    display: none;
    font-size: 12px; }
    .visual-table.mobile p {
      font-size: 12px; }
    .visual-table.mobile + .visual-table.mobile {
      margin-top: 20px; }
    .visual-table.mobile .visual-table__head .visual-table__col {
      text-align: center;
      width: 100% !important;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .visual-table.mobile .visual-table__head .visual-table__row {
      padding-top: 0; }
    .visual-table.mobile .visual-table__col {
      width: 50% !important; }
    .visual-table.mobile .visual-table__content .visual-table__col:not(:first-child) {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

/* Questions */
.questions {
  padding: 100px 0; }

/* FINES */
.s-fines {
  padding-bottom: 100px; }

.fines-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 100px -17.5px -30px; }
  .fines-list__item {
    width: calc(100% / 3 - 35px);
    margin: 0 17.5px 30px;
    min-width: 320px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .fines-list__item-caption {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 18px;
      font-weight: bold;
      color: #4c4c4c;
      height: 65px; }
      .fines-list__item-caption img {
        margin-right: 10px; }
    .fines-list__item-list {
      margin-top: 50px;
      padding-left: 40px; }
      .fines-list__item-list span {
        font-weight: bold; }
      .fines-list__item-list li + li {
        margin-top: 20px; }

/* Cards */
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1px; }
  .cards-item {
    padding: 20px;
    border: 1px solid #e6e6e6;
    position: relative;
    margin-left: -1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .cards-item__image {
      width: 100%;
      height: 180px;
      overflow: hidden; }
      .cards-item__image img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .cards-item__content {
      padding-top: 20px;
      margin-bottom: auto; }
    .cards-item__title {
      font-size: 18px;
      color: #1773ce;
      font-weight: bold;
      height: 45px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 239px; }
    .cards-item__text {
      margin-top: 20px;
      color: #4c4c4c; }
    .cards-item__footer {
      margin-top: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #d9d9d9; }
    .cards-item__more {
      text-decoration: underline; }
    .cards-item__date {
      font-size: 12px; }
    .cards-item__comments {
      font-size: 14px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .cards-item__comments:before {
        content: '';
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-mask: url(../images/icon-chat.svg) center center no-repeat;
                mask: url(../images/icon-chat.svg) center center no-repeat;
        -webkit-mask-size: contain;
                mask-size: contain;
        background-color: #d9d9d9;
        margin-right: 5px;
        width: 15px;
        height: 15px; }
  .cards.mobile {
    display: none; }

.card-box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.card-box {
  padding: 50px;
  color: #fff;
  width: calc(50% - 40px);
  margin: 0 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 290px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .card-box__content {
    max-width: 70%; }
  .card-box__title {
    font-size: 30px;
    font-weight: bold; }
  .card-box__text {
    font-size: 16px;
    margin-top: 20px; }
  .card-box__icon {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: auto; }
    .card-box__icon svg {
      fill: rgba(0, 0, 0, 0.3); }
  .card-box__button {
    margin-top: 20px; }
  .card-box.bordered {
    border: 3px solid transparent;
    background-color: transparent !important;
    color: #4c4c4c;
    padding: 40px; }
    .card-box.bordered.border-blue {
      border-color: #1773ce; }
      .card-box.bordered.border-blue .card-box__title {
        color: #1773ce; }
      .card-box.bordered.border-blue .card-box__icon svg {
        fill: #1773ce;
        width: 80px; }
    .card-box.bordered.border-red {
      border-color: #ff5722; }
      .card-box.bordered.border-red .card-box__title {
        color: #ff5722; }
      .card-box.bordered.border-red .card-box__icon svg {
        fill: #ff5722;
        width: 80px; }
    .card-box.bordered.border-green {
      border-color: #339e8b; }
      .card-box.bordered.border-green .card-box__title {
        color: #339e8b; }
      .card-box.bordered.border-green .card-box__icon svg {
        fill: #339e8b;
        width: 80px; }

.check-card {
  width: calc(100% / 3);
  background-color: #fff;
  padding: 40px; }
  .check-card__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f5f5f5; }
    .check-card__image img {
      height: 100px;
      width: 100px; }
  .check-card__title {
    color: #339e8b;
    height: auto; }

/* Tarrifs */
.tarrifs__button {
  margin-top: 50px; }

/* Tariff table */
.tariff-table {
  margin-top: 50px; }
  .tariff-table__head .tariff-table__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    font-weight: bold; }
    .tariff-table__head .tariff-table__col img {
      margin-bottom: 15px; }
  .tariff-table__body {
    margin-top: 20px; }
    .tariff-table__body .tariff-table__row {
      padding: 20px 0;
      color: #4c4c4c; }
      .tariff-table__body .tariff-table__row:nth-child(odd) {
        background-color: #f0f6fb; }
  .tariff-table__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .tariff-table__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px; }
    .tariff-table__col img {
      margin-left: 30px;
      margin-right: 30px; }
    .tariff-table__col:not(:first-child) {
      font-weight: 500;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; }
    .tariff-table__col:nth-child(1) {
      width: 30%; }
    .tariff-table__col:nth-child(2) {
      width: calc(70% / 4); }
    .tariff-table__col:nth-child(3) {
      width: calc(70% / 4); }
    .tariff-table__col:nth-child(4) {
      width: calc(70% / 4); }
    .tariff-table__col:nth-child(5) {
      width: calc(70% / 4); }
  .tariff-table.mobile {
    display: none; }
    .tariff-table.mobile .tariff-table__col {
      font-size: 12px; }
    .tariff-table.mobile .tariff-table__head .tariff-table__col {
      width: 100% !important;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 18px; }
    .tariff-table.mobile .tariff-table__body .tariff-table__col {
      width: 70%; }
      .tariff-table.mobile .tariff-table__body .tariff-table__col:not(:first-child) {
        width: 30%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }

/* Questions & Ansers section*/
.s-qa__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.s-qa__column1 {
  width: 65%; }
.s-qa__column2 {
  width: 35%;
  padding-left: 40px; }
.s-qa__box {
  border: 20px solid #1773ce; }
  .s-qa__box .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .s-qa__box .cards-item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .s-qa__box .cards-item__image {
        max-width: 290px; }
      .s-qa__box .cards-item__content {
        -webkit-box-flex: 1;
            -ms-flex: 1 0;
                flex: 1 0;
        padding-left: 40px;
        padding-top: 0; }
      .s-qa__box .cards-item__title {
        height: auto;
        white-space: normal; }
      .s-qa__box .cards-item__more {
        color: #d9d9d9;
        margin-top: 20px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex; }
  .s-qa__box .cards.mobile {
    padding: 0; }
    .s-qa__box .cards.mobile .cards-item {
      background-color: #fff;
      border: none; }
.s-qa__tags {
  margin-top: 100px; }
.s-qa__banner {
  margin-top: 100px; }
.s-qa__article {
  margin-top: 100px; }

.last-news__caption {
  font-size: 24px;
  font-weight: bold;
  color: #339e8b; }
.last-news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px; }
.last-news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none; }
  .last-news__item + .last-news__item {
    margin-top: 20px; }
  .last-news__item span {
    color: #4c4c4c; }
    .last-news__item span:first-child {
      color: rgba(76, 76, 76, 0.5);
      margin-right: 30px; }

.hash-tags {
  margin-left: -10px;
  margin-right: -10px; }
  .hash-tags a {
    font-size: 18px;
    font-weight: bold;
    color: #339e8b;
    margin: 5px 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }

/* Mini banner */
.banner-mini {
  position: relative;
  min-height: 290px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .banner-mini__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 20px;
    background-color: #339e8b;
    color: #fff;
    font-size: 16px; }
  .banner-mini img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

/* Article */
.article__title {
  font-size: 18px;
  font-weight: bold;
  color: #339e8b; }
.article__text {
  margin-top: 20px; }
.article__more {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 20px;
  color: rgba(76, 76, 76, 0.5);
  text-decoration: underline; }

section.article img {
  padding: 40px;
  border: 1px solid #eee;
  max-width: 100%;
  width: 100%;
  margin: 50px 0; }

/* About page */
.about-head {
  padding-bottom: 100px; }
  .about-head__desc {
    max-width: 550px;
    margin-top: 70px; }
  .about-head .container {
    position: relative; }
  .about-head__img {
    height: 640px;
    width: 500px;
    position: absolute;
    right: -50px;
    bottom: -50px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none; }
    .about-head__img img {
      max-width: initial; }
    .about-head__img .img1 {
      position: absolute;
      z-index: 2;
      bottom: -186px;
      right: 75px; }
    .about-head__img .img2 {
      height: 400px;
      overflow: hidden;
      width: 570px;
      position: absolute;
      bottom: -50px;
      z-index: 0; }

/* Pressa about us */
.s-pressa .slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.s-pressa-slider {
  background-color: #fff; }
  .s-pressa-slider .s-econom__title {
    color: #1773ce; }
  .s-pressa-slider .s-econom__item {
    height: 240px; }

/* Sertificates */
.sertificates-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  margin-right: -10px; }

.sertificates-item {
  padding: 30px;
  background-color: #f0f6fb;
  margin-left: 10px;
  margin-right: 10px; }
  .sertificates-item__img {
    padding-left: 30px;
    padding-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 220px; }
    .sertificates-item__img img {
      height: 100%; }
  .sertificates-item__text {
    margin-top: 40px;
    color: #4c4c4c; }

/* Our products list section */
.s-products__list {
  margin-top: 100px; }

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.products-item {
  text-align: center;
  width: calc(100% / 3);
  max-width: 265px; }
  .products-item__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 125px; }
  .products-item__name {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold; }
  .products-item__desc {
    font-size: 18px;
    margin-top: 20px; }

/* Footer */
.footer {
  padding-top: 100px; }
  .footer__box {
    border: 1px solid #e6e6e6;
    padding: 50px; }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer__nav-list {
      margin-top: 20px; }
      .footer__nav-list li + li {
        margin-top: 10px; }
    .footer__nav-column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      max-width: 150px; }
    .footer__nav-caption {
      color: #1976d2;
      font-weight: bold;
      height: 35px; }
      .footer__nav-caption + .footer__nav-caption {
        margin-top: 5px; }
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 0; }
  .footer__conf {
    color: #4c4c4c; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__social > a {
      margin: 0 12.5px; }
  .footer__phone {
    color: #45ac9a;
    font-weight: bold;
    font-size: 18px; }

/* PC */
@media screen and (max-width: 1366px) {
  .main-banner__image {
    margin-left: -2vw; } }
/* TABLET */
@media screen and (max-width: 1024px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f6fb;
    padding-bottom: 25px;
    z-index: 99; }

  .header + * {
    margin-top: 96px; }

  .ui-search.js-open {
    max-width: initial;
    width: 100%;
    padding-right: 20px; }
    .ui-search.js-open .ui-search__close {
      display: block; }

  #hamburger {
    display: block; }

  .header__label,
  .header-menu,
  .nav,
  .header__login,
  .header__lang {
    display: none !important; }

  .header__search {
    margin-left: auto; }

  .header__login-mobile {
    display: block; }

  .mobile-nav .header__lang {
    display: block !important; }

  .section__title {
    font-size: 36px; }

  .main-banner {
    padding-top: 50px; }

  .main-banner__image {
    margin-left: 0; }

  .main-banner__title {
    font-size: 40px;
    line-height: 1; }

  .main-banner__comment {
    margin-top: 30px; }

  .main-banner .paysend {
    max-width: 100px;
    bottom: 50px; }

  .s-econom__content {
    margin-left: 30px; }

  .s-advantages, .s-advantages__border {
    height: auto; }

  .s-advantages h5,
  .s-advantages h4 {
    font-size: 40px; }

  .s-advantages__item:nth-child(2) {
    margin-left: 70px; }

  .s-advantages h3 {
    font-size: 60px; }

  .s-advantages h2 {
    font-size: 86px; }

  .s-advantages__item:nth-child(5) {
    margin-left: -70px; }

  .slick-slider .slick-arrow.slick-prev {
    left: -15px; }

  .slick-slider .slick-arrow.slick-next {
    left: calc(100vw - 55px); }

  .slick-slider .slick-dots {
    width: 100%; }

  .join-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -50px; }

  .join-list__item {
    width: calc(100% / 2 - 60px);
    margin-bottom: 50px; }

  .section__button-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .section__button-wrapper > * {
    margin: 5px 0; }

  .s-econom,
  .s-services,
  .s-firms,
  .s-clients,
  .s-join {
    padding: 50px 0; }

  .ui-search {
    background-image: url(../images/mobile-search.png); } }
/* MOBILES */
@media screen and (max-width: 960px) {
  .main-banner__image img {
    max-width: 100%; } }
@media screen and (max-width: 768px) {
  .footer__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-bottom: -30px; }

  .footer__nav-column {
    max-width: 30%;
    margin: 30px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

  .main-banner__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .main-banner__comment {
    margin-left: 0; }

  .main-banner .paysend {
    bottom: 30px;
    right: 30px; }

  .page-head__grid.w50 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px; }

  .page-head__grid.w50 .page-head__column {
    width: 100%; }

  .page-head__grid.w50 .page-head__column:nth-child(2) {
    padding-left: 0; }

  .page-head__menu {
    width: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    margin-right: -15px;
    margin-top: 50px; }

  .s-whom-checks__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .s-whom-checks__column {
    width: 100%; }

  .how-work-checks__view {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px; }

  .how-work-checks__view ._text {
    max-width: 80vw; }

  .how-work-checks__view .item:nth-child(2) {
    margin-bottom: 30px;
    margin-top: 30px; }

  .how-work-checks__view .item:nth-child(3):before,
  .how-work-checks__view .item:nth-child(3):after {
    position: absolute; }

  .how-work-checks__view .item:nth-child(3) {
    margin-top: 100px;
    margin-bottom: 65px; }

  .how-work-checks__view .item:nth-child(3):before {
    -webkit-transform: rotate(-90deg) translateX(75%);
            transform: rotate(-90deg) translateX(75%);
    top: 0;
    left: 30px; }

  .how-work-checks__view .item:nth-child(3):after {
    background: url(../images/page-checks/lines-mobile.png) top center no-repeat;
    top: 137px;
    left: -35vw;
    height: 335px; }

  .how-work-checks__view .item:nth-child(4) {
    padding-left: 20vw; }

  .how-work-checks__view ul li img {
    max-width: 50px; }

  .how-work-checks__view ul li + li {
    margin-top: 20px; }

  .how-work-checks__view .item {
    margin-left: 0 !important; }

  .card-box-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin-right: 0; }

  .card-box {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }

  .list-with-icons ._item {
    margin: 0 10px;
    width: calc(100% / 3 - 10px); }

  .section__padding {
    padding: 50px 0; }

  .section.pb {
    padding-bottom: 50px; }

  .section.pt {
    padding-top: 50px; }

  .page-head__title {
    font-size: 40px; }

  .cards-item {
    width: calc(100% / 4); }

  .cards-item__image {
    height: 100px; }

  .cards-item__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .cards-item__footer > * + * {
    margin-top: 10px; }

  .cards-item__title {
    height: auto; }

  .check-card {
    width: calc(100% / 3);
    padding: 20px; }

  .check-card__image img {
    width: 50px;
    height: 50px; }

  .page-head__image {
    min-width: 40%; }

  .tariff-table {
    display: none; }

  .tariff-table.mobile {
    display: block; }

  .about-head {
    margin-top: 25px; }

  .about-head__img .img1 {
    height: 340px;
    bottom: -23px; }

  .about-head__img {
    height: 290px;
    width: 300px;
    position: absolute;
    right: -105px;
    bottom: -100px; }

  .about-head__img .img2 {
    width: 300px; }

  .about-head__img .img2 img {
    max-width: 100%; }

  .about-head__desc {
    margin-top: 30px; }

  .s-pressa-slider .s-econom__item {
    width: auto !important;
    max-width: 100vw; }

  .s-qa__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .s-qa__column1,
  .s-qa__column2 {
    width: 100%; }

  .s-qa__box .cards-item {
    width: 100%; }

  .s-qa__box .cards-item__image {
    height: 180px; }

  .s-qa__column2 {
    padding-left: 0;
    margin-top: 50px; }

  .page-head + .s-cards {
    margin-top: 35vw; }

  .s-qa .cards-item__title {
    font-size: 14px;
    margin-top: 20px; }

  .s-qa .cards-item__text {
    font-size: 12px; }

  .s-qa .cards-item__footer > * + * {
    margin-top: 0; }

  .s-qa .cards-item__more {
    margin-top: 0; }

  .s-qa .slick-slider .slick-arrow.slick-next {
    left: calc(100vw - 76px); }

  .s-qa .slick-slider .slick-arrow.slick-prev {
    left: -36px; } }
@media screen and (min-width: 576px) {
  .mobile-show {
    display: none; } }
@media screen and (max-width: 576px) {
  .mobile-hide {
    display: none; }

  .header {
    padding-top: 15px;
    padding-bottom: 15px; }

  .header + * {
    margin-top: 65px; }

  .header__logo {
    width: 146px; }

  .header__mobile-hamburger {
    width: 36px;
    height: 36px; }

  .header__mobile-login,
  .header__mobile-search {
    width: 22px;
    height: 22px; }

  #hamburger {
    top: 20px; }

  .page-head {
    position: relative; }

  .page-head img {
    position: absolute;
    right: -15%;
    top: 0;
    width: 50%; }

  .page-head__title {
    font-size: 26px;
    line-height: 1;
    margin-top: 30px; }

  .page-head__column {
    width: 80%; }

  .page-head__desc {
    font-size: 12px;
    margin-top: 20px; }

  .page-head__grid + .page-head__grid {
    margin-top: 50px; }

  .page-head__menu {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    margin-right: -30px;
    margin-top: 40vw; }

  .page-article .page-head__title,
  .page-article .page-head__desc {
    width: 100% !important;
    max-width: 100% !important; }

  .section__title {
    font-size: 26px; }

  .main-banner {
    padding-top: 10px;
    padding-bottom: 100px; }

  .main-banner__image {
    position: absolute;
    width: 100%;
    margin-left: -100px; }

  .ui-comment {
    max-width: 100%;
    width: 70%;
    background-size: contain;
    max-height: 185px; }

  .main-banner__comment {
    margin-left: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: -105px; }

  .ui-comment__content {
    padding: 20px 30px 30px 70px;
    font-size: 9px; }

  .ui-comment:after {
    width: 30px;
    height: 30px;
    background-size: contain;
    top: 17px;
    left: 30px; }

  .main-banner__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .main-banner__image {
    position: relative; }

  .main-banner__title {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .main-banner__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .main-banner .paysend {
    bottom: auto;
    top: 50px;
    right: 35px; }

  .main-banner__title {
    margin-top: -55px;
    font-size: 26px; }

  .s-advantages__desc {
    font-size: 12px; }

  .s-advantages__item:nth-child(1) .s-advantages__icon {
    margin-top: 20px; }

  .s-advantages__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px;
    margin-top: -70px; }

  .s-advantages__icon {
    max-width: 80px;
    max-height: 90px; }

  .s-advantages__item {
    margin-left: 0 !important;
    margin-top: 0 !important;
    width: 50%; }

  .s-advantages__item:nth-child(2) {
    padding-left: 30px;
    padding-top: 70px; }

  .s-advantages__item:nth-child(2) .s-advantages__title {
    left: 0; }

  .s-advantages__item:nth-child(3) {
    padding-top: 30px; }

  .s-advantages__item:nth-child(4) .s-advantages__icon {
    margin-left: auto; }

  .s-advantages__item:nth-child(5) {
    position: relative;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 50px; }
    .s-advantages__item:nth-child(5) .s-advantages__icon {
      position: absolute;
      right: 0;
      bottom: 0;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      margin-right: -50px;
      margin-top: -20px; }

  .s-econom__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .s-econom__item {
    width: 100%; }

  .s-econom__image {
    width: 90px; }

  .s-econom__title {
    font-size: 14px; }

  .s-econom__text {
    font-size: 12px; }

  .s-econom__content {
    margin-left: 15px; }

  .ui-checklist li, .services-slider__item-checklist li, .services-slider__item-checklist li {
    font-size: 12px; }

  .firms-slider .item img {
    height: 20px; }

  .s-firms__slider {
    padding-left: 50px;
    padding-right: 50px; }

  .clients-slider__item {
    font-size: 12px;
    max-width: calc(100vw - 50px); }

  .join-list__item {
    width: 100%; }

  .join-list__item-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .join-list__item-caption {
    margin-top: 20px;
    height: auto; }

  .join-list__item-list {
    margin-top: 20px; }

  .join-list__item-icon img {
    max-width: 30vw; }

  .s-question {
    padding-top: 50px;
    padding-bottom: 50px; }

  .s-question .section__title {
    font-size: 21px; }

  .s-question__desc {
    font-size: 16px;
    line-height: 1.5; }

  .ui-button.is-md {
    width: 100%;
    white-space: nowrap;
    font-size: 12px !important; }

  .visual-table {
    display: none; }

  .visual-table.mobile {
    display: block; }

  .ui-accordion__item-caption {
    font-size: 14px; }

  .ui-accordion__item:after {
    right: 0; }

  .ui-accordion__item-text,
  .ui-accordion__item-more {
    font-size: 12px; }

  .questions {
    padding: 50px 0; }

  .section__title.is-sm {
    font-size: 20px; }

  .fines-list {
    margin-top: 50px; }

  .fines-list__item-caption {
    font-size: 14px; }

  .fines-list__item-list {
    margin-top: 20px; }

  .s-whom-checks__box {
    padding: 30px; }

  .s-whom-checks-desc {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .s-whom-checks-desc ._columns {
    width: 100%;
    margin-right: 0;
    margin-left: 0; }

  .s-whom-checks-desc ._icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .page-head__button {
    margin-left: 0;
    margin-right: 0; }

  .page-head__desc .big {
    font-size: 14px; }

  .card-box {
    padding: 30px; }

  .card-box__content {
    max-width: 100%; }

  .card-box__icon svg {
    width: 80px; }

  .card-box__title {
    font-size: 21px; }

  .card-box__text {
    font-size: 12px; }

  .card-box .ui-button {
    width: auto; }

  .section__box {
    padding: 30px; }

  .list-with-icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin-right: 0; }

  .list-with-icons ._item {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }

  .list-with-icons ._item + ._item {
    margin-top: 30px; }

  .list-with-icons ._item h6 {
    margin-top: 30px; }

  .page-head__column:first-child {
    width: 100%; }

  .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .check-card {
    width: 100%;
    border: none;
    padding: 40px 20px; }

  .cards-item__title {
    font-size: 14px; }

  .cards-item__text {
    font-size: 12px; }

  .cards-item__more {
    margin-top: 0px;
    font-size: 12px; }

  .cards-item__footer {
    margin-top: 20px; }

  .cards.mobile {
    display: block; }

  .cards.mobile + .cards {
    display: none; }

  .cards-item__footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

  .cards-item {
    margin-left: 0;
    padding: 20px 40px; }

  .cards-item__image {
    height: 150px; }

  .section__button-wrapper {
    margin-top: 50px; }

  .page-head__title {
    margin-top: 10px; }

  .products-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .products-item {
    width: 100%;
    max-width: 100%; }

  .products-item + .products-item {
    margin-top: 50px; }

  .products-item__name {
    font-size: 17px; }

  .products-item__desc {
    font-size: 12px;
    padding: 0 10vw; }

  .s-qa__box {
    background-color: #1773ce;
    padding: 80px 10px;
    border: none;
    margin-left: -15px;
    margin-right: -20px; }

  .s-qa__box .cards.mobile {
    margin-right: -20px; }

  .s-qa__box .cards-item__content {
    padding-left: 0; }

  .s-qa__box .cards-item {
    width: 90vw; }

  .s-qa .slick-slider .slick-arrow.slick-next {
    left: calc(100vw - 43px); }

  .s-qa .slick-slider .slick-arrow.slick-prev {
    left: -5px; }

  .cards-item {
    width: 90vw; }

  .checks-advantages {
    padding: 50px 0; }

  .how-work-checks__view ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .how-work-checks__view ul li:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 20px; }
  .how-work-checks__view ul li:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .how-work-checks__view ul li:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0; }
  .how-work-checks__view ul li:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }

  .fines-list {
    margin-left: 0;
    margin-right: 0; }

  .fines-list__item {
    width: 100%;
    min-width: initial;
    margin-left: 0; }

  .page-head__image {
    min-width: 30%; }

  .page-head__title {
    width: 70%; }

  .page-head__column {
    width: auto; }

  .page-head + .s-cards {
    margin-top: 0; }

  .page-head__desc {
    width: 90vw; }

  .page-head {
    padding-bottom: 0; }

  .section__desc.is-md {
    font-size: 12px;
    margin-top: 10px; }

  .card-box.bordered {
    padding: 40px 10px 30px; }

  .card-box__icon {
    margin-top: 50px; }

  .card-box__icon svg {
    width: 70px !important; }

  .page-head__menu {
    width: auto;
    white-space: nowrap;
    margin-bottom: 50px; }

  .about-head {
    padding-bottom: 100px; }

  .mt200 {
    margin-top: 100px; }

  .s-pressa .slick-initialized .slick-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .s-pressa-slider .s-econom__title {
    margin-top: 20px; }

  .s-pressa-slider .s-econom__item {
    max-width: 90vw;
    width: 90vw !important; }

  .s-econom__list {
    margin-right: -20px; }

  .footer {
    padding-top: 50px; }

  .footer__box {
    padding: 50px 0; }

  .footer__nav-column {
    max-width: 100%;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0; }

  .footer__nav-caption {
    height: auto; }

  .footer__nav-list {
    display: none; }

  .footer__nav-column + .footer__nav-column {
    margin-top: 20px; }

  .footer__nav {
    margin-bottom: 0; }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .footer__bottom > * + * {
    margin-top: 20px; } }
@media screen and (max-width: 425px) {
  .ui-comment {
    width: 100%;
    max-width: initial;
    background-size: 100% 100% !important;
    margin-bottom: 70px;
    min-height: 170px; }

  .header__logo {
    width: 147px;
    height: 30px; }

  #hamburger {
    top: 16px; }

  .s-econom .s-econom__list {
    margin-right: 0; }

  .section__box-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin-right: 0; }

  .section__box-grid .col {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }

  .section__box-grid .col + .col {
    margin-top: 30px; }

  .services-slider__item-icon {
    width: 85px;
    height: 85px;
    min-width: 85px; }

  .services-slider__item-title {
    margin-left: 15px; }

  .section__desc {
    font-size: 12px;
    max-width: 100%; }

  .section__title {
    margin-bottom: 20px;
    line-height: 26px; }

  .s-firms__slider {
    margin-top: 20px; }

  .footer__nav-caption + .footer__nav-caption {
    margin-top: 20px; }

  .join-list__item {
    margin-left: 0; }

  .join-list.with-padding {
    padding: 50px 10px 0; }

  .why-join-item {
    min-width: initial;
    width: 100%;
    height: auto;
    min-height: initial; }

  .s-whyjoin .why-join-list {
    padding-top: 20px; }

  .why-join-item__title {
    font-size: 12px; }

  .why-join-item__icon {
    min-width: 60px; }

  .why-join-item__icon img {
    max-width: 50%; }

  .why-join-item__desc {
    font-size: 11px;
    margin-top: 10px; }

  .how-work-checks__view .item:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 30px;
    font-size: 11px; }

  .how-work-checks__view .item:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .how-work-checks__view .item:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

  .how-work-checks__view .item:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }

  .how-work-checks__view ul li {
    font-size: 11px; }

  .how-work-checks {
    padding: 50px 0; }

  .page-head__desc {
    max-width: 55vw; }

  .page-head {
    padding-bottom: 20px; }

  .ui-sub {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0;
    width: 100%; }

  .ui-sub button {
    margin-left: 0;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px; }

  .ui-sub > * {
    width: 100%;
    min-width: initial !important; } }
@media screen and (max-width: 375px) {
  .header__search {
    margin-right: 10px; }

  .header__login-mobile {
    margin-right: 50px; }

  .s-advantages h5, .s-advantages h4 {
    font-size: 30px; }

  .services-slider__item {
    max-width: 90vw; } }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .nav__list > li > .submenu {
    width: 995px; } }
