*{
  margin: 0;padding: 0;box-sizing: border-box;
  &::selection {
    color: #fff;
    background-color: $pink;
  }
}
ul{list-style-type: none;}
img{max-width: 100%;}
a{
  color: inherit;text-decoration: none;transition: all .2s ease;
  &:hover:not(.ui-button) {color: $pink;}
}
input,button,textarea {font-family: inherit;}


// Font
.font-dita-sweet {
  font-family: "Dita Sweet";
}
.font-mont {
  font-family: "Montserrat";
}

// title stroke
.title-stroke {
  font-family: "Dita Sweet" !important;
  color: #FEFAFA !important;
  -webkit-text-stroke: 1px #6f646a;
  font-weight: 100 !important;
  text-transform: uppercase;
}

//  Text
.text-line {
  position: relative;
  padding-left: 75px;
  &.line-center:before {top: 50%;margin-top: -1px;}
  &.line-top:before {top: 13px; margin-top: -1px;}

  &:before {
    content: '';
    height: 1px;
    background-color: $brown;
    width: 60px;
    display: block;
    position: absolute;
    left: 0px;
  }

  &.line-small {
    padding-left: 45px;
    &:before {
      width: 30px;
    }
  }
}
.text-brown {color: $brown;}



// UI FORMS
.ui {
  
  &-button {
    display: inline-flex;
    padding: 25px 100px;
    border: 1px solid $brown;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
    background-color: transparent;

    transition: all .2s ease;
    &:hover {
      border-color: transparent;
      background-color: $brown;
      color: #fff;
    }

    &.is-small {
      padding: 25px 80px;
    }

    &.is--invert {
      background-color: $brown !important;
      color: #fff !important;

      &:hover {
        background-color: transparent !important;
        border-color: $brown !important;
        color: $brown !important;
      }
    }
  }

  &-input{
    padding: 15px 0;
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: bold;
    border-bottom: 1px solid #959595;
    text-transform: uppercase;
    width: 100%;
    margin-top: 10px;

    &::placeholder {
      color: #585858;
    }

    &-box {
      border: 1px solid #C0C0C0;
      padding: 25px 30px;
    }
  }

  &-date {
    background-image: url(../images/icon-select.svg);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
  }

  &-text {
    width: 100%;
    border: 1px solid #C0C0C0;
    padding: 30px;
    outline: none;
    @extend .ui-input;
    font-family: inherit;
    font-weight: normal;
  }
  
  &-checkbox {
    font-size: 11px;
    color: #787878;

    input{display: none;}

    input + span {
      border: 1px solid #838383;
      border-radius: 2px;
      width: 18px;
      height: 18px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      opacity: .7;
      transition: all .2s ease;
      background-position: center center;
      background-repeat: no-repeat;
    }

    input:checked + span {
      background-image: url(../images/icon-checkbox.svg);
    }

    input:invalid + span {
      border-color: red;
    }

    &.is-lg {
      color: #000;
      font-size: 11px;
      line-height: 145%;
      display: inline-flex;
      text-align: left;
      align-items: center;

      &:hover > span {border-color: $brown;}

      & > span {
        border: 1px solid #E9D7D8;
        opacity: 1;
        width: 22px;
        min-width: 22px;
        height: 22px;

      }
    }
  }

  &-modal {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 6, 6, 0.4);
    overflow-y: auto;
    z-index: 100;
    

    &__close {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      right: -20px;
      top: -20px;
      font-size: 40px;
      font-family: inherit;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      border: none;
      background-color: #fff;
      box-shadow: 0px 1px 6px -3px #413239;
      cursor: pointer;

      &:hover { color: $pink; }
    }

    &__content{
      max-width: 590px;
      width: 100%;
      background-color: #fff;
      padding: 105px 90px;
      text-align: center;
      position: relative;
    }
    
    &__title {
      font-size: 40px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #413239;

      &.is-md {
        font-size: 38px;
      }
    }

    &__subtitle {
      margin: 30px 0 25px;
      font-size: 16px;
      line-height: 140%;
    }
    
    form {
      input{font-weight: normal;}
      button {width: 100%;margin-top: 35px;}
    }

    .ui-checkbox {
      display: inline-flex;
      text-align: left;
      font-size: 11px;
      line-height: 146.28%;
      font-family: "Montserrat";
      letter-spacing: 0;
    }
  }
}



// Borders
.border-5 { border: 5px solid #E9D7D8;}
.border-10 {border: 10px solid #E9D7D8;opacity: .4;}
.image-border {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -150px;
    left: -110px;
    z-index: -1;
    border: 10px solid #E9D7D8;
    opacity: .4;
  }
}

// Image layers
.image-layer {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -35px;
    left: -45px;
    background-color: #EBEBEB;
    width: 98%;
    height: 98%;
    z-index: -1;
  }

  &.is-lb:before {
    left: -50px;
    top: initial;
    bottom: -50px;
  }
}


// SECTION
.section {

  &__title {
    font-family: "Montserrat";
    font-size: 90px;
    font-weight: 900;
    color: $brown;
    text-transform: uppercase;
    line-height: 1.2;

    span {display: inline-block;}

    img{margin-bottom: 15px;}

    &.is-md {font-size: 80px;}
  }

  &__title-svg {
    margin-bottom: 30px;

    span {
      font-size: 15px;
      text-transform: uppercase;
      margin-left: 20px;
    }
  }

  &__text {
    font-size: 18px;
    text-transform: uppercase;
  }
  &__subtitle {
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 20px;
    font-family: "CG";
    font-weight: 100;
  }
}