@media screen and (max-width : 1440px) {
  .header-slider-item {
    background-position: 100% bottom !important;
    background-size: 75% !important;
  }
}


@media screen and (max-width:1366px) {
  .section__title {font-size: 75px;}
}


@media screen and (max-width: 1024px) {
  .section__title {font-size: 62px;}
  .section__title.is-md {font-size: 58px;}
  .section-1{background-image: none;padding-top: 100px;}
  .section-1__image{margin-left: 0;}

  .section-about__image{margin-top: 0;}
  .section-about {padding-top: 100px;}
  .section-about__title{margin-top: 40px;}

  .section-methods__slider {height: auto;}


  .section-directions__title{left: -140px;}

  
  .section-education__years{
    padding: 30px;
    margin-top: 0;
    max-width: 390px;
    height: 490px;
    margin-left: 15px;
  }


  .section-effective__title {
    font-size: 48px;
  }
  .section-effective-list__caption{font-size: 16px;}
  .section-effective-list__item:before{width: 50px;}
  .section-effective-list__item{padding-left: 75px;}
  .section-effective-list__text{font-size: 14px;}

  .section-diagnostic{padding-top: 50px;}
  .section-diagnostic__bg{background-size: contain;}
  .section-diagnostic__subtitle {
    right: 0px;
    top: 80px;
  }

  .section-diagnostic__row2{margin-top: 0;}


  .section-methods{padding-top: 100px;}
  .section-methods-list li{font-size: 14px;}
  .section-methods__subtitle{margin-top: 15px;}

  .section-methods-ready{flex-direction: column;margin-top: 20px;}
  .section-methods-ready > div {
    max-width: 100%;
  }
  .section-methods-ready > div + div {margin-top: 50px;}

  .section-reviews-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    border-left:none;
    padding-left: 0;
    margin-left: -20px;
  }
  .section-reviews-list > div {
    max-width: 50%;
    margin-bottom: 0px;
    padding: 30px;
    &:after{display: none;}
  }
  .section-reviews-list__item + .section-reviews-list__item {margin-top: 0;}
  .section-reviews-list__item-title{font-size: 20px;}
  .section-reviews-list__item-text{font-size: 15px;}


  .page-footer{zoom: .8;}
}


@media screen and (max-width: 800px) {
  .page-header__nav{display: none;}
  .page-header__content{padding-top: 50px;}
  .page-header__percent{display: none;}
  .page-header{min-height: 640px;}
  .page-header__title{font-size: 48px;}
  .page-header{padding-left: 15px;padding-right: 15px;}


  .section-1__title{
    flex-direction: column;
    align-items: center !important;
  }
  .section-1 .section__content{
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }
  .section-1 .section__content .section__title {font-size: 48px;}
  .section-1 .section__content > div:first-child {order: 2;}
  .section-1__image {order: 1;}


  .section-about .row{
    justify-content: center;
  }
  .section-about .row > div:nth-child(2) {
    margin: 100px auto 0;
  }
  .section-about__image-text{margin-left: 0;}
  .section-about__time{max-width: auto;}
  .section-about__button{padding-left: 0;}
  

  .section-directions__content {
    padding: 40px;
    margin-left: 0;
  }
  .section-directions__title{
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-left: 0;

    .num{margin-bottom: 15px;}
  }
  .section-directions__item{text-align: center;}
  .section-directions__item-icon{justify-content: center;}
  .section-directions__list{margin-top: 40px;}



  .section-education .row {
    flex-direction: column;
    align-items: center;
  }
  .section-education .row > div:nth-child(2) {
    order: 1;
  }
  .section-education__years{
    margin-top: 50px;
    order: 2;
    max-width: 95vw;
    margin-left: 0;
  }
  .section-education__image{text-align: center;}
  .section-education__title{margin-left: 0;}


  .section-effective{padding-top: 100px;}
  .section-effective .row {
    flex-direction: column;
    & > div:nth-child(2) {max-width: 100%;}
  }
  .section-effective .image-layer {
    margin: 0 auto;
  }
  .section-effective__content{
    padding-left: 15px;
    margin-top: 50px;
  }


  .section-diagnostic__title {
    
    .row {
      flex-direction: column;
      align-items: flex-start !important;
    }
  }
  .section-diagnostic__subtitle {
    margin-top: 30px;
    position: relative;
    top: 0;
  }

  .section-diagnostic__bg{margin-top: 0;}
  .section-diagnostic__row2{
    flex-direction: column;

    & > div {
      max-width: 100%;
      text-align: center;
      margin-left: 0;
      padding-right: 0 !important;
    }
    & > div:nth-child(2) {order: 1;}
    & > div:nth-child(1) {order: 2;}
  }
  .section-about__image {text-align: center;}

  .image-layer:before {
    width: 110vw;
    left: -15px;
  }
  .section-diagnostic__subtitle2 {margin-left: 0;padding-left: 0;}
  .section-diagnostic__button{margin-left: 0;}
  .section-diagnostic__text2 {
    padding-left: 0;
    max-width: 80vw;
    margin: 30px auto;
  }


  .section-methods-list {
    margin-top: 30px;
    flex-direction: column;

    & > li {max-width: 50%;margin-bottom: 10px;}
    & > li:before {display: none !important;}
  }
  .section-methods .section__title {
    flex-direction: column;
  }

  .section-methods-ready__item:before {
    margin-left: 5px;
  }
  .section-methods-ready__item {
    padding-left: 80px;
  }
  .section-methods-ready__item:nth-child(2n):before {margin-left: 20px;}
  .section-methods-ready__item:nth-child(2n){padding-left: 100px;}
  


  .section-reviews{padding-top: 0;}


  .page-footer {
    zoom: 1;

    .container > .row {

    }
  }

  .page-footer__row > div + div {margin-top: 20px;}
}


@media screen and (max-width:640px) {
  .section-1 .section__title {margin-top: 30px;}
  .section-directions{padding-top: 100px;}
  .section-directions__item{width: 100%;}
  .image-layer {text-align: center;}
  .section-methods__content-title {left: 0;font-size: 28px;}
  .section-methods__content-right {
    padding: 0;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .section-methods__content-text {margin-top: 50px;}


  .section-methods-ready__item{width: 100%;}
  .section-methods-ready__item:nth-child(2n){padding-left: 80px;}
  .section-methods-ready__item:nth-child(2n):before{margin-left: 0;}
  .section-methods-ready__item{margin-bottom: 50px;}


  .section-reviews-list > div{max-width: 100%;}
  .section-reviews-list__item-date{padding-top: 0;}
  .section-reviews{padding-bottom: 50px;}


  .section-methods-list:before {display: none;}
  .section-diagnostic__bg {display: none;}
  .section-diagnostic__row2 {margin-top: 50px;}

  .ui-modal {
    align-items: flex-start;
  }
  .ui-modal__close {
    top: -10px;
    right: -10px;
  }
  .ui-modal__content {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 90vw;
    padding: 20px;
  }
  .ui-modal__title {font-size: 28px;line-height: 1;}
  .ui-modal__subtitle {
    margin: 10px 0;
    font-size: 15px;
    line-height: 1.2;
  }

  #modal-question .ui-modal__content {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 90vw;
  }
}


@media screen and (max-width:425px) {
  .ui-button {
    padding: 15px 10px !important;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .page-header__title {
    font-size: 36px;
  }
  .page-header__subtitle{padding-left: 0;}
  .page-header__subtitle:before{display: none;}
  
  .page-header__social,
  .page-header__call {display: none;}
  .header-slider-item{background-image: none !important;}

  .page-header__phone {display: none;}

  .section-1{padding-top: 50px;}
  .section__title{font-size: 43px;}

  .section-1 .section__content .section__title{font-size: 34px;}


  .section-effective__button{padding: 20px 10px !important;width: 100%;}

  .text-line{padding-left: 0;}
  .text-line:before{display: none;}
  .text-line + * {padding-left: 0;}

  .section-diagnostic__subtitle{padding-left: 0;}

  .section-diagnostic__row2 > div{margin-left: -7.5px;}
  .section-methods__slider{margin-top: 30px;}
  .section__title span{margin-left: 0;}


  .page-footer {
    .container > .row {
      flex-direction: column;

      & > div {
        max-width: 100%;
      }
    }
  }
  .page-footer__form {margin-top: 50px;}
}

@media screen and (max-width: 375px) {
  .section__title {font-size: 37px;}
}