@import url(c:\Users\Egor\Desktop\Golubchenko\css\bootstrap-grid.css);
@import url(c:\Users\Egor\Desktop\Golubchenko\fonts\fonts.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

a:hover:not(.ui-button) {
  color: #E8AEB2;
}

input, button, textarea {
  font-family: inherit;
}

.font-dita-sweet {
  font-family: "Dita Sweet";
}

.font-mont {
  font-family: "Montserrat";
}

.text-line {
  position: relative;
  margin-left: 75px;
}

.text-line.line-center:before {
  top: 50%;
  margin-top: -1px;
}

.text-line:before {
  content: '';
  height: 1px;
  background-color: #413239;
  width: 60px;
  display: block;
  position: absolute;
  left: -15px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.ui-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 25px 100px;
  border: 1px solid #413239;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
  background-color: transparent;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.ui-button:hover {
  border-color: transparent;
  background-color: #413239;
  color: #fff;
}

.border-5 {
  border: 5px solid #E9D7D8;
}

body {
  font-family: "CG", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.05em;
  background-color: #FEFAFA;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header {
  padding: 25px 50px 60px 50px;
  background: #F9F9F9 url(../images/header-bg.png) calc(100% - 200px) bottom no-repeat;
  min-height: 790px;
  position: relative;
}

.page-header__content {
  padding-top: 120px;
}

.page-header__nav {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.page-header__nav ul li + li {
  margin-left: 30px;
}

.page-header__nav ul a {
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
}

.page-header__nav ul a:hover {
  color: #E8AEB2;
}

.page-header__phone {
  position: absolute;
  right: 50px;
  top: 40px;
  font-size: 23px;
  letter-spacing: 0.1em;
}

.page-header__social {
  position: absolute;
  bottom: 60px;
  left: 50px;
}

.page-header__social a {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.page-header__percent {
  position: absolute;
  right: 175px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.page-header__subtitle {
  font-size: 15px;
}

.page-header__call {
  text-transform: uppercase;
  font-size: 14px;
  position: absolute;
  bottom: 60px;
  right: 50px;
}

.page-header__call svg, .page-header__call svg path {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.page-header__call:hover svg, .page-header__call:hover svg path {
  fill: #E8AEB2;
}
/*# sourceMappingURL=style.css.map */