@import "../css/bootstrap-grid.css";
@import "../css/animate.css";
@import "../fonts/fonts.css";
@import "../css/jquery.mCustomScrollbar.min.css";
@import "../css/owl.carousel.min.css";
@import "../css/jquery.datetimepicker.min.css";



$pink: #E8AEB2;
$black: #000;
$brown: #413239;

@import "./global";



html, body {
  overflow-x: hidden;

  &.js-noscrolling {overflow-y: hidden;}
}
body{
  font-family: "CG", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.05em;
  background-color: #FEFAFA;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}


container {
  display: block;
  max-width: 1170px;
  margin: 0 auto;
}

#modal-question {
  .ui-modal__content {
    max-width: 710px;
    padding-left: 130px;
    padding-right: 130px;
  }
}



// HEADER
.page-header {
  padding: 25px 50px 60px 50px;
  background-color:#F9F9F9;
  min-height: 790px;
  position: relative;

  &__content {
    padding-top: 120px;
  }

  &__title {
    font-family: "Dita Sweet";
    font-size: 65px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 110%;
    color: #413239;

    .title-stroke {color: #F9F9F9 !important;}
  }

  &__nav {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    ul {
      li + li {margin-left: 30px;}
      a {
        text-transform: uppercase;
        font-size: 14px;
        color: $black;

        
        &:hover {color: $pink;}
      }
    }
  }

  &__phone{
    position: absolute;
    right: 50px;
    top: 40px;
    font-size: 23px;
    letter-spacing: 0.1em;
    z-index: 10;
  }
  &__social{
    position: absolute;
    bottom: 60px;
    left: 50px;
    z-index: 10;

    a {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }
  }

  &__percent {
    position: absolute;
    right: 175px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  &__logo{
    position: relative;
    z-index: 10;
  }

  &__subtitle {
    font-size: 15px;
  }
  &__call {
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    bottom: 60px;
    right: 50px;
    z-index: 10;

    svg , svg path{transition: all .2s ease;}
    &:hover {
      svg , svg path {
        fill: $pink;
      }
    }
  }
}
.header-slider {
  padding-top: 100px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &-item {
    height: 100%;
  }

  .owl-stage-outer,
  .owl-stage,
  .owl-item {height: 100%;}

  .owl-nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    left: 0;
    bottom: 50px;
    z-index: 20;

    button + button {margin-left: 100px;}

    button {
      outline: none;
      transition: all .4s ease;
    }
    button:hover {
      transform: translateX(5px);
    }
    button:first-child:hover {
      transform: translateX(-5px);
    }
  }

  &__count {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 47px;
    font-size: 25px;
    color: #413239;
    z-index: 11;

    .count {
      font-size: 18px;
    }
  }
}

// Section 1
.section-1 {
  padding-top: 230px;
  background: url(../images/section-2-mask.png) top left no-repeat;

  .container{position: relative;}

  &__text {
    max-width: 350px;
    margin-top: 35px;
  }

  &__image {
    margin-left: -112px;
    position: relative;
    z-index: -1;
  }
}


// About
.section-about {

  &__time {
    padding: 60px 50px 70px;
    max-width: 385px;

    & > span {
      text-transform: uppercase;
      font-size: 18px;
      height: 225px;
      display: inline-block;
      transform: rotate(-90deg);
    }

    .years {
      line-height: 1;
      
      span {
        text-transform: uppercase;
        font-size: 18px;
      }
      .num {
        font-family: "Dita Sweet",sans-serif;
        font-size: 200px;
        color: #413239;
      }
    }
  }

  &__image {
    margin-top: 250px;

    &-text {
      margin-left: 60px;
      max-width: 415px;
    }
  }

  &__title {
    margin-top: 240px;
  }

  &__button {
    padding-left: 75px;
    margin-top: 50px;
  }
}


// Directions
.section-directions {
  padding-top: 130px;

  &__content{
    margin-left: 75px;
    position: relative;
    padding: 55px 40px 20px 400px;
  }
  

  &__title{
    position: absolute;
    left: -200px;
    top: 105px;
    padding-left: 75px;
    font-size: 28px;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    line-height: 1.4;

    .num {
      font-size: 330px;
      font-family: "Dita Sweet", sans-serif;
      line-height: .7;
      margin-right: 15px;
      color: #413239;
    }
  }
  
  &__list{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 50px;
  }
  &__item-icon{
    height: 85px;
    display: flex;
    align-items: flex-end;
  }
  &__item-caption{
    margin-top: 13px;
    font-size: 20px;
    font-weight: bold;
  }
  &__item-text{
    margin-top: 15px;
    font-size: 18px;
  }
}


// Education
.section-education {
  padding-top: 130px;

  &__years {
    display: flex;
    flex-direction: column;
    padding: 95px 40px 70px 75px;
    max-width: 485px;
    margin-top: 50px;
    height: 690px;
    overflow: hidden;

    &-item{
      font-size: 20px;
      & + & {margin-top: 40px;}
    }
    &-caption{
      font-weight: bold;
    }
    &-text{
      margin-top: 15px;
      font-size: 18px;
    }
  }

  &__title {
    margin-top: -60px;
    margin-left: -60px;
  }
}


// Effective
.section-effective {
  padding-top: 160px;

  &__image {
    &:before{background-color: #E9D7D8 !important;}
  }

  &__content {
    padding-top: 50px;
    padding-left: 50px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    &__item {
      padding-left: 130px;

      & + & {margin-top: 45px;}
      position: relative;

      &:not(.js-active) {
        &:before {
          left: 100px;
          width: 0px;
        }
      }
      &:before {
        content: '';
        mask-image: url(../images/icon-arrow-left.svg);
        mask-repeat: no-repeat;
        mask-position: 10px 10px;
        background-color: #000;
        display: block;
        height: 30px;
        width: 100px;
        opacity: 0;
        position: absolute;
        left: 20px;
        top: 0;
        transition: all .2s ease;
      }

      &:after {
        content: attr(data-count);
        position: absolute;
        left: 0px;
        top: 0;
        color: #000;
        font-size: 20px;
        font-weight: bold;
        transform: rotate(-90deg);
      }

      &.js-active {
        &:before {opacity: 1;}
      }
    }

    &__caption {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
    }

    &__text {
      margin-top: 15px;
      font-size: 18px;
      display: none;
    }

    &__link {
      display: inline-block;
      margin-top: 15px;
      font-size: 18px;
      letter-spacing: 0.05em;
      border-bottom: 1px solid currentColor;
    }

  }

  &__button {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}


// Diagnostic
.section-diagnostic {
  padding-top: 150px;

  .container {position: relative;}

  &__bg {
    position: relative;
    margin-top: 70px;
    left: -190px;
    background: url(../images/section-methods-bg.png) center center no-repeat;
    width: 1000px;
    height: 370px;
    filter: grayscale(1);
  }
  &__title {
   position: relative; 
  }
  &__subtitle {
    font-size: 18px;
    position: absolute;
    right: -55px;
    top: 140px;
    line-height: 170%;
  }

  &__subtitle2 {
    font-size: 18px;
    line-height: 170%;
  }
  &__text {
    max-width: 460px;
    font-size: 16px;
    font-weight: 100;
    font-family: "CG";
    text-transform: none;
    margin-top: 40px;
    padding-left: 75px;
    line-height: 160%;
  }

  &__text2 {
    margin-top: 40px;
    font-size: 16px;
    padding-left: 95px;

    p {margin-top: 15px;}
  }

  &__image {
    margin-left: 50px;
    &:before {
      background-color: #E9D7D8 !important;
    }
  }

  &__row2 {
    margin-top: 100px;
  }

  &__button {
    margin-left: 95px;
    margin-top: 40px;
  }
}


// Methods
.section-methods {
  padding-top: 145px;

  &__subtitle {
    font-size: 18px;
    margin-top: 30px;
  }

  &-list {
    display: flex;
    margin-top: 80px;

    &:before {
      content: '';
      display: inline-block;
      width: 40px;
      height: 20px;
      background: url(../images/icon-slash.svg) center center no-repeat;
      position: relative;
      margin-right: 20px;
    }

    li{
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      transition: all .2s ease;

      &:hover, &.js-active {color: $pink;}

      & + li {
        &:before {
          content: '';
          display: inline-block;
          width: 30px;
          height: 1px;
          background-color: #000;
          vertical-align: middle;
          margin: 0 15px;
        }
      }
    }
  }

  &__slider {
    height: 600px;
    overflow: hidden;
    margin-top: 80px;
  }
  &__content {
    display: none;
    margin-bottom: 50px;

    &-right {
      padding-top: 100px;
      padding-left: 70px;
    }
  }

  &__content-text {
    margin-top: 75px;
    position: relative;

    &:before {
      content: '';
      width: 75px;
      height: 1px;
      background-color: #413239;
      position: absolute;
      top: -25px;
      left: 0;
    }
  }

  &__content-title {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 50px;
    line-height: 140.04%;
    text-transform: uppercase;
    color: #413239;
    position: relative;
    left: -200px;
  }

  // Ready list
  &-ready {
    margin-top: 155px;

    &__title{
      font-family: Montserrat;
      font-size: 28px;
      font-weight: 600;
      line-height: 140.04%;
      text-transform: uppercase;
      color: #413239;
    }

    &__list{
      display: flex;
      flex-wrap: wrap;
    }
    &__item{
      width: 50%;
      position: relative;
      padding-left: 150px;
      padding-right: 0px;
      margin-bottom: 70px;

      &:nth-child(2n) {
        padding-left: 125px;

        &:before{margin-left: 45px;}
      }


      &:before {
        content: attr(data-num);
        position: absolute;
        left: 0px;
        top: 0;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 100px;
        line-height: 1;
        margin-top: -10px;
        margin-left: 70px;
        text-transform: uppercase;
        color: #413239;
        text-align: right;
        width: 55px;
      }

      &-caption{
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
      }
      &-text{
        margin-top: 40px;
        font-size: 15px;
        line-height: 172.5%;
        position: relative;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: -15px;
          left: 0;
          width: 50px;
          height: 1px;
          background-color: #413239;
        }
      }
    }


  }
}


// Reviews
.section-reviews {
  padding-top: 100px;
  padding-bottom: 140px;

  &-list {
    margin-top: -75px;
    border-left: 1px solid #d7d7d7;
    padding-left: 29px;

    &__item{
      position: relative;

      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -30px;
      }

      &:after {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid #D7D7D7;
        top: 35px;
        margin-left: -6px;
        background-color: #fefafa;
      }

      & + & {margin-top: 50px;}

      &-date{
        padding-top: 29px;
        color: #8E8E8E;
        font-size: 14px;
        text-transform: uppercase;
      }
      &-title{
        margin-top: 20px;
        font-family: "YO";
        font-size: 23px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
      &-info{
        margin-top: 15px;
        display: flex;
        align-items: center;
      }
      &-photo{
        width: 60px;
        height: 60px;
        overflow:hidden;
        border-radius: 50%;
        margin-right: 20px;

        img{object-fit: cover;width: 100%;height: 100%;}
      }
      &-name{
        font-size: 15px;
      }
      &-direction{
        font-size: 12px;
        color: #E8AEB2;
      }

      &-text{
        margin-top: 15px;
        font-size: 18px;
        line-height: 170%;
      }
      &-button{
        margin-top: 20px;

        a{padding: 15px 50px;}
      }

      &-more {
        display: none;
      }
    }
  }
}



// Footer page
.page-footer {
  background-color: #E9D7D8;
  padding: 75px 0 0;

  &__row {
    margin-top: 50px;
  }

  &__title {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 50px;
    color: #413239;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1;
  }

  &__caption {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__phone {
    font-size: 20px;
    font-weight: bold;
  }

  &__social {
    margin-top: 20px;

    a {
      & + a {margin-left: 35px;}
    }
  }


  // Form
  &__form {
    margin-top: 30px;

    &-title{
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 40px;
      text-align: center;
    }
    &-button {
      padding: 20px 80px;
      width: 100%;
      margin-top: 25px;
    }
  }
}


// MAP
#map {
  margin-top: 60px;
  iframe {
    width: 100%;
    height: 500px;
  }
}


@import "./media";