*{margin: 0;padding: 0;box-sizing: border-box;}
ul {list-style-type: none;}
a {color: inherit;text-decoration: none;}
img{max-width: 100%;}

$text-black: #111111;
$pink: #d463c8;


.default-text {
  font-size: 16px;
  line-height: 36px;
  color: $text-black;
}
.borders {
  border-top: 1px solid rgba(#fff ,.15);
  border-bottom: 1px solid rgba(#fff ,.15);

}
.grid {
  display: grid;
}