@media screen and (max-width: 1190px) {
  .header-menu .nav ul a{font-size: 13px;}
}

@media screen and (max-width: 1029px) {
  .news-list > .item:nth-child(3) {display: none;}
}
@media screen and (max-width: 1024px) {
  .header-menu .nav{display: none;}
  .header-menu .contacts{grid-column: span 2;margin-right: 100px;}
  .header-content{padding-top: 100px;}
  .hamburger {
    display: block;
  }

  .section-video {background-size: auto;}
  .section.with-label:before{top: -40px;}
}


@media screen and (max-width: 768px) {
  section.with-label{padding-top: 50px !important;}
  .section.with-label:before{display: none;}
  .header .contacts {display: none;}

  .header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header {
    padding-top: 100px;
  }

  .team-gallery{margin-top: 40px;}
  .section-title,.section-subtitle {text-align: center;}


  .gallery .column{width: calc(100% / 3 - 20px);}
  .gallery .column:last-child {display: none;}
  .gallery .column .item .hover-content{display: none;}


  .video-slider .item{width: 70vw;}
  .section-video{background-size: auto calc(100% + 400px);height: auto;}


  .section-contacts .map{height: 500px;}
  .section-contacts .contacts .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }


  .footer > .container > .row > div:nth-child(2),
  .footer > .container > .row > div:nth-child(3){
    display: none;
  }

}

@media screen and (max-width: 575px) {

  /* @MOBILE-HEADER-BACKGROUND */
  .header {
    background: url(https://i.pinimg.com/originals/41/eb/78/41eb78823a1993a925ee9b3d26126425.jpg) top center no-repeat;
    background-size: cover;
  }

  .inst-list {
    grid-template-columns: repeat(2, 1fr);

    .item{width: 100%;}
  }

  .section-title {
    font-size: 36px;
    line-height: 1;
  }
  .gallery .column:nth-child(2), .gallery .column:nth-child(3) {margin-top: 0;}
  .default-text {line-height: 1.8;}
}

@media screen and (max-width: 425px) {
  .header .header-title{font-size: 60px;}
  .header-content .desc span{width: 100%;}
  .header-content .desc{font-size: 20px;margin-top: 20px;}

  .ui-button{padding: 20px 40px;}

  .header .contacts a:nth-child(1),
  .header .contacts a:nth-child(2) {display: none;}

  .gallery .column{
    width: calc(100% / 3);
  }
  .gallery .column .item{
    margin-bottom: -5px;
    height: 130px;
  }

  .team-gallery .row > div:nth-child(1) {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
  .team-gallery .row > div:nth-child(2){display: none;}


  .section-video .slider-prev, .section-video .slider-next{
    display: none;
  }
  .video-list {display: block;}
  .video-list .item {margin-bottom: 50px;}
  .video-list .item .img {height: auto;}


  .section-contacts .contacts .box{ padding: 50px 0px; }



  .inst-list {
    & > * {display: none;}
    & > *:nth-child(3) {display: block;width: 100vw;height: 100vw;}
  }



  .info-list .item .content {
    padding-left: 30px;
    padding-top: 20px;

    line-height: 1.5;
  }


  .gallery-big .row > div {
    width: 100%;
    height: 320px;
    overflow: hidden;
  }
  //.gallery-big .row > div + div {padding-left: 0;}



  .footer > .container > .row > div{margin-bottom: 20px;}
  .footer .row {justify-content: center !important;}
  .footer .caption {text-align: center;}

}


@media screen and (max-width: 375px) {

}