.ui-button {
  padding: 35px 50px;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  font-weight: 500;
  height: 85px;
  letter-spacing: .05em;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  span {position: relative;z-index: 1;}

  &:before,&:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 18deg, rgb(233,139,33) 0%, rgb(244,189,88) 100%);
    transition: all .3s ease;
  }
  &:after {
    background-image: linear-gradient( 18deg, rgb(233,139,33) 0%, rgb(244,189,88) 100%);
    z-index: 0;
  }
  &:before {
    opacity: 0;
    background-image: linear-gradient(18deg, #e98b21 0%, #ac58f4 100%);
    z-index: 1;
  }

  &:hover{
    &:before {opacity: 1;}
  }

}


.ui-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(#26062e, .4);
  font-size: 15px;
  padding: 20px;
  outline: none;

  & + .ui-input {margin-top: 30px;}

  &::placeholder {
    color: #999999;
  }

  &.is-phone {
    background: url(../images/input-phone-icon.png) calc(100% - 20px) center no-repeat;
  }
  &.is-name{
    background: url(../images/input-name-icon.png) calc(100% - 20px) center no-repeat;
  }
}
.ui-checkbox {
  font-size: 12px;
  color: #999999;
  display: inline-flex;
  align-items: flex-start;

  input {display: none;}

  input + i {
    display: inline-flex;
    width: 20px;
    height: 20px;
    background-color: #ac7ba4;
    border-radius: 3px;
    margin-right: 15px;
    min-width: 20px;
    position: relative;

    &:after {
      content: '';
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../images/checkbox-icon.png) center center no-repeat;
      justify-content: center;
      align-items: center;
      opacity: 0;
    }
  }

  input:checked + i:after {opacity: 1;}

  a {
    position: relative;
    display: inline-flex;
    border-bottom: 1px solid currentColor;

    &:hover {border-bottom-color: transparent;}
  }

}

.ui-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, .8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;

  &-content {
    background-color: #fff;
    position: relative;
    padding: 85px 100px;
    max-width: 570px;
  }
  &-close {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: linear-gradient( 18deg, rgb(233,139,33) 0%, rgb(244,189,88) 100%);
    border: none;
    outline: none;
    cursor: pointer;
    top: -40px;
    right: 40px;
    z-index: 2;

    &:hover:after {transform: scale(0.5) rotate(45deg);}

    &:after {
      content: '+';
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: #fff;
      font-size: 50px;
      transform: rotate(45deg);
      transition: all .2s ease;
      z-index: 1;
    }
  }

  &-title {
    font-size: 52px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold;
    line-height: 1;
  }

  .form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    & > * + * {margin-top: 20px;}

    button {margin-top: 50px;}
  }
}