@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,500,600,700,800|Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic');
@import "../css/bootstrap-grid.css";
@import "../css/jquery.fancybox.min.css";
@import "global";
@import "ui";


body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $text-black;
  overflow-x: hidden;

  &.js-no-scrolling {
    overflow: hidden;
  }
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}




//Modals
#modal1 {
  .ui-modal-content {
    position: relative;
    left: 200px;

    &:before {
      content: '';
      display: block;
      width: 1045px;
      height: 768px;
      background: url(../images/popup-bg.png) top center no-repeat;
      position: absolute;
      top: -120px;
      right: 80px;
      z-index: -1;
    }
  }
}




//Header
.header {
  background: url(../images/header-bg.png) bottom center no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;

  &-menu {
    background: url(../images/header-menu-bg.png) top center no-repeat;
    background-size: cover;
    height: 90px;
    border-bottom: 1px solid #2f2832;
    position: relative;
    z-index: 25;

    .grid {
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      height: 100%;
    }

    .container {
      height: 100%;
      max-width: 1675px;
    }

    .nav {
      align-self: stretch;

      ul {
        display: flex;
        height: 100%;

        li {
        }

        a {
          padding: 0 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 17px;
          text-transform: uppercase;
          height: 100%;
          border-bottom: 2px solid transparent;
          transition: all .2s ease;

          &.is-active {
            background-color: rgba(#fff, .15);
            border-bottom-color: #fff;
          }

          &:hover {
            background-color: rgba(#fff, .15);
          }
        }
      }
    }

    .contacts {
      display: flex;
      align-items: center;
      justify-self: flex-end;

      & > * + * {
        margin-left: 10px;
      }

      a {
        display: inline-flex;
      }

      .phone {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 143px;
    padding-top: 275px;
    position: relative;

    &:after {
      content: '';
      display: flex;
      width: 40px;
      height: 60px;
      background: url(../images/icon-scroll.png) center center no-repeat;
      position: absolute;
      bottom: 50px;
      left: calc(50% - 20px);
    }


    & > .container {
      display: flex;
      flex-direction: column;
    }

    .borders {
      border-top: 1px solid rgba(#fff, .1);
      border-bottom: 1px solid rgba(#fff, .1);
    }

    .desc {
      font-size: 26px;
      font-weight: 500;
      text-transform: uppercase;

      span {
        padding: 5px 0 5px 10px;
        display: inline-flex;
        width: 60%;
        background: linear-gradient(90deg, rgba(222, 197, 225, 0.65) 0%, rgba(222, 197, 225, 0) 100%);
        mix-blend-mode: lighten;
        color: rgba(0, 0, 0, 0.4);
      }
    }

    .title {
      margin-top: auto;
    }
  }

  .header-title {
    font-family: "Roboto Slab", sans-serif;
    font-size: 120px;
    font-weight: bold;
    -webkit-text-stroke: 3px #fff;
    color: transparent;
    line-height: 1;

    span {
      color: #fff;
      -webkit-text-stroke: none;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-weight: 500;
    }
  }

  &-button {
    margin-top: 50px;
  }
}
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(75, 47, 86, 0.98);
  padding: 30px;
  text-align: center;
  color: #fff;
  z-index: 30;

  .contacts {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    a{
      margin: 0 5px;
    }
  }

  ul {
    width: 100%;
    height: 100%;
    padding-top: 100px;

    & > li {
      width: 100%;

      & > a {
        padding: 20px;
        display: block;
        font-size: 26px;

        &:hover, &.is-active{
          color: #f3b54f;
        }
      }
    }
  }
}
.hamburger {
  display: none;
  position: fixed;
  right: 20px;
  top: 45px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  margin-top: -25px;
  z-index: 35;

  line {
    stroke: #f3ba55;
  }
}

.header-mini {
  background: url(../images/header-mini.png) top center no-repeat;
  background-size: cover;

  .header-menu {
    //background: url(../images/header-mini-menu.png) top center no-repeat;
    //background-size: cover;
  }

  .header-content:after {
    display: none;
  }

  .header-content {
    padding: 80px 0 60px;
    text-align: center;
  }

  .section-title {
    margin-top: 0;
  }

  .section-subtitle {
    font-size: 28px;
    color: rgba(#f8b5f2, .4);
  }

  .date {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    text-align: center;
    background-image: linear-gradient(18deg, rgb(95, 7, 169) 0%, rgb(143, 32, 168) 100%);
    padding: 6px 15px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    transform: translateX(-50%);
  }
}


// Section
.section {
  padding-top: 100px;
  padding-bottom: 110px;

  &.with-label {
    padding-top: 130px;
    position: relative;

    &:before {
      content: '';
      display: flex;
      position: absolute;
      left: 0;
      top: -70px;
      width: 100%;
      height: 240px;
      background: url(../images/section-bg-1.png) top center no-repeat;
      background-size: 100% auto;
      z-index: -1;
    }

    &.label-2:before {
      background: url(../images/section-bg-2.png) top center no-repeat;
      background-size: 100% auto;
      top: 0;
      z-index: 1;
    }
  }

  &-subtitle {
    font-size: 26px;
    color: #999999;
  }

  &-title {
    margin-top: 10px;
    font-size: 52px;
    font-weight: bold;
    font-family: "Roboto Slab", sans-serif;
    line-height: 1.1;

    &.small {
      font-size: 38px;
    }
  }

  &-head {
    text-align: center;
  }

  &-button {
    margin-top: 50px;
    text-align: center;

    .ui-button {}
  }
}


// Team
.section-team {
  padding-bottom: 0;
}

.team-gallery {
  display: flex;
  align-items: flex-end;

  .item-first, .item-last {
    width: calc((100% - 1140px) / 2);
  }

  .item-last {
    display: flex;
    justify-content: flex-end;
  }

  .item-big {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      height: 70px;
      background-color: #fff;
      display: flex;
    }
  }
}


// Gallery
.section-gallery {
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;

  .column:nth-child(2),
  .column:nth-child(3) {
    margin-top: 1px;
  }

  .column {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4 - 20px);


    .item {
      margin-bottom: 25px;
      position: relative;
      display: flex;

      &:hover {
        .hover-content {
          opacity: 1;
        }
        img {
          filter: sepia(1);
        }
      }

      img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .hover-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(18deg, rgb(95, 7, 169) 0%, rgb(143, 32, 168) 100%);
        padding: 50px 35px 25px 35px;
        display: flex;
        flex-direction: column;
        transition: all .3s ease;
        z-index: 2;

        .title {
          font-size: 45px;
          text-transform: uppercase;
          background-image: linear-gradient(18deg, rgb(233, 139, 33) 0%, rgb(244, 189, 88) 100%);
          -webkit-background-clip: text;
          color: transparent;
          line-height: 1;
          text-shadow: 15px 5px 6px rgba(233, 139, 33, 0.5);
        }

        .desc {
          font-size: 14px;
          text-transform: uppercase;
          color: rgba(#fff, .5);
          margin-top: 20px;
        }

        .button {
          font-size: 17px;
          text-transform: uppercase;
          color: #fff;
          padding: 15px 30px;
          border: 1px solid #fff;
          width: 100%;
          display: inline-flex;
          justify-content: center;
          margin-top: auto;

          &:hover {
            background-color: #fff;
            color: rgb(95, 7, 169);
          }
        }
      }

      &.is-small {
        .hover-content {
          .title {
            font-size: 20px;
          }
        }
      }
    }
  }
}
.gallery-big {

  .row + .row {
    margin-top: 20px;
  }

  .row > div + div {
    padding-left: 20px;
  }

  .item {
    width: 100%;
    display: flex;
    height: 491px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      img {
        filter: sepia(1);
      }
    }

    &.sm {
      height: 235px;
    }
  }

  .column {
    display: flex;
    flex-direction: column;

    & > * + * {
      margin-top: 20px;
    }
  }
}


// Video
.section-video {
  background: url(../images/video-bg.png) top center no-repeat;
  background-size: auto;
  height: 940px;
  padding-top: 100px !important;
  color: #fff;

  .container {
    position: relative;
    z-index: 5;
  }

  &-buttons {
    background-color: rgba(#fff, .05);
  }

  .slider-prev, .slider-next {
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(#fff, .15);

    &:hover {
      background-color: rgba(#fff, .3);

    }
  }
}

.video-slider {
  margin-top: 70px;
  //height: 450px;

  .item {
    position: relative;

    .content {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      padding: 10px 20px;
      background-color: rgba(151, 49, 173, .3);
      opacity: 0;
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      text-transform: uppercase;
    }
  }

  .flipster__item--current {
    &:hover .flipster__item__content:after {
      transform: scale(1.2);
    }

    .flipster__item__content {
      position: relative;
      overflow: hidden;
    }

    .flipster__item__content:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background: url(../images/video-icon-play.png) center center no-repeat;
      pointer-events: none;
      transition: all .2s ease;
    }

    .content {
      opacity: 1;
    }
  }
}
.video-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 50px;

  .item {
    position: relative;
    display: flex;
    flex-direction: column;

    .img {
      height: 320px;
      width: 100%;
      position: relative;
      display: flex;
      transition: all .2s ease;
      box-shadow: 0px 35px 50px -30px #1a0c1d;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:after {
        content: '';
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/video-icon-play.png) center center no-repeat;
        background-size: 85px 85px;
        transition: all .2s ease;
        pointer-events: none;
        z-index: 2;
      }

      &:hover:after {
        transform: scale(1.1);
      }

    }

    .date {
      position: absolute;
      display: flex;
      padding: 8px 30px;
      background-color: rgba(#7e0c97, .5);
      color: #fff;
      top: 0;
      right: 0;
      font-weight: bold;
      z-index: 10;
    }

    .title {
      font-family: "Roboto Slab", sans-serif;
      font-size: 26px;
      font-weight: bold;
      margin-top: 35px;
      padding-left: 20px;
      display: inline-flex;

      &:hover {
        color: $pink;
      }
    }
  }
}

// News
.section-news {
}

.news-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  margin-top: 60px;

  & > .item {
    position: relative;

    &:hover .title {
      color: $pink;
    }

    .img {
      display: flex;
      width: 100%;
      height: 240px;
      position: relative;
      box-shadow: 0px 20px 30px -20px #666;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .date {
      position: absolute;
      right: 0;
      top: 0;
      display: inline-flex;
      padding: 10px 30px;
      background-color: #fff;
      font-size: 16px;
      font-weight: bold;
      color: #666;
      z-index: 10;
    }

    .content {
      padding-top: 45px;
      padding-left: 15px;
      padding-right: 20px;
    }

    .title {
      font-size: 26px;
      font-family: "Roboto Slab", sans-serif;
      font-weight: bold;
      line-height: 1;
    }

    .desc {
      margin-top: 25px;
      font-size: 16px;
      line-height: 1.5;
      color: #666666;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 75px;
    }

    .more {
      margin-top: 25px;
      display: inline-flex;
      font-size: 18px;
      font-weight: bold;
      border-bottom: 2px dotted currentColor;

      &:hover {
        border-bottom-style: solid;
        color: $pink;
      }
    }
  }
}


//Instagram
.section-inst {
}
.inst-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, auto));
  overflow-x: hidden;
  margin-top: 50px;

  .item {
    width: calc(100% + 2px);
    height: 235px;
    position: relative;
    overflow: hidden;


    &.is-empty {
      &:before {
        content: '';
        display: flex;
        position: absolute;
        top: -2px;
        left: 0px;
        width: 100%;
        height: calc(100% + 2px);
        background: url(../images/inst/hover.png) top center no-repeat;
        background-size: cover;
        transition: all .2s ease;
        z-index: 10;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    &:hover img {
      filter: sepia(1);
    }
  }
}


// Raiders
.section-raiders {
  .raiders-list {
    padding-left: 100px;
    margin-top: 50px;
  }
}
.raiders-list {
  font-size: 28px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  list-style-type: decimal-leading-zero;

  li {
    padding-left: 10px;

    & + li {
      margin-top: 10px;
    }
  }

  a {
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    border-bottom: 2px dotted rgba(#000, 0.5);

    &:hover {
      border-bottom-color: transparent;
    }
  }
}
.info-list {
  margin-top: 100px;

  .item {

    .title {
      padding: 30px 50px;
      color: #fff;
      font-size: 26px;
      font-weight: bold;
      background-image: -webkit-linear-gradient(-14deg, rgb(95, 7, 169) 0%, rgb(143, 32, 168) 100%);
      position: relative;

      &:after {
        content: attr(data-num) '.';
        font-size: 105px;
        font-weight: bold;
        font-family: "Roboto Slab", sans-serif;
        background: linear-gradient( 18deg, rgb(233,139,33) 0%, rgb(244,189,88) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-shadow: 5px 0px 20px #f3b54f;
        position: absolute;
        right: 0;
        top: -75px;
      }
    }

    .content {
      padding: 65px 0 30px 65px;
      font-size: 16px;
      line-height: 2.5;
      color: #666666;
    }
  }
}


// Single article
.section-article {

  p {
    color: #666666;
    font-size: 16px;
    line-height: 1.9;

    & + p {margin-top: 15px;}
  }

  .img {
    box-shadow: 0px 0px 50px -30px #000;
  }
}



// Contacts page
.section-contacts {

  .contacts {
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient( 18deg, rgb(95,7,169) 0%, rgb(143,32,168) 100%);
    color: #fff;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 150px;
      background: url(../images/contacts-label.png) top center no-repeat;
    }
    .box {
      padding: 130px 140px;
    }

    ul {
      margin-top: 40px;

      li {
        display: flex;
        align-items: center;
        font-size: 18px;

        .caption{
          margin-left: 30px;
          font-size: 18px;
          font-weight: bold;
          width: 120px;
        }

        .email {
          border-bottom: 2px dotted;

          &:hover{border-bottom-color: transparent;}
        }

      }
    }

    .ui-button {
      margin-top: 85px;
    }
  }

  & + section {
    margin-top: 100px;
  }

  .map {
    padding-left: 0;
    padding-right: 0;
  }
}


// Footer
.footer {
  background-color: #130716;
  padding-top: 60px;
  color: #fff;

  ul a, .contacts a {
    position: relative;

    &:after {
      content: '';
      display: flex;
      bottom: -2px;
      left: 0;
      width: 0;
      position: absolute;
      height: 1px;
      background-color: rgba(#fff, .5);
      transition: all .2s ease;
    }

    &:hover:after {
      width: 100%;
    }
  }

  .big-text {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 20px;

    span {
      font-weight: bold;
    }
  }

  .caption {
    font-size: 18px;
    font-weight: bold;

    & + ul {
      margin-top: 20px;
    }
  }

  .links {
    li + li {
      margin-top: 20px;
    }

    a {
      display: inline-flex;
      font-size: 15px;
      color: #decee5;
    }
  }

  .contacts {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 300;

    .item {
      display: flex;

      & + .item {
        margin-top: 25px;
      }
    }

    .col1 {
      width: 120px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span {
        display: flex;
        align-items: center;

        img {
          margin-right: 10px;
        }
      }

      & > span + span {
        margin-top: 10px;
      }
    }

    .col2 {
    }
  }

  .social {
    margin-top: 40px;
  }

  .copy {
    margin-top: 40px;
    padding: 40px 0;
    border-top: 1px solid rgba(#fff, .15);
  }
}



@import "media";