@font-face { 
  font-family: 'Halvetica';  
  src: url('../../assets/fonts/HelveticaNeueLight.woff') format('woff'); 
  font-weight: 300; 
}
@font-face { 
  font-family: 'Halvetica';  
  src: url('../../assets/fonts/HelveticaNeue.woff') format('woff'); 
  font-weight: 400; 
}
@font-face { 
  font-family: 'Halvetica';  
  src: url('../../assets/fonts/HelveticaNeue-Medium.woff') format('woff'); 
  font-weight: 500; 
}
@font-face { 
  font-family: 'Halvetica';  
  src: url('../../assets/fonts/HelveticaNeueBold.woff') format('woff'); 
  font-weight: 600; 
}
@font-face { 
  font-family: 'Halvetica';  
  src: url('../../assets/fonts/HelveticaNeueCondensedBlack.woff') format('woff'); 
  font-weight: 700; 
}