*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:after,&:before{box-sizing: border-box;}
}

@mixin BlackBGLinksHover {
  a, button {
    &:hover {
      opacity: .7;
    }
  }
}
@mixin WhiteBGLinksHover {
  a, button {
    &:hover {
      color: $red;
    }
  }
}



// paddings & margins
.py-0{padding-top: 0 !important;padding-bottom: 0 !important;}
.px-0{padding-left: 0 !important;padding-right: 0 !important;}
.pt-0{padding-top: 0 !important;}
.pb-0{padding-bottom: 0 !important;}

a { 
  color: currentColor; 
}

// Elements transition animate
a, button, svg, svg path{ transition: all .2s ease;}


// LINKS HOVER
.black-bg-links {
  @include BlackBGLinksHover;
}
.white-bg-links {
  @include WhiteBGLinksHover;
}


// Heading sizes
h1,.h1{
  font-size: 32px;
  line-height: 52px;
  font-weight: 600;

  a:after{height: 3px !important;}
}
h2,.h2{
  font-size: 28px;
  line-height: 1.36;
  font-weight: 600;
}
h3,.h3{
  font-size: 26px;
  line-height: 1.46;
  font-weight: 600;
}
h5,.h5{
  font-size: 24px;
  line-height: 1.33;
  font-weight: 600;
}


// Text
.text {
  &-xs{font-size: 12px;line-height: 1.83;}
  &-sm{font-size: 14px;line-height: 1.71;}
  &-md{font-size: 16px;line-height: 1.88;}
  &-lg{font-size: 18px;line-height: 1.67;}

  &-light{font-weight: 300;}
  &-regular {font-weight: 400;}
  &-medium {font-weight: 500;}

  &-black{color: $text-black;}
  &-grey{color: $text-grey;}
  &-white{color: $text-white;}
  &-red{color: $text-red;}

  &-bold {font-weight: 600;}
  &-xbold { font-weight: 700; }

  &-center{text-align: center;}

  &-underline {
    position: relative;
    text-decoration: none;
    &:after {
      content: '';
      height: 2px;
      width: 100%;
      position: absolute;
      display: block;
      bottom: -3px;
      left: 0;
      background-color: currentColor;
    }
    &.--sm-under {
      &:after{height: 1px;}
    }
  }
}

// links
.link {
  @extend .text-underline;
  cursor: pointer;

  &.--sm-under {
    &:after{height: 1px;}
  }
  &.--xs-under {
    &:after{height: 1px;bottom: 0px;}
  }
  &--black {
    color: $text-black;
  }
}


// UI
.ui {
  &-input {
    font-size: 14px;
    color: $text-white;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 20px 10px 0;
    font-family: inherit;

    &::placeholder {
      @extend .text-grey;
    }
  }

  &-email {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $white;
    input{flex: 1;}
  }

  &-button{
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
  }
}