$col-length: 12;

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @for $i from 1 through $col-length {
    &[cols="#{$i}"] {
      grid-template-columns: repeat($i, 1fr); 
    }
  }

  &-gap{
    grid-gap: 30px;
  }

}

.flex {
  display: flex;
}