@media only screen and (max-width:768px) {
  .article:not(.no-offset), article:not(.no-offset){margin-top: 100px;}
  .header__content{margin-top: 100px;}
  .header{min-height: initial;height: 500px}
  .media-container .container{min-height: initial;}


  .section-services__item .content{padding-left: 50px;}
  .section-services .section-services-box{
    padding: 50px 0;
  }
  .section-services__title + div {padding-top: 0 !important;}
  .section-services__title{margin-bottom: 50px;}


  .page-buttons__prev, .page-buttons__next{justify-content: center !important;}
}


@media only screen and (max-width:640px) {
  .section-projects__cards{grid-template-columns: repeat(1, 1fr)}

  .header__content{margin-top: 50px;}


  .article .article__title, article .article__title{font-size: 24px;}
}


@media only screen and (max-width:425px) {

  .section{padding: 50px 0;}
  .header{margin-bottom: 50px;}
  h2, .h2{font-size: 24px;}
  .project-card__content{padding-left: 30px;}

  #nav-menu ul a{font-size: 26px;}
  .header__title{font-size: calc(1em + 3vw); }

  .grid[cols="2"]{grid-template-columns: repeat(1, 1fr); }
  .article{padding-top: 0;}
  .section__title .title{grid-column: span 12;}
  .section__title .links{grid-column: span 12; text-align: left;}


  .box-text .grid{grid-template-columns: repeat(1, 1fr); grid-gap: 30px;}


  .page-buttons__button{
    flex-wrap: wrap;
    text-align: center;
  }
  .page-buttons{
    flex-wrap: wrap;

    &__prev{order: 2;}
    &__next{order: 1;}
    & > * {width: 100%;flex-basis: 100%;}
    & > * {margin: 5px 0;}
  }

  .page-buttons__button {
    padding: 70px 0;
    display: block;
  }

  .section-services__item .image{display: none;}
  .section-services__item .content{padding-left: 0;}

  .section.box-text{text-align: center;}


  .footer{
    padding: 100px 0;
    text-align: center;
  }
  .footer__foot{flex-direction: column;text-align: center;margin-top: 100px;}
  .footer__foot .copyright{order: 2;margin-top: 100px;}
  .footer__foot .links{order:1;flex-direction: column;align-items: center;}
  .footer__foot .links a + a{margin-top: 20px;}
}