
// IMPORTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
@import './fonts';
@import './variables';
@import './global';
@import './grid';


@mixin OpenSans {
  font-family: "Open Sans", "Lato" ,sans-serif;
}
img{max-width: 100%;}

.wrapper{
  overflow-x: hidden;
}
body{
  font-family: "Halvetica", Microsoft Sans, Serif, Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  overflow: auto;
  &.js-no-scrolling {
    overflow: hidden;
    // padding-right: 17px;
  }
}
.container {max-width: 944px;margin: 0 auto;padding-left: 15px;padding-right: 15px;}
.container-sm{max-width: 690px;margin: 0 auto;padding-left: 15px;padding-right: 15px;}
// Global styles section
.section {
  padding: 75px 0;

  &__title{
    margin-bottom: 50px;
    .title{
      grid-column: span 7;
    }
    .links {
      grid-column: span 5;
      text-align: right;
      font-weight: 500;
    }
  }
}

.page-content{
  .section{padding: 50px 0;}
  .footer{margin-top: 0;}
}

// Nav menu
#nav-menu,.nav-menu {
  position: fixed;
  top: 0;left: 0;
  display: none;
  align-items: center;
  color: $text-white;
  background-color: $black;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 100;

  ul {
    list-style-type: none;
    text-align: center;
    margin: auto 0;
    li{
      & + li {margin-top: 50px;}
    }
    a{
      font-size: 36px;
      font-weight: 500;
      text-decoration: none;
      &:hover{opacity: .7;}
    }
  }

  .nav-top {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.js-fixed {}
  }
  .logo,.hamburger {
    svg path {fill: #fff;}
  }
}



// Header
.header{
  min-height: 600px;
  background-color: $black;
  color: $text-white;
  margin-bottom: 75px;

  &.--small {
    min-height: initial;
    margin-bottom: 0;
    padding-bottom: 100px;
  }

  &__top{
    background-color: $black;
    padding: 30px 0;
    position: relative;
    z-index: 50;
    height: 90px;
    display: flex;
    align-items: center;
    transition: all .5s ease;

    .grid {width: 100%;}

    &.js-fixed {
      position: fixed;
      top: -90px;
      width: 100%;
      z-index: 50;
    }
    &.js-shown{
      top: 0;
      box-shadow: 0 0 10px -3px $black;
    }
    
  }
  &__content{
    margin-top: 170px;
  }
  &__title{@include OpenSans;}
  &__subtitle{
    font-size: 18px;
    font-weight: 400;
    color: $text-grey;
    margin-top: 10px;
  }
  &__logo{}
  &__hamburger{
    grid-column: 12/-1;
    text-align: right;
  }

  &.--bg-white {
    background-color: $white;
    .header__top { background-color: $white; }
    svg path {fill: $black;}
  }
}

#logo,.logo {
  &:hover{
    opacity: .7;
  }
}
#hamburger, .hamburger{
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  color: #fff;

  .close{display: none;}

  &:hover{
    opacity: .7;
  }
}


// Projects
.section-projects {
  &__cards {
    grid-gap: 30px;
    & > div {
      grid-column: span 6;
    }
  }
}
// Card projects
.project-card {
  background-color: #fff;
  box-shadow: 0 0 30px -10px rgba(146, 146, 146, 0.5);
  transform-style: preserve-3d;
  grid-column: span 6;
  text-decoration: none;

  &:hover{
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    color: inherit !important;
  }

  &__image{
    padding: 10px;
    img{width: 100%;height: 100%;object-fit: cover;}
  }
  &__content{
    padding: 30px 50px 50px 50px;
  }
  &__name{
    font-weight: 600;
    @extend .text-lg;
    margin-bottom: 10px;
  }
  &__text{
    @extend .text-md;
    color: $text-grey;
  }
}


// Media container
.media-container {
  padding-top: 0;

  .container{
    min-height: 450px;
    
    & > *{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// box columns
.box-text {
  .--border{
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);

    & > div {

    }
  }

  .caption {
    margin-bottom: 15px;
  }

  .text + .text {margin-top: 5px;}
}

.article,article {
  & + & {margin-top: 100px;}
  &:not(.no-offset) {margin-top: 100px;}

  .article__title{
    font-size: 28px;font-weight: 600;margin-bottom: 40px;

    & ~ .article__title {margin-top: 100px;}
  }
  .article__h {margin-bottom: 40px;}

  p {
    color: $text-grey;
    line-height: 30px;
  }

  p + p {margin-top: 30px;}

  .article__subtitle{font-size: 18px;font-weight: 600;margin-bottom: 18px;margin-top: 50px;}

  ul {
    color: $text-grey;
    list-style-type: circle;
    padding-left: 20px;

    li{
      line-height: 30px;
      position: relative;
      // &:before{
      //   content: '';
      //   width: 3px;
      //   height: 3px;
      //   border-radius: 50%;
      //   background-color: currentColor;
      //   position: absolute;
      //   left: 10px;
      //   display: block;
      //   top: .8em;
      // }
      & + li{margin-top: 20px;}
    }
  }
}


.page-buttons{
  display: flex;
  margin-top: 100px;
  &__prev,
  &__next{
    flex:1;
    background-color: $grey;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 500;
    transition: all .4s ease;

    &:hover{
      background-color: #f2f2f2;
    }
  }
  &.not-link {
    background-color: $grey;
    transition: all .4s ease;

    &:hover{
      background-color: #f2f2f2;
    }
  }

  &__button{
    height: 200px;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;

    &:hover{color: inherit !important;}
  }

  &__prev{
    padding-left: calc( (100vw - 924px) / 2);
  }
  &__next{
    padding-right: calc( (100vw - 924px) / 2);
    justify-content: flex-end;
  }
}


// Services
.section-services {
  &-box {
    & + &{border-top: 1px solid #e8e8e8;}
    &:last-child{padding-bottom: 0;}
    padding: 100px 0;
  }
  &__title{margin-bottom: 35px;}

  &__item {
    display: flex;
    align-items: center;
    .image {}
    img{max-width: initial;}
    .content{
      padding-left: 150px;
      .caption {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.67;
        color: $text-black;
        margin-bottom: 10px;
      }
      .text{
        font-size: 16px;
        line-height: 1.88;
        color: $text-grey;
      }
    }
  }
}



// Footer
.footer{
  padding: 145px 0;
  background-color: $black;
  color: $text-white;
  margin-top: 75px;


  &__title {
    grid-column: span 12;
    margin-bottom: 40px;
    h2{}
  }

  &__form {
    grid-column: span 12;
  }

  .ui-email {
    margin-top: 20px;
  }

  &__foot {
    margin-top: 145px;
    align-items: center;
    grid-column: span 12;

    & > div {flex: 1;}
    .links {
      justify-content: space-between;

      a { 
        @extend .text-md;
        &:after {
          bottom: 2px;
        }
      }
    }
  }
}



// RESPONSIVE STYLES IMPORT
@import './responsive';