
/* PC */
@media screen and (max-width: 1366px) {
  .main-banner__image {margin-left: -2vw;}
}


/* TABLET */
@media screen and (max-width: 1024px) {

  .header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #f0f6fb;
	padding-bottom: 25px;
	z-index: 99;
  }
  .header + * {margin-top: 96px;}

  .ui-search.js-open {
	max-width: initial;
	width: 100%;
	padding-right: 20px;

	.ui-search__close {display: block;}
  }

  #hamburger {display: block;}

  .header__label,
  .header-menu,
  .nav,
  .header__login,
  .header__lang {display: none !important;}

  .header__search {margin-left: auto;}
  .header__login-mobile {display: block;}

  .mobile-nav{
	.header__lang {display: block !important;}
  }


  .section__title{font-size: 36px;}

  .main-banner{padding-top: 50px;}
  .main-banner__image {margin-left: 0;}
  .main-banner__title{font-size: 40px;line-height: 1;}
  .main-banner__comment{margin-top: 30px;}
  .main-banner .paysend{max-width: 100px;bottom: 50px;}


  .s-econom__content {margin-left: 30px;}

  .s-advantages, .s-advantages__border {height: auto;}
  .s-advantages h5,
  .s-advantages h4{font-size: 40px;}
  .s-advantages__item:nth-child(2){margin-left: 70px;}
  .s-advantages h3{font-size: 60px;}
  .s-advantages h2{font-size: 86px;}
  .s-advantages__item:nth-child(5){margin-left: -70px;}

  .slick-slider .slick-arrow.slick-prev{left: -15px;}
  .slick-slider .slick-arrow.slick-next{left: calc(100vw - 55px);}
  .slick-slider .slick-dots{width: 100%;}


  .join-list{flex-wrap: wrap;margin-bottom: -50px;}
  .join-list__item{width: calc(100% / 2 - 60px);margin-bottom: 50px;}

  .section__button-wrapper {flex-direction: column;align-items: center;}
  .section__button-wrapper > *{margin: 5px 0;}


  .s-econom,
  .s-services,
  .s-firms,
  .s-clients,
  .s-join{padding: 50px 0;}


  .ui-search {
	background-image: url(../images/mobile-search.png);
  }
}


/* MOBILES */
@media screen and (max-width: 960px){
  .main-banner__image img {max-width: 100%;}
}
@media screen and (max-width: 768px) {


  .footer__nav {flex-wrap: wrap;margin-top: -30px;margin-bottom: -30px;}
  .footer__nav-column {max-width: 30%;margin: 30px;flex-grow: 1;}

  .main-banner__grid {flex-direction: column;}
  .main-banner__comment{margin-left: 0;}
  .main-banner .paysend{bottom: 30px;right: 30px;}

  .page-head__grid.w50{flex-direction: column;margin-top: 50px;}
  .page-head__grid.w50 .page-head__column {width: 100%;}
  .page-head__grid.w50 .page-head__column:nth-child(2){padding-left: 0;}
  .page-head__menu {
	width: auto;flex-wrap: nowrap;overflow-x: auto;
	margin-right: -15px;
	margin-top: 50px;
  }


  .s-whom-checks__grid {flex-direction: column;}
  .s-whom-checks__column{width: 100%;}


  .how-work-checks__view{flex-direction: column;margin-top: 50px;}
  .how-work-checks__view ._text{max-width: 80vw;}
  .how-work-checks__view .item:nth-child(2){margin-bottom: 30px;margin-top: 30px;}
  .how-work-checks__view .item:nth-child(3):before,
  .how-work-checks__view .item:nth-child(3):after {
	position: absolute;
  }
  .how-work-checks__view .item:nth-child(3) {
	margin-top: 100px;
	margin-bottom: 65px;
  }
  .how-work-checks__view .item:nth-child(3):before {
	transform: rotate(-90deg) translateX(75%);
	top: 0;
	left: 30px;
  }

  .how-work-checks__view .item:nth-child(3):after {
	background: url(../images/page-checks/lines-mobile.png) top center no-repeat;
	top: 137px;
	left: -35vw;
	height: 335px;
  }
  .how-work-checks__view .item:nth-child(4) {
	padding-left: 20vw;
  }
  .how-work-checks__view ul li img{max-width: 50px;}
  .how-work-checks__view ul li + li{margin-top: 20px;}
  .how-work-checks__view .item{margin-left: 0 !important;}


  .card-box-list {flex-direction: column;margin-left: 0;margin-right: 0;}
  .card-box{width: 100%;margin-left: 0;margin-right: 0;}


  .list-with-icons ._item{margin: 0 10px;width: calc(100% / 3 - 10px);}

  .section__padding{padding: 50px 0;}
  .section.pb{padding-bottom: 50px;}
  .section.pt{padding-top: 50px;}


  .page-head__title{font-size: 40px;}


  .cards-item{width: calc(100% / 4); }
  .cards-item__image{height: 100px;}
  .cards-item__footer{flex-direction: column;}
  .cards-item__footer > * + *{margin-top: 10px;}
  .cards-item__title{height: auto;}


  .check-card{width: calc(100% / 3);padding: 20px;}
  .check-card__image img{width: 50px;height: 50px;}


  .page-head__image{min-width: 40%;}


  .tariff-table {display: none;}
  .tariff-table.mobile{display: block;}



  .about-head {margin-top: 25px;}
  .about-head__img .img1{height: 340px;bottom: -23px;}
  .about-head__img {
	height: 290px;
	width: 300px;
	position: absolute;
	right: -105px;
	bottom: -100px;
  }
  .about-head__img .img2{width: 300px;}
  .about-head__img .img2 img {max-width: 100%;}
  .about-head__desc{margin-top: 30px;}



  .s-pressa-slider .s-econom__item {width: auto !important;max-width: 100vw;}


  .s-qa__grid {flex-direction: column;}
  .s-qa__column1,
  .s-qa__column2 {width: 100%;}

  .s-qa__box .cards-item{width: 100%;}
  .s-qa__box .cards-item__image{height: 180px;}
  .s-qa__column2{padding-left: 0;margin-top: 50px;}

  .page-head + .s-cards {margin-top: 35vw;}
  .s-qa .cards-item__title{font-size: 14px;margin-top: 20px;}
  .s-qa .cards-item__text {font-size: 12px;}
  .s-qa .cards-item__footer > * + *{margin-top: 0;}
  .s-qa .cards-item__more {margin-top: 0;}


  .s-qa .slick-slider .slick-arrow.slick-next {left: calc(100vw - 76px);}
  .s-qa .slick-slider .slick-arrow.slick-prev{left: -36px;}


  .header.is-fixed {

  }
}

@media screen and (min-width: 576px) {
  .mobile-show{display: none;}
}
@media screen and (max-width: 576px) {


  .mobile-hide {display: none;}

  .header {
	padding-top: 15px;
	padding-bottom: 15px;
  }
  .header + * {margin-top: 65px;}
  .header__logo{width: 146px;}
  .header__mobile-hamburger{width: 36px;height: 36px;}
  .header__mobile-login,
  .header__mobile-search {width: 22px;height: 22px;}
  #hamburger {top: 20px;}


  .page-head {position: relative;}
  .page-head img {
	position: absolute;
	right: -15%;
	top: 0;
	width: 50%;
  }
  .page-head__title {font-size: 26px;line-height: 1;margin-top: 30px;}
  .page-head__column {width: 80%;}
  .page-head__desc{font-size: 12px;margin-top: 20px;}
  .page-head__grid + .page-head__grid {margin-top: 50px;}
  .page-head__menu {
	flex-wrap: nowrap;
	overflow-x: auto;
	margin-right: -30px;
	margin-top: 40vw;
  }


  .page-article {
	.page-head__title,
	.page-head__desc {
	  width: 100% !important;
	  max-width: 100% !important;
	}
  }

  .section__title{font-size: 26px;}

  .main-banner{padding-top: 10px;padding-bottom: 100px;}
  .main-banner__image {
	position: absolute;
	width: 100%;
	margin-left: -100px;
  }
  .ui-comment {
	max-width: 100%;
	width: 70%;
	background-size: contain;
	max-height: 185px;
  }
  .main-banner__comment {margin-left: 0;order: 1;margin-top: -105px;}
  .ui-comment__content {padding: 20px 30px 30px 70px;font-size: 9px;}
  .ui-comment:after{width: 30px;height: 30px;background-size: contain;top: 17px;left: 30px;}
  .main-banner__grid{flex-direction: column;}
  .main-banner__image{position: relative;}
  .main-banner__title{order: 2;}
  .main-banner__content {
	display: flex;
	flex-direction: column;
  }
  .main-banner .paysend {bottom: auto;top: 50px;right: 35px;}
  .main-banner__title{margin-top: -55px;font-size: 26px;}



  .s-advantages__desc{font-size: 12px;}
  .s-advantages__item:nth-child(1) .s-advantages__icon{margin-top: 20px;}
  .s-advantages__list{flex-wrap: wrap;padding: 15px;margin-top: -70px;}
  .s-advantages__icon{max-width: 80px;max-height: 90px;}
  .s-advantages__item {
	margin-left: 0 !important;
	margin-top: 0 !important;
	width: 50%;
  }
  .s-advantages__item:nth-child(2){padding-left: 30px;padding-top: 70px;}
  .s-advantages__item:nth-child(2) .s-advantages__title{left: 0;}
  .s-advantages__item:nth-child(3){padding-top: 30px;}
  .s-advantages__item:nth-child(4) .s-advantages__icon {margin-left: auto;}
  .s-advantages__item:nth-child(5){
	position: relative;
	text-align: left;
	align-items: flex-start;
	padding-top: 50px;

	.s-advantages__icon {
	  position: absolute;
	  right: 0;
	  bottom: 0;
	  transform: translateX(100%);
	  margin-right: -50px;
	  margin-top: -20px;
	}
  }


  .s-econom__list{flex-direction: column;}
  .s-econom__item{width: 100%;}
  .s-econom__image{width: 90px;}
  .s-econom__title{font-size: 14px;}
  .s-econom__text{font-size: 12px;}
  .s-econom__content{margin-left: 15px;}


  .ui-checklist li, .services-slider__item-checklist li{font-size: 12px;}


  .firms-slider .item img {height: 20px;}
  .s-firms__slider{padding-left: 50px;padding-right: 50px;}


  .clients-slider__item{font-size: 12px;max-width: calc(100vw - 50px);}

  .join-list__item{width: 100%;}
  .join-list__item-icon{display: flex;justify-content: center;}
  .join-list__item-caption{margin-top: 20px;height: auto;}
  .join-list__item-list{margin-top: 20px;}
  .join-list__item-icon img {max-width: 30vw;}


  .s-question{padding-top: 50px;padding-bottom: 50px;}
  .s-question .section__title{font-size: 21px;}
  .s-question__desc{font-size: 16px;line-height: 1.5;}


  .ui-button.is-md{width: 100%;white-space: nowrap;font-size: 12px !important;}


  .visual-table {display: none;}
  .visual-table.mobile {display: block;}


  .ui-accordion__item-caption {font-size: 14px;}
  .ui-accordion__item:after{right: 0;}
  .ui-accordion__item-text,
  .ui-accordion__item-more {font-size: 12px;}

  .questions{padding: 50px 0;}

  .section__title.is-sm{font-size: 20px;}


  .fines-list{margin-top: 50px;}
  .fines-list__item-caption{font-size: 14px;}
  .fines-list__item-list{margin-top: 20px;}

  .s-whom-checks__box{padding: 30px;}
  .s-whom-checks-desc{padding-left: 0;flex-direction: column;}
  .s-whom-checks-desc ._columns{width: 100%;margin-right: 0;margin-left: 0;}
  .s-whom-checks-desc ._icon {display: flex;justify-content: center;}


  .page-head__button {margin-left: 0;margin-right: 0;}



  .page-head__desc .big {font-size: 14px;}

  .card-box{padding: 30px;}
  .card-box__content{max-width: 100%;}
  .card-box__icon svg {width: 80px;}
  .card-box__title{font-size: 21px;}
  .card-box__text{font-size: 12px;}
  .card-box .ui-button {width: auto;}


  .section__box{padding: 30px;}

  .list-with-icons{flex-direction: column;margin-left: 0;margin-right: 0;}
  .list-with-icons ._item{width: 100%;margin-left: 0;margin-right: 0;}
  .list-with-icons ._item + ._item{margin-top: 30px;}
  .list-with-icons ._item h6{margin-top: 30px;}


  .page-head__column:first-child {width: 100%;}


  .cards {flex-wrap: wrap;}
  .check-card {width: 100%;border: none;padding: 40px 20px;}
  .cards-item__title{font-size: 14px;}
  .cards-item__text{font-size: 12px;}
  .cards-item__more{margin-top: 0px;font-size: 12px;}
  .cards-item__footer{margin-top: 20px;}


  .cards.mobile{display: block;}
  .cards.mobile + .cards{display: none;}
  .cards-item__footer{flex-direction: row;}
  .cards-item{margin-left: 0;padding: 20px 40px;}
  .cards-item__image{height: 150px;}

  .section__button-wrapper{margin-top: 50px;}


  .page-head__title{margin-top: 10px;}




  .products-list {flex-direction: column;}
  .products-item {width: 100%;max-width: 100%;}
  .products-item  + .products-item{margin-top: 50px;}
  .products-item__name{font-size: 17px;}
  .products-item__desc{font-size: 12px;padding: 0 10vw;}



  .s-qa__box {
	background-color: $blue;
	padding: 80px 10px;
	border: none;
	margin-left: -15px;
	margin-right: -20px;
  }
  .s-qa__box .cards.mobile{margin-right: -20px;}
  .s-qa__box .cards-item__content{padding-left: 0;}
  .s-qa__box .cards-item{width: 90vw;}
  .s-qa .slick-slider .slick-arrow.slick-next{left: calc(100vw - 43px);}
  .s-qa .slick-slider .slick-arrow.slick-prev{left: -5px;}
  .cards-item{width: 90vw;}


  .checks-advantages{padding: 50px 0;}



  .how-work-checks__view ul{display: flex;flex-direction: column;}
  .how-work-checks__view ul li {
	&:nth-child(1) {order: 2;margin-top: 20px;}
	&:nth-child(2) {order: 3;}
	&:nth-child(3) {order: 1;margin-top: 0;}
	&:nth-child(4) {order: 4;}
  }


  .fines-list {margin-left: 0;margin-right: 0;}
  .fines-list__item{width: 100%;min-width: initial;margin-left: 0;}

  .page-head__image{min-width: 30%;}

  .page-head__title{width: 70%;}
  .page-head__column{width: auto;}
  .page-head + .s-cards{margin-top: 0;}
  .page-head__desc{width: 90vw;}
  .page-head{padding-bottom: 0;}


  .section__desc.is-md{font-size: 12px;margin-top: 10px;}


  .card-box.bordered{padding: 40px 10px 30px;}
  .card-box__icon{margin-top: 50px;}
  .card-box__icon svg {width: 70px !important;}


  .page-head__menu{
	width: auto;
	white-space: nowrap;
	margin-bottom: 50px;
  }


  .about-head {padding-bottom: 100px;}
  .mt200{margin-top: 100px;}


  .s-pressa .slick-initialized .slick-slide {flex-direction: column;}
  .s-pressa-slider .s-econom__title{margin-top: 20px;}
  .s-pressa-slider .s-econom__item{max-width: 90vw;width: 90vw !important;}
  .s-econom__list{margin-right: -20px;}


  .footer{padding-top: 50px;}
  .footer__box{padding: 50px 0;}
  .footer__nav-column{max-width: 100%;width: 100%;padding-bottom: 0;margin-bottom: 0;}
  .footer__nav-caption{height: auto;}
  .footer__nav-list{display: none;}
  .footer__nav-column + .footer__nav-column {margin-top: 20px;}
  .footer__nav{margin-bottom: 0;}
  .footer__bottom{flex-direction: column;}
  .footer__bottom > * + *{margin-top: 20px;}

}

@media screen and (max-width: 425px) {
  .ui-comment {
	width: 100%;
	max-width: initial;
	background-size: 100% 100% !important;
	margin-bottom: 70px;
	min-height: 170px;
  }

  .header__logo {
	width: 147px;
	height: 30px;
  }
  #hamburger {top: 16px;}

  .s-econom .s-econom__list {margin-right: 0;}

  .section__box-grid{flex-direction: column;margin-left: 0;margin-right: 0;}
  .section__box-grid .col{width: 100%;margin-left: 0;margin-right: 0;}
  .section__box-grid .col + .col{margin-top: 30px;}

  .services-slider__item-icon {
	width: 85px;
	height: 85px;
	min-width: 85px;
  }
  .services-slider__item-title{margin-left: 15px;}

  .section__desc{font-size: 12px;max-width: 100%;}
  .section__title{margin-bottom: 20px;line-height: 26px;}


  .s-firms__slider{margin-top: 20px;}

  .footer__nav-caption + .footer__nav-caption{margin-top: 20px;}


  .join-list__item{margin-left: 0;}
  .join-list.with-padding{padding: 50px 10px 0;}


  .why-join-item{min-width: initial;width: 100%;height: auto;min-height: initial;}
  .s-whyjoin .why-join-list{padding-top: 20px;}
  .why-join-item__title{font-size: 12px;}
  .why-join-item__icon{min-width: 60px;}
  .why-join-item__icon img {max-width: 50%;}
  .why-join-item__desc{font-size: 11px;margin-top: 10px;}


  .how-work-checks__view .item:nth-child(1) {order: 2;margin-bottom: 30px;font-size: 11px;}
  .how-work-checks__view .item:nth-child(2) {order: 1;}
  .how-work-checks__view .item:nth-child(3) {order: 3;}
  .how-work-checks__view .item:nth-child(4) {order: 4;}
  .how-work-checks__view ul li{font-size: 11px;}

  .how-work-checks{padding: 50px 0;}

  .page-head__desc { max-width: 55vw; }
  .page-head{padding-bottom: 20px;}

  .ui-sub{flex-direction: column;border-radius: 0;width: 100%;}
  .ui-sub button{margin-left: 0;margin-top: 10px;padding-left: 20px;padding-right: 20px;}
  .ui-sub > * {width: 100%;min-width: initial !important;}

}
@media screen and (max-width: 375px) {
  .header__search{margin-right: 10px;}
  .header__login-mobile{margin-right: 50px;}
  .s-advantages h5, .s-advantages h4{font-size: 30px;}

  .services-slider__item {max-width: 90vw;}
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .nav__list > li > .submenu {width: 995px;}
}