*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {max-width: 100%;}

ul {
  list-style-type: none;

  &.default {
	list-style-type: disc;
	padding-left: 15px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}