.ui-button {
  padding: 5px 45px;
  border-radius: 40px;
  background-color: $orange;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  height: 45px;
  font-size: 14px;
  font-weight: 500;

  &.is-md {
	font-size: 16px;
	padding: 15px 60px;
	height: auto;
  }


  &.is-green {
	background-color: #45ac9a;
	color: #fff;
  }
  &.is-blue {
	background-color: $blue;
	color: #fff;
  }


  & > img {margin-left: 15px;}

  &.white-border {
	border: 2px solid rgba(#fff, .8);
	color: rgba(#fff, .8);
	background-color: transparent;

	&:hover {
	  background-color: #fff;
	  border-color: #fff;
	  color: $blue;
	}
  }

  &.is-white {
	background-color: rgba(#fff, .8);


	&:hover {
	  background-color: #fff;
	  color: $caption-grey !important;
	}
  }
}
.ui-input {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 30px;
  font-family: inherit;
  outline: none;
}
.ui-button-inner {
  position: relative;

  &__label{}
  &__content {
	max-width: 0;
	overflow: hidden;
	white-space: nowrap;

	& > * {
	  margin: 0 15px;
	  display: inline-flex;
	  align-items: flex-end;
	}

	svg {
	  fill: #fff;
	  margin-right: 10px;
	  width: 17px;
	  height: 19px;
	}
  }

  &__close {
	display: none;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -11px;
	width: 20px;
	height: 20px;
	border: none;
	cursor: pointer;
	outline: none;
	background: transparent url(../images/button-inner-close.png) center center no-repeat;
	z-index: 5;
  }

  &.js-open {
	cursor: default;
	padding-left: 20px;

	.ui-button-inner__close{display: block;}
	.ui-button-inner__label {display: none;}
	.ui-button-inner__content { max-width: 50em; }
  }
}


.ui-search {
  background: url(../images/icon-search.png) center center no-repeat;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;

  form {
	display: none;
	height: 35px;
  }

  form input {
	flex-grow: 1;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border: 1px solid #e6e6e6;
	padding-left: 20px;
	outline: none;
	font-size: 14px;

	&::placeholder {
	  color: #808080;
	}
  }

  form button {
	width: 110px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	color: #fff;
	font-size: 14px;
	border: none;
	outline: none;
	cursor: pointer;
	background: $blue url(../images/icon-search-button.png) 20px center no-repeat;
	padding-left: 10px;
  }

  &__close {
	display: none;
	width: 40px;
	height: 40px;
	background: transparent url(../images/button-inner-close.png) center center no-repeat;
	position: absolute;
	right: 10px;
	top: -2px;
	transform: translateX(100%);
	border: none;
	outline: none;
  }

  &.js-open {
	max-width: 455px;
	width: 100%;
	background-image: none;
	mask-image: none;
	background-color: transparent;

	form {display: flex;}
  }
}


.ui-lang {
  background-color: #f0f6fb;
  border-radius: 40px;
  padding: 12px 20px;
  color: $grey;
  align-self: center;
}

.ui-comment {
  background: url(../images/comment-layer.png) top left no-repeat;
  max-width: 640px;
  min-height: 265px;
  position: relative;
  background-size: contain;

  &:after {
	content: '';
	display: block;
	position: absolute;
	top: 30px;
	left: 65px;
	width: 60px;
	height: 50px;
	background: url(../images/quotes.png) center center no-repeat;
  }

  &__content {
	padding: 50px 50px 50px 160px;
	font-size: 14px;
	color: #4c4c4c;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
  }


  &__info {
	margin-top: 15px;
	font-style: italic;
  }


}

.ui-checklist {
  margin-top: 20px;
  margin-left: 25px;

  li {
	position: relative;
	font-size: 14px;
	color: #4c4c4c;

	&:before {
	  content: '';
	  background-repeat: no-repeat;
	  background-position: center center;
	  width: 30px;
	  height: 20px;
	  position: absolute;
	  top: 0;
	  left: 0;
	  margin-top: -2px;
	  transform: translateX(-100%);
	}

	& + li {margin-top: 10px;}
  }

  &.blue-icons li:before{background-image: url(../images/icon-checklist-blue.png);}
  &.red-icons li:before{background-image: url(../images/icon-checklist-red.png)}
  &.green-icons li:before{background-image: url(../images/icon-checklist-green.png)}
}


.ui-video {
  position: relative;
  width: 560px;
  max-width: calc(100vw - 30px);
  height: 315px;
  cursor: pointer;
  display: block;


  &:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: rgba($green, .85) url(../images/icon-play.svg) center center no-repeat;
	z-index: 1;
  }

  &__text {
	font-size: 30px;
	font-weight: 500;
	color: #fff;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	padding-top: 40px;
	z-index: 2;
  }

  img {
	width: 100% !important;
	height: 100%;
	max-width: initial;
	object-fit: cover;
	right: 0 !important;
  }
}


.ui-accordion{

  &__item{
	position: relative;
	border-bottom: 1px solid #e5e5e5;

	&:after {
	  content: '+';
	  position: absolute;
	  right: 50px;
	  top: 33px;
	  width: 36px;
	  height: 36px;
	  margin-top: -18px;
	  background-color: #f0f6fb;
	  color: $blue;
	  pointer-events: none;
	  font-size: 32px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	  font-weight: 300;
	  border-radius: 50%;
	}

	&.js-open {
	  &:after {content: '—';}
	}

	&-hidden {
	  display: none;
	  padding-bottom: 25px;
	  margin-top: -10px;
	}

	&:first-child{border-top: 1px solid #e5e5e5;}

	&-caption{
	  font-size: 16px;
	  color: $blue;
	  padding: 25px 30% 25px 0;
	  cursor: pointer;
	}
	&-text{
	  color: $caption-grey;
	  max-width: 70%;
	  position: relative;
	  z-index: 2;
	}
	&-more{
	  margin-top: 20px;
	  display: inline-flex;

	  span {text-decoration: underline;}
	}
  }
}


.ui-sub {
  padding: 10px 10px 10px 20px;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;

  input {
	min-width: 290px;
  }
  button {margin-left: 20px;}
}