$text-black: #4c4c4c;

$orange: #ff5722;
$blue: #1773ce;
$green: #339e8b;

$menuBG: #f0f6fb;

$grey: #808080;
$caption-grey: #4c4c4c;
$grey-light: #f0f6fb;



/* Links */
.link {
  text-decoration: underline;
  color: inherit;
  display: inline-flex;
}

/* Text */
.text {
  &-blue {color: $blue !important;}
  &-red {color: $orange !important;}
  &-green{color: $green !important;}
  &-white {color: #fff !important;}
  &-alp8 {opacity: .8 !important;}

  &-center {text-align: center;}

  &-black {color: #4c4c4c;}
}

/* Backgrounds*/
.bg {
  &-white {background-color: #fff !important;}
  &-blue{ background-color: $blue !important;}
  &-green{ background-color: $green !important;}
  &-red{ background-color: $orange !important;}
}

.p30 {padding: 30px 0;}
.p50 {padding: 50px 0;}
.pb50 {padding-bottom: 50px;}
.mt50 {margin-top: 50px;}
.mt100 {margin-top: 100px;}
.mt200 {margin-top: 200px;}
.mb50 {margin-bottom: 50px;}
.mb100 {margin-bottom: 100px;}
.mb200 {margin-bottom: 200px;}