@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
@import "../css/slick.css";
@import "variables";
@import "reset";
@import "ui";


html.js-noscroll,
body.js-noscroll {overflow: hidden;}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}
.container {
  max-width: 1190px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-small {
  max-width: 990px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}


/* Header */
.header {
  padding: 25px 0 0;


  &__logo {
	width: 198px;
	height: 46px;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;
	background-image: url(../images/logo.svg);
  }

  &__grid {
	display: flex;
	align-items: center;
  }

  &__label {
	display: flex;
	align-items: center;
	margin-left: 40px;
	max-width: 230px;
	padding: 0px 20px;
	position: relative;
	height: 57px;
	margin-right: auto;


	svg {
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: -1;
	}

	&-year {
	  font-size: 33px;
	  color: $orange;
	  font-weight: 900;
	}

	&-text {
	  font-size: 12px;
	  color: #808080;
	  line-height: 1;
	  margin-left: 5px;
	}
  }

  &__search {
	margin-right: 20px;
  }

  &__login {

	.ui-button-inner__content > * + * {
	  position: relative;

	  &:before {
		content: '';
		height: 100%;
		width: 1px;
		background-color: rgba(255, 255, 255, 0.5);
		position: absolute;
		left: -15px;
		top: 0;
	  }
	}

	&-mobile {
	  display: none;
	  background-color: transparent;
	  padding: 0;
	  width: 30px;
	  height: 30px;
	  margin-right: 60px;
	  font-size: 0;

	  svg {
		width: 30px;
		height: 30px;
		fill: $orange;
	  }

	  &.js-orange {
		background-color: $orange;
		margin-right: 0;
		padding: 10px 30px;
		svg {fill: #fff;}
	  }

	  &.is-open {
		& + .hidden-login {display: flex !important;}
	  }
	}


	&.js-open {margin-left: auto;}

  }
  .hidden-login {
	position: absolute;
	flex-direction: column;
	align-items: flex-start;
	background-color: $orange;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	color: #fff;
	padding: 20px;
	z-index: 9999;

	a {
	  display: flex;
	  align-items: center;
	  color: inherit;
	  font-size: 14px;
	  font-weight: 400;
	}
	a + a {margin-top: 20px;}
	svg {
	  fill: #fff;margin-right: 10px;
	  width: 20px;
	  height: 20px;
	}

	.close {
	  width: 40px;
	  height: 40px;
	  position: absolute;
	  top: 10px;
	  right: 10px;
	  outline: none;
	  border: none;
	  background: url(../images/button-inner-close.png) center center no-repeat;
	}
  }

  &__lang {
	margin-left: 15px;
  }


  &-menu {
	margin-left: auto;
	display: flex;
	align-items: center;

	&__link {
	  color: $grey;
	  margin: 0px 10px;
	  padding: 30px 15px;
	}

	& > li {
	  position: relative;

	  &:hover, &.active {

		a {
		  background-color: $blue;
		  color: #fff;
		}

		.submenu {display: flex;}
	  }
	}

	.submenu {
	  display: none;
	  flex-direction: column;
	  position: absolute;
	  background-color: $blue;
	  color: #fff;
	  padding: 40px;
	  z-index: 100;
	  white-space: nowrap;
	  margin-left: 10px;
	  top: 45px;

	  li + li {margin-top: 5px;}
	  a {
		display: inline-flex;
		align-items: center;

		&:before {
		  content: '';
		  background: url(../images/submenu-item-arrow-light.png) left center no-repeat;
		  display: inline-flex;
		  align-items: center;
		  margin-right: 5px;
		  width: 15px;
		  height: 10px;
		}
	  }
	}
  }

  &__nav {
	color: $blue;
	font-size: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	margin-top: 25px;
  }

  &.js-search-opened &-menu {
	display: none !important;
  }

  &.is-fixed {
	background-color: #f0f6fb;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 105;
	padding: 20px 0;

	.nav {display: none;}

	.header__lang,
	.header__label,
	.header-menu{display: none !important;}

	.header__search {margin-left: auto;}
  }

  &.mob-search-open {
	background-color: $blue;

	.ui-search form button {background-color: #114e8a;font-size: 0;width: 60px;}
  }
}

#hamburger {
  display: none;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: transparent;
  background-image: url(../images/mobile-hamburger.png);
  position: absolute;
  right: 20px;
  top: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1000;


  &.js-open {
	background-image: url(../images/mobile-menu-close.png);
	background-size: auto;
  }
}

/*Mobile header*/
.header.js-open {
  background-color: $blue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;

  .hamburger {}
  .header__logo {
	background-image: url(../images/logo-white.svg);
  }

  .header__grid .header__login-mobile{display: none !important;}

  .header__search {display: none;}
  
  .mobile-nav .header__search,
  .mobile-nav .nav,
  .mobile-nav .header__lang {display: flex;}
  .mobile-nav .nav {
	background-color: transparent;
	flex-basis: 100%;
  }
  .header__nav {
	color: #fff;
	flex-direction: column;
  }

  .mobile-nav {
	display: flex;
	flex-wrap: wrap;

	.header__login-mobile {
	  font-size: 14px;
	}
  }
}
.mobile-nav {
  display: none;
  padding: 0 15px;

  .header__search {
	margin-bottom: 15px;
	margin-right: 0;
	display: flex !important;
	width: 100%;

	form {
	  height: 40px;
	  display: flex !important;
	}
	form button {
	  background-color: #0a529b;
	  font-size: 0;
	  width: 60px;
	  height: 40px;
	}

  }
  .ui-search__close {display: none !important;}
  .ui-search.js-open {padding-right: 0;}
  .header__login-mobile {
	display: flex !important;
	align-items: center;
	background-color: $orange;
	padding: 10px 20px;
	height: 40px;
	flex-grow: 1;
	text-align: center;
	margin-right: 0;
	margin-left: 0;

	svg {
	  fill: #fff;width: 20px;height: 20px;
	  position: absolute;
	  left: 20px;
	}
  }

  .header__lang {}

  .header__nav {
	width: 100%;
	padding-left: 30px;
	margin-bottom: 50px;

	li{
	  width: 100%;

	  &:hover {
		.submenu {max-height: 150rem;}
	  }
	}
	& > li > a {color: #fff;}
	.submenu__buttons-foot{margin-top: 15px !important;}

	& > li > a:not(.ui-button) {
	  padding: 10px 0;
	  width: 100%;
	  margin-left: 0;
	  margin-right: 0;
	  font-weight: 400;
	  display: flex;
	  align-items: center;

	  &:before {
		content: '';
		display: inline-flex;
		width: 15px;
		height: 10px;
		background: url(../images/icon-dropdown.png) left center no-repeat;
		margin-right: 10px;
	  }
	}

	.submenu {
	  position: relative;
	  left: 0;
	  top: 0;
	  padding: 0;
	  margin-left: -30px;
	  max-width: initial;
	  width: auto;
	  flex-direction: column;

	  &__column {
		padding: 20px !important;
	  }
	  .submenu__column + .submenu__column {border-left: none;}

	  .caption {font-size: 14px;}
	  a {font-size: 12px;}
	  a:not(.ui-button) {
		padding: 5px 20px;

		&:hover {
		  background-color: $orange;
		  color: #fff;

		  &:before {
			background-image: url(../images/submenu-item-arrow-white.png);
		  }
		}
	  }

	   ul {
		margin-left: -20px;
		margin-right: -20px;
	  }
	}
  }
}

.nav {
  background-color: $menuBG;


  &__list {
	position: relative;

	& > li {


	  & > a {
		display: inline-flex;
		padding: 25px 40px;
	  }

	  &:hover, &.active {
		background-color: $blue;

		.submenu {
		  max-height: 50rem;
		  padding: 20px;
		}

		& > a {color: #fff;}
	  }
	}
	& > li > .submenu {
	  position: absolute;
	  top: 100%;
	  display: flex;
	  right: 0;
	  max-width: 100vw;
	  width: 100%;
	  max-height: 0;
	  overflow: hidden;
	  white-space: nowrap;
	  background-color: $blue;
	  //padding: 20px;
	  padding: 0;
	  z-index: 100;
	  transition: all .3s linear;

	  .submenu__column:not(:nth-child(3)) {
		background-color: #fff;
		padding: 50px;
		flex-grow: 1;
	  }
	  .submenu__buttons {
		padding: 30px 35px;
		display: flex;
		flex-direction: column;
		max-width: 320px;

		&-foot {
		  margin-top: auto;
		  display: flex;
		  flex-direction: column;

		  a { font-size: 15px;  }
		  a + a {margin-top: 10px;}
		}
	  }

	  .submenu__column + .submenu__column {
		border-left: 1px solid #e6e6e6;
	  }

	  .caption {
		font-size: 17px;
		font-weight: bold;
	  }

	  ul {
		margin-top: 20px;

		&.red-icons a:before {background-image: url(../images/submenu-item-arrow-red.png);}

		li + li {margin-top: 5px;}
		a {
		  position: relative;
		  display: flex;
		  align-items: center;
		  color: $caption-grey;
		  font-weight: 400;
		  font-size: 14px;

		  &:before {
			content: '';
			display: inline-flex;
			min-width: 20px;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url(../images/submenu-item-arrow.png);
			width: 20px;
			height: 20px;
			margin-right: 3px;
		  }
		}
	  }
	}
  }
}


/* Page head */
.page-head {
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;

  &__grid{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	&.w50 {
	  .page-head__column{width: 50%;}
	  .page-head__column:nth-child(2) {padding-left: 100px;}
	}
  }
  &__column{}
  &__image {
	flex-grow: 1;
	width: 310px;
	min-width: 310px;

	img {
	  display: block;
	  margin-left: auto;
	}


	&.is-big {

	  img {
		max-width: initial;
		position: relative;
		z-index: 1;
		top: 180px;
	  }

	  .img2{
		position: absolute;
		bottom: -20%;
		left: 58%;
		z-index: 0;
	  }
	}
  }
  &__title{
	font-size: 60px;
	color: $blue;
	font-weight: 900;
	margin-top: 50px;
  }
  &__desc{
	font-size: 18px;
	color: #161a1d;
	margin-top: 40px;


	.big {
	  font-weight: bold;
	  font-size: 24px;
	}
  }

  &__menu {
	background-color: $menuBG;
	display: flex;
	width: 70%;
	flex-wrap: wrap;
	margin-top: -70px;

	li{
	  padding: 25px 25px;
	  display: inline-flex;
	  color: $blue;
	  font-size: 17px;
	  font-weight: 500;
	}
  }

  &__colmn{}

  &__checklist {
	margin-top: 50px;

	li {font-size: 16px;}
  }
  &__button {
	margin-top: 50px;
	margin-left: 30px;
  }
}






/* Banner */
.main-banner {
  padding-top: 95px;
  padding-bottom: 140px;
  position: relative;

  &__grid{
	display: flex;
  }
  &__image{
	margin-left: -135px;

	img {max-width: initial;}
  }

  &__title {
	margin-top: 20px;
	font-size: 55px;
	font-weight: 900;
	line-height: 50px;
  }


  &__comment {
	margin-top: 110px;
	margin-left: -90px;
  }

  .paysend {
	position: absolute;
	right: 100px;
	bottom: 100px;
  }
}

/* $ SECTIONS GLOBAL */
.section {
  &__title {
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 40px;

	&.is-sm {
	  font-size: 36px;
	}

	&.is-fm {font-weight: 500;}
  }
  h3 {
	font-size: 25px;
	color: #4c4c4c;
	margin-bottom: 20px;
  }
  h4 {
	margin-bottom: 20px;
	font-size: 20px;
	margin-top: 50px;
	font-style: italic;
	color: $blue;
	text-align: center;
  }
  &__desc {
	font-size: 16px;
	color: #4c4c4c;
	margin-top: 40px;
	max-width: 80%;

	&.is-strong {
	  font-weight: 500;
	  font-size: 18px;
	}

	&.is-md {
	  font-size: 18px;
	  font-weight: 500;
	}
  }
  &__tel {
	font-weight: bold;
	color: $blue;
	display: inline-flex;
	align-items: center;

	img{margin-left: 10px;}
  }
  &__button-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 30px;

	& > * {margin: 0 5px;}

	&.after-slider {margin-top: 60px;padding-bottom: 50px;}
  }
  &__social {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 500;

  }
  &__padding {padding: 100px 0;}

  &.pb{padding-bottom: 100px;}
  &.pt{padding-top: 100px;}


  p {
	color: $caption-grey;

	& + p {margin-top: 20px;}
  }

  &__box {
	margin-top: 50px;
	padding: 50px;
	background-color: #fff;

	&-grid {
	  display: flex;
	  margin-left: -20px;
	  margin-right: -20px;

	  .col {
		margin-left: 20px;
		margin-right: 20px;
		width: calc(50% - 40px);
	  }
	}
  }
}
.list-with-icons {
  display: flex;
  margin-left: -30px;
  margin-right: -30px;

  ._item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 30px;
	text-align: center;
	width: calc(100% / 3 - 30px);


	h6{
	  margin-top: 55px;
	  font-size: 24px;
	  font-weight: bold;
	  height: 59px;
	  overflow: hidden;

	  &.is-auto {height: auto;}
	}
	p{
	  color: $caption-grey;
	  margin-top: 20px;
	}
  }
}

/* Advantages */
.s-advantages {
  background-color: $grey-light;
  height: 285px;
  margin-bottom: 50px;

  &__border{
	border: 1px solid #e6e6e6;
	position: relative;
	top: 15px;
	height: 285px;
  }

  &__list{
	display: flex;
	align-items: center;
  }
  &__item{
	position: relative;

	&:nth-child(1) {
	  margin-top: -128px;
	  .s-advantages__icon {margin-top: 60px;}
	  .s-advantages__desc {margin-left: 10px;}
	}
	&:nth-child(2) {
	  margin-left: 130px;
	  margin-top: -60px;

	  .s-advantages__title {
		position: absolute;
		transform: rotate(-90deg) translateY(-100%);
		bottom: -43px;
		left: -45px;
	  }

	  .s-advantages__desc {margin-top: 30px;}
	}
	&:nth-child(3) {
	  margin-top: -123px;
	  margin-left: 65px;
	  .s-advantages__desc {margin-bottom: 30px;}
	}
	&:nth-child(4) {
	  margin-top: 40px;
	  margin-left: 65px;

	  .s-advantages__desc {margin-top: 15px;margin-bottom: 15px;}
	}
	&:nth-child(5) {
	  display: flex;
	  flex-direction: column;
	  align-items: flex-end;
	  text-align: right;
	  margin-left: -160px;
	  margin-top: -181px;
	}
  }
  &__title{
	font-weight: 900;
	line-height: 1;
	position: relative;
	white-space: nowrap;
  }

  h2{font-size: 117px}
  h3{font-size: 98px;}
  h4{font-size: 66px;}
  h5{font-size: 54px}

  &__desc{
	max-width: 160px;
	font-weight: 500;
	font-size: 16px;
  }
  &__icon{}
}


/* Econom */
.s-econom {
  padding-top: 100px;
  padding-bottom: 100px;


  &__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: 1px;
	margin-top: 1px;
  }

  &__item {
	border: 1px solid #e6e6e6;
	width: calc(50% + 1px);
	margin-left: -1px;
	margin-top: -1px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 210px;
	padding: 20px;
  }

  &__content {
	margin-left: 60px;
	max-width: 230px;
	color: #4c4c4c;
  }

  &__image {
	padding: 20px;
	background-color: #f5f5f5;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
  }

  &__title {
	font-size: 18px;
	font-weight: bold;
  }

  &__text {
	margin-top: 15px;
	font-weight: 500;
  }
}


/* Services */
.s-services {
  padding: 90px 0 70px;
  background-color: $blue;
  overflow: hidden;

  .container {position: relative;}


  &__buttons {
	margin-top: 60px;
  }
}
.services-slider {
  display: flex;
  width: 100vw;

  &__item {
	background-color: #fff;
	padding: 50px;
	overflow: hidden;
	height: 390px;
	max-width: 390px;

	& + & {border-left: 1px solid #e6e6e6;}

	&-head{
	  display: flex;
	  align-items: center;
	  margin-top: -30px;
	}
	&-icon {
	  width: 125px;
	  min-width: 125px;
	  height: 125px;
	  border-radius: 50%;
	  background-color: #fff;
	  overflow: hidden;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin-left: -30px;

	  &.border-blue{box-shadow: 0 0 0 50px #f0f6fb;}
	  &.border-red{box-shadow: 0 0 0 50px #fff5f2;}
	  &.border-green{box-shadow: 0 0 0 50px #f0f6fb;}
	}
	&-title{
	  font-size: 22px;
	  font-weight: 500;
	  margin-left: 35px;
	}
	&-checklist {
	  @extend .ui-checklist;
	}
  }

  &.full-border &__item {
	border: 1px solid #e6e6e6;
  }
  &.full-border &__item + &__item {margin-left: -1px;}
}


/* SLICK DEFAULT STYLES*/
.slick-slider {

  .slick-slide {
	outline: none;
	user-select: text;
  }
  .slick-arrow {
	position: absolute;
	top: 50%;
	width: 40px;
	height: 40px;
	font-size: 0;
	line-height: 0;
	border: none;
	background: #1366c9 url(../images/slider-arrow.png) center center no-repeat;
	outline: none;
	cursor: pointer;
	margin-top: -20px;
	z-index: 101;

	&.slick-prev{
	  left: -70px;
	}
	&.slick-next{
	  left: 1200px;
	  transform: rotate(180deg);
	}
  }

  .slick-dots {
	position: absolute;
	width: 1160px;
	display: flex;
	justify-content: center;
	bottom: -30px;
	left: 0;

	li {
	  margin: 0 5px;
	}
	button {
	  width: 5px;
	  height: 5px;
	  border-radius: 50%;
	  background-color: #fff;
	  outline: none;
	  cursor: pointer;
	  border: none;
	  font-size: 0;
	  line-height: 0;
	}

	.slick-active button {
	  background-color: #0e53a5;
	}
  }


  &.with-hidden {
	&:after {
	  content: '';
	  position: absolute;
	  width: calc((100vw - 1174px) / 2);
	  background-color: rgba(23, 115, 206, 0.75);
	  left: 1171px;
	  height: 100%;
	  z-index: 100;
	}
  }

  &.gren-hidden:after {
	background-color: rgba($green, 0.75);
  }
  &.white-hidden:after {
	background-color: rgba(#fff, 0.75);
  }
  &.grey-buttons .slick-arrow {
	background: #f0f6fb url(../images/slider-arrow-blue.png) center center no-repeat;
  }
  &.green-buttons .slick-arrow {
	background: #288c79 url(../images/slider-arrow.png) center center no-repeat;
  }
  &.light-dots {
	.slick-dots button {background-color: $blue;}
	.slick-dots .slick-active button {background-color: $orange;}
  }
  &.green-dots {
	.slick-dots button {background-color: #fff;}
	.slick-dots .slick-active button {background-color: #1b7b69;}
  }

}


/* Firms */
.s-firms {
  padding: 100px 0;


  &__slider {
	margin-top: 80px;
  }
}
.firms-slider {

  .item {
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
}


/* Clients */
.s-clients {
  background-color: $green;
  padding: 100px 0;
  overflow-x: hidden;

  .clients-slider:after {left: 1160px;}
}
.clients-slider {
  display: flex;
  width: 100vw;

  &.full-border{margin-left: 1px;}
  &.full-border &__item {
	border: 1px solid #e6e6e6;
	margin-left: -1px;
  }
  &__item {
	padding: 40px;
	background-color: #fff;
	max-width: 580px;

	& + & {border-left: 1px solid #e6e6e6;}



	&-head{
	  display: flex;
	  align-items: center;
	}
	&-info {
	  padding-left: 15px;
	}
	&-ava {
	  width: 80px;
	  height: 80px;
	  border-radius: 50%;
	  overflow: hidden;

	  img {width: 100%;height: 100%;object-fit: cover;}
	}

	&-name{}
	&-link{
	  text-decoration: underline;
	}
	&-text {
	  margin-top: 15px;
	  line-height: 21px;
	  color: #4c4c4c;
	  position: relative;
	  height: 105px;
	  overflow: hidden;

	  &:after {
		content: '';
		position: absolute;
		bottom: 0;
		height: 25px;
		background-image: linear-gradient(to top, #fff , rgba(255,255,255, 0.5));
		left: 0;
		width: 100%;
	  }
	}

	&-more {
	  margin-top: 15px;
	  border-bottom: 1px dashed currentColor;
	  color: #4c4c4c;
	  display: inline-flex;
	  padding-bottom: 2px;
	}
  }
}


/* JOIN STEPS */
.s-join {
  padding: 100px 0;


  &__buttons {
	margin-top: 60px;
  }
}
.join-list{
  display: flex;
  margin-top: 60px;


  &__item {
	display: flex;
	flex-direction: column;
	width: calc(100% / 4 - 20px);
	margin: 0 20px;

	&-icon{
	  padding-left: 10px;
	}
	&-caption {
	  color: $caption-grey;
	  font-weight: 500;
	  font-size: 22px;
	  margin-top: 35px;
	  height: 55px;
	}
	&-list {
	  margin-top: 35px;
	}
  }

  &.with-padding {
	padding: 50px 30px;
  }
}

/* Why join */
.s-whyjoin {
  padding-top: 100px;
  padding-bottom: 50px;

  .why-join-list {padding-top: 50px;}
}
.why-join-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -12.5px;
  margin-right: -12.5px;
}
.why-join-item {
  margin: 0 12.5px 25px 12.5px;
  width: calc(50% - 25px);
  background-color: #f0f6fb;
  padding: 10px;
  display: flex;
  min-height: 180px;
  min-width: 360px;
  max-width: calc(100vw - 30px);
  flex-grow: 1;

  &__content{
	padding: 20px;
  }
  &__title{
	font-size: 20px;
	color: $blue;
	font-weight: bold;
  }
  &__desc{
	color: $caption-grey;
	margin-top: 20px;
  }

  &__icon {
	background-color: $blue;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 130px;
  }
}

.join-options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px -10px -30px;

  &__item{
	width: calc(100% / 4 - 30px);
	min-width: 180px;
	max-width: calc(100vw - 30px);
	flex-grow: 1;
	margin: 0 10px 30px;

	&-icon{
	  height: 65px;
	}
	&-title{
	  font-size: 18px;
	  color: $green;
	  font-weight: bold;
	  display: block;
	  margin-top: 10px;
	  height: 44px;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	&-text{
	  display: block;
	  color: $caption-grey;
	  margin-top: 15px;
	}

  }
}


/* Questions */
.s-question {
  background-color: $blue;
  padding: 80px 0 100px;
  text-align: center;

  .section__title {margin-bottom: 0;}
  &__desc {
	font-size: 30px;
	font-weight: bold;
	color: #bfd9ef;
	line-height: 48px;
  }

  .section__button-wrapper {margin-top: 60px;}
}


/* Whom checks*/
.s-whom-checks {
  padding: 100px 0;


  &__grid{
	display: flex;
  }
  &__column{
	width: 50%;
  }
  &__box{
	background-color: #0d56bf;
	padding: 100px;
	color: #fff;
	display: flex;
	font-size: 18px;
	align-items: flex-start;
	line-height: 1.4;
	flex-direction: column;

	img {margin-right: 10px;}

	p {
	  padding-left: 35px;
	  margin-top: -30px;
	}
  }


  &-desc {
	display: flex;
	flex-wrap: wrap;
	color: #fff;
	padding-left: 30px;
	padding-top: 15px;

	._caption {
	  flex-basis: 100%;
	  font-size: 16px;
	}
	._columns {
	  width: calc(50% - 20px);
	  margin: 40px 10px 0;
	}
	._icon{}
	._text{
	  margin-top: 35px;
	}
  }
}



/* How work checks*/
.how-work-checks {
  padding: 100px 0;


  &__view {
	display: flex;
	align-items: center;


	._text {
	  max-width: 205px;
	}

	.item:nth-child(2) {margin-left: 50px;}
	.item:nth-child(3) {
	  margin-left: 30px;
	  position: relative;
	  display: flex;
	  align-items: center;

	  &:before {
		content: '';
		display: inline-flex;
		width: 90px;
		height: 1px;
		background-color: #d9d9d9;
		margin-right: 20px;
	  }
	  &:after {
		content: '';
		display: inline-flex;
		background: url(../images/page-checks/lines.png) top center no-repeat;
		width: 135px;
		height: 240px;
		opacity: .2;
		margin-right: 30px;
	  }
	}


	ul {
	  li {
		display: flex;
		align-items: center;
		max-width: 320px;

		img {margin-right: 30px;}
	  }
	  li + li {margin-top: 10px;}
	}
  }
}


/* Checks advantages */
.checks-advantages {
  padding: 100px 0;

  .section__button-wrapper {margin-top: 50px;}
}
.visual-table {
  background-color: #fff;
  padding: 50px 50px;

  &__head{
	font-size: 16px;
	font-weight: bold;
	color: $caption-grey;
  }
  &__content{
	display: flex;
	flex-direction: column;
	color: $caption-grey;

	.visual-table__row {
	  border-top: 1px solid #cce7e2;
	}

	p {
	  font-weight: bold;
	  font-size: 16px;
	  color: $blue;
	}
	small {
	  font-size: 12px;
	  flex-basis: 100%;
	  text-align: center;
	  margin-top: 3px;
	}

	img {margin-right: 5px;}
  }

  &__row {
	display: flex;
	padding: 20px 0;
  }

  &__col {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	&:not(:nth-child(1)) {
	  justify-content: center;
	}
	&:nth-child(1){width: 30%;}
	&:nth-child(2){width: calc(70% / 3);}
	&:nth-child(3){width: calc(70% / 3);}
	&:nth-child(4){width: calc(70% / 3);}
  }


  &.mobile {
	padding: 20px;
	display: none;
	font-size: 12px;

	p {font-size: 12px;}

	& + & {margin-top: 20px;}
	.visual-table__head .visual-table__col {text-align: center;width: 100% !important;justify-content: center;}
	.visual-table__head .visual-table__row {padding-top: 0;}
	.visual-table__col {width: 50% !important;}
	.visual-table__content .visual-table__col:not(:first-child) {justify-content: center;}
  }
}



/* Questions */
.questions {
  padding: 100px 0;
}




/* FINES */
.s-fines {
  padding-bottom: 100px;
}
.fines-list {
  display: flex;
  flex-wrap: wrap;
  margin: 100px -17.5px -30px;

  &__item {
	width: calc(100% / 3 - 35px);
	margin: 0 17.5px 30px;
	min-width: 320px;
	flex-grow: 1;

	&-caption{
	  display: flex;
	  align-items: center;
	  font-size: 18px;
	  font-weight: bold;
	  color: $caption-grey;
	  height: 65px;

	  img {margin-right: 10px;}
	}
	&-list{
	  margin-top: 50px;
	  padding-left: 40px;

	  span {font-weight: bold;}

	  li + li {margin-top: 20px;}
	}
  }
}



/* Cards */
.cards {
  display: flex;
  margin-left: 1px;

  &-item {
	padding: 20px;
	border: 1px solid #e6e6e6;
	position: relative;
	margin-left: -1px;
	display: flex;
	flex-direction: column;

	&__image{
	  width: 100%;
	  height: 180px;
	  overflow: hidden;

	  img{width: 100%;height: 100%;object-fit: cover;}
	}
	&__content{
	  padding-top: 20px;
	  margin-bottom: auto;
	}
	&__title{
	  font-size: 18px;
	  color: $blue;
	  font-weight: bold;
	  height: 45px;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  max-width: 239px;
	}
	&__text{
	  margin-top: 20px;
	  color: $caption-grey;
	}

	&__footer{
	  margin-top: 30px;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  color: #d9d9d9;
	}
	&__more{
	  text-decoration: underline;
	}
	&__date{
	  font-size: 12px;
	}
	&__comments{
	  font-size: 14px;
	  display: flex;
	  align-items: center;

	  &:before {
		content: '';
		display: inline-flex;
		align-items: center;
		mask: url(../images/icon-chat.svg) center center no-repeat;
		mask-size: contain;
		background-color: #d9d9d9;
		margin-right: 5px;
		width: 15px;
		height: 15px;
	  }
	}
  }


  &.mobile {
	display: none;
  }
}

.card-box-list {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  flex-wrap: wrap;


}
.card-box {
  padding: 50px;
  color: #fff;
  width: calc(50% - 40px);
  margin: 0 20px 20px;
  display: flex;
  min-width: 290px;
  flex-grow: 1;


  &__content{
	max-width: 70%;
  }
  &__title{
	font-size: 30px;
	font-weight: bold;
  }
  &__text{
	font-size: 16px;
	margin-top: 20px;
  }
  &__icon {
	align-self: flex-end;
	margin-left: auto;

	svg {fill: rgba(#000,.3);}
  }
  &__button {
	margin-top: 20px;
  }

  &.bordered {
	border: 3px solid transparent;
	background-color: transparent !important;
	color: $caption-grey;
	padding: 40px;

	&.border-blue{
	  border-color: $blue;
	  .card-box__title {color: $blue;}
	  .card-box__icon svg {fill: $blue;width: 80px;}
	}
	&.border-red{
	  border-color: $orange;
	  .card-box__title {color: $orange;}
	  .card-box__icon svg {fill: $orange;width: 80px;}
	}
	&.border-green{
	  border-color: $green;
	  .card-box__title {color: $green;}
	  .card-box__icon svg {fill: $green;width: 80px;}
	}
  }
}

.check-cards {}
.check-card {
  width: calc(100% / 3);
  background-color: #fff;
  padding: 40px;

  &__image {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f5f5f5;

	img {height: 100px;width: 100px;}
  }

  &__title {
	color: $green;
	height: auto;
  }
}


/* Tarrifs */
.tarrifs {
  &__button {margin-top: 50px;}
}
/* Tariff table */
.tariff-table {
  margin-top: 50px;

  &__head{
	.tariff-table__col {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  font-size: 18px;
	  font-weight: bold;

	  img {margin-bottom: 15px;}
	}
  }
  &__body {
	margin-top: 20px;

	.tariff-table__row {
	  padding: 20px 0;
	  color: $caption-grey;

	  &:nth-child(odd) {
		background-color: #f0f6fb;
	  }
	}
  }
  &__row{
	display: flex;
  }
  &__col{
	display: flex;
	align-items: center;
	font-size: 16px;

	img {margin-left: 30px;margin-right: 30px;}

	&:not(:first-child) {
	  font-weight: 500;
	  justify-content: center;
	  text-align: center;
	}
	&:nth-child(1){
	  width: 30%;
	}
	&:nth-child(2){width: calc(70% / 4);}
	&:nth-child(3){width: calc(70% / 4);}
	&:nth-child(4){width: calc(70% / 4);}
	&:nth-child(5){width: calc(70% / 4);}
  }


  &.mobile {
	display: none;

	.tariff-table__row {}
	.tariff-table__col {
	  font-size: 12px;
	}
	.tariff-table__head {
	  .tariff-table__col {width: 100% !important;justify-content: center;font-size: 18px;}
	}
	.tariff-table__body {
	  .tariff-table__col {
		width: 70%;

		&:not(:first-child) {width:30%;justify-content: center;}
	  }
	}
  }
}




/* Questions & Ansers section*/
.s-qa {

  &__grid{
	display: flex;
  }
  &__column1{
	width: 65%;
  }
  &__column2{
	width: 35%;
	padding-left: 40px;
  }

  &__box{
	border: 20px solid $blue;

	.cards {
	  flex-direction: column;

	  &-item {
		flex-direction: row;
		flex-wrap: wrap;

		&__image {max-width: 290px;}
		&__content {flex: 1 0;padding-left: 40px;padding-top: 0;}
		&__title {height: auto;white-space: normal;}

		&__more {
		  color: #d9d9d9;
		  margin-top: 20px;
		  display: inline-flex;
		}

	  }

	}


	.cards.mobile {
	  padding: 0;
	  .cards-item {background-color: #fff;border: none;}
	}
  }

  &__tags {
	margin-top: 100px;
  }

  &__banner {
	margin-top: 100px;
  }

  &__article {
	margin-top: 100px;
  }
}
.last-news {

  &__caption{
	font-size: 24px;
	font-weight: bold;
	color: $green;
  }

  &__list {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
  }
  &__item {
	display: flex;
	align-items: flex-start;
	text-decoration: none;

	& + & {margin-top: 20px;}

	span {
	  color: $caption-grey;

	  &:first-child {
		color: rgba($caption-grey, .5);
		margin-right: 30px;
	  }
	}
  }
}


.hash-tags {
  margin-left: -10px;
  margin-right: -10px;

  a {
	font-size: 18px;
	font-weight: bold;
	color: $green;
	margin: 5px 10px;
	display: inline-flex;
  }
}


/* Mini banner */
.banner-mini {
  position: relative;
  min-height: 290px;
  display: inline-flex;

  &__content {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 30px 20px;
	background-color: $green;
	color: #fff;
	font-size: 16px;
  }

  img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
}


/* Article */
.article {

  &__title{
	font-size: 18px;
	font-weight: bold;
	color: $green;
  }
  &__text{
	margin-top: 20px;
  }
  &__more {
	display: inline-flex;
	margin-top: 20px;
	color: rgba($caption-grey, .5);
	text-decoration: underline;
  }
}
section.article {
  img {
	padding: 40px;
	border: 1px solid #eee;
	max-width: 100%;
	width: 100%;
	margin: 50px 0;
  }
}


/* About page */
.about-head {
  padding-bottom: 100px;

  &__desc {
	max-width: 550px;
	margin-top: 70px;
  }

  .container {position: relative;}


  &__img {
	height: 640px;
	width: 500px;
	position: absolute;
	right: -50px;
	bottom: -50px;
	user-select: none;
	pointer-events: none;

	img {
	  max-width: initial;
	}

	.img1 {
	  position: absolute;
	  z-index: 2;
	  bottom: -186px;
	  right: 75px;
	}
	.img2 {
	  height: 400px;
	  overflow: hidden;
	  width: 570px;
	  position: absolute;
	  bottom: -50px;
	  z-index: 0;
	}
  }
}



/* Pressa about us */
.s-pressa {

  .slick-initialized .slick-slide {display: flex;}

  &-slider {
	background-color: #fff;

	.s-econom__title {color: $blue;}
	.s-econom__item {
	  height: 240px;
	}
  }
}



/* Sertificates */
.s-sertificates{}
.sertificates-list{
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}
.sertificates-item {
  padding: 30px;
  background-color: #f0f6fb;
  margin-left: 10px;
  margin-right: 10px;

  &__img {
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 220px;

	img{height: 100%;}
  }

  &__text {
	margin-top: 40px;
	color: $caption-grey;
  }
}



/* Our products list section */
.s-products{

  &__list {
	margin-top: 100px;
  }
}
.products-list{
  display: flex;
  justify-content: space-between;
}
.products-item{
  text-align: center;
  width: calc(100% / 3);
  max-width: 265px;

  &__icon{
	display: flex;
	justify-content: center;
	height: 125px;
  }
  &__name{
	margin-top: 30px;
	font-size: 24px;
	font-weight: bold;
  }
  &__desc{
	font-size: 18px;
	margin-top: 20px;
  }
}


/* Footer */
.footer {
  padding-top: 100px;

  &__box {
	border: 1px solid #e6e6e6;
	padding: 50px;
  }

  &__nav {
	display: flex;
	justify-content: space-between;


	&-list {
	  margin-top: 20px;

	  li + li {margin-top: 10px;}
	}

	&-column {
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-start;
	  max-width: 150px;
	}

	&-caption {
	  color: #1976d2;
	  font-weight: bold;
	  height: 35px;

	  & + & {margin-top: 5px;}
	}
  }

  &__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0;
  }

  &__conf {
	color: $caption-grey;
  }
  &__social {
	display: flex;
	align-items: center;

	& > a {
	  margin: 0 12.5px;
	}
  }

  &__phone {
	color: #45ac9a;
	font-weight: bold;
	font-size: 18px;
  }
}




@import "responsive";