

/* BIG PC DISPLAY */
@media screen and (min-width:1600px){
   .gallery.image-gallery .col:firt-child{display: block;}
   .gallery.image-gallery .col:last-child{display: block;}
}


/* LARGE PC DISPLAY */
@media screen and (max-width:1125px){

   #header .contacts .list .item .phone_link b{font-size: calc(1em + .1vw);}


   section.service-center .row .text-container:after{display: none;}
   section.service-center{padding-bottom: 130px;}
   section.service-center .row .col-2{padding-left: 0;padding-top: 0;}
   section.service-center .row .col{flex-basis: initial;}
   section.service-center-2 .slider{margin-top: 50px;}
   section.service-center-2>.container{top: 0;}
   section.service-center .row{flex-direction: column;align-items: center;text-align: center;}
   section.service-center .row .sub-caption{margin-bottom: 30px;}


   section.some-articles .slider .item .img-wrapper img{width: 100%;height: auto;}

   .gallery.image-gallery{flex-direction: column;align-items: center;}


   .slider.mini-slider .item .img-wrapper img{height: 100%;width: auto;}
   section.service-center .car-wrapper{display: none;}

   section.video-reviews .columns{flex-wrap: wrap;text-align: center;}
   section.video-reviews .reviews-text{width: 100%;}
   section.video-reviews .mini-video-gallery{margin: 30px auto;}


   

}


/* SMALL DISPLAY PC */
@media screen and (max-width:1024px){
   .show-1024{display: block;}
   .hide-1024{display: none;}
   
   section.red-form .form{flex-wrap: wrap;flex-direction: column;}
   section.red-form .form .col-2{padding-left: 0;margin-top: 20px;}
   section.just-text .wrapper .columns-2>*{overflow: hidden;}
   section.single-news .background{background-position: center center;}
}



@media screen and (max-width:970px){
   .show-970{display: block;}
   .hide-970{display: none;}

   section.top-slider .calculator{top: 410px;left: calc(50% - 200px);}
   section.top-slider{margin-bottom: 485px;}

   #header .contacts .list .item.icon-clock{display: none;}
   #header .contacts .list{justify-content: space-around;}


   #header .top-menu .flexed{padding-left: 20px;}
   #header .contacts>.flexed{padding-left: 150px;}
   #header-logo{padding: 0;top: 0;}
}


/* TABLET */
@media screen and (max-width:750px){
   .show-750{display: block !important;}
   .hide-750{display: none !important;}

   #header .top-menu .group-buttons.first{height:17px;margin-left: auto;}
   #header .top-menu .group-buttons a+a{margin-left: 30px;}
   #header .top-menu .group-buttons .icon-spanner,
   #header .top-menu .group-buttons .icon-abacus{font-size: 0;}
   #header .top-menu .group-buttons .icon-car{display: inline-block !important;}

   #header .navigation .nav > li{border-top: 0;border-right: 0;}
   #header .navigation .nav > li:not(:last-child){display: none;}
   #header .navigation .nav > li:last-child{margin-left: auto;}
   #header .navigation .nav > li.mobile-menu{
      display: block;
   }
   #header .navigation{border-top:1px solid #ebebeb;margin-top: 5px; }

   #header .contacts .list .item.icon-clock{display: none;}
   #header .top-menu .group-buttons:last-child{display: none;}
   section.car-cards .cards-box .item .content h3{font-size: calc(1em + 2vw);}

   section.some-articles .slider .item .item-caption{height: auto;}

   #breadcrumbs-buttons a+a, .breadcrumbs-buttons a+a{margin-left: 0;margin-top: 10px;}

   section.calculator .slesar-calc .type-remont .prices{
      flex-direction: column;
      margin-top: -210px;
      float: right;
      width: 100%;
   }
   section.calculator .slesar-calc .type-remont .prices .item:not(:last-child){
      padding-left: 300px;
      margin-bottom: 36px;
   }
   section.calculator .slesar-calc .type-remont .prices .item{
      margin-bottom: 36px;
   }
   section.calculator .slesar-calc .type-remont .prices .item:not(:last-child){width: 100%;}
   section.calculator .slesar-calc .type-remont .prices .item:last-child{margin-left: 0px;}

   section.calculator .works-calc .form .row .col-2{display: none;}

   section.calculator .order .grid .col{width: auto;flex:1;}
   section.calculator .order .price-result{flex-direction: column;}

   section.calculator .list-machines .item{width: 33%;}
   section.calculator .list-machines .item+.item{padding-left: 0;}

   section.just-text .car-row>.col{overflow: hidden;}

   section.e-book .e-book-wrapper{flex-direction: column;align-items: center;}
   section.e-book .e-book-wrapper>.column-2{margin-top: 50px;}

   section.just-text .wrapper .columns-2>*{overflow: hidden;}

   .catalog-list{justify-content: space-between;}
   .catalog-list .item{width: 30%;}
   .catalog-list .item+.item{padding-left: 0;}

   section.error404{background-image: none;}


   section.works-gallery .works-list{justify-content: space-around;}
   section.works-gallery .works-list .item{width: 30%;}
   section.works-gallery .works-list .item + .item{margin-left: 30px;}

   section.some-articles .slider .item .item-caption{height: auto;}

   #breadcrumbs-buttons, .breadcrumbs-buttons{flex-direction: column;align-items: baseline;}
   #breadcrumbs-buttons a+a, .breadcrumbs-buttons a+a{margin-left: 0px;margin-top: 10px;}

   section.personal .personal-list .item{width: 30%;}

   section.just-text .gallery .flex-column>.flex-row{flex-wrap: wrap;}

   section.just-text .wrapper .row{flex-direction: column;align-items: center;}
   section.just-text .wrapper .row .column+.column{padding-left: 0;}

   section.single-news .background .content{width: 100%;}

}


/* MOBILE DISPLAY */
@media screen and (max-width:640px) {
   .show-640{display: block;}
   .hide-640{display: none;}

   h2{font-size: calc(1em + 6vw);}


   section.top-slider h1{font-size: calc(1em + 10vw);}
   section.top-slider h3{font-size: calc(1em + 5vw);}

   #footer #top-button{top: -50px;}


   section.banner-about .content{flex-direction: column;}
   section.banner-about .content .right p{margin-bottom: 0;}
   section.banner-about .content .left{height: 200px;}
   section.banner-about .content .right{padding: 30px;}
   section.banner-about .content .left, section.banner-about .content .right{width: 100%;}

   section.single-news .background{height: auto;padding-bottom: 50px;}
   section.single-news .background h2{margin-top: 0;}
   section.single-news .background .columns{flex-direction: column;align-items: center;}
   section.single-news .background .columns .col-2{width: 100%;}
   section.single-news .background .columns .col-2+.col-2{padding: 0;margin-top: 20px;}

   #footer .footer_columns{margin: 0 auto;flex-wrap: wrap;}
   #footer .footer_columns .col{width: 50%;padding: 0;order: 3;margin-bottom: 20px;}
   #footer .footer_columns .col:first-child{width: 100%;order: 1;}
   #footer .footer_columns .col:last-child{width: 100%;order: 2;}
   #footer a{margin-top: 20px;}
   #footer .links-column a+a{margin-top: 20px;}
   #footer .text{margin-top: 30px;}
   #footer .social{text-align: center;}


   section.calculator .calculator-steps{display:none;flex-direction: column;align-items: center;}
   section.calculator .calculator-steps.slider{display: block;}
   section.calculator .slesar-calc .car-selected{flex-direction: column;}
   section.calculator .slesar-calc .car-selected .name{margin: 20px 0;}


   section.calculator .slesar-calc .type-remont .prices .item+.item{margin-left: 0;}


   section.calculator .works-calc .form .row{flex-direction: column;}


   section.calculator .list-machines .item{width: 50%;}


   section.just-text .car-row>.col{width: 100%;}
   section.just-text .wrapper .columns-2>*{width: 100%;}


   section.red-form .form button{margin-top: 20px;width: 100%;margin-left: 0;}


   section.contacts .time-table{flex-direction: column;}
   section.contacts .time-table .item{padding-left: 50px;}
   section.contacts .time-table .item+.item{margin-left: 0;margin-top: 30px;}
   section.contacts .links{flex-direction: column;}
   section.contacts .links a+a{margin-left: 0;margin-top: 20px;}
   section.write-to-us .form .inline>*{flex: 0;}
   section.write-to-us .form input, section.write-to-us .form textarea{width: 100%;}
   section.write-to-us .form .inline input+input{margin-left: 0;margin-top: 20px;}
   section.write-to-us .form .inline{flex-direction: column;}


   section.e-book .e-book-wrapper>.column-1{width: auto;}
   section.e-book .price-table .row .col-1{flex-basis: initial;}


   #breadcrumbs a, .breadcrumbs a{margin-top: 10px;}
   #breadcrumbs span, .breadcrumbs span{margin-top: 10px;}

   .catalog-list .item{width: 100%;}
   .catalog-list .item .img-wrapper img{height: auto;width: 100%;}


   section.error404 .content{padding: 0;margin: 0;}
   section.error404 form{padding-left: 0;flex-direction: column;}
   .search-form input{padding: 30px 80px;margin-bottom: 20px;}


   section.car-cards .cards-box .item img.bg{height: 100%;width: auto;margin-left: calc(50% - 300px);}
   section.car-cards .cards-box .item{width: 100%;flex-basis: initial;}


   section.red-form .form .caption{margin: 20px 0;}
   section.red-form .form input{width: 100%;}
   section.red-form .form input+input{margin-left: 0;margin-top: 20px;}


   .slider.mini-slider.col3 .item{width: 100%;flex-basis: initial;}


   .scrollbarY .scrollbar{right: 60px;}


   section.works-gallery .works-list .item{width: 100%;}
   section.works-gallery .works-list .item + .item{margin-left: 0;}


   section.some-articles .slider .item{flex-basis: initial;}

   
   section.personal .personal-list .item{width: 50%;}


   .search-form input{margin: 0;}


   .text-columns{flex-direction: column;}


   section.single-news .background .content.content-end{width: 100%;align-items: center;padding-bottom: 0;}


   section.advantages .advantages-list{flex-direction: column;align-items: center;}
   section.advantages .advantages-list .item{width: 50%;}
   section.advantages .advantages-list .item + .item{margin-top: 30px;}


   section.suggestions-list .list .item{flex-direction: column;}
   section.suggestions-list .list .item .img-wrapper{margin-bottom: 30px;}

   section.video-reviews .columns .col{flex: initial;}
   section.video-reviews .mini-video-gallery{width: calc(100vw - 20px);}
   section.video-reviews .columns .col > img{
      max-width: 100%;
   }
   section.video-reviews .mini-video-gallery .item{}
   section.map .list{display: none;}


   section.service-center .row .text-container{width: auto;}
   section.service-center .row .text-container .overview{padding: 0 120px;text-align: left;}
   section.service-center .row .text-container .viewport{width:none;}
   section.service-center .row .button{margin: 30px 0;}
   .scrollbarY .scrollbar{right: 170px;}

   section.service-center-2 .slider{width: 320px;}

   section.banner-about{height: initial;}
   section.single-news .background .columns{padding: 40px 0;}
   section.banner-about .content .right b{margin: 20px 0;}
}



@media screen and (min-width:480px) and (max-width:639px){
   .show-480{display: block !important;}
   .hide-480{display: none !important ;}

   select{padding-right: 20px;}

   #toggle-menu{display: none;}

   h4{font-size: calc(1em + 3vw);}
   section.service-center .row .col-2{padding-top: 50px;}

   section.calculator .calculator-steps{display: none;}
   section.calculator .calculator-steps.slider{display: block;}

}



@media screen and (min-width:319px) and (max-width:479px){
   .show-320{display: block;}
   .hide-320{display: none;}

   #toggle-menu{display: none;}
   #breadcrumbs{display: none;}

   section.service-center .row .col-2{padding-top: 50px;}

   .gallery-slider .slick-prev{left: 10px;}
   .gallery-slider .slick-next{right: 10px;}

   .slider.mini-slider{max-width: 90%;margin: 0 auto;}

   .modal .modal__box{width: 100%;padding: 10px 35px 10px;zoom: .8;}
   .modal .modal__box button.modal__close-button{top: 20px;}
   .modal .modal__box .modal__content h2{font-size: calc(1em + 7vw);margin-top: 50px;}
   .modal .modal__box .modal__content .form .inline>*{display: block;}
   .modal .modal__box .modal__content .form .inline>*+*{margin-left: 0;}

   section.personal .personal-list{flex-direction: column;justify-content: center;align-items: center;}

   .gallery.image-gallery .col.x-2{height: 200px;overflow: hidden;}
   .gallery.image-gallery .col.x-4{display: none;}
   .gallery.image-gallery .col .img-wrap.x2{display: none;}
   .gallery.image-gallery .col .img-wrap.x4{display: none;}

   section.some-articles .slider .item:not(:first-child){display: none;}

   section.video-reviews .mini-video-gallery{
      margin-top: 325px;
   }
   section.video-reviews .columns .col:nth-child(2){margin-top: -450px;}
   
   section.car-cards .cards-box .item .content .text{flex-basis: 100%;}

   .calculator #breadcrumbs-buttons a,.calculator .breadcrumbs-buttons a{
      margin-bottom: 40px;
   }
   section.calculator .slesar-calc .car-selected .name{margin-left: 0;}
   section.calculator .slesar-calc .car-selected a{margin-left: 0;}
   section.calculator .slesar-calc .type-remont .prices{margin-top: -280px;}
   section.calculator .slesar-calc .type-remont .prices .item:not(:last-child){padding-left: 0;margin-bottom: 78px;}


   section.video-reviews .mini-video-gallery img{width: 100%;}

   section.just-text .list-icons .item{width: auto;text-align: left;}
   section.just-text .list-icons .item+.item{padding-left: 0;}


   .video-reviews .mini-video-gallery{display: none !important; }
   section.video-reviews .columns .col:nth-child(2){margin-top: 0;}

   #breadcrumbs-buttons, .breadcrumbs-buttons{align-items: stretch;}

   section.banner-about{height: initial;}
   section.banner-about .content .left{height: 300px;}
   section.banner-about .content .right{justify-content: initial;}
   section.banner-about .content .right p{width: 100%;}
   section.banner-about .content .right b{margin: 30px 0;}


   section.grey-car{padding: 40px 0;}
   section.grey-car .container{justify-content: flex-start;}
   section.grey-car h6{width: auto;margin: 30px 0;}

   section.single-news .background .columns{padding: 40px 0 10px;}

   .catalog-list .item{width: 49%;}
   .catalog-list .item .img-wrapper{height: auto;}

   section.banner-mini h3{font-size: calc(1em + 3vw);}
   section.banner-mini{padding-left: 15px;}
   
   section.service-center .row .text-container{width: auto !important;height: auto;padding: 20px;text-align: left;}
}