/* PLUGINS RESET */



.select2-dropdown {border: none;}
.select2-container--default .select2-selection--single {
  border-color: #E0E2EA;
  padding: 15px 20px;
  height: auto;
  border-radius: 40px;
  outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 20px;
  height: 20px;
  background: url(../images/select-icon.svg) center center no-repeat;
  top: 12px;
  right: 15px;
  transform: rotate(-180deg);
}
.select2-container--open .select2-selection--single {
  border-color: $red !important;
}
.select2-results__option {
  background-color: transparent;
  padding: 15px 20px;
}
.select2-results__option + .select2-results__option {
  border-top: 1px solid #E0E2EA;
}
.select2-container--default .select2-results>.select2-results__options {max-height: initial;}
.select2-container--default .select2-results__option--selected {
  background-color: transparent;
  &:after {
    content: '';
    display: inline-flex;
    width: 20px;
    height: 20px;
    mask: url(../images/button-check.svg) right center no-repeat;
    background-color: $red;
    position: absolute;
    right: 20px;
  }
}
.select2-container--open .select2-dropdown {
  box-shadow: 0px 0px 10px rgba(77, 52, 52, 0.1);
  margin-top: 16px;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-radius: 40px;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #f6f6f6;
  color: #333333;
}
.select2-results__option {font-size: 14px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{ display: none;}
.select2-container--default .select2-selection--single .select2-selection__rendered {font-size: 14px;line-height: 1;}
.select2-container {width: 260px !important;outline: none;}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-radius: 40px !important;
}