@media screen and (max-width: 1920px){}
@media screen and (max-width: 1680px){}
@media screen and (max-width: 1600px){}
@media screen and (max-width: 1440px){
  .product-slider {padding-left: 0;}
}


@media screen and (max-width: 1366px){}
@media screen and (max-width: 1280px){}


@media screen and (max-width: 1152px){
  .header-nav{display: none;}
  .header-call{margin-left: auto;}
  .slider-nav {
    bottom: -70px;
    right: 10%;
  }
  .s-contacts .contacts{right: 30px;}
}
@media screen and (max-width: 1024px){

  .product-slider {width: 100vw;}
  .product-slider .image-wrapper{width: 30%;}
  .product-slider .item .col:nth-child(2){
    padding-left: 50px;
    padding-top: 0;
    min-width: initial;
  }

  .footer__grid{padding-right: 0;padding-top: 70px;}
  .footer__copy{padding-right: 30px;}
  .slider-nav{right: 0;width: 100%;justify-content: center;}
}
@media screen and (max-width: 800px){

  .s-products__grid{flex-direction: column;}

  .s-products .product{margin-left: 0;width: calc(100% / 3);}
  .product-slider .item{flex-direction: column;align-items: center;}
  .product-slider .image-wrapper{width: 55%;}
  .product-slider .item .name{margin-top: 10px;}
  .product-slider{width: auto;}


  .s-main img {transform: scale(0.6);}
}

@media screen and (max-width: 640px){}
@media screen and (max-width: 576px){

  .header-basket{display: none;}
  .section{padding-top: 50px;padding-bottom: 50px;}
  .product-slider{margin-top: 50px;margin-bottom: 50px;}
  h2 {font-size: 38px;}

  .s-main {min-height: initial;padding-bottom: 130%;}


  .s-products .product{width: 100%;}
  .s-products .product-img img {width: 100%;}
  .s-products .products{margin-left: 0;margin-right: 0;}

  .s-contacts .contacts{
    margin-top: 30px;
    position: relative;
    right: 0;
    width: auto;
  }
  .footer__grid {
    padding-right: 0;
    padding-top: 0;
    flex-direction: column;
  }

  .product-slider .image-wrapper {width: 100%;}
  .slider-nav .prev{margin-right: 10vw;}
  .slider-nav .next{margin-left: 10vw;}

  .footer__copy{order: 1;}
  .developers {order: 2;margin-top: 20px;}
}
@media screen and (max-width: 480px){}
@media screen and (max-width: 425px){
  .header-location{display: none;}
}
@media screen and (max-width: 375px){
  .header-location{display: none;}
  .header{padding-top: 10px;}
  .product-slider .image-wrapper{width: 100%;}
  .product-slider .item .col:nth-child(2){padding-left: 0;}
  .slider-nav .prev, .slider-nav .next{min-width: 40px;}
  .slider-nav .next {margin-left: 10%;}
  .slider-nav .prev {margin-right: 10%;}

  .section__head{flex-direction: column;align-items: flex-start;}
  .products-filter{min-width: 100%;padding-right: 0;}
  .s-products__grid{margin-top: 10px;}
  .products-filter .caption{margin-top: 30px;}
}
@media screen and (max-width: 320px){}