*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {list-style-type: none;}
a {color: inherit;text-decoration: none;}
input,textarea,button {font-family: inherit;outline: none;}
input:focus, button:focus, textarea:focus {
  outline: none;
}

img {max-width: 100%;}



