.ui-button {
  padding: 14px 20px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  transition: all .2s ease;

  &.bordered {
    border: 1px solid $red;
    background-color: transparent;
    color: $red;


    &:hover {
      background-color: $red;
      color: #fff;


      svg path {
        fill: #fff;
      }
    }
  }


  & > img, & > svg {
    margin-right: 10px;
  }

  svg path {
    transition: all .2s ease;
  }


  .counter {
    padding: 3px;
    background-color: $red;
    color: #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -5px;
    margin-left: -5px;
  }


  &.fill {
    background-color: $red;
    color: #fff;
    font-size: 16px;
  }

}
.ui-button-basket {
  background-color: $red;
  color: #fff;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;

  &:before {
    content: '';
    width: 22px;
    height: 22px;
    mask: url(../images/icon-basket.svg) center center no-repeat;
    background-color: #fff;
    margin-right: 10px;
  }
}

.ui-count {
  display: inline-flex;
  border: 1.5px solid #E0E2EA;
  border-radius: 45px;
  height: 60px;

  button {
    border: none;
    padding: 10px 30px;
    outline: none;
    cursor: pointer;
    font-size: 50px;
  }

  input {
    border: none;
    width: 20px;
    background-color: transparent;
    font-size: 16px;
    color: $black;
    outline: none;
    cursor: default;
    text-align: center;
    padding: 0 5px;
  }

  &__minus,
  &__plus {
    mask-repeat: no-repeat;
    mask-position: center center;
    background-color: #A9A9B6;

    &:hover {
      background-color: $red;
    }
  }

  &__minus {
    mask-image: url(../images/minus.svg);
  }
  &__plus {
    mask-image: url(../images/plus.svg);
  }


  &.mini {
    height: 40px;
    justify-content: space-between;
    border-width: 1px;

    button {
      mask-size: 16px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}


.ui-slider {

  .inputs {
    display: flex;
    margin-top: 20px;

    & > * {flex-grow: 1;}


    input {
      border: 1px solid #E0E2EA;
      padding: 10px 8px;
      font-size: 14px;
      max-width: 110px;
    }

    .hr{
      display: inline-flex;
      align-items: center;
      align-self: center;
      min-width: 10px;
      width: 10px;
      height: 2px;
      margin-left: 7px;
      margin-right: 7px;
      background-color: #E0E2EA;
    }
  }

  .noUi-horizontal .noUi-handle {
    width: 26px;
    height: 26px;
    border-radius: 100%;
  }
  .noUi-horizontal {height: 2px;}
  .noUi-handle:after, .noUi-handle:before{display: none;}
  .noUi-handle{background-color: #fff;box-shadow: none;border: 1px solid #E0E0E0;}
  .noUi-horizontal .noUi-handle{top: -11px;outline: none;cursor: pointer;}

  .noUi-target{
    border: none;
    border-radius: 0;
    background-color: #E0E2EA;
  }
  .noUi-connect{height: 2px;background-color: $red;}
}

.ui-checkbox {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  cursor: pointer;

  input {display: none;}
  i {
    border: 1px solid #E0E2EA;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    display: inline-block;
    margin-right: 10px;
  }

  input:checked + i {
    background: $red url(../images/check.svg) center center no-repeat;
    border-color: $red;
  }

  span {margin-top: 2px;}
}