@import "../css/slick.css";
@import "../css/nouislider.min.css";
@import "../css/select2.min.css";
@import "../fonts/fonts.css";
@import "reset";


/* Variables */
$red: #FF3F52;
$black: #333;

@import "ui";
@import "plugins";

html, body {
  overflow-x: hidden;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: $black;
}
h2, h3 {
  font-family: "Philosopher", sans-serif;
  font-weight: bold;


  span {color: $red;}
}
h3 {font-size: 34px;}
h2 {font-size: 48px;}
.container {
  max-width: 1290px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */
.header {
  padding-top: 40px;

  &-grid{
    display: flex;
    align-items: center;
  }
  &-logo{}
  &-location{
    margin-left: 30px;
    display: inline-flex;
    align-items: center;
    color: $red;

    img {margin-right: 3px;}
  }

  &-nav {
    display: flex;
    align-items: center;
    margin-left: 110px;

    & > li {
      margin: 0 29px;

      & > a {

      }
    }
  }
  &-call {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -20px;
    margin-left: 20px;

    .caption {
      font-size: 14px;
      color: $red;
    }
  }

  &-phone {
    font-size: 19px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 3px;
  }

  &-basket {
    margin-left: 40px;
    position: relative;


    .counter {
      transition: all .2s ease;
    }

    &:hover {
      .counter {background-color: #fff;color: $red;}
    }
  }
}


/* Sections */
.section {
  padding: 90px 0;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


/* Main section */
.s-main {
  background: url(../images/s-first-wave.svg) center center no-repeat;
  background-size: 100% auto;
  min-height: 830px;
  padding-top: 60px;
  padding-bottom: 320px;
  position: relative;

  .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;

    &:nth-child(2) {
      left: 100vw;
    }
  }



  .container {
    position: relative;
    text-align: center;

    &:after {
      content: 'F.Lovers';
      font-family: "Philosopher", sans-serif;
      font-size: 151px;
      font-weight: bold;
      color: rgba(#333, 0.04);
      display: block;
      position: absolute;
      left: 0;
      margin-top: 70px;
    }
  }

  h3 {margin-left: 140px;}

  .img1{
    margin: 70px auto 0 -160px;
  }
  .img2{
    position: absolute;
    left: 0;
    top: 30px;
  }
  .img3{
    position: absolute;
    right: -30px;
    top: 80px;
  }
  .img4{
    position: absolute;
    bottom: -120px;
    right: 20px;
  }
}


.slick-slider {
  position: relative;

  .slick-slide {
    user-select: text;
    outline: none;
  }

  .slick-arrow {
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: 10;

    &.slick-prev{}
    &.slick-next{}
  }
}

/* Slider section */
.s-slider {
  background-color: #FFFAFA;
  overflow-x: hidden;

  .slider-wrapper {
    position: relative;
  }
}
.product-slider {
  margin-top: 85px;
  padding-left: 90px;
  width: 83vw;

  .image-wrapper {
    position: relative;
  }

  .timer {
    background-color: $red;
    color: #fff;
    padding: 5px 15px;
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -20px;
    margin-left: 20px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3px 10px;
      position: relative;

      b {
        font-size: 32px;
        font-weight: bold;
      }

      span {
        color: rgba(#fff, .5);
      }
    }

    &-item + .counter-item:before {
      content: '';
      height: 70%;
      width: 2px;
      display: block;
      position: absolute;
      background-color: rgba(#fff, .5);
      left: 0;
      top: 15%;
    }
  }

  .item {
    display: flex;
    margin-top: 50px;
    width: 70vw;

    .col:nth-child(2) {
      padding-left: 100px;
      padding-top: 70px;
      min-width: 500px;
    }

    .name{
      font-family: "Philosopher", sans-serif;
      font-size: 48px;
      font-weight: bold;
    }

    p{
      margin-top: 40px;
      line-height: 24px;
      max-width: 380px;
    }

    .price{
      margin-top: 40px;

      .current {
        font-size: 38px;
        font-weight: 700;
        color: $red;
      }

      .old {
        font-size: 20px;
        color: #A9A9B6;
        margin-left: 18px;
        text-decoration: line-through;
      }
    }


    .form {
      display: flex;
      margin-top: 40px;
    }



  }
}
.slider-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-flex;
  align-items: center;

  .prev,.next {
    width: 40px;
    height: 40px;
    mask: url(../images/arrow-prev.svg) center center no-repeat;
    background-color: $red;
    cursor: pointer;
  }

  .prev {
    margin-right: 160px;
  }
  .next {
    transform: rotate(180deg);
    margin-left: 160px;
  }


  .count {
    .current{
      font-size: 34px;
      font-weight: 500;
      margin-right: 5px;
    }
    .all {
      font-size: 20px;
      color: #C3C5CE;
      margin-left: 5px;
    }
  }
}


/* Products section */
.s-products {

  &__grid {
    display: flex;
    margin-top: 40px;
  }

  .products {
    margin-left: -10px;
    margin-right: -10px;
  }
  .product {
    margin-left: -20px;
    width: calc(100% / 3 + 20px)
  }

  .products-wrapper {
    width: 100%;
  }
}
.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;


  &-filter {
    min-width: 330px;
    padding-right: 70px;
  }
}
.product {
  padding: 24px 20px;
  transition: all .2s ease;
  position: relative;

  &-img{}
  &-name{
    font-size: 20px;
    font-weight: bold;
    font-family: Philosopher, sans-serif;
    margin-top: 9px;
  }
  &-desc{
    color: #828282;
    margin-top: 7px;
  }
  &-price{
    font-size: 22px;
    margin-top: 16px;
    font-weight: 700;


    &.new {

      .current {color: $red;}
      .old {
        text-decoration: line-through;
        color: #A9A9B6;
        font-size: 16px;
        margin-left: 16px;
      }
    }
  }

  &-labels {
    position: absolute;
    top: 10px;
    left: 0;
    display: inline-flex;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -6px;

    .item {
      padding: 10px 16px;
      margin: 0 6px;

      &.red{background-color: $red;color: #fff;}
      &.green{background-color: #16A653;color: #fff;}
    }
  }

  &-form {
    display: flex;
    align-items: center;
    margin-left: -5px;
    margin-top: 20px;
    max-height: 0;
    transition: all .2s ease;
    overflow: hidden;

    & > * {
      flex-grow: 1;
      margin: 0 5px;
    }

    .ui-button {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &:hover {
    box-shadow: 0px 0px 10px rgba(77, 52, 52, 0.1);
    background-color: #fff;

    .product-form {
      max-height: 10rem;
    }
  }
}
.more-products {
  width: 100%;
  border: 1px solid #E0E2EA;
  border-radius: 30px;
  height: 57px;
  color: $red;
  display: flex;
  justify-content: center;
  margin-top: 45px;
  flex-basis: 100%;
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

.products-filter {

  .ui-slider .caption {margin-bottom: 25px;}

  .caption {
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 40px;
    & ~ .caption {}
  }

  .group {
    display: flex;
    flex-direction: column;
  }
}



/* Contacts */
.s-contacts {

  .container {
    position: relative;
  }
  .map {
    min-height: 475px;
    width: 100%;
    overflow: hidden;
    background: url(../images/map.jpg) center center no-repeat;
    background-size: cover;
    margin-top: 70px;
  }

  .contacts {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    border: 1px solid #E0E2EA;
    padding: 32px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .title{
      font-family: Philosopher, sans-serif;
      font-size: 24px;
      font-weight: bold;
    }
    .image{
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .caption{
      margin-top: 20px;
      color: #A9A9B6;
    }
    p {margin-top: 5px;}

    .phone {
      margin-top: 45px;
    }
    .phone, .email{
      font-size: 24px;
      font-weight: bold;


      &:hover {color: $red;}
    }
    .email {margin-top: 20px;}
  }
}

.socials {
  display: flex;
  align-items: center;
  margin-left: -6px;
  margin-top: 50px;

  & > a {
    width: 38px;
    height: 38px;
    background-color: $red;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;
  }
}


/* Footer */
.footer{
  padding-bottom: 70px;
  margin-top: -20px;

  &__grid {
    display: flex;
    align-items: center;
    padding-right: 350px;
  }
  &__copy {
    margin-left: auto;
    padding-right: 130px;
    color: #A9A9B6;
  }
}
.developers {
  display: flex;
  align-items: center;
  line-height: 19px;

  img{margin-left: 25px;}
}




@import "responsive";