@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,500,600,700,800|Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic");
@import url(../css/bootstrap-grid.css);
@import url(../css/jquery.fancybox.min.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%; }

.default-text {
  font-size: 16px;
  line-height: 36px;
  color: #111111; }

.borders {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); }

.grid {
  display: grid; }

.ui-button {
  padding: 35px 50px;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  height: 85px;
  letter-spacing: .05em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden; }
  .ui-button span {
    position: relative;
    z-index: 1; }
  .ui-button:before, .ui-button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(18deg, #e98b21 0%, #f4bd58 100%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
  .ui-button:after {
    background-image: linear-gradient(18deg, #e98b21 0%, #f4bd58 100%);
    z-index: 0; }
  .ui-button:before {
    opacity: 0;
    background-image: linear-gradient(18deg, #e98b21 0%, #ac58f4 100%);
    z-index: 1; }
  .ui-button:hover:before {
    opacity: 1; }

.ui-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(38, 6, 46, 0.4);
  font-size: 15px;
  padding: 20px;
  outline: none; }
  .ui-input + .ui-input {
    margin-top: 30px; }
  .ui-input::-webkit-input-placeholder {
    color: #999999; }
  .ui-input:-ms-input-placeholder {
    color: #999999; }
  .ui-input::-ms-input-placeholder {
    color: #999999; }
  .ui-input::placeholder {
    color: #999999; }
  .ui-input.is-phone {
    background: url(../images/input-phone-icon.png) calc(100% - 20px) center no-repeat; }
  .ui-input.is-name {
    background: url(../images/input-name-icon.png) calc(100% - 20px) center no-repeat; }

.ui-checkbox {
  font-size: 12px;
  color: #999999;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .ui-checkbox input {
    display: none; }
  .ui-checkbox input + i {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 20px;
    height: 20px;
    background-color: #ac7ba4;
    border-radius: 3px;
    margin-right: 15px;
    min-width: 20px;
    position: relative; }
    .ui-checkbox input + i:after {
      content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../images/checkbox-icon.png) center center no-repeat;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      opacity: 0; }
  .ui-checkbox input:checked + i:after {
    opacity: 1; }
  .ui-checkbox a {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-bottom: 1px solid currentColor; }
    .ui-checkbox a:hover {
      border-bottom-color: transparent; }

.ui-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100; }
  .ui-modal-content {
    background-color: #fff;
    position: relative;
    padding: 85px 100px;
    max-width: 570px; }
  .ui-modal-close {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: linear-gradient(18deg, #e98b21 0%, #f4bd58 100%);
    border: none;
    outline: none;
    cursor: pointer;
    top: -40px;
    right: 40px;
    z-index: 2; }
    .ui-modal-close:hover:after {
      -webkit-transform: scale(0.5) rotate(45deg);
              transform: scale(0.5) rotate(45deg); }
    .ui-modal-close:after {
      content: '+';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: #fff;
      font-size: 50px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      z-index: 1; }
  .ui-modal-title {
    font-size: 52px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold;
    line-height: 1; }
  .ui-modal .form {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .ui-modal .form > * + * {
      margin-top: 20px; }
    .ui-modal .form button {
      margin-top: 50px; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  overflow-x: hidden; }
  body.js-no-scrolling {
    overflow: hidden; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

#modal1 .ui-modal-content {
  position: relative;
  left: 200px; }
  #modal1 .ui-modal-content:before {
    content: '';
    display: block;
    width: 1045px;
    height: 768px;
    background: url(../images/popup-bg.png) top center no-repeat;
    position: absolute;
    top: -120px;
    right: 80px;
    z-index: -1; }

.header {
  background: url(../images/header-bg.png) bottom center no-repeat;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .header-menu {
    background: url(../images/header-menu-bg.png) top center no-repeat;
    background-size: cover;
    height: 90px;
    border-bottom: 1px solid #2f2832;
    position: relative;
    z-index: 25; }
    .header-menu .grid {
      grid-template-columns: repeat(3, 1fr);
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%; }
    .header-menu .container {
      height: 100%;
      max-width: 1675px; }
    .header-menu .nav {
      -ms-flex-item-align: stretch;
          align-self: stretch; }
      .header-menu .nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%; }
        .header-menu .nav ul a {
          padding: 0 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          text-align: center;
          font-size: 17px;
          text-transform: uppercase;
          height: 100%;
          border-bottom: 2px solid transparent;
          -webkit-transition: all .2s ease;
          transition: all .2s ease; }
          .header-menu .nav ul a.is-active {
            background-color: rgba(255, 255, 255, 0.15);
            border-bottom-color: #fff; }
          .header-menu .nav ul a:hover {
            background-color: rgba(255, 255, 255, 0.15); }
    .header-menu .contacts {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      justify-self: flex-end; }
      .header-menu .contacts > * + * {
        margin-left: 10px; }
      .header-menu .contacts a {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex; }
      .header-menu .contacts .phone {
        font-size: 18px;
        font-weight: bold; }
  .header-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 143px;
    padding-top: 275px;
    position: relative; }
    .header-content:after {
      content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 40px;
      height: 60px;
      background: url(../images/icon-scroll.png) center center no-repeat;
      position: absolute;
      bottom: 50px;
      left: calc(50% - 20px); }
    .header-content > .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .header-content .borders {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .header-content .desc {
      font-size: 26px;
      font-weight: 500;
      text-transform: uppercase; }
      .header-content .desc span {
        padding: 5px 0 5px 10px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 60%;
        background: -webkit-gradient(linear, left top, right top, from(rgba(222, 197, 225, 0.65)), to(rgba(222, 197, 225, 0)));
        background: linear-gradient(90deg, rgba(222, 197, 225, 0.65) 0%, rgba(222, 197, 225, 0) 100%);
        mix-blend-mode: lighten;
        color: rgba(0, 0, 0, 0.4); }
    .header-content .title {
      margin-top: auto; }
  .header .header-title {
    font-family: "Roboto Slab", sans-serif;
    font-size: 120px;
    font-weight: bold;
    -webkit-text-stroke: 3px #fff;
    color: transparent;
    line-height: 1; }
    .header .header-title span {
      color: #fff;
      -webkit-text-stroke: none;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-weight: 500; }
  .header-button {
    margin-top: 50px; }

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(75, 47, 86, 0.98);
  padding: 30px;
  text-align: center;
  color: #fff;
  z-index: 30; }
  .mobile-menu .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .mobile-menu .contacts a {
      margin: 0 5px; }
  .mobile-menu ul {
    width: 100%;
    height: 100%;
    padding-top: 100px; }
    .mobile-menu ul > li {
      width: 100%; }
      .mobile-menu ul > li > a {
        padding: 20px;
        display: block;
        font-size: 26px; }
        .mobile-menu ul > li > a:hover, .mobile-menu ul > li > a.is-active {
          color: #f3b54f; }

.hamburger {
  display: none;
  position: fixed;
  right: 20px;
  top: 45px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  margin-top: -25px;
  z-index: 35; }
  .hamburger line {
    stroke: #f3ba55; }

.header-mini {
  background: url(../images/header-mini.png) top center no-repeat;
  background-size: cover; }
  .header-mini .header-content:after {
    display: none; }
  .header-mini .header-content {
    padding: 80px 0 60px;
    text-align: center; }
  .header-mini .section-title {
    margin-top: 0; }
  .header-mini .section-subtitle {
    font-size: 28px;
    color: rgba(248, 181, 242, 0.4); }
  .header-mini .date {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    background-image: linear-gradient(18deg, #5f07a9 0%, #8f20a8 100%);
    padding: 6px 15px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.section {
  padding-top: 100px;
  padding-bottom: 110px; }
  .section.with-label {
    padding-top: 130px;
    position: relative; }
    .section.with-label:before {
      content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      left: 0;
      top: -70px;
      width: 100%;
      height: 240px;
      background: url(../images/section-bg-1.png) top center no-repeat;
      background-size: 100% auto;
      z-index: -1; }
    .section.with-label.label-2:before {
      background: url(../images/section-bg-2.png) top center no-repeat;
      background-size: 100% auto;
      top: 0;
      z-index: 1; }
  .section-subtitle {
    font-size: 26px;
    color: #999999; }
  .section-title {
    margin-top: 10px;
    font-size: 52px;
    font-weight: bold;
    font-family: "Roboto Slab", sans-serif;
    line-height: 1.1; }
    .section-title.small {
      font-size: 38px; }
  .section-head {
    text-align: center; }
  .section-button {
    margin-top: 50px;
    text-align: center; }

.section-team {
  padding-bottom: 0; }

.team-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .team-gallery .item-first, .team-gallery .item-last {
    width: calc((100% - 1140px) / 2); }
  .team-gallery .item-last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .team-gallery .item-big {
    position: relative; }
    .team-gallery .item-big:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      height: 70px;
      background-color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px; }
  .gallery .column:nth-child(2),
  .gallery .column:nth-child(3) {
    margin-top: 1px; }
  .gallery .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(100% / 4 - 20px); }
    .gallery .column .item {
      margin-bottom: 25px;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .gallery .column .item:hover .hover-content {
        opacity: 1; }
      .gallery .column .item:hover img {
        -webkit-filter: sepia(1);
                filter: sepia(1); }
      .gallery .column .item img {
        position: relative;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
      .gallery .column .item .hover-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(18deg, #5f07a9 0%, #8f20a8 100%);
        padding: 50px 35px 25px 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        z-index: 2; }
        .gallery .column .item .hover-content .title {
          font-size: 45px;
          text-transform: uppercase;
          background-image: linear-gradient(18deg, #e98b21 0%, #f4bd58 100%);
          -webkit-background-clip: text;
          color: transparent;
          line-height: 1;
          text-shadow: 15px 5px 6px rgba(233, 139, 33, 0.5); }
        .gallery .column .item .hover-content .desc {
          font-size: 14px;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.5);
          margin-top: 20px; }
        .gallery .column .item .hover-content .button {
          font-size: 17px;
          text-transform: uppercase;
          color: #fff;
          padding: 15px 30px;
          border: 1px solid #fff;
          width: 100%;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          margin-top: auto; }
          .gallery .column .item .hover-content .button:hover {
            background-color: #fff;
            color: #5f07a9; }
      .gallery .column .item.is-small .hover-content .title {
        font-size: 20px; }

.gallery-big .row + .row {
  margin-top: 20px; }
.gallery-big .row > div + div {
  padding-left: 20px; }
.gallery-big .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 491px; }
  .gallery-big .item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .gallery-big .item:hover img {
    -webkit-filter: sepia(1);
            filter: sepia(1); }
  .gallery-big .item.sm {
    height: 235px; }
.gallery-big .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .gallery-big .column > * + * {
    margin-top: 20px; }

.section-video {
  background: url(../images/video-bg.png) top center no-repeat;
  background-size: auto;
  height: 940px;
  padding-top: 100px !important;
  color: #fff; }
  .section-video .container {
    position: relative;
    z-index: 5; }
  .section-video-buttons {
    background-color: rgba(255, 255, 255, 0.05); }
  .section-video .slider-prev, .section-video .slider-next {
    width: 85px;
    height: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 255, 255, 0.15); }
    .section-video .slider-prev:hover, .section-video .slider-next:hover {
      background-color: rgba(255, 255, 255, 0.3); }

.video-slider {
  margin-top: 70px; }
  .video-slider .item {
    position: relative; }
    .video-slider .item .content {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      padding: 10px 20px;
      background-color: rgba(151, 49, 173, 0.3);
      opacity: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-size: 13px;
      text-transform: uppercase; }
  .video-slider .flipster__item--current:hover .flipster__item__content:after {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .video-slider .flipster__item--current .flipster__item__content {
    position: relative;
    overflow: hidden; }
  .video-slider .flipster__item--current .flipster__item__content:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url(../images/video-icon-play.png) center center no-repeat;
    pointer-events: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
  .video-slider .flipster__item--current .content {
    opacity: 1; }

.video-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 50px; }
  .video-list .item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .video-list .item .img {
      height: 320px;
      width: 100%;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      -webkit-box-shadow: 0px 35px 50px -30px #1a0c1d;
              box-shadow: 0px 35px 50px -30px #1a0c1d; }
      .video-list .item .img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
      .video-list .item .img:after {
        content: '';
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/video-icon-play.png) center center no-repeat;
        background-size: 85px 85px;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        pointer-events: none;
        z-index: 2; }
      .video-list .item .img:hover:after {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
    .video-list .item .date {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 8px 30px;
      background-color: rgba(126, 12, 151, 0.5);
      color: #fff;
      top: 0;
      right: 0;
      font-weight: bold;
      z-index: 10; }
    .video-list .item .title {
      font-family: "Roboto Slab", sans-serif;
      font-size: 26px;
      font-weight: bold;
      margin-top: 35px;
      padding-left: 20px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
      .video-list .item .title:hover {
        color: #d463c8; }

.news-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  margin-top: 60px; }
  .news-list > .item {
    position: relative; }
    .news-list > .item:hover .title {
      color: #d463c8; }
    .news-list > .item .img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 240px;
      position: relative;
      -webkit-box-shadow: 0px 20px 30px -20px #666;
              box-shadow: 0px 20px 30px -20px #666; }
      .news-list > .item .img img {
        position: absolute;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .news-list > .item .date {
      position: absolute;
      right: 0;
      top: 0;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding: 10px 30px;
      background-color: #fff;
      font-size: 16px;
      font-weight: bold;
      color: #666;
      z-index: 10; }
    .news-list > .item .content {
      padding-top: 45px;
      padding-left: 15px;
      padding-right: 20px; }
    .news-list > .item .title {
      font-size: 26px;
      font-family: "Roboto Slab", sans-serif;
      font-weight: bold;
      line-height: 1; }
    .news-list > .item .desc {
      margin-top: 25px;
      font-size: 16px;
      line-height: 1.5;
      color: #666666;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 75px; }
    .news-list > .item .more {
      margin-top: 25px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      font-size: 18px;
      font-weight: bold;
      border-bottom: 2px dotted currentColor; }
      .news-list > .item .more:hover {
        border-bottom-style: solid;
        color: #d463c8; }

.inst-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, auto));
  overflow-x: hidden;
  margin-top: 50px; }
  .inst-list .item {
    width: calc(100% + 2px);
    height: 235px;
    position: relative;
    overflow: hidden; }
    .inst-list .item.is-empty:before {
      content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      top: -2px;
      left: 0px;
      width: 100%;
      height: calc(100% + 2px);
      background: url(../images/inst/hover.png) top center no-repeat;
      background-size: cover;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      z-index: 10; }
    .inst-list .item img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      position: absolute; }
    .inst-list .item:hover img {
      -webkit-filter: sepia(1);
              filter: sepia(1); }

.section-raiders .raiders-list {
  padding-left: 100px;
  margin-top: 50px; }

.raiders-list {
  font-size: 28px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  list-style-type: decimal-leading-zero; }
  .raiders-list li {
    padding-left: 10px; }
    .raiders-list li + li {
      margin-top: 10px; }
  .raiders-list a {
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    border-bottom: 2px dotted rgba(0, 0, 0, 0.5); }
    .raiders-list a:hover {
      border-bottom-color: transparent; }

.info-list {
  margin-top: 100px; }
  .info-list .item .title {
    padding: 30px 50px;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    background-image: -webkit-linear-gradient(-14deg, #5f07a9 0%, #8f20a8 100%);
    position: relative; }
    .info-list .item .title:after {
      content: attr(data-num) ".";
      font-size: 105px;
      font-weight: bold;
      font-family: "Roboto Slab", sans-serif;
      background: linear-gradient(18deg, #e98b21 0%, #f4bd58 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      text-shadow: 5px 0px 20px #f3b54f;
      position: absolute;
      right: 0;
      top: -75px; }
  .info-list .item .content {
    padding: 65px 0 30px 65px;
    font-size: 16px;
    line-height: 2.5;
    color: #666666; }

.section-article p {
  color: #666666;
  font-size: 16px;
  line-height: 1.9; }
  .section-article p + p {
    margin-top: 15px; }
.section-article .img {
  -webkit-box-shadow: 0px 0px 50px -30px #000;
          box-shadow: 0px 0px 50px -30px #000; }

.section-contacts .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: linear-gradient(18deg, #5f07a9 0%, #8f20a8 100%);
  color: #fff; }
  .section-contacts .contacts:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: url(../images/contacts-label.png) top center no-repeat; }
  .section-contacts .contacts .box {
    padding: 130px 140px; }
  .section-contacts .contacts ul {
    margin-top: 40px; }
    .section-contacts .contacts ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 18px; }
      .section-contacts .contacts ul li .caption {
        margin-left: 30px;
        font-size: 18px;
        font-weight: bold;
        width: 120px; }
      .section-contacts .contacts ul li .email {
        border-bottom: 2px dotted; }
        .section-contacts .contacts ul li .email:hover {
          border-bottom-color: transparent; }
  .section-contacts .contacts .ui-button {
    margin-top: 85px; }
.section-contacts + section {
  margin-top: 100px; }
.section-contacts .map {
  padding-left: 0;
  padding-right: 0; }

.footer {
  background-color: #130716;
  padding-top: 60px;
  color: #fff; }
  .footer ul a, .footer .contacts a {
    position: relative; }
    .footer ul a:after, .footer .contacts a:after {
      content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      bottom: -2px;
      left: 0;
      width: 0;
      position: absolute;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
    .footer ul a:hover:after, .footer .contacts a:hover:after {
      width: 100%; }
  .footer .big-text {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 20px; }
    .footer .big-text span {
      font-weight: bold; }
  .footer .caption {
    font-size: 18px;
    font-weight: bold; }
    .footer .caption + ul {
      margin-top: 20px; }
  .footer .links li + li {
    margin-top: 20px; }
  .footer .links a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 15px;
    color: #decee5; }
  .footer .contacts {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 300; }
    .footer .contacts .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .contacts .item + .item {
        margin-top: 25px; }
    .footer .contacts .col1 {
      width: 120px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .footer .contacts .col1 span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer .contacts .col1 span img {
          margin-right: 10px; }
      .footer .contacts .col1 > span + span {
        margin-top: 10px; }
  .footer .social {
    margin-top: 40px; }
  .footer .copy {
    margin-top: 40px;
    padding: 40px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15); }

@media screen and (max-width: 1190px) {
  .header-menu .nav ul a {
    font-size: 13px; } }
@media screen and (max-width: 1029px) {
  .news-list > .item:nth-child(3) {
    display: none; } }
@media screen and (max-width: 1024px) {
  .header-menu .nav {
    display: none; }

  .header-menu .contacts {
    grid-column: span 2;
    margin-right: 100px; }

  .header-content {
    padding-top: 100px; }

  .hamburger {
    display: block; }

  .section-video {
    background-size: auto; }

  .section.with-label:before {
    top: -40px; } }
@media screen and (max-width: 768px) {
  section.with-label {
    padding-top: 50px !important; }

  .section.with-label:before {
    display: none; }

  .header .contacts {
    display: none; }

  .header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }

  .header {
    padding-top: 100px; }

  .team-gallery {
    margin-top: 40px; }

  .section-title, .section-subtitle {
    text-align: center; }

  .gallery .column {
    width: calc(100% / 3 - 20px); }

  .gallery .column:last-child {
    display: none; }

  .gallery .column .item .hover-content {
    display: none; }

  .video-slider .item {
    width: 70vw; }

  .section-video {
    background-size: auto calc(100% + 400px);
    height: auto; }

  .section-contacts .map {
    height: 500px; }

  .section-contacts .contacts .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }

  .footer > .container > .row > div:nth-child(2),
  .footer > .container > .row > div:nth-child(3) {
    display: none; } }
@media screen and (max-width: 575px) {
  /* @MOBILE-HEADER-BACKGROUND */
  .header {
    background: url(https://i.pinimg.com/originals/41/eb/78/41eb78823a1993a925ee9b3d26126425.jpg) top center no-repeat;
    background-size: cover; }

  .inst-list {
    grid-template-columns: repeat(2, 1fr); }
    .inst-list .item {
      width: 100%; }

  .section-title {
    font-size: 36px;
    line-height: 1; }

  .gallery .column:nth-child(2), .gallery .column:nth-child(3) {
    margin-top: 0; }

  .default-text {
    line-height: 1.8; } }
@media screen and (max-width: 425px) {
  .header .header-title {
    font-size: 60px; }

  .header-content .desc span {
    width: 100%; }

  .header-content .desc {
    font-size: 20px;
    margin-top: 20px; }

  .ui-button {
    padding: 20px 40px; }

  .header .contacts a:nth-child(1),
  .header .contacts a:nth-child(2) {
    display: none; }

  .gallery .column {
    width: calc(100% / 3); }

  .gallery .column .item {
    margin-bottom: -5px;
    height: 130px; }

  .team-gallery .row > div:nth-child(1) {
    width: 100%;
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }

  .team-gallery .row > div:nth-child(2) {
    display: none; }

  .section-video .slider-prev, .section-video .slider-next {
    display: none; }

  .video-list {
    display: block; }

  .video-list .item {
    margin-bottom: 50px; }

  .video-list .item .img {
    height: auto; }

  .section-contacts .contacts .box {
    padding: 50px 0px; }

  .inst-list > * {
    display: none; }
  .inst-list > *:nth-child(3) {
    display: block;
    width: 100vw;
    height: 100vw; }

  .info-list .item .content {
    padding-left: 30px;
    padding-top: 20px;
    line-height: 1.5; }

  .gallery-big .row > div {
    width: 100%;
    height: 320px;
    overflow: hidden; }

  .footer > .container > .row > div {
    margin-bottom: 20px; }

  .footer .row {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }

  .footer .caption {
    text-align: center; } }
