@font-face {
	font-family: 'Muller';
	src:url('../fonts/Fontfabric - MullerThin.woff') format('woff');
	font-weight: 100;
}

@font-face {
	font-family: 'Muller';
  src:url('../fonts/Fontfabric - MullerLight.woff') format('woff');
	font-weight: 300;
}

@font-face {
	font-family: 'Muller';
  src:url('../fonts/Fontfabric - MullerMedium.woff') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: 'Muller';
	src:url('../fonts/Fontfabric - MullerRegular.woff') format('woff');
	font-weight: 500;
}

@font-face {
	font-family: 'Muller';
	src:url('../fonts/Fontfabric - MullerBold.woff') format('woff');
	font-weight: 600;
}

@font-face {
	font-family: 'Muller';
  src:url('../fonts/Fontfabric - MullerExtraBold.woff') format('woff');
	font-weight: 900;
}