@import "fonts.css";
@import "slick.css";

*{margin: 0;padding: 0;box-sizing: border-box;}
ul,ol{list-style-type: none;margin: 0;}
svg{display: inline-flex;}
a{
	color: inherit;
	display: inline-flex;
	align-items: flex-start;

	img{margin-right: 8px;}
}
a:hover{text-decoration: none;color: inherit;}
a._link{
	text-decoration: none;
	color: inherit;
	display: inline-block;
	position: relative;
	&:before{
		content: '';
		display: block;
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 0;
		height: 2px;
		background-color: currentColor;
		transition: all .16s linear;
	}
	
	&:hover{
		color: #6069f3;
		text-decoration: none;
		&:before{width: 100%;}
	}
}
img{max-width: 100%;}

h1,h2,h3,h4,h5,h6{font-size: initial;margin: 0;}

// COLORS
.c-blue{
	color: #6069f3;
}
// FONTS
.f-15{font-size: 15px;}
.f-16{font-size: 16px;}
.f-12{font-size: 12px;}
.f-18{font-size: 18px; line-height: 1.3 !important;}
.f-21{font-size: 21px;}
.f-24{font-size: 24px;}

.wb{font-weight: bold;}

// UI
.ui-button{
	display: inline-block;
	border-radius: 50px;
	padding: 20px 40px;
	background-color: #6069f3;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	border: none;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all .2s ease;

	&:hover{
		color: #fff;
		background-color: darken(#6069f3,15%);
	}
}
.ui-input{
	background-color: #fff;
	border: 1px solid #e8e8e8;
	border-radius: 30px;
	font-size: 14px;
	font-family: "Muller";
	padding: 15px 30px;
	outline: none;
	width: 100%;
	box-shadow: 0 0 50px -10px #e8e8e8;
}
.ui-checkbox{
	margin-top: 30px;
	font-size: 14px;
	position: relative;
	margin-left: 30px;
	input{display: none;}
	input + span{
		display: block;
		position: absolute;
		left: -30px;
		top: 0px;
		width: 25px;
		height: 25px;
		background: url(../images/icon-checkbox.png) center center no-repeat;
	}

	input:checked + span{background: url(../images/icon-checkbox-active.png) center center no-repeat;}
}
.ui-label{padding-left: 30px;display: block;}
.ui-modal{
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(#000,.75);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	z-index: 25;

	&__close{
		position: absolute;
		top: 20px;
		right: 20px;
		display: block;
		width: 30px;
		height: 30px;
		background: url(../images/icon-close.png) center center no-repeat;
		cursor: pointer;
	}
	.content{
		display: table;
		background-color: #fff;
		padding: 60px 70px 40px;
		max-width: 1075px;
		position: relative;
		box-shadow: 0 0 40px 0px #000;

		.title{
			font-size: 36px;
			color: #6069f3;
			font-weight: 600;
		}
		.sub-title{
			margin-top: 20px;
		}
	}

	form{

		.row{margin-top: 30px;}

		a{text-decoration: underline;color: #6069f3;}
	}

	button[type="submit"]{margin-top: 20px;font-size: 16px;padding: 14px 25px;}
}


// body
body{
	font-family: "Muller";
	font-weight: 500;
	font-size: 16px;
	height: 100vh;
	line-height: 1.1;
	color: #282828;
	overflow-x: hidden;
}


header{
	padding-top: 30px;
	position: relative;
	z-index: 10;
	font-weight: 400;
}

footer{
	padding-bottom: 30px;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 10;
}

._text{line-height: 1.3;}
._sub-title{font-weight: 400;}


.layer-nav{
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 10;
	width: 30px;
	justify-content: center;

	button{
		background-color: #a7a7a7;
		width: 10px;
		height: 10px;	
		border-radius: 50%;
		border: none;
		position: relative;
		outline: none;
		cursor: pointer;
		
		&.js-current{
			background-color: #6069f3;
			&:before{
				content: '';
				display: block;
				position: absolute;
				top: -50%;
				left: -50%;
				width: 200%;
				height: 200%;
				border: 1px solid #6069f3;
				border-radius: 50%;
				opacity: .4;
			}
		}

		& + button{margin-top: 20px;}
	}
}
.layer-down{
	position: relative;
	transform: rotate(-90deg);
	white-space: nowrap;
	font-size: 8px;
	text-transform: uppercase;
	color: #a7a7a7;
	display: flex;
	align-items: center;
	letter-spacing: 1px;
	z-index: 10;
	top: 250px;
	right: 9px;

	img{
		margin-right: 20px;
		margin-top: -4px;
		display: block;
		position: relative;
		animation: down 1s linear infinite;
		transform:rotate(180deg) scale(.8);
	}
}

.layer{
	padding: 30px 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all .4s ease;
	

	&:not(:first-child),
	&:not(.js-shown){
		z-index: -1;
		opacity: 0;
		.container{
			//  top: -100px;
		}
	}

	&.js-shown{
		z-index: 1;
		opacity: 1;
		.container{
			top: 0;
		}
	}

	& > .container{
		display: flex;
		flex-direction: column;
		height: 100%;
		transition: all .5s ease-in-out;
	}

	&-steps{
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 75vh;
    position: fixed;
    right: 0;
    top: 50%;
    transform: rotate(-90deg);
    font-size: 9px;
    color: #a7a7a7;
    font-weight: 500;
    letter-spacing: 1.2px;
    z-index: 19;
		
		span{flex: 1;text-align: center;position: relative;}
		span + span:before{
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #a7a7a7;
			margin-top: -5px;
		}
	}
	&-header{}


	&-content{
		margin: auto 0;
		padding: 30px 0;
		padding-right: 100px;
		background-repeat: no-repeat;
		background-position: calc(100% - 100px) center;

		h1,h2{font-size: 45px;font-weight: 600;}

		h3{
			margin-top: 20px;
			font-size: 30px;
			color: #6069f3;
			font-weight: 600;
		}

		.ui-button{margin-top: 30px;}

	}

	&-text{
		display: block;
		margin-top: 20px;
		line-height: 1.7;
	}
	&-footer{
		margin-top: auto;

		.contacts{
			font-weight: 900;
		}
		.nav{
			height: 100%;
			font-size: 12px;
			font-weight: 400;
			display: flex;
			align-items: center;

			li:not(:last-child){margin-right: 20px;}
		}
	}

	
}


.layer.js-shown{

	[class*="animation"]{
		opacity: 0;
		position: relative;
		top: -30px;
	}
	.animation-1{
		animation: show .5s forwards;
	}
	.animation-2{
		animation: show .5s forwards;
		animation-delay: .2s;
	}
	.animation-3{
		animation: show .5s forwards;
		animation-delay: .3s;
	}
	.animation-4{
		animation: show .5s forwards;
		animation-delay: .4s;
	}
	.animation-5{
		animation: show .5s forwards;
		animation-delay: .5s;
	}
	.animation-6{
		animation: show .5s forwards;
		animation-delay: .6s;
	}
	.animation-7{
		animation: show .5s forwards;
		animation-delay: .7s;
	}
}

// SLIDER
.slider{
	.slick-slide{display: flex;outline: none;}

	&-nav{
		display: flex;
		align-items: center;
		color: #a7a7a7;

		.arrow-left,
		.arrow-right{
			display: inline-block;
			width: 30px;
			height: 20px;
			mask-image: url(../images/slider-next.svg);
			mask-repeat: no-repeat;
			background-color: #a7a7a7;
			position: relative;

			&:hover{
				background-color: #6069f3;
			}
		}

		.arrow-left{
			transform: rotate(-180deg);
			animation: sliderPrev 1s linear infinite;
		}
		.arrow-right{
			animation: sliderNext 1s linear infinite;
		}
		.counts{
			margin: 0 20px;
			font-size: 18px;
			line-height: 0;
		}
	}
}

@keyframes sliderNext{
	0%{left: 0px;}
	50%{left: 10px;}
	100%{left: 0px;}
}
@keyframes sliderPrev{
	0%{left: 0px;}
	50%{left: -10px;}
	100%{left: 0px;}
}

.steps-list{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	.item{

		&:nth-child(2){margin-top: 60px;}
		&:nth-child(3){margin-top: 120px;}
		&:nth-child(4){margin-top: 180px;}

		.num-step{
			.current{
				color: #6069f3;
				font-size: 42px;
				font-weight: 900;
			}
			.small{
				font-size: 12px;
				font-weight: 600;
				margin-top: 5px;
				margin-left: 5px;
			}
		}
		.caption{
			margin-top: 5px;
			font-weight: 900;
		}
		.text{
			margin-top: 5px;
			font-size: 13px;
			font-weight: 400;
			line-height: 1.5;
		}
	}
}




// FIRST 
#first{
	background: url(../images/layer1_bg2.png) bottom left no-repeat;
	background-size: cover;
}
#second{
	background: url(../images/layer2_bg.png) bottom left no-repeat;
	background-size: cover;
}
#three{
	background: url(../images/layer3_bg1.png) bottom left no-repeat;
	background-size: cover;
}
#four{
	background: url(../images/layer4_bg1.png) bottom left no-repeat;
	background-size: cover;
}
#five{
	background: url(../images/layer5_bg.png) center center no-repeat;
	background-size: cover;
}



// ANIMATION
@keyframes show{
	0%{opacity: 0; transform: scale(0.8);}
	100%{opacity: 1;top: 0; transform: scale(1); }
}
@keyframes down{
	0%{right: -10px;}
	50%{right: 0}
	100%{right: -10px;}
}



@media screen and (max-width:1024px){
	html,body{overflow-x: hidden;}
	body{height: auto;}
	section.layer{
		position: relative;
		opacity: 1 !important;
		z-index: 1 !important;
	}
	header,footer{position: relative;}

	#first{
		padding-top: 70px;
		margin-top: -70px;
		
		.layer-content{
			background-size: 30%;
			
		}
	}

	.layer-content{padding-right: 0px;}
}

@media screen and (max-width:768px){
	#layer-nav{display: none;}
	#layer-steps{display: none;}

	.slider .item img{margin: 0 auto;}

	.steps-list{flex-wrap: wrap;}
	.steps-list .item{margin-top: 50px !important;}

	.ui-modal{
		align-items: flex-start;

		.content{padding: 30px;}
		form{
			.row > * + *{margin-top: 20px;}
			button{width: 100%;}
		}
		iframe{width: 100%;}
	}

	.slider-nav .counts{line-height: 1;display: flex;}
}

@media screen and (max-width:425px){
	body{
		zoom: .85;
	}
	.ui-button{font-size: 14px;font-weight: normal;width: 100%;text-align: center;}
	#first {
    padding-top: 85px;
		margin-top: -85px;
		.layer-content{background: none !important;}
	}

	footer{text-align: center;}

	#five{background: none;}
	#six{
		.row > *:first-child{display: none;}
	}

	header{
		a{font-size: 15px;}
	}
}

@media screen and (max-width: 375px){
	footer{
		a{display: block;margin: 0 auto;font-size: 14px;}
	}
	.layer-footer .nav{justify-content: center;flex-wrap: wrap;}
	#first {
    padding-top: 150px;
    margin-top: -125px;
	}

	.layer-content{
		h1,h2{
			font-size: 35px;
		}
		h3{font-size: 22px;}
	}
}