@font-face {
	font-family: 'Montserrat';
	src: url(./Montserrat-Light.woff) format('woff');
	font-weight: 300;
}
@font-face {
	font-family: 'Montserrat';
	src: url(./Montserrat-Regular.woff) format('woff');
	font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat-Medium.woff) format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat-SemiBold.woff) format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat-ExtraBold.woff) format('woff');
  font-weight: 800;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat-Black.woff) format('woff');
  font-weight: 900;
}