@font-face {
    font-family: "Lato";
    src: url(./Lato-Light.woff) format('woff');
    font-weight: 300;
}
@font-face {
    font-family: "Lato";
    src: url(Lato-Regular.woff) format('woff');
    font-weight: 400;
}
@font-face {
    font-family: "Lato";
    src: url(Lato-Medium.woff) format('woff');
    font-weight: 500;
}
@font-face {
    font-family: "Lato";
    src: url(Lato-Bold.woff) format('woff');
    font-weight: bold;
}


/* Philosopher */
@font-face {
    font-family: "Philosopher";
    src: url(Philosopher.woff) format('woff');
    font-weight: normal;
}
@font-face {
    font-family: "Philosopher";
    src: url(Philosopher-Bold.woff) format('woff');
    font-weight: bold;
}