.ui-code-split {
    margin-top: 50px;
    margin-bottom: 30px
}

.ui-input {
    padding-left: 10px;
    padding-right: 10px
}

.ui-tabs-content[data-v-6febfaaa] {
    padding-top: 40px
}

.waiter-table[data-v-36f2f374] {
    margin-top: 30px
}

.waiter-table .item[data-v-36f2f374] {
    background-color: transparent
}

.waiter-table .item .name[data-v-36f2f374] {
    font-weight: 400;
    font-size: 15px
}

.waiter-table .item .type[data-v-36f2f374] {
    font-weight: 600;
    font-size: 17px
}

.waiter-table__time-wait[data-v-36f2f374] {
    margin-top: 40px;
    font-size: 15px;
    margin-bottom: 15px
}

.waiter-table .comment-block[data-v-36f2f374] {
    margin-top: 50px
}

.waiter-table .comment-block p[data-v-36f2f374] {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px
}

.waiter-table .comment-block textarea[data-v-36f2f374] {
    font-size: 15px;
    background-color: transparent;
    padding: 15px;
    height: 66px;
    min-height: 66px
}

.page-footer[data-v-36f2f374] {
    display: flex;
    flex-direction: column
}