/* EDGE */
@supports (-ms-ime-align:auto) {
    #nav-menu{
        position: fixed !important;
        top: 0 !important;
        width: 100% !important;
        z-index: 100 !important;
        box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.04);
        -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.04);
        -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.04);
    }
}

/* IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .header{padding-top: 90px !important;}
    #nav-menu{
        position: fixed !important;
        top: 0 !important;
        width: 100% !important;
        z-index: 100 !important;
        box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.04);
        -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.04);
        -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.04);
    }
    .header__top .grid {
        display: flex;
        display: -ms-flexbox;
        display: -moz-box;
        display: -webkit-box;
        justify-content: space-between;
    }

    .section__title.grid{
        display: flex;
        display: -ms-flexbox;
        display: -moz-box;
        display: -webkit-box;
        justify-content: space-between;
    }

    .section-projects__cards{
        display: flex;
        display: -ms-flexbox;
        display: -moz-box;
        display: -webkit-box;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section-projects__cards .project-card {
        flex-basis: calc(50% - 20px);
        margin-bottom: 40px;
    }
    .section-projects__cards .project-card + .project-card {}


    .box-text .grid {
        display: flex;
        display: -ms-flexbox;
        display: -moz-box;
        display: -webkit-box;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .box-text .grid > div {flex: 1;}

}
