/* 
 © Copyright Neworks Ltd
*/


@font-face {
    font-family: 'swis721';
    src: url("../../assets/fonts/swiss_721_bt.1-webfont.woff") format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'swis721';
    src: url("../../assets/fonts/swiss_721_medium_bt-webfont.woff") format('woff');
    font-weight: 600;
}

@font-face {
  font-family: 'Halvetica';
  src: url("../../assets/fonts/HelveticaNeueLight.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: 'Halvetica';
  src: url("../../assets/fonts/HelveticaNeue.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Halvetica';
  src: url("../../assets/fonts/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: 'Halvetica';
  src: url("../../assets/fonts/HelveticaNeueBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: 'Halvetica';
  src: url("../../assets/fonts/HelveticaNeueCondensedBlack.woff") format("woff");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:after, *:before {
  box-sizing: border-box;
}

/* Text highlight bg colour*/
::-moz-selection { background: #48EFC7;} /* Code for Firefox */ 
::selection { background: #48EFC7;} 

/* Page fade in values + .js */
.main-load { position:absolute; width:100%; height:100%; background-color:#181821; z-index:999; }

/* hero heading animation */

.animated { 
    -webkit-animation-duration: 0.7s; 
    animation-duration: 0.7s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
} 
 
@-webkit-keyframes fadeIn { 
    0% { 
        opacity: 0;  
    } 
    100% { 
        opacity: 1;  
    } 
} 

@keyframes fadeIn { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}
 

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}




.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

a {
  color: currentColor;
}

a, button, svg, svg path {
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
}

.black-bg-links a:hover, .black-bg-links button:hover {
  opacity: .7;
}

h1, .h1 {
  font-family: "swis721";
  font-size: 32px;
  line-height: 52px;
  font-weight: 300;
}

h1 a:after, .h1 a:after {
  height: 3px !important;
}

h2, .h2 {
  font-family: "swis721";
  font-size: 28px;
  line-height: 1.36;
  font-weight: 600;
}

h3, .h3 {
  font-family: "swis721";
  font-size: 26px;
  line-height: 1.46;
  font-weight: 600;
}

h4, .h4 {
  font-family: "swis721";
}

h5, .h5 {
  font-family: "swis721";  
  font-size: 24px;
  line-height: 1.33;
  font-weight: 600;
}

.text-xs {
  font-size: 12px;
  line-height: 1.83;
}

.text-sm {
  font-size: 14px;
  line-height: 1.71;
}

.text-md, .project-card__text, .footer__foot .links a {
  font-size: 16px;
  line-height: 1.88;
}

.text-lg, .project-card__name {
  font-size: 18px;
  line-height: 1.67;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-black {
  color: #000000;
}
input.ui-input::placeholder,
input.ui-input::-webkit-input-placeholder,
input.ui-input::-moz-placeholder,
input.ui-input:-moz-placeholder,
input.ui-input:-ms-input-placeholder {
  color: #87878C;
  opacity: 1;
}



.text-grey {
  color: #737373;
}

.text-white {
  color: #fff;
}

.text-red {
  color: #e63856;
}

.text-bold {
  font-weight: 600;
}

.text-xbold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-underline, .link {
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

.text-underline:after, .link:after {
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  display: block;
  bottom: -3px;
  left: 0;
  background-color: currentColor;
  color: #48EFC7;
}

.text-underline.--sm-under:after, .--sm-under.link:after {
  height: 1px;
}

.link {
  cursor: pointer;
}

.link.bottom_space {
  bottom:3px;
}

.link.--sm-under:after {
  height: 2px;
  color: #48EFC7; 
}

.link.is-xs-under:after {
  height: 1px;
  bottom: -4px;
}

.link--black {
  color: #000000;
}


.ui-input {
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 20px 10px 0;
  font-family: inherit;
}

.ui-email {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
}

.ui-email input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.ui-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid[cols="1"] {
  grid-template-columns: repeat(1, 1fr);
}

.grid[cols="2"] {
  grid-template-columns: repeat(2, 1fr);
}

.grid[cols="3"] {
  grid-template-columns: repeat(3, 1fr);
}

.grid[cols="4"] {
  grid-template-columns: repeat(4, 1fr);
}

.grid[cols="5"] {
  grid-template-columns: repeat(5, 1fr);
}

.grid[cols="6"] {
  grid-template-columns: repeat(6, 1fr);
}

.grid[cols="7"] {
  grid-template-columns: repeat(7, 1fr);
}

.grid[cols="8"] {
  grid-template-columns: repeat(8, 1fr);
}

.grid[cols="9"] {
  grid-template-columns: repeat(9, 1fr);
}

.grid[cols="10"] {
  grid-template-columns: repeat(10, 1fr);
}

.grid[cols="11"] {
  grid-template-columns: repeat(11, 1fr);
}

.grid[cols="12"] {
  grid-template-columns: repeat(12, 1fr);
}

.grid-gap {
  grid-gap: 30px;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

img {
  max-width: 100%;
}

.wrapper {
  overflow-x: hidden;
}

body {
  font-family: "Halvetica", Microsoft Sans, Serif, Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  overflow: auto;
}
 

body.js-no-scrolling {
  overflow: hidden;
}

.container {
  max-width: 984px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container-sm {
  max-width: 680px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.section {
  padding: 75px 0;
}

.section__title {
  margin-bottom: 50px;
}

.section__title .title {
  grid-column: span 7;
}

.section__title .links {
  grid-column: span 5;
  text-align: right;
  font-weight: 600; 
}

.page-content .section {
  padding: 50px 0;
}

.page-content .footer {
  margin-top: 0;
}

#nav-menu, .nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  color: #fff;
  background-color: #181821;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  z-index: 100;
  transition: all .4s ease;
}
#nav-menu .nav-top {
  position: relative;
  z-index: 2;
}
#nav-menu.is-bg-white{
  background-color: #fff
}
#nav-menu.is-bg-white svg,
#nav-menu.is-bg-white svg path{fill: #181821 !important;}
#nav-menu.hidden {
  transform: translateY(-100%);
}
#nav-menu svg,
#nav-menu svg path {transition: none;}
#nav-menu.is-bg-white.nav-is-open svg,
#nav-menu.is-bg-white.nav-is-open svg path{ fill: #fff !important;}
#nav-menu.nav-is-open{}
#nav-menu.js-scrolled {
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.04);
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.04);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.04);
}
#nav-menu .nav-menu-list {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  left: 0;
  background-color: #181821;
  padding-top: 90px;
  z-index: 1;
}
#nav-menu ul, .nav-menu ul {
  list-style-type: none;
  text-align: center;
  margin: 80px auto;
}

#nav-menu ul li+li, .nav-menu ul li+li {
  margin-top: 50px;
}

#nav-menu ul a, .nav-menu ul a {
  font-family: "swis721";
  font-size: 34px;
  font-weight: 600;
  text-decoration: none;
}

#nav-menu ul a:hover, .nav-menu ul a:hover {
  opacity: .7;
}

#nav-menu .nav-top, .nav-menu .nav-top {
  width: 100%;
  min-height: 90px;
  height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-menu .logo svg path, #nav-menu .hamburger svg path, .nav-menu .logo svg path, .nav-menu .hamburger svg path {
  fill: #fff;
}

.header {
  min-height: 600px;
  background-color: #181821;
  color: #fff;
  margin-bottom: 75px;
  padding-top: 90px;
}

.header.is-small {
  min-height: auto;
  margin-bottom: 0;
  padding-bottom: 60px;
}

.header__top {
  background-color: #181821;
  padding: 30px 0;
  position: relative;
  z-index: 50;
  height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.header__top .grid {
  width: 100%;
}

.header__content {
  /*margin-top: 170px;*/
  padding: 170px 25px 0px 25px;
}

.header__content_project {
  margin-top: 50px;  
}

.header__subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #737373;
  margin-top: 10px;
}

.header__hamburger {
  grid-column: 12/-1;
  text-align: right;
}

.header.is-bg-white {
  background-color: #fff;
}

.header.is-bg-white .header__top {
  background-color: #fff;
}

.header.is-bg-white svg path {
  fill: #181821;
}

#logo:hover, .logo:hover {
  opacity: .7;
}

#hamburger, .hamburger {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  color: #ffffff;
}

#hamburger .close, .hamburger .close {
  display: none;
}

#hamburger:hover, .hamburger:hover {
  opacity: .7;
}

.section-projects__cards {
  grid-gap: 40px;
}

.section-projects__cards>div {
  grid-column: span 6;
}

.project-card {
  background-color: #ffffff;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.04); 
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.04);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.04); 
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  grid-column: span 6;
  text-decoration: none;
}

.project-card:hover {
  box-shadow: 0px 4px 15px 1px rgba(0,0,0,0.08); 
  -webkit-box-shadow: 0px 4px 15px 1px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 4px 15px 1px rgba(0,0,0,0.08); 
  color: inherit !important;
}

.project-card__image {
  padding: 10px;
}

.project-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card__content {
  padding: 30px 50px 50px 50px;
}

.project-card__name {
font-family: "swis721";
  font-weight: 600;
  margin-bottom: 10px;
}

.project-card__text {
  color: #737373;
}

.media-container {
  padding-top: 0;
}

.media-container .container>* {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-text .--border {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 35px;
  padding-bottom: 35px;
}

.box-text .grid {
  grid-template-columns: repeat(3, 1fr);
}

.box-text .caption {
font-family: "swis721";
  margin-bottom: 15px;
}

.article+.article, article+.article, .article+article, article+article {
  margin-top: 100px;
}

.article .article__title, article .article__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}

.article .article__title~.article__title, article .article__title~.article__title {
  margin-top: 100px;
}

.article .article__h, article .article__h {
  margin-bottom: 40px;
}

.article p, article p {
  color: #737373;
  line-height: 30px;
}

.article p+p, article p+p {
  margin-top: 30px;
}

.article .article__subtitle, article .article__subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
  margin-top: 50px;
}

.article ul, article ul {
  color: #737373;
  list-style-type: circle;
  padding-left: 20px;
}

.article ul li, article ul li {
  line-height: 30px;
  position: relative;
}

.article ul li+li, article ul li+li {
  margin-top: 20px;
}

.page-buttons {
  font-family: "swis721";
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.page-buttons__prev, .page-buttons__next, .button_all_projects_left, .button_all_projects_right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fafafa;
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.page-buttons__next:after {
    bottom: 85px;
    width: 102px;
    left: inherit;
}
.page-buttons__prev:after {
    bottom: 85px;
    width: 136px;
    left: inherit;
}

/* custom - start */
.button_all_projects_left:after{
    bottom: 85px;
    width: 93px;
    left: inherit;
}
.button_all_projects_left:hover{
  background-color: #f2f2f2;
}
.button_all_projects_left {
	padding-left: calc( (100vw - 920px) / 2);
}
.button_all_projects_right:after{
    bottom: 85px;
    width: 93px;
    left: inherit;
}
.button_all_projects_right:hover{
  background-color: #f2f2f2;
}
.button_all_projects_right {
  padding-right: calc( (100vw - 915px) / 2);
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
/* custom - end */


.page-buttons__prev:hover, .page-buttons__next:hover {
  background-color: #f2f2f2;
}

.page-buttons.not-link {
  background-color: #fafafa;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.page-buttons.not-link:hover {
  background-color: #f2f2f2;
}

.page-buttons__button {
  height: 200px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.page-buttons__button:hover {
  color: inherit !important;
}

.page-buttons__prev {
  padding-left: calc( (100vw - 920px) / 2);
}

.page-buttons__next {
  padding-right: calc( (100vw - 915px) / 2);
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.section-services-box {
  padding: 100px 0;
}

.section-services-box+.section-services-box {
  border-top: 1px solid #e8e8e8;
}

.section-services-box:last-child {
  padding-bottom: 0;
}

.section-services__title {
  margin-bottom: 35px;
}

.section-services__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-services__item img {
  max-width: initial;
}

.section-services__item .content {
  padding-left: 140px;
}

.section-services__item .content .caption {

font-family: "swis721", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
  color: #000000;
  margin-bottom: 10px;
}

.section-services__item .content .text {
  font-size: 16px;
  line-height: 1.88;
  color: #737373;
}

.footer {
  padding: 145px 0;
  background-color: #181821;
  color: #fff;
  margin-top: 100px;
}

.footer__title {
  grid-column: span 12;
  margin-bottom: 40px;
}

.footer__form {
  grid-column: span 12;
}

.footer .ui-email {
  margin-top: 20px;
}

.footer__foot {
  margin-top: 145px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column: span 12;
}

.footer__foot>div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer__foot .links {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__foot .links a:after {
  bottom: 2px;
}



@media only screen and (max-width: 970px) {
 
	.page-buttons__prev {
	  padding-left: calc( (100vw - 710px) / 2);
	}

	.page-buttons__next {
	  padding-right: calc( (100vw - 715px) / 2);
	  -webkit-box-pack: end;
	  -webkit-justify-content: flex-end;
	  -ms-flex-pack: end;
	  justify-content: flex-end;
	}
	
	/* custom - start */
	.button_all_projects_left {
		padding-left: calc( (100vw - 710px) / 2);
	}
	.button_all_projects_right {
	  padding-right: calc( (100vw - 715px) / 2);
	  -webkit-box-pack: end;
	  -webkit-justify-content: flex-end;
	  -ms-flex-pack: end;
	  justify-content: flex-end;
	}
	/* custom - end */

}

@media only screen and (max-width: 768px) {
  .header__content {
    padding-top: 100px;
  }
  .header {
    min-height: initial;
    height: 500px;
  }
  .header.project_header {
    min-height: initial;
    height: 320px;
  }
  .media-container .container {
    min-height: initial;
  }
  .section-services__item .content {
    padding-left: 50px;
  }
  .section-services .section-services-box {
    padding: 50px 0;
  }
  .section-services__title+div {
    padding-top: 0 !important;
  }
  .section-services__title {
    margin-bottom: 50px;
  }
  
 
  .page-buttons__prev, .page-buttons__next, .button_all_projects_left, .button_all_projects_right {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .footer__foot {
    flex-direction: column;
  }
  .footer__foot .links a {margin: 0px 10px;}

}

@media only screen and (max-width: 640px) {
  .section-projects__cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .article .article__title, article .article__title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 425px) {
  .section {
    padding: 50px 0;
  }
  .header {
    margin-bottom: 50px;
  }
  h2, .h2 {
    font-size: 24px;
  }
  
  h3, .h3 {
    font-size: 24px;
  }
  .project-card__content {
    padding-left: 30px;
  }
  #nav-menu ul a {
    font-size: 26px;
  }
  .header__title {
    font-size: 26px;
    line-height: 42px;
  }
  .header.--small {
    min-height: initial;
    margin-bottom: 0;
    height: 330px;}
    .header__subtitle {
      padding: 0px 15px;
    }
  .box-text .caption{
    text-align: center;
    }
    .box-text .text{
    text-align: center;
    }
  .section.box-text h5 {
      text-align: left;
  }
  .section.box-text p {
      text-align: left;
  }
  .grid[cols="2"] {
    grid-template-columns: repeat(1, 1fr);
  }
  .article {
    padding-top: 0;
  }
  .section__title .title {
    grid-column: span 12;
  }
  .section__title .links {
    grid-column: span 12;
    text-align: left;
  }
  .box-text .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .page-buttons__button {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }
  .page-buttons {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .page-buttons__prev {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .page-buttons__next {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .page-buttons>* {
    width: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .page-buttons>* {
    margin: 5px 0;
  }
  .page-buttons__button {
    padding: 70px 60px;
    display: block;
  }
  .section-services__item .image {
    display: none;
  }
  .section-services__item .content {
    padding-left: 0;
  }
  .footer {
    padding: 100px 15px;
    text-align: center;
    margin-top:20px;
  }
  .footer__foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
  }
  .footer__foot .copyright {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 100px;
  }
  .footer__foot .links {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer__foot .links a + a {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 375px) {
    .header__content {
        padding-top: 50px;
    }
}
@media only screen and (max-width: 330px) {
    .header__content {
        padding-top: 20px;
    }
}