.page-list{
	display:none;
}
.developer__img {
    width: 110px;
}
.seo--text h2{
    max-width: 34.06rem;
    margin-left: auto;
    margin-right: auto; 
  font-style: normal;
  font-weight: 500;
  font-size: 1.88rem;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 1.88rem;
  text-transform: uppercase;
    
}
/*.cart_add.disabled{
  background-color: gray; 
  cursor: crosshair;
}*/
#jvlabelWrap{
  display:none;
}
.s-h1 h2{
  font-style: normal;
  font-weight: 500;
  font-size: 1.88rem;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 1.88rem;
  text-transform: uppercase; }
  @media all and (min-width: 0) and (max-width: 62.5em) {
    .s-h1 h2 {
      font-size: 1.25rem;
      line-height: 1.5;
      margin-bottom: 0.88rem; }  
}
.filter-hidd-sort {
  width: 16.94rem;
  left: auto;
}

  .filter-titles {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 0.94rem;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    width: calc(100% - 2.25rem);
    padding: 0.81rem 0;
    border-bottom: 2px solid black;
    background: url(../images/arrowBt.svg) no-repeat 100% 50%; }
    @media all and (min-width: 62.5rem) and (max-width: 87.5rem) {
      .filter-titles {
        width: calc(100% - 1rem); } }
    @media all and (min-width: 62.5rem) and (max-width: 78.44rem) {
      .filter-titles {
        font-size: .81rem;
        letter-spacing: -.5px;
        background-size: 10px auto; } }
    .filter-titles .rem {
      display: none;
      position: absolute;
      width: 0.75rem;
      height: 0.75rem;
      right: 0;
      top: 50%;
      margin-top: -0.43rem;
      background: url(../images/rem.svg) no-repeat 0 0 #fff;
      background-size: contain; }
    .filter-titles .sel {
      display: none;
      width: 100%;
      padding-right: 1.5rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .filter-titles.visible {
      background: none; }
      .filter-titles.visible .rem {
        display: block; }
      .filter-titles.visible .sel {
        display: block; }
        .filter-titles.visible .sel .btCheck {
          background-color: transparent !important; }
          .filter-titles.visible .sel .btCheck + .btCheck:before {
            content: ", "; }
    .filter-titles.visibleOne {
      background: none; }
      .filter-titles.visibleOne .rem {
        display: block; }
      .filter-titles.visibleOne .name {
        display: inline-block; }
/*        .filter-titles.visibleOne .name:after {
          content: ": "; }*/
      .filter-titles.visibleOne .sel {
        display: inline-block;
        width: auto; }
        .filter-titles.visibleOne .sel .btCheck {
          background-color: transparent !important; }
          .filter-titles.visibleOne .sel .btCheck + .btCheck:before {
            content: ", "; }
  .sdek_pvzLair .SDEK_selectPVZ {
    width: 100%;
    margin-bottom: 2.25rem;
    border: .125rem solid black;
    background: none;
    line-height: 3.31rem;
    color: black;
  }
  .SDEK_selectPVZ {
  display: inline-block; 
  vertical-align: middle;
  height: 3.56rem;
  line-height: 3.56rem;
  text-align: center;
  padding: 0 1rem;
  background: black;
  color: white;
  font-weight: 500;
  font-size: 0.94rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  -webkit-appearance: none;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  }
  .tabsContainerDevelory .h2{
    display:none;
  }
.checkbox .disabled{
	pointer-events: none;
}
.clearfix.disabled{
  pointer-events: none;
  color: #ACACAC !important;
  display:none;
}



/* правки от 19.02.2020 */
.hhead .wrapper{
  padding: 0 5rem;
}
header .hhead + .wrapper{
  padding: 0;
}
.menuCatalog .secindLvl{
  background: #FAFAFA;
}
.menuCatalog .firstLvl .secindLvl{
  transition: opacity .1s linear .4s,visibility 0ms linear .41s;
}
.menuCatalog .firstLvl.hover .secindLvl{
  transition: opacity .1s,visibility 0ms;
  transition-delay: .3s;
}
.mm-menu.mm-offcanvas .mm-panels .mm-panel a:not(.mm-next):not(.mm-prev):not(.mm-title):not(.filter--ok):not(.filter--ok-ui){
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 100%;
  text-align: left;
  left: 0px;
  top: 0;
  display: flex;
  justify-content: space-between;
}
.filter--wrapper .filter-title{
  max-width: 80%;
}
.mm-menu.mm-offcanvas .mm-panels .mm-panel .mm-next{
  width: 20%;
  z-index: 3;
}
.mm-panels > .mm-panel{
  overflow: hidden;
  overflow-y: scroll;
  max-height: 90vh;
  -webkit-overflow-scrolling: auto;
}
.basketBox .scrollCastom{
  height: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.mm-panels > .mm-panel::-webkit-scrollbar {
  display: none;
}
.mm-menu.mm-theme-white .mm-listview > li a,
.basket .btBasket,
.search .bt_search_open,
.basketBox .close,
.tableBasket .rem{
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
.filter--wrapper{
  align-items: flex-end;
}
.tableBasket .rem{
  width: 2rem;
  height: 2rem;

  right: -1rem;
  top: -1rem;

  z-index: 2;
}
.rem i{
  top: 0.85rem;
  left: 0.35rem;
}
.rem i:before, .rem i:after{
  width: 60%;
}

.catalog--slider--slide--img{
  margin-bottom: 25px;
}
.search .container_b{
  left: initial;
  right: -10rem;
}
.search .container_b > p{
  padding-left: 50px;
}
@media(max-width: 1230px){
  .hhead .wrapper{
    padding: 0 1.25rem;
  }
  .search .container_b{
    right: -6.25rem;
  }
  .search .container_b > p{
    padding-left: 110px;
  }
}
@media(max-width: 1001px){
  .control {
    justify-content: flex-end;
  }
  .search .bt_search_open{
    display: inline-block;
    margin-top: 5px;
  }
}
.like.js-like{
  display: none;
}
.sale-filter .disabled{
  display:none;
}

.page__news--slider-swiper-slide{
  max-width: 306.5px;
}

label.error,
p.error{
  display: none !important;
}