.menuCatalog {
    width: 100%;
    position: relative; }
.menuCatalog .list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 59.38rem;
    margin: 0 auto; }
.menuCatalog:not(.mm-menu) .firstLvl > a {
    padding: 0.63rem 3rem;
    position: relative; }
.menuCatalog:not(.mm-menu) .firstLvl > a:before {
    content: "";
    width: 100%;
    height: 0.188rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
.menuCatalog .firstLvl {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    padding-top: .5rem; }
.menuCatalog .firstLvl > a {
    display: inline-block;
    padding: 0.63rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.19rem;
    text-align: center;
    letter-spacing: 0.05em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap; }
.menuCatalog .firstLvl > a img {
    display: inline-block;
    vertical-align: middle;
    margin: -0.25rem 0.44rem 0 0; }
.menuCatalog .firstLvl > a.is-active:before, .menuCatalog .firstLvl > a:hover:before {
    background: #000; }
.menuCatalog .firstLvl.hover .secindLvl {
    opacity: 1;
    visibility: visible; }
.menuCatalog .secindLvl {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .15s ease;
    transition: all .15s ease; }
.menuCatalog .secindLvl .bigList {
    width: 100%;
    padding: 1.25rem;
    background: #FAFAFA;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 83.75rem;
    margin: 0 auto; }
.menuCatalog .secindLvl .bigList a {
    display: inline-block;
    font-weight: 500;
    font-size: 0.88rem;
    line-height: 1rem;
    margin-bottom: 1.31rem; }
.menuCatalog .secindLvl .bigList a.title {
    line-height: 1.19rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0 0 1.69rem 2.5rem; }
@media all and (min-width: 62.5rem) and (max-width: 65.63rem) {
    .menuCatalog .secindLvl .bigList a.title {
        margin-left: 1.5rem; } }
.menuCatalog .secindLvl .bigList .img {
    float: right;
    width: 30.8%;
    text-align: right;
    height: 28.75rem; }
.menuCatalog .secindLvl .bigList .img img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none; }
.menuCatalog .secindLvl .bigList .container {
    float: left;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
    padding: 1.75rem 0 1rem 0.938rem;
    list-style: none; }
.menuCatalog .secindLvl .bigList .box {
    display: inline-block; }
.menuCatalog .secindLvl .bigList .column {
    width: auto;
    list-style: none; }
.menuCatalog .secindLvl .bigList .column.column2 {
    -webkit-columns: 2;
    columns: 2; }
.menuCatalog .secindLvl .bigList .column.column3 {
    -webkit-columns: 3;
    columns: 3; }
.menuCatalog .secindLvl .bigList .column li {
    margin-left: 2.5rem;
    width: 7.19rem; }
@media all and (min-width: 62.5rem) and (max-width: 65.63rem) {
    .menuCatalog .secindLvl .bigList .column li {
        margin-left: 1.5rem; } }
.menuCatalog .secindLvl .littleList {
    padding: 1.25rem 1.5rem;
    background: #FAFAFA;
    max-width: 55rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none; }
.menuCatalog .secindLvl .littleList .boxBig {
    position: relative;
    width: 50%;
    height: 12.5rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; }

.btMenuWh {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    line-height: 6.063rem;
    height: 6.25rem;
    width: 19.88rem;
    border-top: .188rem solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
.btMenuWh:hover {
    background: #000;
    color: white; }