@media all and (min-width: 0) and (max-width: 29.94em) {
  html {
    overflow-x: hidden; }
  h1, .h1 {
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: 0.05em;
    margin-bottom: 0.88rem; }
  header {
    text-align: center;
    background: #fff;
    padding: 1.38rem 0 1.25rem; }
    header .hhead {
      text-align: left;
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 1.188rem 0;
      background: #fff;
      border: none; }
  .menuCatalog {
    display: none; }
  .logo {
    display: none;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    position: static; }
    .logo.mob {
      display: inline-block;
      width: 9.44rem;
      margin: 0 auto; }
  .control {
    width: calc(100% - 89px);
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
    position: relative;
    top: 4px; }
    .control > a {
      margin-left: 2.31rem; }
  .search {
    margin-left: 0; }
  .basket {
    margin-left: 2.31rem; }
  .menu {
    width: 16.25rem; }
    .menu .box {
      padding-top: 0;
      border-top: 3px solid #000000; }
    .menu .close {
      right: -2.125rem;
      top: 1.25rem; }
      .menu .close i:before, .menu .close i:after {
        background: white; }
    .menu .hmenu {
      background: #FAFAFA;
      padding: 1.81rem 1.88rem 1.63rem; }
  .logoMenu {
    display: none; }
  .city {
    margin-bottom: 1.06rem;
    padding: 0; }
    .city a {
      padding: 0 0 .5rem;
      text-align: left;
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 125%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #000000; }
      .city a span {
        top: 0.125rem;
        font-size: 0.56rem;
        line-height: 178%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #ACACAC; }
  .phone {
    background: none !important;
    text-align: left;
    padding: 0; }
    .phone a {
      font-weight: 500;
      font-size: 1.13rem;
      line-height: 1.5rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin: 0; }
    .phone span {
      font-size: 0.56rem;
      line-height: 1.25rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #ACACAC; }
  .fmenu {
    background: #FAFAFA !important;
    height: auto;
    padding: 1.38rem 0; }
  .socialNetwork a {
    margin: 0 0.88rem; }
  .bmenu {
    padding: 1.81rem 1.88rem 1.38rem; }
  .menuCity {
    padding: 1.38rem 1.88rem;
    left: 0;
    z-index: 2;
    border-top: 3px solid #000000; }
  .citySearchText {
    font-size: .75rem; }
  .citySearch {
    margin-top: 0 !important; }
  .citySearch .listCity {
    font-size: .88rem;
    margin-bottom: 0.94rem; }
  .menuList {
    margin-top: 0; }
    .menuList a {
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 250%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #000000; }
    .menuList li {
      margin: 0; }
  .search .hidd {
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    width: 100%;
    text-align: center;
    height: 100%;
    background: #fff;
    padding: 0 1.25rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .search .hidd .input-search {
      width: calc(100% - 2.5rem);
      position: absolute;
      top: 50%;
      left: 1.25rem;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  .search form {
    display: block;
    width: 100%; }
  .search .bt_search {
    top: 50%;
    right: 1.75rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .search svg {
    fill: #000; }
  .search .close {
    display: block;
    opacity: 1;
    visibility: visible; }
  .mm-menu {
    display: block; }
  .swiper-slide .content .title {
    font-size: 3.75rem;
    line-height: 3.75rem;
    margin-bottom: 1rem; }
  .swiper-slide .content .caption p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.05em; }
  .swiper-button-prev,
  .swiper-button-next {
    display: none; }
  .main-catalog-select {
    margin-bottom: 1.81rem !important; }
    .main-catalog-select li {
      padding: 3.13rem 0; }
    .main-catalog-select .box {
      width: 10rem;
      line-height: 250%;
      padding: 1.88rem 1.5rem 1.38rem; }
      .main-catalog-select .box p {
        font-size: 1rem;
        margin-bottom: 0;
        white-space: nowrap;
        width: auto; }
      .main-catalog-select .box a {
        font-size: 0.75rem; }
  .main-catalog-displace-title {
    line-height: 3.75rem;
    margin-bottom: 0.31rem; }
  .main-catalog-displace--wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 4.25rem; }
  .main-catalog-displace--left .boxWh {
    left: 1.25rem; }
  .main-catalog-displace--left .imgBox {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .main-catalog-displace--left .bigBox {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .main-catalog-displace--left .catalog {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .main-catalog-displace--right .boxWh {
    right: 1.25rem; }
  .main-catalog-displace .imgBox {
    width: 35%;
    height: 12.5rem; }
  .main-catalog-displace .bigBox {
    width: 65%;
    height: 12.5rem; }
  .main-catalog-displace .boxWh {
    bottom: 1.25rem;
    width: 6.3rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin-bottom: 0;
    padding: 0.938rem 0 0.81rem; }
    .main-catalog-displace .boxWh p {
      margin-bottom: 1px; }
      .main-catalog-displace .boxWh p + p {
        font-size: 1rem; }
    .main-catalog-displace .boxWh span {
      font-size: 0.75rem; }
  .main-catalog-displace .catalog {
    width: 100%; }
  .insta {
    margin-bottom: 2.75rem; }
    .insta-title {
      margin-bottom: 2.5rem; }
    .insta--bg {
      padding: 2.81rem 0 0;
      background-size: 100% auto;
      background-position: 50% 0; }
    .insta--list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .insta--list li {
        width: 100%;
        padding: 0 0 0.63rem;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .insta--list li.hidd {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
        .insta--list li:nth-child(4) {
          margin-bottom: 0;
          padding-bottom: 0; }
        .insta--list li:nth-child(n + 5) {
          display: none; }
        .insta--list li a {
          display: inline-block;
          width: calc(50% - 0.63rem);
          padding-top: calc(50% - 0.63rem);
          margin: 0 0.315rem; }
    .insta--link {
      font-size: 0.94rem;
      line-height: 2.67;
      margin-top: 0; }
      .insta--link svg {
        fill: #C8C8C8; }
      .insta--link span {
        margin-left: 0.81rem; }
  .seo {
    margin-bottom: 3.13rem; }
    .seo--wrapper {
      padding: 122px 1.25rem 0;
      background-size: 100% auto; }
    .seo--text {
      position: relative;
      text-align: center;
      padding: 4.56rem 0 1.25rem; }
      .seo--text .line {
        position: absolute;
        top: 0;
        left: 50%;
        width: 12.5rem;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        background: #FAFAFA;
        z-index: -1; }
    .seo p {
      font-size: 0.88rem;
      line-height: 171%;
      margin-bottom: 0.563rem; }
    .seo-img {
      display: none; }
    .seo--imgBox {
      width: 8.13rem;
      padding-top: 2.5rem;
      margin: 0 auto -3rem; }
      .seo--imgBox .sneaker {
        width: 4.75rem;
        height: 6.38rem; }
  .subscription {
    padding: 0 1.25rem; }
    .subscription--wrapper {
      margin: 0 auto -5.19rem;
      padding: 2.94rem 0 1.125rem; }
    .subscription-title {
      margin-bottom: 1.38rem;
      padding: 0 1rem; }
    .subscription .input-box {
      margin: 0 1.25rem;
      width: calc(100% - 2.5rem); }
      .subscription .input-box .input-text {
        font-size: 0.75rem; }
    .subscription-textLittle {
      line-height: 1.5;
      padding-top: 1rem; }
      .subscription-textLittle span {
        display: block;
        max-width: 16.25rem;
        margin: 0 auto; }
  .footer--bg {
    background-size: 100% auto; }
  .footer--wrapper {
    padding: 8.69rem 0 0; }
  .footer-logo {
    background: none;
    padding: 0;
    margin-bottom: 2.5rem; }
  .footer-socialNetwork {
    margin-bottom: 2.13rem; }
  .footer--copyright {
    margin-bottom: 3.56rem; }
    .footer--copyright a {
      display: block; }
  .footer--iarga {
    padding: 0.81rem 2.5rem;
    margin-bottom: 3.75rem; }
  .oneClickBox, .basketBox {
    width: 100vw; }
    .oneClickBox .price, .basketBox .price {
      padding: 0; }
      .oneClickBox .price p, .basketBox .price p {
        padding: 0 0 1rem; }
    .oneClickBox .box, .basketBox .box {
      padding-top: 3.44rem; }
    .oneClickBox .title, .basketBox .title {
      margin-bottom: 1rem;
      font-size: 1.5rem; }
    .oneClickBox .boxBt, .basketBox .boxBt {
      display: block; }
      .oneClickBox .boxBt .button, .basketBox .boxBt .button {
        display: block;
        text-align: center;
        margin-bottom: .963rem;
        width: auto; }
    .oneClickBox .basketRegistration, .basketBox .basketRegistration {
      padding: 0 1rem; }
    .oneClickBox .fbasket, .basketBox .fbasket {
      height: auto;
      padding: 2rem 0 1rem;
      background-size: auto 80%; }
    .oneClickBox .formBox, .basketBox .formBox {
      padding: 0 1.25rem; }
  .tableBasket {
    margin: 0  1rem; }
    .tableBasket .img {
      width: 4.5rem;
      height: 4.5rem; }
    .tableBasket td {
      padding: 0; }
      .tableBasket td:nth-child(2) {
        padding: 0 1rem;
        text-align: left; }
    .tableBasket .name {
      font-size: .88rem;
      line-height: 1rem;
      margin-bottom: .5rem; }
  .catalog li {
    width: 50%; }
  .catalog .price {
    bottom: .125rem;
    right: 0.56rem;
    font-size: 0.75rem;
    line-height: 1.67; }
    .catalog .price small {
      font-size: 0.56rem; }
    .catalog .price span.oldPrice {
      font-size: 0.5rem;
      margin-right: .125rem; }
    .catalog .price span.sale {
      font-size: 0.5rem; }
  .catalog--slider--wrapper, .catalog--slider-big--wrapper {
    padding: 0; }
  .catalog--slider--box-big, .catalog--slider--box, .catalog--slider-big--box-big, .catalog--slider-big--box {
    padding: 1.69rem 0; }
    .catalog--slider--box-big-title, .catalog--slider--box-title, .catalog--slider-big--box-big-title, .catalog--slider-big--box-title {
      margin: 0; }
    .catalog--slider--box-big.noMob, .catalog--slider--box.noMob, .catalog--slider-big--box-big.noMob, .catalog--slider-big--box.noMob {
      display: none; }
    .catalog--slider--box-big p.price, .catalog--slider--box p.price, .catalog--slider-big--box-big p.price, .catalog--slider-big--box p.price {
      font-size: 0.75rem;
      line-height: 1.67; }
      .catalog--slider--box-big p.price small, .catalog--slider--box p.price small, .catalog--slider-big--box-big p.price small, .catalog--slider-big--box p.price small {
        font-size: 0.56rem; }
      .catalog--slider--box-big p.price span.oldPrice, .catalog--slider--box p.price span.oldPrice, .catalog--slider-big--box-big p.price span.oldPrice, .catalog--slider-big--box p.price span.oldPrice {
        font-size: 0.5rem; }
      .catalog--slider--box-big p.price span.sale, .catalog--slider--box p.price span.sale, .catalog--slider-big--box-big p.price span.sale, .catalog--slider-big--box p.price span.sale {
        font-size: 0.5rem; }
  .catalog-box {
    padding: .93rem; }
    .catalog-box li {
      width: 50%;
      padding: 0.31rem; }
  .catalog--slider-big .catalog--slider--slide {
    height: auto;
    padding: 1rem; }
    .catalog--slider-big .catalog--slider--slide--img {
      height: 7.56rem; }
  .breadcrumbs {
    background: #FAFAFA;
    padding: 0.88rem 1.25rem 0; }
    .breadcrumbs > a:not([class]), .breadcrumbs > span:not([class]) {
      display: none; }
    .breadcrumbs-title {
      font-size: 1.25rem;
      line-height: 1.5;
      margin-bottom: 0.38rem; }
  .show-more {
    margin: 0 auto 3.13rem;
    width: 9.38rem; }
    .show-more svg {
      margin-bottom: .5rem; }
    .show-more span {
      font-size: 0.75rem;
      line-height: 0.94rem;
      margin: 0 0 0.75rem; }
  .goods .breadcrumbs {
    background: #FAFAFA;
    padding: 0.38rem 0 .188rem;
    margin: 0; }
    .goods .breadcrumbs > a:not([class]), .goods .breadcrumbs > span:not([class]) {
      display: inline-block;
      font-size: 0.63rem; }
  .goods .btZoom,
  .goods .like {
    display: none; }
  .goods .swiper-pagination {
    display: block; }
  .goods--wrapper {
    padding: 0; }
  .goods--flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .goods--slider {
    display: block;
    width: 100%;
    margin: 0; }
    .goods--slider--swiper {
      width: 100%; }
      .goods--slider--swiper--nav {
        display: none; }
  .goods--info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0 0 .63rem; }
    .goods--info .box {
      padding: 3rem 1.25rem 1.44rem;
      position: relative;
      background: #FAFAFA;
      margin-bottom: 1.44rem; }
    .goods--info .new {
      position: absolute;
      right: 1.25rem;
      top: 1.56rem; }
    .goods--info .art {
      position: absolute;
      left: 1.25rem;
      top: 1.56rem;
      color: black; }
    .goods--info-title {
      margin-bottom: 1.31rem; }
    .goods--info .infoSize,
    .goods--info .desc {
      display: none; }
    .goods--info .saleInfo {
      margin-top: 0.31rem; }
    .goods--info-color .title-gray span:not([class]) {
      display: none; }
    .goods--info .title-gray {
      display: block;
      font-size: 0.75rem;
      line-height: 125%;
      letter-spacing: 0.05em;
      padding: 0.81rem 0;
      border-bottom: 0.19rem;
      color: black;
      border-bottom: 2px solid black;
      margin: 0;
      background: url(../images/arrowBt.svg) no-repeat 100% 50%; }
      .goods--info .title-gray a {
        display: none; }
      .goods--info .title-gray .inp {
        display: block; }
      .goods--info .title-gray.is-active + ul {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
                transform: translateY(0); }
      .goods--info .title-gray.visible span {
        display: none; }
      .goods--info .title-gray.visible .inp {
        display: block;
        background: none !important; }
        .goods--info .title-gray.visible .inp span {
          display: block;
          background: none !important; }
    .goods--info .button {
      display: block;
      width: calc(100% - 2.5rem);
      margin: 0 1.25rem 0.94rem; }
    .goods--info .deliveryInfo,
    .goods--info .description {
      padding: 0 1.25rem; }
      .goods--info .deliveryInfo .desc,
      .goods--info .description .desc {
        display: block;
        font-size: 0.88rem;
        line-height: 1.38rem;
        margin: 1.06rem 0; }
      .goods--info .deliveryInfo a,
      .goods--info .description a {
        display: inline-block; }
    .goods--info-select {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      position: relative;
      width: 100%;
      padding: 0 1.25rem;
      margin-bottom: 1.88rem; }
      .goods--info-select > div {
        width: calc(50% - 6px); }
      .goods--info-select ul {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(-7px);
                transform: translateY(-7px);
        -webkit-transition: .2s;
        transition: .2s;
        position: absolute;
        padding: 1rem 0.25rem;
        top: 100%;
        left: 0;
        background: #fff;
        -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
                box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
        text-align: center;
        width: calc(100vw - 1.5rem); }
        .goods--info-select ul li {
          padding: 0.25rem; }
      .goods--info-select .goods--info-size ul {
        right: 0;
        left: auto; }
  .goods--socialNetwork {
    /*background: url(../images/marcconyLit.svg) 50% 50% no-repeat;*/
    background-size: 80% auto; }
  .goods .catalog--slider--box {
    margin-bottom: 3.5rem; }
    .goods .catalog--slider--box-big {
      padding: 0;
      margin-bottom: 3rem; }
  .zoomBox + div {
    display: none !important; }
  .backCity {
    display: inline-block; }
  .breadcrumpsBg {
    padding: 2rem 1rem; }
    .breadcrumpsBg--box {
      padding: 1.5rem 0 0; }
    .breadcrumpsBg a {
      padding: 0 .25rem;
      font-size: .88rem;
      line-height: 1.25;
      text-transform: none; }
      .breadcrumpsBg a.active {
        border: none;
        font-weight: bold;
        text-decoration: underline; }
  .contact__list {
    display: none; }
  .page__concept .seo--imgBox {
    display: none; }
  .page__concept .seo--wrapper {
    padding: 0 1.25rem; }
  .page__concept .seo--text {
    padding: 2rem 0; }
  .goods--info .box {
    width: 100%;
    min-height: 0; }
  [class*="grid-"] {
    margin-bottom: -1.25rem;
    margin-left: -1.25rem; }
  [class*="col-"],
  .col {
    padding-bottom: 1.25rem;
    padding-left: 1.25rem; }
  .-phone-1 > .col {
    width: 100%; }
  .-phone-2 > .col {
    width: 50%; }
  .-phone-3 > .col {
    width: 33.33333%; }
  .-phone-4 > .col {
    width: 25%; }
  .-phone-5 > .col {
    width: 20%; }
  .-phone-6 > .col {
    width: 16.66667%; } }
