@font-face {
    font-family: "MyriadPro";
    src:url("MyriadPro/Myriad Pro-Light.woff") format("woff");
    font-weight: 100;
}
@font-face {
    font-family: "MyriadPro";
    src:url("MyriadPro/MyriadPro-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "MyriadPro";
    src:url("MyriadPro/MyriadPro-Bold.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "MyriadPro";
    src:url("MyriadPro/MyriadPro-Semibold.woff") format("woff");
    font-weight: 600;
}
@font-face {
    font-family: "MyriadPro";
    src:url("MyriadPro/MyriadPro-BoldCond.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "MyriadPro";
    src:url("MyriadPro/MyriadPro-Cond.woff") format("woff");
    font-weight: 300;
}
